.skip a,
.visually-hidden,
.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
}

.skip a:active, .skip a:focus {
    position: static;
    overflow: visible;
    clip: auto;
    margin: 0;
    width: auto;
    height: auto;
    white-space: inherit;
    -webkit-clip-path: none;
    clip-path: none;
}

.fg_brand {
    color: #00205b;
}

.fg_brand-prussianBlue {
    color: #00205b;
}

.fg_brand-brandBlue {
    color: #0033a0;
}

.fg_brand-logoBlue {
    color: #0033a0;
}

.fg_brand-columbiaBlue {
    color: #ced9e5;
}

.fg_brand-catskillBlue {
    color: #e8edf3;
}

.fg_brand-alabaster {
    color: #f0ece2;
}

.fg_brand-deepBlue {
    color: #2e2b70;
}

.fg_brand-warmRed {
    color: #f04e37;
}

.fg_brand-sand {
    color: #fed4a0;
}

.fg_brand-deepBrown {
    color: #431e1b;
}

.fg_brand-sunYellow {
    color: #fdb913;
}

.fg_brand-paleRed {
    color: #e58d83;
}

.fg_brand-mint {
    color: #7cccbf;
}

.fg_sale {
    color: #c1292e;
}

.fg_sale-lighter {
    color: #e2767a;
}

.fg_sale-lightest {
    color: #f5d1d3;
}

.fg_sale-darker {
    color: #9a2125;
}

.fg_sale-darkest {
    color: #611517;
}

.fg_primary {
    color: #00205b;
}

.fg_primary-lighter {
    color: #045cff;
}

.fg_primary-lightest {
    color: #abc9ff;
}

.fg_primary-darker {
    color: #001a49;
}

.fg_primary-darkest {
    color: #00102e;
}

.fg_accent {
    color: #3b005b;
}

.fg_accent-lighter {
    color: #a704ff;
}

.fg_accent-lightest {
    color: #e2abff;
}

.fg_accent-darker {
    color: #2f0049;
}

.fg_accent-darkest {
    color: #1e002e;
}

.fg_gray {
    color: #767676;
}

.fg_gray-plus1 {
    color: #919191;
}

.fg_gray-plus2 {
    color: #adadad;
}

.fg_gray-plus3 {
    color: #c8c8c8;
}

.fg_gray-plus4 {
    color: #e4e4e4;
}

.fg_gray-plus5 {
    color: #f1f1f1;
}

.fg_gray-minus1 {
    color: #5e5e5e;
}

.fg_gray-minus2 {
    color: #474747;
}

.fg_success {
    color: #3f7637;
}

.fg_success-lighter {
    color: #7ebf75;
}

.fg_success-lightest {
    color: #d4ead1;
}

.fg_success-darker {
    color: #325e2c;
}

.fg_success-darkest {
    color: #203b1c;
}

.fg_warning {
    color: #edd18d;
}

.fg_warning-lighter {
    color: #f4e3bb;
}

.fg_warning-lightest {
    color: #fbf6e8;
}

.fg_warning-darker {
    color: #e3b74c;
}

.fg_warning-darkest {
    color: #a37b1a;
}

.fg_warning-b {
    color: #d5a021;
}

.fg_warning-b-lighter {
    color: #eac876;
}

.fg_warning-b-lightest {
    color: #f8edd1;
}

.fg_warning-b-darker {
    color: #aa801a;
}

.fg_warning-b-darkest {
    color: #6b5011;
}

.fg_error {
    color: #c1292e;
}

.fg_error-lighter {
    color: #e2767a;
}

.fg_error-lightest {
    color: #f5d1d3;
}

.fg_error-darker {
    color: #9a2125;
}

.fg_error-darkest {
    color: #611517;
}

.fg_info {
    color: #ced9e5;
}

.fg_info-lighter {
    color: #e2e8ef;
}

.fg_info-lightest {
    color: #f5f7fa;
}

.fg_info-darker {
    color: #95adc7;
}

.fg_info-darkest {
    color: #4b6b8e;
}

.fg_black {
    color: black;
}

.fg_white {
    color: white;
}

.bg_brand {
    background-color: #00205b;
}

.bg_brand-prussianBlue {
    background-color: #00205b;
}

.bg_brand-brandBlue {
    background-color: #0033a0;
}

.bg_brand-logoBlue {
    background-color: #0033a0;
}

.bg_brand-columbiaBlue {
    background-color: #ced9e5;
}

.bg_brand-catskillBlue {
    background-color: #e8edf3;
}

.bg_brand-alabaster {
    background-color: #f0ece2;
}

.bg_brand-deepBlue {
    background-color: #2e2b70;
}

.bg_brand-warmRed {
    background-color: #f04e37;
}

.bg_brand-sand {
    background-color: #fed4a0;
}

.bg_brand-deepBrown {
    background-color: #431e1b;
}

.bg_brand-sunYellow {
    background-color: #fdb913;
}

.bg_brand-paleRed {
    background-color: #e58d83;
}

.bg_brand-mint {
    background-color: #7cccbf;
}

.bg_sale {
    background-color: #c1292e;
}

.bg_sale-lighter {
    background-color: #e2767a;
}

.bg_sale-lightest {
    background-color: #f5d1d3;
}

.bg_sale-darker {
    background-color: #9a2125;
}

.bg_sale-darkest {
    background-color: #611517;
}

.bg_primary {
    background-color: #00205b;
}

.bg_primary-lighter {
    background-color: #045cff;
}

.bg_primary-lightest {
    background-color: #abc9ff;
}

.bg_primary-darker {
    background-color: #001a49;
}

.bg_primary-darkest {
    background-color: #00102e;
}

.bg_accent {
    background-color: #3b005b;
}

.bg_accent-lighter {
    background-color: #a704ff;
}

.bg_accent-lightest {
    background-color: #e2abff;
}

.bg_accent-darker {
    background-color: #2f0049;
}

.bg_accent-darkest {
    background-color: #1e002e;
}

.bg_gray {
    background-color: #767676;
}

.bg_gray-plus1 {
    background-color: #919191;
}

.bg_gray-plus2 {
    background-color: #adadad;
}

.bg_gray-plus3 {
    background-color: #c8c8c8;
}

.bg_gray-plus4 {
    background-color: #e4e4e4;
}

.bg_gray-plus5 {
    background-color: #f1f1f1;
}

.bg_gray-minus1 {
    background-color: #5e5e5e;
}

.bg_gray-minus2 {
    background-color: #474747;
}

.bg_success {
    background-color: #3f7637;
}

.bg_success-lighter {
    background-color: #7ebf75;
}

.bg_success-lightest {
    background-color: #d4ead1;
}

.bg_success-darker {
    background-color: #325e2c;
}

.bg_success-darkest {
    background-color: #203b1c;
}

.bg_warning {
    background-color: #edd18d;
}

.bg_warning-lighter {
    background-color: #f4e3bb;
}

.bg_warning-lightest {
    background-color: #fbf6e8;
}

.bg_warning-darker {
    background-color: #e3b74c;
}

.bg_warning-darkest {
    background-color: #a37b1a;
}

.bg_warning-b {
    background-color: #d5a021;
}

.bg_warning-b-lighter {
    background-color: #eac876;
}

.bg_warning-b-lightest {
    background-color: #f8edd1;
}

.bg_warning-b-darker {
    background-color: #aa801a;
}

.bg_warning-b-darkest {
    background-color: #6b5011;
}

.bg_error {
    background-color: #c1292e;
}

.bg_error-lighter {
    background-color: #e2767a;
}

.bg_error-lightest {
    background-color: #f5d1d3;
}

.bg_error-darker {
    background-color: #9a2125;
}

.bg_error-darkest {
    background-color: #611517;
}

.bg_info {
    background-color: #ced9e5;
}

.bg_info-lighter {
    background-color: #e2e8ef;
}

.bg_info-lightest {
    background-color: #f5f7fa;
}

.bg_info-darker {
    background-color: #95adc7;
}

.bg_info-darkest {
    background-color: #4b6b8e;
}

.bg_black {
    background-color: black;
}

.bg_white {
    background-color: white;
}

.skip a {
    min-width: 0;
    text-transform: none;
    opacity: 0;
    transition: opacity 100ms;
}

.skip a:focus, .skip a:active {
    position: absolute;
    padding: 0.125rem;
    opacity: 1;
}

body[class*='show-focus'] :focus {
    outline: 2px dotted rgba(0, 32, 91, 0.8) !important;
    outline-offset: 1px;
}

body :focus {
    outline: none;
}

.animation_out_fade {
    animation-name: rb-fade;
}

.animation_in_fade {
    animation-name: rb-fade;
    animation-direction: reverse;
}

@keyframes rb-fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.animation_out_fade-slide {
    animation-name: rb-fade-slide;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.animation_in_fade-slide {
    animation-name: rb-fade-slide;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-direction: reverse;
}

@keyframes rb-fade-slide {
    from {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    to {
        opacity: 0;
        transform: translate3d(0, 66%, 0);
    }
}

.animation_in_grow,
.animation_in_shrink {
    animation-name: rb-grow;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.animation_out_grow,
.animation_out_shrink {
    animation-name: rb-grow;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-direction: reverse;
}

@keyframes rb-grow {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.animation_out_slide {
    animation-name: rb-slide;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.animation_in_slide {
    animation-name: rb-slide;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-direction: reverse;
}

@keyframes rb-slide {
    0% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate3d(0, 1000%, 0);
    }
}

.animation_out_collapse,
.animation_out_expand,
.animation_in_collapse,
.animation_in_expand {
    overflow: hidden;
    height: auto;
    transition-property: height;
}

.animation_state_scale {
    transition-property: transform;
    transform: scale(1.3);
}

.rbAnim_animatable,
.animatable {
    transition-duration: 400ms;
    animation-duration: 400ms;
    animation-fill-mode: both;
}

.rbAnim_animatable [class*='rbAnim'],
  .animatable [class*='rbAnim'] {
    animation-fill-mode: both;
}

.rbAnim_animatable.rbAnim_slide-and-fade,
  .animatable.rbAnim_slide-and-fade {
    display: block;
    visibility: visible;
    opacity: 1;
    animation: rbAnim_slide-down 800ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.rbAnim_animatable.rbAnim_slide-and-fade .rbAnim_fadable,
    .animatable.rbAnim_slide-and-fade .rbAnim_fadable {
    opacity: 0;
    animation: rbAnim_fade-in 250ms linear;
    animation-delay: 200ms;
    animation-fill-mode: both;
}

@keyframes rbAnim_slide-down {
    0% {
        display: none;
        visibility: hidden;
    }

    1% {
        display: block;
        visibility: visible;
        max-height: 0;
    }

    100% {
        max-height: 500px;
    }
}

@keyframes rbAnim_fade-in {
    from {
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    to {
        display: block;
        visibility: visible;
        opacity: 1;
    }
}

.row {
    flex-direction: row;
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
}

.row .row {
    margin-right: -0.5rem;
    margin-left: -0.5rem;
}

.row.reverse {
    flex-direction: row-reverse;
}

.grid {
    margin-right: auto;
    margin-left: auto;
}

.grid.no-margin {
    margin: 0;
}

.grid.fluid {
    width: inherit;
}

.col.reverse {
    flex-direction: column-reverse;
}

.col.xs, .col.xs-1, .col.xs-offset-1, .col.xs-2, .col.xs-offset-2, .col.xs-3, .col.xs-offset-3, .col.xs-4, .col.xs-offset-4, .col.xs-5, .col.xs-offset-5, .col.xs-6, .col.xs-offset-6, .col.xs-7, .col.xs-offset-7, .col.xs-8, .col.xs-offset-8, .col.xs-9, .col.xs-offset-9, .col.xs-10, .col.xs-offset-10, .col.xs-11, .col.xs-offset-11, .col.xs-12, .col.xs-offset-12 {
    display: flex;
    flex: 0 1 auto;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
}

.col.xs {
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
}

.col.xs-1 {
    max-width: 8.33333%;
    flex-basis: 8.33333%;
}

.col.xs-offset-1 {
    margin-left: 8.33333%;
}

.col.xs-2 {
    max-width: 16.66667%;
    flex-basis: 16.66667%;
}

.col.xs-offset-2 {
    margin-left: 16.66667%;
}

.col.xs-3 {
    max-width: 25%;
    flex-basis: 25%;
}

.col.xs-offset-3 {
    margin-left: 25%;
}

.col.xs-4 {
    max-width: 33.33333%;
    flex-basis: 33.33333%;
}

.col.xs-offset-4 {
    margin-left: 33.33333%;
}

.col.xs-5 {
    max-width: 41.66667%;
    flex-basis: 41.66667%;
}

.col.xs-offset-5 {
    margin-left: 41.66667%;
}

.col.xs-6 {
    max-width: 50%;
    flex-basis: 50%;
}

.col.xs-offset-6 {
    margin-left: 50%;
}

.col.xs-7 {
    max-width: 58.33333%;
    flex-basis: 58.33333%;
}

.col.xs-offset-7 {
    margin-left: 58.33333%;
}

.col.xs-8 {
    max-width: 66.66667%;
    flex-basis: 66.66667%;
}

.col.xs-offset-8 {
    margin-left: 66.66667%;
}

.col.xs-9 {
    max-width: 75%;
    flex-basis: 75%;
}

.col.xs-offset-9 {
    margin-left: 75%;
}

.col.xs-10 {
    max-width: 83.33333%;
    flex-basis: 83.33333%;
}

.col.xs-offset-10 {
    margin-left: 83.33333%;
}

.col.xs-11 {
    max-width: 91.66667%;
    flex-basis: 91.66667%;
}

.col.xs-offset-11 {
    margin-left: 91.66667%;
}

.col.xs-12 {
    max-width: 100%;
    flex-basis: 100%;
}

.col.xs-offset-12 {
    margin-left: 100%;
}

.row.xs-start {
    justify-content: flex-start;
}

.row.xs-center {
    justify-content: center;
}

.row.xs-end {
    justify-content: flex-end;
}

.row.xs-top {
    align-items: flex-start;
}

.row.xs-middle {
    align-items: center;
}

.row.xs-bottom {
    align-items: flex-end;
}

.row.xs-around {
    justify-content: space-around;
}

.row.xs-between {
    justify-content: space-between;
}

.col.xs-first {
    order: -9999;
}

.col.xs-last {
    order: 9999;
}

@media (min-width: 34rem) {
    .col.sm, .col.sm-offset-0, .col.sm-1, .col.sm-offset-1, .col.sm-2, .col.sm-offset-2, .col.sm-3, .col.sm-offset-3, .col.sm-4, .col.sm-offset-4, .col.sm-5, .col.sm-offset-5, .col.sm-6, .col.sm-offset-6, .col.sm-7, .col.sm-offset-7, .col.sm-8, .col.sm-offset-8, .col.sm-9, .col.sm-offset-9, .col.sm-10, .col.sm-offset-10, .col.sm-11, .col.sm-offset-11, .col.sm-12, .col.sm-offset-12 {
        display: flex;
        flex: 0 1 auto;
        padding-right: 0.5rem;
        padding-bottom: 1rem;
        padding-left: 0.5rem;
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .col.sm {
        max-width: 100%;
        flex-basis: 0;
        flex-grow: 1;
    }

    .col.sm-offset-0 {
        margin-left: 0%;
    }

    .col.sm-1 {
        max-width: 8.33333%;
        flex-basis: 8.33333%;
    }

    .col.sm-offset-1 {
        margin-left: 8.33333%;
    }

    .col.sm-2 {
        max-width: 16.66667%;
        flex-basis: 16.66667%;
    }

    .col.sm-offset-2 {
        margin-left: 16.66667%;
    }

    .col.sm-3 {
        max-width: 25%;
        flex-basis: 25%;
    }

    .col.sm-offset-3 {
        margin-left: 25%;
    }

    .col.sm-4 {
        max-width: 33.33333%;
        flex-basis: 33.33333%;
    }

    .col.sm-offset-4 {
        margin-left: 33.33333%;
    }

    .col.sm-5 {
        max-width: 41.66667%;
        flex-basis: 41.66667%;
    }

    .col.sm-offset-5 {
        margin-left: 41.66667%;
    }

    .col.sm-6 {
        max-width: 50%;
        flex-basis: 50%;
    }

    .col.sm-offset-6 {
        margin-left: 50%;
    }

    .col.sm-7 {
        max-width: 58.33333%;
        flex-basis: 58.33333%;
    }

    .col.sm-offset-7 {
        margin-left: 58.33333%;
    }

    .col.sm-8 {
        max-width: 66.66667%;
        flex-basis: 66.66667%;
    }

    .col.sm-offset-8 {
        margin-left: 66.66667%;
    }

    .col.sm-9 {
        max-width: 75%;
        flex-basis: 75%;
    }

    .col.sm-offset-9 {
        margin-left: 75%;
    }

    .col.sm-10 {
        max-width: 83.33333%;
        flex-basis: 83.33333%;
    }

    .col.sm-offset-10 {
        margin-left: 83.33333%;
    }

    .col.sm-11 {
        max-width: 91.66667%;
        flex-basis: 91.66667%;
    }

    .col.sm-offset-11 {
        margin-left: 91.66667%;
    }

    .col.sm-12 {
        max-width: 100%;
        flex-basis: 100%;
    }

    .col.sm-offset-12 {
        margin-left: 100%;
    }

    .row.sm-start {
        justify-content: flex-start;
    }

    .row.sm-center {
        justify-content: center;
    }

    .row.sm-end {
        justify-content: flex-end;
    }

    .row.sm-top {
        align-items: flex-start;
    }

    .row.sm-middle {
        align-items: center;
    }

    .row.sm-bottom {
        align-items: flex-end;
    }

    .row.sm-around {
        justify-content: space-around;
    }

    .row.sm-between {
        justify-content: space-between;
    }

    .col.sm-first {
        order: -9999;
    }

    .col.sm-last {
        order: 9999;
    }

    .grid {
        width: 34rem;
    }
}

@media (min-width: 48rem) {
    .col.md, .col.md-offset-0, .col.md-1, .col.md-offset-1, .col.md-2, .col.md-offset-2, .col.md-3, .col.md-offset-3, .col.md-4, .col.md-offset-4, .col.md-5, .col.md-offset-5, .col.md-6, .col.md-offset-6, .col.md-7, .col.md-offset-7, .col.md-8, .col.md-offset-8, .col.md-9, .col.md-offset-9, .col.md-10, .col.md-offset-10, .col.md-11, .col.md-offset-11, .col.md-12, .col.md-offset-12 {
        display: flex;
        flex: 0 1 auto;
        padding-right: 0.5rem;
        padding-bottom: 1rem;
        padding-left: 0.5rem;
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .col.md {
        max-width: 100%;
        flex-basis: 0;
        flex-grow: 1;
    }

    .col.md-offset-0 {
        margin-left: 0%;
    }

    .col.md-1 {
        max-width: 8.33333%;
        flex-basis: 8.33333%;
    }

    .col.md-offset-1 {
        margin-left: 8.33333%;
    }

    .col.md-2 {
        max-width: 16.66667%;
        flex-basis: 16.66667%;
    }

    .col.md-offset-2 {
        margin-left: 16.66667%;
    }

    .col.md-3 {
        max-width: 25%;
        flex-basis: 25%;
    }

    .col.md-offset-3 {
        margin-left: 25%;
    }

    .col.md-4 {
        max-width: 33.33333%;
        flex-basis: 33.33333%;
    }

    .col.md-offset-4 {
        margin-left: 33.33333%;
    }

    .col.md-5 {
        max-width: 41.66667%;
        flex-basis: 41.66667%;
    }

    .col.md-offset-5 {
        margin-left: 41.66667%;
    }

    .col.md-6 {
        max-width: 50%;
        flex-basis: 50%;
    }

    .col.md-offset-6 {
        margin-left: 50%;
    }

    .col.md-7 {
        max-width: 58.33333%;
        flex-basis: 58.33333%;
    }

    .col.md-offset-7 {
        margin-left: 58.33333%;
    }

    .col.md-8 {
        max-width: 66.66667%;
        flex-basis: 66.66667%;
    }

    .col.md-offset-8 {
        margin-left: 66.66667%;
    }

    .col.md-9 {
        max-width: 75%;
        flex-basis: 75%;
    }

    .col.md-offset-9 {
        margin-left: 75%;
    }

    .col.md-10 {
        max-width: 83.33333%;
        flex-basis: 83.33333%;
    }

    .col.md-offset-10 {
        margin-left: 83.33333%;
    }

    .col.md-11 {
        max-width: 91.66667%;
        flex-basis: 91.66667%;
    }

    .col.md-offset-11 {
        margin-left: 91.66667%;
    }

    .col.md-12 {
        max-width: 100%;
        flex-basis: 100%;
    }

    .col.md-offset-12 {
        margin-left: 100%;
    }

    .row.md-start {
        justify-content: flex-start;
    }

    .row.md-center {
        justify-content: center;
    }

    .row.md-end {
        justify-content: flex-end;
    }

    .row.md-top {
        align-items: flex-start;
    }

    .row.md-middle {
        align-items: center;
    }

    .row.md-bottom {
        align-items: flex-end;
    }

    .row.md-around {
        justify-content: space-around;
    }

    .row.md-between {
        justify-content: space-between;
    }

    .col.md-first {
        order: -9999;
    }

    .col.md-last {
        order: 9999;
    }

    .grid {
        width: 48rem;
    }
}

@media (min-width: 62rem) {
    .col.lg, .col.lg-offset-0, .col.lg-1, .col.lg-offset-1, .col.lg-2, .col.lg-offset-2, .col.lg-3, .col.lg-offset-3, .col.lg-4, .col.lg-offset-4, .col.lg-5, .col.lg-offset-5, .col.lg-6, .col.lg-offset-6, .col.lg-7, .col.lg-offset-7, .col.lg-8, .col.lg-offset-8, .col.lg-9, .col.lg-offset-9, .col.lg-10, .col.lg-offset-10, .col.lg-11, .col.lg-offset-11, .col.lg-12, .col.lg-offset-12 {
        display: flex;
        flex: 0 1 auto;
        padding-right: 0.5rem;
        padding-bottom: 1rem;
        padding-left: 0.5rem;
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .col.lg {
        max-width: 100%;
        flex-basis: 0;
        flex-grow: 1;
    }

    .col.lg-offset-0 {
        margin-left: 0%;
    }

    .col.lg-1 {
        max-width: 8.33333%;
        flex-basis: 8.33333%;
    }

    .col.lg-offset-1 {
        margin-left: 8.33333%;
    }

    .col.lg-2 {
        max-width: 16.66667%;
        flex-basis: 16.66667%;
    }

    .col.lg-offset-2 {
        margin-left: 16.66667%;
    }

    .col.lg-3 {
        max-width: 25%;
        flex-basis: 25%;
    }

    .col.lg-offset-3 {
        margin-left: 25%;
    }

    .col.lg-4 {
        max-width: 33.33333%;
        flex-basis: 33.33333%;
    }

    .col.lg-offset-4 {
        margin-left: 33.33333%;
    }

    .col.lg-5 {
        max-width: 41.66667%;
        flex-basis: 41.66667%;
    }

    .col.lg-offset-5 {
        margin-left: 41.66667%;
    }

    .col.lg-6 {
        max-width: 50%;
        flex-basis: 50%;
    }

    .col.lg-offset-6 {
        margin-left: 50%;
    }

    .col.lg-7 {
        max-width: 58.33333%;
        flex-basis: 58.33333%;
    }

    .col.lg-offset-7 {
        margin-left: 58.33333%;
    }

    .col.lg-8 {
        max-width: 66.66667%;
        flex-basis: 66.66667%;
    }

    .col.lg-offset-8 {
        margin-left: 66.66667%;
    }

    .col.lg-9 {
        max-width: 75%;
        flex-basis: 75%;
    }

    .col.lg-offset-9 {
        margin-left: 75%;
    }

    .col.lg-10 {
        max-width: 83.33333%;
        flex-basis: 83.33333%;
    }

    .col.lg-offset-10 {
        margin-left: 83.33333%;
    }

    .col.lg-11 {
        max-width: 91.66667%;
        flex-basis: 91.66667%;
    }

    .col.lg-offset-11 {
        margin-left: 91.66667%;
    }

    .col.lg-12 {
        max-width: 100%;
        flex-basis: 100%;
    }

    .col.lg-offset-12 {
        margin-left: 100%;
    }

    .row.lg-start {
        justify-content: flex-start;
    }

    .row.lg-center {
        justify-content: center;
    }

    .row.lg-end {
        justify-content: flex-end;
    }

    .row.lg-top {
        align-items: flex-start;
    }

    .row.lg-middle {
        align-items: center;
    }

    .row.lg-bottom {
        align-items: flex-end;
    }

    .row.lg-around {
        justify-content: space-around;
    }

    .row.lg-between {
        justify-content: space-between;
    }

    .col.lg-first {
        order: -9999;
    }

    .col.lg-last {
        order: 9999;
    }

    .grid {
        width: 62rem;
    }
}

@media (min-width: 75rem) {
    .col.xl, .col.xl-offset-0, .col.xl-1, .col.xl-offset-1, .col.xl-2, .col.xl-offset-2, .col.xl-3, .col.xl-offset-3, .col.xl-4, .col.xl-offset-4, .col.xl-5, .col.xl-offset-5, .col.xl-6, .col.xl-offset-6, .col.xl-7, .col.xl-offset-7, .col.xl-8, .col.xl-offset-8, .col.xl-9, .col.xl-offset-9, .col.xl-10, .col.xl-offset-10, .col.xl-11, .col.xl-offset-11, .col.xl-12, .col.xl-offset-12 {
        display: flex;
        flex: 0 1 auto;
        padding-right: 0.5rem;
        padding-bottom: 1rem;
        padding-left: 0.5rem;
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .col.xl {
        max-width: 100%;
        flex-basis: 0;
        flex-grow: 1;
    }

    .col.xl-offset-0 {
        margin-left: 0%;
    }

    .col.xl-1 {
        max-width: 8.33333%;
        flex-basis: 8.33333%;
    }

    .col.xl-offset-1 {
        margin-left: 8.33333%;
    }

    .col.xl-2 {
        max-width: 16.66667%;
        flex-basis: 16.66667%;
    }

    .col.xl-offset-2 {
        margin-left: 16.66667%;
    }

    .col.xl-3 {
        max-width: 25%;
        flex-basis: 25%;
    }

    .col.xl-offset-3 {
        margin-left: 25%;
    }

    .col.xl-4 {
        max-width: 33.33333%;
        flex-basis: 33.33333%;
    }

    .col.xl-offset-4 {
        margin-left: 33.33333%;
    }

    .col.xl-5 {
        max-width: 41.66667%;
        flex-basis: 41.66667%;
    }

    .col.xl-offset-5 {
        margin-left: 41.66667%;
    }

    .col.xl-6 {
        max-width: 50%;
        flex-basis: 50%;
    }

    .col.xl-offset-6 {
        margin-left: 50%;
    }

    .col.xl-7 {
        max-width: 58.33333%;
        flex-basis: 58.33333%;
    }

    .col.xl-offset-7 {
        margin-left: 58.33333%;
    }

    .col.xl-8 {
        max-width: 66.66667%;
        flex-basis: 66.66667%;
    }

    .col.xl-offset-8 {
        margin-left: 66.66667%;
    }

    .col.xl-9 {
        max-width: 75%;
        flex-basis: 75%;
    }

    .col.xl-offset-9 {
        margin-left: 75%;
    }

    .col.xl-10 {
        max-width: 83.33333%;
        flex-basis: 83.33333%;
    }

    .col.xl-offset-10 {
        margin-left: 83.33333%;
    }

    .col.xl-11 {
        max-width: 91.66667%;
        flex-basis: 91.66667%;
    }

    .col.xl-offset-11 {
        margin-left: 91.66667%;
    }

    .col.xl-12 {
        max-width: 100%;
        flex-basis: 100%;
    }

    .col.xl-offset-12 {
        margin-left: 100%;
    }

    .row.xl-start {
        justify-content: flex-start;
    }

    .row.xl-center {
        justify-content: center;
    }

    .row.xl-end {
        justify-content: flex-end;
    }

    .row.xl-top {
        align-items: flex-start;
    }

    .row.xl-middle {
        align-items: center;
    }

    .row.xl-bottom {
        align-items: flex-end;
    }

    .row.xl-around {
        justify-content: space-around;
    }

    .row.xl-between {
        justify-content: space-between;
    }

    .col.xl-first {
        order: -9999;
    }

    .col.xl-last {
        order: 9999;
    }

    .grid {
        width: 75rem;
    }
}

@media (min-width: 90rem) {
    .col.xxl, .col.xxl-offset-0, .col.xxl-1, .col.xxl-offset-1, .col.xxl-2, .col.xxl-offset-2, .col.xxl-3, .col.xxl-offset-3, .col.xxl-4, .col.xxl-offset-4, .col.xxl-5, .col.xxl-offset-5, .col.xxl-6, .col.xxl-offset-6, .col.xxl-7, .col.xxl-offset-7, .col.xxl-8, .col.xxl-offset-8, .col.xxl-9, .col.xxl-offset-9, .col.xxl-10, .col.xxl-offset-10, .col.xxl-11, .col.xxl-offset-11, .col.xxl-12, .col.xxl-offset-12 {
        display: flex;
        flex: 0 1 auto;
        padding-right: 0.5rem;
        padding-bottom: 1rem;
        padding-left: 0.5rem;
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .col.xxl {
        max-width: 100%;
        flex-basis: 0;
        flex-grow: 1;
    }

    .col.xxl-offset-0 {
        margin-left: 0%;
    }

    .col.xxl-1 {
        max-width: 8.33333%;
        flex-basis: 8.33333%;
    }

    .col.xxl-offset-1 {
        margin-left: 8.33333%;
    }

    .col.xxl-2 {
        max-width: 16.66667%;
        flex-basis: 16.66667%;
    }

    .col.xxl-offset-2 {
        margin-left: 16.66667%;
    }

    .col.xxl-3 {
        max-width: 25%;
        flex-basis: 25%;
    }

    .col.xxl-offset-3 {
        margin-left: 25%;
    }

    .col.xxl-4 {
        max-width: 33.33333%;
        flex-basis: 33.33333%;
    }

    .col.xxl-offset-4 {
        margin-left: 33.33333%;
    }

    .col.xxl-5 {
        max-width: 41.66667%;
        flex-basis: 41.66667%;
    }

    .col.xxl-offset-5 {
        margin-left: 41.66667%;
    }

    .col.xxl-6 {
        max-width: 50%;
        flex-basis: 50%;
    }

    .col.xxl-offset-6 {
        margin-left: 50%;
    }

    .col.xxl-7 {
        max-width: 58.33333%;
        flex-basis: 58.33333%;
    }

    .col.xxl-offset-7 {
        margin-left: 58.33333%;
    }

    .col.xxl-8 {
        max-width: 66.66667%;
        flex-basis: 66.66667%;
    }

    .col.xxl-offset-8 {
        margin-left: 66.66667%;
    }

    .col.xxl-9 {
        max-width: 75%;
        flex-basis: 75%;
    }

    .col.xxl-offset-9 {
        margin-left: 75%;
    }

    .col.xxl-10 {
        max-width: 83.33333%;
        flex-basis: 83.33333%;
    }

    .col.xxl-offset-10 {
        margin-left: 83.33333%;
    }

    .col.xxl-11 {
        max-width: 91.66667%;
        flex-basis: 91.66667%;
    }

    .col.xxl-offset-11 {
        margin-left: 91.66667%;
    }

    .col.xxl-12 {
        max-width: 100%;
        flex-basis: 100%;
    }

    .col.xxl-offset-12 {
        margin-left: 100%;
    }

    .row.xxl-start {
        justify-content: flex-start;
    }

    .row.xxl-center {
        justify-content: center;
    }

    .row.xxl-end {
        justify-content: flex-end;
    }

    .row.xxl-top {
        align-items: flex-start;
    }

    .row.xxl-middle {
        align-items: center;
    }

    .row.xxl-bottom {
        align-items: flex-end;
    }

    .row.xxl-around {
        justify-content: space-around;
    }

    .row.xxl-between {
        justify-content: space-between;
    }

    .col.xxl-first {
        order: -9999;
    }

    .col.xxl-last {
        order: 9999;
    }

    .grid {
        width: 90rem;
    }
}

.grid-fluid.static .col.static, .grid-fluid.static .col.static-offset-0, .grid-fluid.static .col.static-1, .grid-fluid.static .col.static-offset-1, .grid-fluid.static .col.static-2, .grid-fluid.static .col.static-offset-2, .grid-fluid.static .col.static-3, .grid-fluid.static .col.static-offset-3, .grid-fluid.static .col.static-4, .grid-fluid.static .col.static-offset-4, .grid-fluid.static .col.static-5, .grid-fluid.static .col.static-offset-5, .grid-fluid.static .col.static-6, .grid-fluid.static .col.static-offset-6, .grid-fluid.static .col.static-7, .grid-fluid.static .col.static-offset-7, .grid-fluid.static .col.static-8, .grid-fluid.static .col.static-offset-8, .grid-fluid.static .col.static-9, .grid-fluid.static .col.static-offset-9, .grid-fluid.static .col.static-10, .grid-fluid.static .col.static-offset-10, .grid-fluid.static .col.static-11, .grid-fluid.static .col.static-offset-11, .grid-fluid.static .col.static-12, .grid-fluid.static .col.static-offset-12, .grid.static .col.static, .grid.static .col.static-offset-0, .grid.static .col.static-1, .grid.static .col.static-offset-1, .grid.static .col.static-2, .grid.static .col.static-offset-2, .grid.static .col.static-3, .grid.static .col.static-offset-3, .grid.static .col.static-4, .grid.static .col.static-offset-4, .grid.static .col.static-5, .grid.static .col.static-offset-5, .grid.static .col.static-6, .grid.static .col.static-offset-6, .grid.static .col.static-7, .grid.static .col.static-offset-7, .grid.static .col.static-8, .grid.static .col.static-offset-8, .grid.static .col.static-9, .grid.static .col.static-offset-9, .grid.static .col.static-10, .grid.static .col.static-offset-10, .grid.static .col.static-11, .grid.static .col.static-offset-11, .grid.static .col.static-12, .grid.static .col.static-offset-12 {
    display: flex;
    flex: 0 1 auto;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
}

.grid-fluid.static .col.static, .grid.static .col.static {
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
}

.grid-fluid.static .col.static-offset-0, .grid.static .col.static-offset-0 {
    margin-left: 0%;
}

.grid-fluid.static .col.static-1, .grid.static .col.static-1 {
    max-width: 8.33333%;
    flex-basis: 8.33333%;
}

.grid-fluid.static .col.static-offset-1, .grid.static .col.static-offset-1 {
    margin-left: 8.33333%;
}

.grid-fluid.static .col.static-2, .grid.static .col.static-2 {
    max-width: 16.66667%;
    flex-basis: 16.66667%;
}

.grid-fluid.static .col.static-offset-2, .grid.static .col.static-offset-2 {
    margin-left: 16.66667%;
}

.grid-fluid.static .col.static-3, .grid.static .col.static-3 {
    max-width: 25%;
    flex-basis: 25%;
}

.grid-fluid.static .col.static-offset-3, .grid.static .col.static-offset-3 {
    margin-left: 25%;
}

.grid-fluid.static .col.static-4, .grid.static .col.static-4 {
    max-width: 33.33333%;
    flex-basis: 33.33333%;
}

.grid-fluid.static .col.static-offset-4, .grid.static .col.static-offset-4 {
    margin-left: 33.33333%;
}

.grid-fluid.static .col.static-5, .grid.static .col.static-5 {
    max-width: 41.66667%;
    flex-basis: 41.66667%;
}

.grid-fluid.static .col.static-offset-5, .grid.static .col.static-offset-5 {
    margin-left: 41.66667%;
}

.grid-fluid.static .col.static-6, .grid.static .col.static-6 {
    max-width: 50%;
    flex-basis: 50%;
}

.grid-fluid.static .col.static-offset-6, .grid.static .col.static-offset-6 {
    margin-left: 50%;
}

.grid-fluid.static .col.static-7, .grid.static .col.static-7 {
    max-width: 58.33333%;
    flex-basis: 58.33333%;
}

.grid-fluid.static .col.static-offset-7, .grid.static .col.static-offset-7 {
    margin-left: 58.33333%;
}

.grid-fluid.static .col.static-8, .grid.static .col.static-8 {
    max-width: 66.66667%;
    flex-basis: 66.66667%;
}

.grid-fluid.static .col.static-offset-8, .grid.static .col.static-offset-8 {
    margin-left: 66.66667%;
}

.grid-fluid.static .col.static-9, .grid.static .col.static-9 {
    max-width: 75%;
    flex-basis: 75%;
}

.grid-fluid.static .col.static-offset-9, .grid.static .col.static-offset-9 {
    margin-left: 75%;
}

.grid-fluid.static .col.static-10, .grid.static .col.static-10 {
    max-width: 83.33333%;
    flex-basis: 83.33333%;
}

.grid-fluid.static .col.static-offset-10, .grid.static .col.static-offset-10 {
    margin-left: 83.33333%;
}

.grid-fluid.static .col.static-11, .grid.static .col.static-11 {
    max-width: 91.66667%;
    flex-basis: 91.66667%;
}

.grid-fluid.static .col.static-offset-11, .grid.static .col.static-offset-11 {
    margin-left: 91.66667%;
}

.grid-fluid.static .col.static-12, .grid.static .col.static-12 {
    max-width: 100%;
    flex-basis: 100%;
}

.grid-fluid.static .col.static-offset-12, .grid.static .col.static-offset-12 {
    margin-left: 100%;
}

.grid-fluid.static .row.static-start, .grid.static .row.static-start {
    justify-content: flex-start;
}

.grid-fluid.static .row.static-center, .grid.static .row.static-center {
    justify-content: center;
}

.grid-fluid.static .row.static-end, .grid.static .row.static-end {
    justify-content: flex-end;
}

.grid-fluid.static .row.static-top, .grid.static .row.static-top {
    align-items: flex-start;
}

.grid-fluid.static .row.static-middle, .grid.static .row.static-middle {
    align-items: center;
}

.grid-fluid.static .row.static-bottom, .grid.static .row.static-bottom {
    align-items: flex-end;
}

.grid-fluid.static .row.static-around, .grid.static .row.static-around {
    justify-content: space-around;
}

.grid-fluid.static .row.static-between, .grid.static .row.static-between {
    justify-content: space-between;
}

.grid-fluid.static .col.static-first, .grid.static .col.static-first {
    order: -9999;
}

.grid-fluid.static .col.static-last, .grid.static .col.static-last {
    order: 9999;
}

.fadeInDown {
    animation-name: fadeInDown;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeOutUp {
    animation-name: fadeOutUp;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

@keyframes fadeOutUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.slipsum-container {
    white-space: pre-wrap;
}

.slipsum-num,
.slipsum-type {
    display: inline-block;
}

.slipsum-num {
    width: 3rem;
}

.slipsum-type {
    width: 8rem;
}

@font-face {
    font-family: 'Brand Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunitosans/v4/pe0oMImSLYBIv1o4X1M8cce4E9lKdn4qX5E.woff2) format("woff2"), url(https://fonts.gstatic.com/s/nunitosans/v4/pe0oMImSLYBIv1o4X1M8cce4E9lKcA.woff) format("woff");
}

@font-face {
    font-family: 'Brand Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunitosans/v4/pe0qMImSLYBIv1o4X1M8cce9I9tAcVwo.woff2) format("woff2"), url(https://fonts.gstatic.com/s/nunitosans/v4/pe0qMImSLYBIv1o4X1M8cce9I90.woff) format("woff");
}

@font-face {
    font-family: 'Brand Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunitosans/v4/pe03MImSLYBIv1o4X1M8cc8GBs5tU1ECVZl_.woff2) format("woff2"), url(https://fonts.gstatic.com/s/nunitosans/v4/pe03MImSLYBIv1o4X1M8cc8GBs5tU1c.woff) format("woff");
}

@font-face {
    font-family: 'Brand Serif';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v10/SlGWmQSNjdsmc35JDF1K5GRweDs1ZyHKpWg.woff2) format("woff2"), url(https://fonts.gstatic.com/s/ebgaramond/v10/SlGWmQSNjdsmc35JDF1K5GRweDs1YQ.woff) format("woff");
}

@font-face {
    font-family: 'Brand Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v10/SlGUmQSNjdsmc35JDF1K5GR1SDk_YAPI.woff2) format("woff2"), url(https://fonts.gstatic.com/s/ebgaramond/v10/SlGUmQSNjdsmc35JDF1K5GR1SD8.woff) format("woff");
}

@font-face {
    font-family: 'Brand Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v10/SlGJmQSNjdsmc35JDF1K5GzObSwSQg7ir2C-.woff2) format("woff2"), url(https://fonts.gstatic.com/s/ebgaramond/v10/SlGJmQSNjdsmc35JDF1K5GzObSwSQgg.woff) format("woff");
}

.fonts-loaded-subset body,
.fonts-loaded body {
    word-spacing: initial;
    letter-spacing: initial;
    font-size: 1rem;
    font-family: "Brand Sans", Arial, sans-serif;
}

.fonts-loaded-subset h1,
.fonts-loaded h1 {
    font-size: 1.78rem;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    font-weight: 700;
}

.fonts-loaded-subset h2,
.fonts-loaded h2 {
    font-size: 1.54rem;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.fonts-loaded-subset h1,
.fonts-loaded-subset h2,
.fonts-loaded-subset h3,
.fonts-loaded-subset h4,
.fonts-loaded-subset h5,
.fonts-loaded-subset h6,
.fonts-loaded h1,
.fonts-loaded h2,
.fonts-loaded h3,
.fonts-loaded h4,
.fonts-loaded h5,
.fonts-loaded h6 {
    text-transform: none;
    letter-spacing: 0;
}

:root {
    font-size: 15px;
}

body {
    margin: 0;
    color: black;
    word-spacing: 1px;
    letter-spacing: -0.15px;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin-top: 0;
}

h1 {
    font-size: 1.78rem;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    word-spacing: 0.05em;
    letter-spacing: 0.045em;
}

h2 {
    font-size: 1.54rem;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    margin: 0;
    word-spacing: 0.0125em;
    letter-spacing: 0.025e;
}

h3 {
    font-size: 1.33rem;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin: 0;
}

h4,
h5,
h6 {
    font-size: 1rem;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin: 0;
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: none;
    letter-spacing: 0;
}

.heading-group .preheading,
.heading-group .heading,
.heading-group .subheading {
    display: block;
    line-height: 1.1;
}

.heading-group .preheading {
    font-size: 1rem;
}

.heading-group .heading {
    font-size: 1.78rem;
}

.heading-group .subheading {
    font-size: 1.33rem;
}

.heading-group.display {
    text-align: center;
}

.heading-group.display .preheading {
    font-style: italic;
}

.heading-group.display .subheading {
    text-transform: uppercase;
}

.font-minus-2 {
    font-size: 0.75rem;
}

.font-minus-1 {
    font-size: 0.87rem;
}

.font-plus-1 {
    font-size: 1.16rem;
}

.font-plus-2 {
    font-size: 1.33rem;
}

.font-plus-3 {
    font-size: 1.54rem;
}

.font-plus-4 {
    font-size: 1.78rem;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list-reset ul,
  .list-reset ol {
    list-style-type: none;
}

.list-inline,
.list-reset-horizontal {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list-inline ul,
  .list-inline ol,
  .list-reset-horizontal ul,
  .list-reset-horizontal ol {
    list-style-type: none;
}

.list-inline li,
  .list-reset-horizontal li {
    display: inline-block;
}

pre,
code,
.code {
    white-space: pre-line;
    font-weight: 300;
    font-family: "RB Monospace", Monaco, Consolas, "Lucida Console", monospace;
}

ul.horizontal li {
    display: inline-block;
}

.text-with-rule {
    display: flex;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.87rem;
}

.text-with-rule::before, .text-with-rule::after {
    display: inline-block;
    flex: 1;
    margin: auto 0.6rem;
    border-top: 1px solid #adadad;
    content: '';
    vertical-align: middle;
}

.text-with-rule::before {
    margin-left: 0;
}

.text-with-rule::after {
    margin-right: 0;
}

a {
    position: relative;
    display: inline-block;
    color: #0033a0;
    text-decoration: none;
    transition: color 100ms linear;
}

.no-anchor-underline a, a.no-anchor-underline, a.anchor-minimal, a.text-with-icon {
    position: static;
    text-decoration: none;
}

.no-anchor-underline a::before, a.no-anchor-underline::before, a.anchor-minimal::before, a.text-with-icon::before {
    display: none;
    box-shadow: none;
}

.link-list a {
    position: static;
    text-decoration: none;
}

.link-list a::before {
    display: none;
    box-shadow: none;
}

a::before {
    position: absolute;
    bottom: 1px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 3px;
    box-shadow: 0 2px 0 currentColor;
    content: '';
    transition: transform 250ms cubic-bezier(0.39, 0.575, 0.565, 1), color 250ms linear;
    transition-delay: 100ms;
    transform: scaleX(0);
}

a:hover {
    color: #004ff8;
    transition: color 250ms linear;
}

a:hover::before {
    box-shadow: 0 2px 0 currentColor;
    transform: scaleX(1);
}

a:active {
    color: #0033a0;
    transition: color 100ms linear;
}

a:visited {
    color: #002b88;
    transition: color 100ms linear;
}

a.disabled, a[disabled] {
    opacity: 0.6;
    -webkit-filter: grayscale(0.6);
    filter: grayscale(0.6);
    pointer-events: none;
}

a.anchor-subtle {
    color: #474747;
}

a.anchor-subtle:hover {
    color: #757575;
}

a.anchor-button-subtle {
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.text-with-icon {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    align-self: center;
    align-items: center;
}

.text-with-icon .icon {
    position: relative;
    width: 1em;
    height: 1em;
}

.text-with-icon .icon.icon-left {
    margin-right: .3em;
    order: -1;
}

.text-with-icon .icon.icon-right {
    margin-left: .3em;
    order: 999;
}

.cta {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    font-weight: 700;
    line-height: initial;
    cursor: pointer;
}

.cta_text {
    box-shadow: 0 4px 0 currentColor;
}

.cta .icon {
    width: 1em;
    height: 1em;
    font-size: 1em;
}

.cta .icon.icon-right {
    margin-left: 0.05em;
}

.link-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    color: black;
    vertical-align: top;
    font-size: 0.87rem;
}

.link-list ul,
  .link-list ol {
    list-style-type: none;
}

.link-list:first-child:not(:last-child) {
    padding-right: 1em;
}

.link-list:not(:first-child):not(:last-child) {
    padding: 0 1em;
}

.link-list:last-child:not(:first-child) {
    padding-left: 1em;
}

.link-list li {
    display: flex;
    min-height: 1.75rem;
    text-transform: capitalize;
    align-items: center;
}

.link-list li a:not(.cta) {
    display: flex;
    flex: 0 1 auto;
    color: inherit;
    transition: color 100ms linear;
    align-items: center;
}

.link-list li a:not(.cta):hover {
    color: #474747;
}

.link-list li a:not(.cta):active {
    color: inherit;
}

.link-list .title {
    display: flex;
    text-transform: uppercase;
    font-weight: 700;
    align-items: stretch;
}

.link-list .title .cta {
    display: flex;
    flex: 0 1 auto;
    font-weight: normal;
    align-self: stretch;
}

.link-list .title .cta .icon {
    width: .8em;
    height: .8em;
}

.touchevents .link-list:first-child:not(:last-child), .touchevents .link-list:not(:first-child):not(:last-child), .touchevents .link-list:last-child:not(:first-child) {
    padding: 0;
}

.touchevents .link-list li {
    min-height: 3.125rem;
    align-items: stretch;
}

.touchevents .link-list li a:not(.cta) {
    display: flex;
    flex: 1;
    align-items: center;
    align-self: stretch;
}

.touchevents .link-list .title,
.touchevents .link-list li:first-child {
    display: flex;
    align-items: center;
}

.touchevents .link-list .title .cta {
    flex: 1;
}

.clampable_clamped-placeholder button {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    color: #00205b;
    text-decoration: underline;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.sale-sticker-wrapper {
    display: inline-block;
    padding: 0.05em;
    font-size: 7rem;
}

.sale-sticker-wrapper .sale-sticker-inner {
    position: relative;
    padding: 0.2em 0.1em;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    text-transform: uppercase;
    font-family: 'Brand Serif';
}

.sale-sticker-wrapper .sale-sticker-inner .promo-msg {
    position: relative;
    margin-top: -0.1em;
    line-height: 0.2;
}

.sale-sticker-wrapper .sale-sticker-inner .promo-msg.promo-for .promo-detail small {
    margin-left: -1em;
    vertical-align: 2.2em;
    font-size: 0.205em;
}

.sale-sticker-wrapper .sale-sticker-inner .promo-msg.promo-for .promo-detail.kern-minus-1 small {
    margin-left: -.4em;
    letter-spacing: 0.03em;
}

.sale-sticker-wrapper .sale-sticker-inner .promo-msg.promo-for .promo-detail .promo-sup {
    position: relative;
    top: -.4em;
    margin-right: -.1em;
    margin-left: 0.1em;
    vertical-align: baseline;
    font-size: 0.615em;
    line-height: 0;
}

.sale-sticker-wrapper .sale-sticker-inner .promo-msg.promo-for .promo-detail.kern-minus-1 .promo-sup {
    margin-right: 0.05em;
}

.sale-sticker-wrapper .sale-sticker-inner .promo-detail {
    position: relative;
    font-size: 0.87em;
    line-height: 1;
}

.sale-sticker-wrapper .sale-sticker-inner .tagline-wrapper {
    font-family: 'Brand Sans';
}

.sale-sticker-wrapper .sale-sticker-inner .tagline {
    margin: 0.1em 0 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.18em;
    line-height: 1.2;
}

.sale-sticker-wrapper .sale-sticker-inner .cta {
    margin-top: 0.39em;
    text-align: center;
    font-size: 0.18em;
    font-family: 'Brand Sans';
    line-height: 1.2;
}

.sale-sticker-wrapper .sale-sticker-inner .cta::after {
    line-height: 0.2;
}

.sale-sticker-wrapper .sale-sticker-inner .optional-msg {
    display: block;
    margin-bottom: 0.2em;
    font-size: 0.16em;
    font-family: 'Brand Sans';
    line-height: 1;
}

.sale-sticker-wrapper .sale-sticker-inner .optional-msg:empty {
    display: none;
}

.sale-sticker-wrapper .sale-sticker-inner.up-to-msg .promo-msg::before {
    display: block;
    margin-bottom: -0.6em;
    padding: 0.6em 0 0;
    content: 'Up To';
    text-align: center;
    text-transform: uppercase;
    font-size: 0.16em;
    font-family: 'Brand Sans';
    line-height: 0.9;
}

.sale-sticker-wrapper .sale-sticker-inner .promo-msg.promo-percentage {
    margin-bottom: -0.06em;
}

.sale-sticker-wrapper .sale-sticker-inner .promo-msg.promo-percentage .promo-detail::before {
    position: absolute;
    top: 0.4em;
    right: -.08em;
    content: '%';
    letter-spacing: normal;
    font-size: 0.65em;
    line-height: 1;
}

.sale-sticker-wrapper .sale-sticker-inner.up-to-msg .promo-msg.promo-percentage::after {
    top: 0.31em;
}

.sale-sticker-wrapper .sale-sticker-inner .promo-msg.promo-percentage .promo-detail::after {
    margin-left: 0.15em;
    content: 'off';
    letter-spacing: normal;
    font-size: 0.2em;
}

.sale-sticker-wrapper .sale-sticker-inner .promo-msg.promo-percentage .promo-detail.kern-minus-1::after {
    margin-left: 0.6em;
}

.sale-sticker-wrapper.sale-sticker-horizontal .sale-sticker-inner {
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0.09em 0.2em;
}

.sale-sticker-wrapper.sale-sticker-horizontal .sale-sticker-inner .sale-sticker-tagline {
    float: left;
    margin-top: 0.03em;
    padding: 0 0 0 0.11em;
    border-left: 2px solid #030001;
}

.sale-sticker-wrapper.sale-sticker-horizontal .sale-sticker-inner .promo-msg {
    float: left;
    margin: -.147em 0 -.09em;
}

.sale-sticker-wrapper.sale-sticker-horizontal .sale-sticker-inner .promo-detail {
    margin: 0 0.16em 0 0;
    line-height: 1;
}

.sale-sticker-wrapper.sale-sticker-horizontal .sale-sticker-inner .cta,
  .sale-sticker-wrapper.sale-sticker-horizontal .sale-sticker-inner .tagline {
    margin-top: 0;
    text-align: left;
    font-size: 0.18em;
}

.sale-sticker-wrapper.sale-sticker-horizontal .sale-sticker-inner .tagline {
    margin-top: -.1em;
    margin-bottom: 0.47em;
    line-height: 1;
}

.sale-sticker-wrapper.sale-sticker-horizontal .sale-sticker-inner .cta {
    line-height: 0.84;
}

.sale-sticker-wrapper.sale-sticker-horizontal .sale-sticker-inner .optional-msg {
    display: inline-block;
    float: left;
    margin: 0.75em 0.45em 0 0;
    text-align: left;
    line-height: 1;
}

.sale-sticker-wrapper.sale-sticker-horizontal .sale-sticker-inner.up-to-msg .promo-msg::before {
    display: inline-block;
    float: left;
    margin: 1.2em 0 0;
    padding: 0;
    width: 2em;
    line-height: 1;
}

.sale-sticker-wrapper.sale-sticker-horizontal .sale-sticker-inner .promo-msg.promo-percentage::after {
    right: 0.13em;
}

.sale-sticker-wrapper.sale-sticker-horizontal .sale-sticker-inner.up-to-msg .promo-msg.promo-percentage::after {
    top: 0.2em;
}

.sale-sticker-wrapper.sale-sticker-stretch {
    width: 100%;
}

.sale-sticker-wrapper.sale-sticker-stretch .sale-sticker-inner {
    width: 100%;
}

.sale-sticker-wrapper.sale-sticker-stretch .promo-msg {
    margin: 0 auto;
}

.sale-sticker-wrapper.sale-sticker-stretch.sale-sticker-horizontal .tagline-wrapper {
    width: auto;
}

.seo-banner {
    display: flex;
    flex-direction: column;
    padding: 0.36563rem 0.75rem;
    border: 1px solid black;
    font-size: 1rem;
}

@media (min-width: 34rem) {
    .seo-banner {
        flex-direction: row;
    }
}

.seo-banner .seo-banner_title {
    padding: 0 0 0.27422rem 0;
    border-bottom: 1px solid black;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.05rem;
    font-family: "Brand Serif", "Times New Roman", serif;
    line-height: 1.1;
}

@media (min-width: 34rem) {
    .seo-banner .seo-banner_title {
        display: flex;
        flex: 0 0 30%;
        padding: 0 0.75rem 0 0;
        border-right: 1px solid black;
        border-bottom: none;
        align-items: center;
        justify-content: center;
    }
}

.seo-banner .seo-banner_copy {
    padding: 0.4875rem 0;
    line-height: 1.3;
}

@media (min-width: 34rem) {
    .seo-banner .seo-banner_copy {
        padding: 0 0 0 0.75rem;
    }
}

.product-tag {
    display: inline-block;
    padding: 0 0.4875rem;
    background: rgba(193, 41, 46, 0.9);
    color: white;
    font-style: italic;
    font-size: 2.74rem;
    font-family: "Brand Serif", "Times New Roman", serif;
}

.product-tag .product-tag_wrap {
    display: flex;
    align-items: center;
}

.product-tag .product-tag_text {
    line-height: 1.3;
}

.product-tag .percent-off {
    font-style: normal;
    font-family: "Brand Sans", Arial, sans-serif;
}

.product-tag .percent-off .product-tag_wrap::after {
    margin-left: 0.35em;
    content: "%\aoff";
    text-transform: uppercase;
    white-space: pre;
    font-size: 0.43em;
    line-height: 1;
}

.product-tag.percent-off {
    padding: 0 0.36563rem;
    font-style: normal;
    font-family: 'Brand Sans';
}

.product-tag.percent-off .product-tag_text {
    letter-spacing: -3px;
}

.product-tag.on-img {
    position: absolute;
    bottom: 3%;
    left: 3%;
}

/*# sourceMappingURL=rocketbelt.creative.css.map */
