extends /_layout.jade

block vars
  - var title = 'Page Layout'

block content
  article
    :md
      # Web Page Layout

      ## Overview
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.

      ## The "Fold"
      Yes, it _still_ matters. Keep in mind that the "fold" varies based on screen height and the content itself isn't as important as the information scent it provides.  If those first items are valuable to a user, then that can be just the impetus necessary to encourage continued scrolling.

      ## Last Items
      Items at the bottom of a page full of items will often get an extra boost of attention.  This is called the *recency effect* and can be used to your advantage.