
extends /_layout.jade

block vars
  - var title = 'Cards'

block content
  article
    :md
      # Cards
      ## Basic Cards
      
    +exampleWithCode
      include _cards-basic

    :md
      ## Action Cards
      
    .grid-fluid
      .row.xs-center
        .col.xs-12.lg-4
          +exampleWithCode
            include _cards-action
      
    :md
      ## `z-depth`
      
    - var text = "Cards can be placed at different depths to indicate their position relative to other content."
    +exampleWithCode
      include _cards-z-depth
      
    :md
      ## Hover Cards
      Combine `z-depth` classes with `hover` for engaging feedback.
      
    +exampleWithCode
      include _cards-hover

    :md
      ## Image Cards
    
    .grid-fluid
      .row
        .col.xs-4
          +exampleWithCode
            include _cards-image
                
    script(src='https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js')
    script(src='../images/rocketbelt.images-lazyload.js')
      
    :md
      ## Thumbnail Cards
      ## Expandable Thumbnail Cards
      ## Reveal
      ## Heights
