
extends /_layout

block vars
  - var title = 'Cards'

block content
  article
    h1 Cards


    h2 Basic Cards
    +exampleWithCode
      include _cards-basic


    h2 Action Cards
    .grid-fluid
      .row.xs-center
        .col.xs-12.lg-4
          include _cards-action
      .row
        .col.xs
          +exampleCodeOnly
            include _cards-action


    h2 z-depth
    - var text = "Cards can be placed at different depths to indicate their position relative to other content."
    +exampleWithCode
      include _cards-z-depth


    h2 Hover Cards
    | Combine #[span.code z-depth] classes with #[span.code hover] for engaging feedback.
    +exampleWithCode
      include _cards-hover


    h2 Image Cards
    .grid-fluid
      .row
        .col.xs-4
          include _cards-image
      .row
        .col.xs
          +exampleCodeOnly
            include _cards-image

    script(src='https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js')
    script(src='../images/rocketbelt.images-lazyload.js')

    h2 Thumbnail Cards
    h2 Expandable Thumbnail Cards
    h2 Reveal
    h2 Heights
