
extends /_layout.pug

block vars
  - var title = 'Cards'

block content
  article
    h1 Cards


    h2 Basic Cards
    +exampleWithCode
      include _cards-basic.pug


    h2 Action Cards
    .grid-fluid
      .row.xs-center.exampleWithoutCode
        .col.xs-12.lg-4
          include _cards-action.pug
      .row
        .col.xs
          +exampleCodeOnly
            include _cards-action.pug


    h2 z-depth
    - var text = "Cards can be placed at different depths to indicate their position relative to other content."
    +exampleWithCode
      include _cards-z-depth.pug

    h2 Hover Cards
    | Combine #[span.code z-depth] classes with #[span.code hover] for engaging feedback.
    +exampleWithCode
      include _cards-hover.pug

    h2 Image Cards
    .grid-fluid.exampleWithoutCode
      .row
        .col.xs-4
          include _cards-image.pug
      .row
        .col.xs
          +exampleCodeOnly
            include _cards-image.pug
      .row
        .col.xs.lg-6
          include _cards-image-thumbnail-grid.pug
      .row
        .col.xs
          +exampleCodeOnly
            include _cards-image-thumbnail-grid.pug
      .row
        .col.xs
          include _cards-image-thumbnail-width.pug
      .row
        .col.xs
          +exampleCodeOnly
            include _cards-image-thumbnail-width.pug
      .row
        .col.xs
          include _cards-image-thumbnail-image-width.pug
      .row
        .col.xs
          +exampleCodeOnly
            include _cards-image-thumbnail-image-width.pug

    h2 "Full Bleed" Cards
    .grid-fluid.exampleWithoutCode
      .row
        .col.xs-4
          include _cards-full-bleed.pug
      .row
        .col.xs
          +exampleCodeOnly
            include _cards-full-bleed.pug

    script(src='https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js')
    script(src='../images/rocketbelt.images-lazyload.js')
