%button-static-props {
  border: 1px solid transparent;
  text-decoration: none;
  font-weight: font-weight(semibold);
  cursor: default;
  transition: color 100ms,
              border 100ms,
              background 100ms,
              box-shadow 100ms,
              opacity 500ms;

  @include button-shadow;

  svg {
    margin-right: $gutter-width / 4;
    margin-bottom: -0.1em;  // I don't know why
    width: 1em;
    height: 1em;
    vertical-align: baseline;
  }
}
