<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/base/typography/rocketbelt.typography.font-loader.min.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png?v=gAapeRjXG7">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png?v=gAapeRjXG7">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png?v=gAapeRjXG7">
    <link rel="manifest" href="/assets/favicons/site.webmanifest?v=gAapeRjXG7">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg?v=gAapeRjXG7" color="#5b14d9">
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico?v=gAapeRjXG7">
    <meta name="msapplication-TileColor" content="#5b14d9">
    <meta name="msapplication-config" content="/assets/favicons/browserconfig.xml?v=gAapeRjXG7">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <title>Card Grids | Rocketbelt</title>
    <link rel="stylesheet" href="../../css/rocketbelt.creative.min.css">
    <link rel="stylesheet" href="../../css/rocketbelt.min.css">
    <link rel="stylesheet" href="../../css/site.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="/base/rocketbelt.js"></script>
  </body>
  <body class="grid-fluid">
    <ul class="skip list-reset">
      <li><a class="button-sm button-secondary" href="#content">Skip to Main Content</a></li>
      <li><a class="button-sm button-secondary" href="#footer">Skip to Footer</a></li>
    </ul>
    <div class="docs-wrapper row">
      <header class="site-header">
        <div class="site-nav nav-shadowed">
          <div class="nav_on-site"><a class="rb-header" href="/"><span class="visually-hidden">Return to rocketbelt.io</span>
              <picture><img srcset="/assets/rocketbelt.svg" alt=""></picture><span class="rb-title">Rocketbelt</span></a>
            <nav id="main-nav">
              <ul class="nav-menu">
                <li class="nav-item nav_level-1" ref="base">
                  <button class="category-label">Base</button>
                  <div class="sub-nav">
                    <ul class="sub-nav-group">
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/base/a11y">Accessibility</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/base/animation">Animation</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/base/color">Color</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/base/feature-detection">Feature Detection</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/base/grid">Grid</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/base/layout">Layout</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/base/slipsum">Slipsum</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/base/typography">Typography</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/base/vendor">Vendor</a></li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item nav_level-1" ref="components">
                  <button class="category-label">Components</button>
                  <div class="sub-nav">
                    <ul class="sub-nav-group">
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/navigation">Navigation</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/images">Images</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/alerts">Alerts</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/buttons">Buttons</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/busy-indicators">Busy Indicators</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/card-grids">Card Grids</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/cards">Cards</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/icons">Icons</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/forms">Forms</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/expanders">Expanders</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/dialogs">Dialogs</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/notifications">Notifications</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/tabcordions">Tabcordions</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/scrollbox">Scrollbox</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/panels">Panels</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/progress">Progress</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/radio-buttons">Radio Buttons</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/sliders">Sliders</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/tables">Tables</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/tags">Tags</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/tooltips">Tooltips</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/uploaders">Uploaders</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/vendor">Vendor</a></li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item nav_level-1" ref="creative">
                  <button class="category-label">Creative</button>
                  <div class="sub-nav">
                    <ul class="sub-nav-group">
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/creative/playground">Playground</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/creative/product-tag">Product Tag</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/creative/sale-sticker">Sale Sticker</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/creative/seo-banner">Seo Banner</a></li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item nav_level-1" ref="exposition">
                  <button class="category-label">Exposition</button>
                  <div class="sub-nav">
                    <ul class="sub-nav-group">
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/exposition/homepage-components">Homepage Components</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/exposition/links-and-buttons">Links And Buttons</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/exposition/logo-usage">Logo Usage</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/exposition/page-layout">Page Layout</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/exposition/site-content">Site Content</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/exposition/web-typography">Web Typography</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </nav>
          </div>
          <div class="nav_off-site links">
            <div class="link link-npm"></div><a class="link link-github" href="https://github.com/pier1/rocketbelt"><span class="visually-hidden">Rocketbelt on GitHub</span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg></a>
          </div>
        </div>
        <script src="../../components/navigation/rocketbelt.navigation-xl.js"></script>
        <script>
          $(document).ready(function () {
            $('#main-nav').accessibleMegaMenu({
              uuidPrefix: 'rb-navigation',
              menuClass: 'nav-menu',
              topNavItemClass: 'nav-item',
              panelClass: 'sub-nav',
              panelGroupClass: 'sub-nav-group',
              hoverClass: 'hover',
              focusClass: 'focus',
              openClass: 'open'
            })
          });
          
        </script>
      </header>
      <div class="pad-5 col xs docs-wrapper_main">
        <main class="site-main grid-fluid no-margin">
          <div class="row">
            <div class="col xs">
              <div class="grid">
                <article>
                  <h1 id="card-grids" class="heading-with-link"><span class="heading_text">Card Grids</span><button data-clipboard-text="#card-grids" class="heading-copy-button heading_link">
                  <svg class="icon" aria-label="Link to this section" role="img">
                    <use xlink:href="/components/icons/rocketbelt.icons.svg#rb-icon-bookmark"/>
                  </svg>
                </button></h1>
                  <div class="card-grid">
                    <div class="card card-grid_item">
                      <p>I purchased this chair in November of 2017 and purchased another one a week ago (Aug 2018). It has great lumbar support and goes well with all colors. It&apos;s firm without being hard, easy to clean and is not sticky on the skin in hot humid weather. A very comfortable chair. I&apos;m 69 years old and got it into my apartment and put together without any help! I really appreciate that a small phillips head screw driver was included with the screws. A great buy.</p>
                    </div>
                    <div class="card card-grid_item">
                      <p>Perched on your back. Reflecting on this: Our flirty tie-backs. Can our pillar is abstract beadwork, it&#x2019;s perfect spot that perfectly suited to clusters of the pattern is rendered Buddha painting.This chair has it all. Style ?? Comfort ?? Great Price ?? Oooos and Ahhhhs ?? You will not do wrong with this one.</p>
                    </div>
                    <div class="card card-grid_item">
                      <p>I love my Chas navy blue velvet armchair. I bought 2 for my living room. They bring color into our room. I highly recommend it.</p>
                    </div>
                    <div class="card card-grid_item">
                      <p>Loving this chair.... I am an old lady and it was so easy for me to screw on those chair legs. It&apos;s just the right size. I am not feather light and this chair is very sturdy and comfortable. I ordered also the matching ottoman. It&apos;s worth the price.</p>
                    </div>
                    <div class="card card-grid_item">
                      <p>Love this chair! Very comfortable and I love the material. Really adds charm to the room. Also, bought the footstool. I have been admiring this chair for over a year. I did spray with Scotch Guard bc of children. It&apos;s only been a month since I bought it but at this point I am very satifsfied.</p>
                    </div>
                    <div class="card card-grid_item">
                      <p>The armchair is even more beautiful, comfortable and stylish than I could have hoped! I&#x2019;ve admired the chair online for several years, then my daughter moved to a new townhome and I got it for her. I couldn&#x2019;t be more pleased with every aspect of the chair!</p>
                    </div>
                    <div class="card card-grid_item">
                      <p>Extremely pleased. The color &amp; fabric were exactly what I was looking for. The price was over my budget; but after receiving the chair &amp; ottoman I was very pleased with my purchase. The color &amp; fabric are very rich. The chair is very comfortable. I&#x2019;m using it in my bedroom sitting area.</p>
                    </div>
                    <div class="card card-grid_item">
                      <p>Beautiful, comfortable and a great addition to my family room. Recommend it highly.</p>
                    </div>
                    <div class="card card-grid_item">
                      <p>Love my new Chas Blue Floral Armchair. Easy to assemble, screwdriver was provided. Very comfortable. Looking forward to my next purchase.</p>
                    </div>
                    <div class="card card-grid_item">
                      <p>I love this chair..at 5&apos;3&quot;, it is difficult to fi d a chair i can sit in and have my feet still touch the floor! This chair is comfortable, looks great in my little corner of our great room and is the right size for me while being large enough to be overwhelmed by the rest of my furniture. So glad i got this</p>
                    </div>
                    <div class="card card-grid_item">
                      <p>I&apos;ve wanted this chair for a long time. I finally got it! This chair is so comfortable. Beautiful floral design. Perfect addition to anyone&apos;s home.</p>
                    </div>
                    <div class="card card-grid_item">
                      <p>I bought this chair as well as the love seat and ottoman a few years ago. I was worried the color would not be vibrant or the velvet would be bad paired with a cat. It was perfect! The color is incredible and rich. It doesn&#x2019;t get snagged by my cat and the velvet is so easy to get the cat hair off of I couldn&#x2019;t believe it. They looked perfect in my library giving it a comfy luxurious feel.</p>
                    </div>
                  </div>
                </article>
                <!-- rb.typography.clamp(-->
                <!--   '.card-grid_item p', 6,-->
                <!--   {-->
                <!--     clampedMarkup: '<button>More</button>',-->
                <!--     onUnclamp: (e) => { rb.cardGrids.resizeGridItem($(e.target).closest('.card-grid_item')[0]) },-->
                <!--     onClamp: function (el) { rb.cardGrids.resizeGridItem($(el).closest('.card-grid_item')[0]) }-->
                <!--   }-->
                <!-- )-->
                <div class="exampleWithCode">
                  <div class="example">
                    <script src="../../base/typography/rocketbelt.typography.js"></script>
                    <script src="./rocketbelt.card-grids.js"></script>
                  </div>
                  <div class="expander">
                    <input class="expander_checkbox" type="checkbox" id="rb-ZRKY5a" checked="checked">
                    <label class="expander_label" for="rb-ZRKY5a" data-collapsed-label="Show Javascript Include" data-expanded-label="Hide Javascript Include"><span class="expander_icon"></span></label>
                    <div class="expander_content">
                      <div class="example-code">
                        <div class="dots"></div>
                        <button class="button copy-code" data-clipboard-target="#rb-Mh70o">Copy</button>
                        <pre><code class="language-javascript include" id="rb-Mh70o">
                            &lt;script src=&quot;../../base/typography/rocketbelt.typography.js&quot;&gt;&lt;/script&gt;
                            &lt;script src=&quot;./rocketbelt.card-grids.js&quot;&gt;&lt;/script&gt;</code></pre>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
      <footer class="site-footer">
        <div class="grid-fluid footer_wrapper">
          <div class="row xs-center xs-middle footer_row">
            <div class="col xs-12 footer_content">
              <div class="links_off-site"><a class="link" href="https://www.pier1.com">
                  <svg class="icon p1-logo">
                    <use xlink:href="/components/icons/rocketbelt.icons.svg#rb-icon-p1logo-alt-1"/>
                  </svg></a><a class="link" href="https://github.com/pier1/rocketbelt"><span class="visually-hidden">Rocketbelt on GitHub</span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg></a></div>
            </div>
          </div>
          <div class="row xs-center xs-middle footer_row">
            <div class="col xs-12 footer_content">
              <div class="copyright">&#xA9; 2019 Pier 1 Imports. Rocketbelt is distributed under an <a href="https://github.com/Pier1/rocketbelt/blob/develop/LICENSE">MIT license</a>.</div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <article class="dialog" tabindex="0" aria-hidden="true">
      <div class="dialog_overlay" tabindex="-1" data-rb-dialog-hide=""></div>
      <section class="dialog_content grid-fluid" aria-labelledby="dialog_title" aria-describedby="dialog_description" role="dialog">
        <header class="dialog_header">
          <h2 class="dialog_title" id="dialog_title"></h2>
          <div class="dialog_close_container">
            <button class="dialog_close" data-rb-dialog-hide="" aria-label="Close dialog">
              <svg class="icon">
                <use xlink:href="/components/icons/rocketbelt.icons.svg#rb-icon-close"/>
              </svg>
            </button>
          </div>
        </header>
        <div class="dialog_body"></div>
      </section>
    </article>
    <script src="../../js/playground.jquery.js"></script>
    <script src="../../js/site.js"></script>
    <script src="/components/icons/rocketbelt.icons.svgxuse.min.js" defer></script>
    <script src="../../js/preCode.js"></script>
    <script src="../../js/prism.js"></script>
    <script src="../../js/clipboard.min.js"></script>
    <script>
      var clipboard = new Clipboard('.heading-copy-button', {
          text: function(trigger) {
              return window.location.href.split(/[?#]/)[0] + trigger.getAttribute('data-clipboard-text');
          }
      });
      
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-1740251-3', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>