extends /_layout.pug

block vars
  - var title = 'Tags'

block content
  article
    h1 Tags
    h2 Basic Variations

    .grid-fluid
      .row
        .col.xs
          +exampleWithCode
            include _tags-variations.pug

    h2 Dismissable

    .grid-fluid
      .row
        .col.xs
          +exampleWithCode
            include _tags-dismissable.pug
          +exampleWithCode('js')
            script(src='../alerts/rocketbelt.alerts-dismissable.js')

    h2 Promo Tags

    .grid-fluid
      .row
        .col.xs
          p Promo Tags stretch to fill the width of their container.
          +exampleWithCode
            include _tags-promo.pug
