.section-container.allpad
	.section 
		.section-title The Section
		.section-content 
			| Duis aute irure dolor in reprehenderit in voluptate velit esse
			| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	.section
		.section-title The Other Section
		.subsection
			.subsection-title The Subsection
			.subsection-content 
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				| tempor incididunt ut labore.

		.subsection
			.subsection-title The Second Subsection
			.subsection-content
				| Dolore magna aliqua. Ut enim ad minim veniam,
				| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				| consequat.
