<!DOCTYPE html>
<html>
  <head>
    <title>Images | Rocketbelt Pattern Library</title>
    <link rel="stylesheet" href="../../css/site.min.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  </head>
  <body class="grid-fluid">
    <div style="flex-wrap: nowrap;" class="row">
      <nav style="flex-grow: 0;" class="col xs">
        <ul class="list-reset">
          <li><a href="../../base">Base</a>
            <ul class="list-reset">
              <li><a href="../../base/breakpoints">Breakpoints</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="../../base/color">Color</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="../../base/grid">Grid</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="../../base/layout">Layout</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="../../base/slipsum">Slipsum</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="../../base/typography">Typography</a>
                <ul class="list-reset">
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="../../components">Components</a>
            <ul class="list-reset">
              <li><a href="../../components/forms">Forms</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="../../components/alerts">Alerts</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="../../components/busy-indicators">Busy Indicators</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="../../components/buttons">Buttons</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="../../components/cards">Cards</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="../../components/expanders">Expanders</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="../../components/images">Images</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="../../components/modals">Modals</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="../../components/radio-buttons">Radio Buttons</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="../../components/tabcordions">Tabcordions</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="../../components/tooltips">Tooltips</a>
                <ul class="list-reset">
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="../../exposition">Exposition</a>
            <ul class="list-reset">
            </ul>
          </li>
        </ul>
      </nav>
      <div class="col xs">
        <main class="grid-fluid no-margin">
          <div class="row">
            <div class="col xs">
              <article><h1 id="images">Images</h1>
<h2 id="lazy-loading-with-low-quality-image-previews-lqip-">Lazy-Loading With Low-Quality Image Previews (LQIP)</h2>

                <div class="exampleWithCode">
                  <div class="example">
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
                  </div>
                  <div class="expander">
                    <input type="checkbox" id="1HJ31D" class="expander_checkbox"/>
                    <label for="1HJ31D" data-collapsed-label="Show JS" data-expanded-label="Hide JS" class="expander_label"><span class="expander_icon"></span></label>
                    <div class="expander_content">
                      <div class="example-code">
                        <button data-clipboard-target="#10bvOd" class="copy-code">Copy</button>
                        <pre><code id="10bvOd" class="language-javascript">
                            &lt;script src=&quot;https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js&quot;&gt;</code></pre>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="exampleWithCode">
                  <div class="example">
                    <script src="./images-lazyload.js"></script>
                  </div>
                  <div class="expander">
                    <input type="checkbox" id="Z1WxVdK" class="expander_checkbox"/>
                    <label for="Z1WxVdK" data-collapsed-label="Show JS" data-expanded-label="Hide JS" class="expander_label"><span class="expander_icon"></span></label>
                    <div class="expander_content">
                      <div class="example-code">
                        <button data-clipboard-target="#ZAaCHk" class="copy-code">Copy</button>
                        <pre><code id="ZAaCHk" class="language-javascript">
                            &lt;script src=&quot;./images-lazyload.js&quot;&gt;</code></pre>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="grid-fluid">
                  <div class="row xs-center">
                    <div class="col xs">
                      <div class="exampleWithCode">
                        <div class="expander">
                          <input type="checkbox" id="Zijbzd" class="expander_checkbox"/>
                          <label for="Zijbzd" data-collapsed-label="Show HTML" data-expanded-label="Hide HTML" class="expander_label"><span class="expander_icon"></span></label>
                          <div class="expander_content">
                            <div class="example-code">
                              <button data-clipboard-target="#Z1LOavw" class="copy-code">Copy</button>
                              <pre><code id="Z1LOavw" class="language-html">
                                  &lt;div data-src-lg=&quot;https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/ODR09/ODR09_1.jpg?sw=400&amp;amp;sh=400&quot; class=&quot;lazyload-wrapper&quot;&gt;&lt;img src=&quot;https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/ODR09/ODR09_1.jpg?sw=10&amp;amp;sh=10&quot; class=&quot;lazyload-small&quot;&gt;
                                    &lt;div style=&quot;padding-bottom: 100%&quot; class=&quot;lazyload-pad&quot;&gt;&lt;/div&gt;
                                  &lt;/div&gt;</code></pre>
                            </div>
                          </div>
                        </div>
                        <div class="example">
                          <div data-src-lg="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/ODR09/ODR09_1.jpg?sw=400&amp;sh=400" class="lazyload-wrapper"><img src="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/ODR09/ODR09_1.jpg?sw=10&amp;sh=10" class="lazyload-small">
                            <div style="padding-bottom: 100%" class="lazyload-pad"></div>
                          </div>
                        </div>
                      </div>
                      <div data-src-lg="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/ODR09/ODR09_2.jpg?sw=400&amp;sh=400" class="lazyload-wrapper"><img src="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/ODR09/ODR09_2.jpg?sw=10&amp;sh=10" class="lazyload-small">
                        <div style="padding-bottom: 100%" class="lazyload-pad"></div>
                      </div>
                      <div data-src-lg="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/2587987/2587987_14.jpg?sw=400&amp;sh=400" class="lazyload-wrapper"><img src="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/2587987/2587987_14.jpg?sw=10&amp;sh=10" class="lazyload-small">
                        <div style="padding-bottom: 100%" class="lazyload-pad"></div>
                      </div>
                      <div data-src-lg="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/ODS001/ODS001_3.jpg?sw=400&amp;sh=400" class="lazyload-wrapper"><img src="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/ODS001/ODS001_3.jpg?sw=10&amp;sh=10" class="lazyload-small">
                        <div style="padding-bottom: 100%" class="lazyload-pad"></div>
                      </div>
                      <div data-src-lg="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/ODS001/ODS001_1.jpg?sw=400&amp;sh=400" class="lazyload-wrapper"><img src="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/ODS001/ODS001_1.jpg?sw=10&amp;sh=10" class="lazyload-small">
                        <div style="padding-bottom: 100%" class="lazyload-pad"></div>
                      </div>
                      <div data-src-lg="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/ODS005/ODS005_12.jpg?sw=400&amp;sh=400" class="lazyload-wrapper"><img src="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/ODS005/ODS005_12.jpg?sw=10&amp;sh=10" class="lazyload-small">
                        <div style="padding-bottom: 100%" class="lazyload-pad"></div>
                      </div>
                      <div data-src-lg="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/2437340/2437340_14.jpg?sw=400&amp;sh=400" class="lazyload-wrapper"><img src="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/2437340/2437340_14.jpg?sw=10&amp;sh=10" class="lazyload-small">
                        <div style="padding-bottom: 100%" class="lazyload-pad"></div>
                      </div>
                      <div data-src-lg="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/2580054/2580054_13.jpg?sw=400&amp;sh=400" class="lazyload-wrapper"><img src="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/2580054/2580054_13.jpg?sw=10&amp;sh=10" class="lazyload-small">
                        <div style="padding-bottom: 100%" class="lazyload-pad"></div>
                      </div>
                      <div data-src-lg="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/2437340/2437340_13.jpg?sw=400&amp;sh=400" class="lazyload-wrapper"><img src="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/2437340/2437340_13.jpg?sw=10&amp;sh=10" class="lazyload-small">
                        <div style="padding-bottom: 100%" class="lazyload-pad"></div>
                      </div>
                      <div data-src-lg="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/2580054/2580054_14.jpg?sw=400&amp;sh=400" class="lazyload-wrapper"><img src="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/2580054/2580054_14.jpg?sw=10&amp;sh=10" class="lazyload-small">
                        <div style="padding-bottom: 100%" class="lazyload-pad"></div>
                      </div>
                      <div data-src-lg="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/ODS005/ODS005_14.jpg?sw=400&amp;sh=400" class="lazyload-wrapper"><img src="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/ODS005/ODS005_14.jpg?sw=10&amp;sh=10" class="lazyload-small">
                        <div style="padding-bottom: 100%" class="lazyload-pad"></div>
                      </div>
                      <div data-src-lg="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/ODR14/ODR14_1.jpg?sw=400&amp;sh=400" class="lazyload-wrapper"><img src="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/ODR14/ODR14_1.jpg?sw=10&amp;sh=10" class="lazyload-small">
                        <div style="padding-bottom: 100%" class="lazyload-pad"></div>
                      </div>
                      <div data-src-lg="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/2757667/2757667_13.jpg?sw=400&amp;sh=400" class="lazyload-wrapper"><img src="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/2757667/2757667_13.jpg?sw=10&amp;sh=10" class="lazyload-small">
                        <div style="padding-bottom: 100%" class="lazyload-pad"></div>
                      </div>
                      <div data-src-lg="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/2757667/2757667_14.jpg?sw=400&amp;sh=400" class="lazyload-wrapper"><img src="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/2757667/2757667_14.jpg?sw=10&amp;sh=10" class="lazyload-small">
                        <div style="padding-bottom: 100%" class="lazyload-pad"></div>
                      </div>
                      <div data-src-lg="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/2756976/2756976_13.jpg?sw=400&amp;sh=400" class="lazyload-wrapper"><img src="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/2756976/2756976_13.jpg?sw=10&amp;sh=10" class="lazyload-small">
                        <div style="padding-bottom: 100%" class="lazyload-pad"></div>
                      </div>
                      <div data-src-lg="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/2662334/2662334_12.jpg?sw=400&amp;sh=400" class="lazyload-wrapper"><img src="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/2662334/2662334_12.jpg?sw=10&amp;sh=10" class="lazyload-small">
                        <div style="padding-bottom: 100%" class="lazyload-pad"></div>
                      </div>
                      <div data-src-lg="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/PS64654/PS64654_10A.jpg?sw=400&amp;sh=400" class="lazyload-wrapper"><img src="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/PS64654/PS64654_10A.jpg?sw=10&amp;sh=10" class="lazyload-small">
                        <div style="padding-bottom: 100%" class="lazyload-pad"></div>
                      </div>
                      <div data-src-lg="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/2506440/2506440_10A.jpg?sw=400&amp;sh=400" class="lazyload-wrapper"><img src="https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/2506440/2506440_10A.jpg?sw=10&amp;sh=10" class="lazyload-small">
                        <div style="padding-bottom: 100%" class="lazyload-pad"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script src="../../js/prism.js"></script>
    <script src="../../js/clipboard.min.js"></script>
    <script src="../../js/site.js"></script>
  </body>
</html>