.tabs {
  $width-border: 1px;
  $color-border: color(gray, plus2);
  $color-bg: color(gray, plus4);
  $border: $width-border solid $color-border;

  font-size: 0;
  background: $color-bg;
  border: $border;
  overflow: hidden;
  position: relative;

  &:after {
    clear: both;
    content: '';
    display: table;
  }

  .tab {
    display: inline;

    .tab_radio {
      @extend %visuallyhidden;

      &:checked ~ .tab_panel {
        display: inline;
        @include fadeIn();
      }

      &:not(:checked) ~ .tab_panel {
        @include fadeOut();
      }

      &:checked + .tab_label {
        color: color(pier1blue);
        transition: all 200ms;
      }

      &:not(:checked) + .tab_label {
        color: color(pier1blue);
        transition: all 200ms;

        @include media('>=sm') {
          color: rgba(color(pier1blue), 0.4);
        }
      }

      &:checked + .tab_label {
        &:before,
        &:after {
          transition: all 250ms ease-in-out;
        }

        &:before {
          transform: rotate(270deg);
        }

        &:after {
          transform: rotate(90deg);
        }
      }
    }
  }

  .tab_label {
    position: relative;
    padding: ms(-10) ms(-4);
    font-size: ms(-1);
    text-transform: uppercase;
    width: 100%;
    display: inline-block;
    transition: all 250ms;

    &:before,
    &:after {
      content: '';
      top: 50%;
      right: 1rem;
      position: absolute;
      background: color(pier1blue);
      transform: rotate(0deg);
      transition: 250ms all ease-in-out;
      height: 0.75rem;
      width: 0.15rem;
      margin-top: -0.375rem;

      @include media('>=sm') {
        display: none;
      }
    }

    &:before {
      transform: rotate(90deg);
    }

    @include media('>=sm') {
      width: auto;
      border: 0;
      border-right: $border;
    }
  }

  .tab_panel {
    font-size: initial;
    display: inline-block;
    overflow: hidden;
    position: relative;
    height: 0;
    width: 0;
  }

  .tab_content {
    padding: ms(-4);
    background: color(white);
    display: block;
    float: left;
    margin-top: -$width-border;
    width: 100%;

    @include media('>=sm') {
      border-top: $border;
    }
  }

  .highlight {
    display: none;

    @include media('>=sm') {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 3px;
      background: color(primary);
      transition: all 250ms ease-in-out;
    }
  }
}
