$width-border: 1px;
$color-border: color(gray, plus2);
$color-bg: color(gray, plus3);
$border: $width-border solid $color-border;

.tabcordion {
  .tabcordion_navlist {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 0;
  }

  .tabcordion_nav-item {
    margin: 0;
    background: $color-bg;
    color: color(primary, darker);
    list-style: none;
    font-size: 1rem;
    transition: background 200ms ease,
                color 200ms ease;

    &.is-active {
      background: color(white);
      color: color(black);
    }

    button {
      border: $border;
      background: inherit;
      color: inherit;
      transition: background 200ms ease,
                  color 200ms ease;
    }
  }

  .tabcordion_panel {
    display: none;
    padding: padding(-2);
    border: $border;
    border-top: none;

    &.is-current {
      display: block;
    }
  }
}

.is-tabs {
  .tabcordion_navlist {
    border-bottom: $border;

    .is-active {
      button {
        border-bottom: 1px solid transparent;
      }
    }

    button {
      border-bottom: none;
      font-size: 1rem;
    }
  }

  .tabcordion_nav-item {
    position: relative;
    top: 1px;
    display: inline-block;
  }
}

.is-accordion {
  .tabcordion_nav-item {
    display: block;

    button {
      display: inline-block;
      width: 100%;
      text-align: left;
    }
  }
}
