.expander {
  font-size: initial;

  .expander_checkbox {
    @extend %visuallyhidden;

    & + .expander_label {
      position: relative;
      padding: 0;
      color: color(primary);
      cursor: pointer;

      user-select: none;
    }


    &:not(:checked) {
      & ~ .expander_content {
        @extend %visuallyhidden;
      }

      & + .expander_label {
        &::before {
          position: static;
          border: 0;
          background: 0;
          content: attr(data-collapsed-label);
        }
      }
    }

    &:checked + .expander_label {
      &::before {
        position: static;
        border: 0;
        background: 0;
        content: attr(data-expanded-label);
      }
    }
  }

  .expander_checkbox:checked + .chevron {
    transition: transform 200ms ease-in-out;
    transform: none;
  }
}
