<!DOCTYPE html>
<html>
  <head>
    <title>Layout | Slipway Pattern Library</title>
    <link rel="stylesheet" href="/slipway/css/site.min.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  </head>
  <body class="grid-fluid">
    <div style="flex-wrap: nowrap;" class="row">
      <nav style="flex-grow: 0;" class="col xs">
        <ul>
          <li><a href="/slipway/base">Base</a>
            <ul>
              <li><a href="/slipway/base/breakpoints">Breakpoints</a>
                <ul>
                </ul>
              </li>
              <li><a href="/slipway/base/color">Color</a>
                <ul>
                </ul>
              </li>
              <li><a href="/slipway/base/grid">Grid</a>
                <ul>
                </ul>
              </li>
              <li><a href="/slipway/base/layout">Layout</a>
                <ul>
                </ul>
              </li>
              <li><a href="/slipway/base/slipsum">Slipsum</a>
                <ul>
                </ul>
              </li>
              <li><a href="/slipway/base/typography">Typography</a>
                <ul>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="/slipway/components">Components</a>
            <ul>
              <li><a href="/slipway/components/forms">Forms</a>
                <ul>
                </ul>
              </li>
              <li><a href="/slipway/components/alerts">Alerts</a>
                <ul>
                </ul>
              </li>
              <li><a href="/slipway/components/busy-indicators">Busy Indicators</a>
                <ul>
                </ul>
              </li>
              <li><a href="/slipway/components/buttons">Buttons</a>
                <ul>
                </ul>
              </li>
              <li><a href="/slipway/components/cards">Cards</a>
                <ul>
                </ul>
              </li>
              <li><a href="/slipway/components/expanders">Expanders</a>
                <ul>
                </ul>
              </li>
              <li><a href="/slipway/components/images">Images</a>
                <ul>
                </ul>
              </li>
              <li><a href="/slipway/components/modals">Modals</a>
                <ul>
                </ul>
              </li>
              <li><a href="/slipway/components/radio-buttons">Radio Buttons</a>
                <ul>
                </ul>
              </li>
              <li><a href="/slipway/components/tabcordions">Tabcordions</a>
                <ul>
                </ul>
              </li>
              <li><a href="/slipway/components/tooltips">Tooltips</a>
                <ul>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="/slipway/exposition">Exposition</a>
            <ul>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="col xs">
        <main class="grid-fluid no-margin">
          <div class="row">
            <div class="col xs">
              <article><h1 id="layout">Layout</h1>
<h2 id="padding">Padding</h2>

                <div class="grid example-layout">
                  <div class="row xs-between">
                    <div class="exampleWithCode">
                      <div class="example">
                        <div class="pad-1">.pad-1</div>
                        <div class="pad-2">.pad-2</div>
                        <div class="pad-3">.pad-3</div>
                        <div class="pad-4">.pad-4</div>
                        <div class="pad-5">.pad-5</div>
                      </div>
                      <div class="expander">
                        <input type="checkbox" id="Sye4kSNp0" class="expander_checkbox"/>
                        <label for="Sye4kSNp0" data-collapsed-label="Show HTML" data-expanded-label="Hide HTML" class="expander_label"><span class="expander_icon"></span></label>
                        <div class="expander_content">
                          <div class="example-code">
                            <button data-clipboard-target="#BkVkBE60" class="copy-code">Copy</button>
                            <pre><code id="BkVkBE60" class="language-html">
                                &lt;div class=&quot;pad-1&quot;&gt;.pad-1&lt;/div&gt;
                                &lt;div class=&quot;pad-2&quot;&gt;.pad-2&lt;/div&gt;
                                &lt;div class=&quot;pad-3&quot;&gt;.pad-3&lt;/div&gt;
                                &lt;div class=&quot;pad-4&quot;&gt;.pad-4&lt;/div&gt;
                                &lt;div class=&quot;pad-5&quot;&gt;.pad-5&lt;/div&gt;</code></pre>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><h2 id="margin">Margin</h2>

                <div class="grid example-layout">
                  <div class="row xs-between">
                    <div class="exampleWithCode">
                      <div class="example">
                        <!-- Container only for illustrative purposes-->
                        <div class="container">
                          <div class="margin-1">.margin-1</div>
                        </div>
                        <div class="container">
                          <div class="margin-2">.margin-2</div>
                        </div>
                        <div class="container">
                          <div class="margin-3">.margin-3</div>
                        </div>
                        <div class="container">
                          <div class="margin-4">.margin-4</div>
                        </div>
                        <div class="container">
                          <div class="margin-5">.margin-5</div>
                        </div>
                      </div>
                      <div class="expander">
                        <input type="checkbox" id="HkzVyrVpR" class="expander_checkbox"/>
                        <label for="HkzVyrVpR" data-collapsed-label="Show HTML" data-expanded-label="Hide HTML" class="expander_label"><span class="expander_icon"></span></label>
                        <div class="expander_content">
                          <div class="example-code">
                            <button data-clipboard-target="#ryZ41SVpC" class="copy-code">Copy</button>
                            <pre><code id="ryZ41SVpC" class="language-html">
                                &lt;!-- Container only for illustrative purposes--&gt;
                                &lt;div class=&quot;container&quot;&gt;
                                  &lt;div class=&quot;margin-1&quot;&gt;.margin-1&lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;container&quot;&gt;
                                  &lt;div class=&quot;margin-2&quot;&gt;.margin-2&lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;container&quot;&gt;
                                  &lt;div class=&quot;margin-3&quot;&gt;.margin-3&lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;container&quot;&gt;
                                  &lt;div class=&quot;margin-4&quot;&gt;.margin-4&lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;container&quot;&gt;
                                  &lt;div class=&quot;margin-5&quot;&gt;.margin-5&lt;/div&gt;
                                &lt;/div&gt;</code></pre>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script src="/slipway/js/prism.js"></script>
    <script src="/slipway/js/clipboard.min.js"></script>
    <script src="/slipway/js/site.js"></script>
  </body>
</html>