.radio-group.radio-group-chunky {
  $color-selected: color(primary);
  $color-unselected: color(gray, plus3);

  li {
    display: flex;
  }

  input[type=radio] + label {
    border: 2px solid transparent;
    padding: 0.5rem;
    display: flex;
    width: 100%;

    @include z-depth(0);
    z-index: 0;
    transition: box-shadow 200ms ease-in;

    &:hover {
      @include z-depth(2);
      z-index: 1;
      transition: box-shadow 200ms ease-in;
    }

    &:active {
      @include z-depth(1);
      transition: box-shadow 200ms ease-in;
    }

    &:before {
      margin: 0.25rem 0.5rem 0.25rem 0.25rem;
      align-self: center;
      background: transparent;
      border: 2px solid $color-unselected;
      flex-shrink: 0;
      position: static;
      height: 2rem;
      width: 2rem;
      background-size: 0;
      transition: background-size 50ms ease-in;
    }

    &:hover:before {
      background: url('data:image/svg+xml;utf8,
                    <svg width="24" viewBox="629 458 16 12" xmlns="http://www.w3.org/2000/svg">
                      <path fill="#{str-replace(quote($color-unselected), '#', '%23')}" fill-rule="evenodd" d="M641.992 458.395l-6.978 6.978-3.006-3.023-2.25 2.232 5.256 5.273 9.228-9.228z"/>
                    </svg>'
                  ) no-repeat;
      background-size: 24px;
      background-position: center center;
      background-repeat: no-repeat;
      transition: color 200ms ease-in,
                  box-shadow 200ms ease-in,
                  background-image 200ms ease-in,
                  background-size 50ms ease-in;
    }
  }

  input[type=radio]:checked + label {
    border: 2px solid $color-selected;
    transition: box-shadow 200ms ease-in;

    &:before {
      border-color: transparent;
      background: url('data:image/svg+xml;utf8,
                    <svg width="24" viewBox="629 458 16 12" xmlns="http://www.w3.org/2000/svg">
                      <path fill="#{str-replace(quote(color(white)), '#', '%23')}" fill-rule="evenodd" d="M641.992 458.395l-6.978 6.978-3.006-3.023-2.25 2.232 5.256 5.273 9.228-9.228z"/>
                    </svg>'
                  ) no-repeat,
                  $color-selected;
      background-position: center center;
      background-repeat: no-repeat;
      transition: background-color 200ms ease-in,
                  border 200ms ease-in;
    }
  }
}
