ul.radio-group
  li
    input#option-1(type='radio', name='radio-buttons')
    label(for='option-1') Our stately deer have some fine art
  li
    input#option-2(type='radio', name='radio-buttons')
    label(for='option-2') Edged in multiples on our floor coverings
  li
    input#option-3(type='radio', name='radio-buttons')
    label(for='option-3') Named after a home to your interior designer's dream
