#-- TEMP CHANGES TO GITIGNORE FOR DEPLOYMENT --
README.md
deploy*
gulpfile.js
package.json
rocketbelt/**/*
templates/**/*

# ====================================================
# Ignore component symlinks (but not site-specific JS)
# ====================================================
templates/components/**/_*.jade
templates/components/**/*.js
templates/components/**/*.svg
templates/base/**/_*.jade
templates/base/**/*.js
templates/base/**/*.json
templates/creative/**/_*.jade
templates/creative/**/*.js
templates/creative/**/*.json

# ===========================================================================
# Ignore feature detection since it's generated & could change on every build
# ===========================================================================
rocketbelt/base/feature-detection/rocketbelt.feature-detection.js

# =========================
docs/
dist/
node_modules/
*.bak
logs/*
*.log
npm-debug.log
!.gitkeep
tmp
.sass-cache/
.npm
.grunt

# Mac desktop service store files
.DS_Store

# Jetbrains project files
**/.idea/workspace.xml
**/.idea/tasks.xml

# =========================
# Windows detritus
# =========================

# Windows image file caches
[Tt]humbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
