$brand-blue: #0a689d;
$gray: mix(#a11622, #808080, 5%);
$primary: mix(scale-color($brand-blue, $lightness: 20%), gray, 95%);

$base-families: (
  brand: $brand-blue,
  sale: #a21f35,
  primary: $primary,
  secondary: adjust-hue($primary, -30),
  accent: adjust-hue($primary, 60),
  gray: $gray,
  success: #00b575,
  warning: #ffc300,
  error: #d51c31,
  info: $brand-blue,
  black: mix(#a11622, #000, 2%),
  white: mix(#a11622, #fff, 1%)
);

$base-variants: (
  base: 0,
  lighter: 0.4,
  lightest: 0.8,
  darker: -0.2,
  darkest: -0.5
);

$gray-variants: (
  base: 0,
  plus1: 0.2,
  plus2: 0.4,
  plus3: 0.6,
  plus4: 0.8,
  plus5: 0.9,
  minus1: -0.2,
  minus2: -0.4,
);

$black-white-variants: (base: 0);

@function build-families() {
  $families: ();

  @each $family, $color in $base-families {
    $variants: ();

    $v: if($family == gray, $gray-variants,
          if($family == black or $family == white, $black-white-variants,
          $base-variants)
        );

    @each $variant, $percentage in $v {
      $variants: map-merge($variants, (#{$variant}: scale-color($color, $lightness: percentage($percentage))));
    }

    $families: map-merge($families, (#{$family}: $variants));
  }

  @return $families;
}

$color-families: build-families();
