%button-static-props {
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: font-weight(light);
  cursor: default;
  transition: all 100ms ease();

  &:focus {
    outline: 0;
  }
}


.button {
  @include button-size(md);
}

.button-primary {
  @include button-style;
  @include button-inset(primary);
}

.button-secondary {
  @include button-style(secondary);
  @include button-inset(secondary);
}

.button-text {
  @include button-style(text);
  cursor: pointer;
}

.button-sm {
  @include button-size(sm);
}

.button-md {
  @include button-size(md);
}

.button-lg {
  @include button-size(lg);
}

.button-block {
  display: block;
  width: 100%;
  box-shadow: none;
}
