.button-tertiary {
  $button-color: color(brand, deepBlue);
  $button-color-light: scale-color($button-color, $lightness: 25%);

  border: 2px solid $button-color;
  box-shadow: none;
  color: $button-color;

  &:not([disabled]) {
    &:hover {
      border: 2px solid $button-color-light;
      background-color: rgba($button-color-light, 0.06);
      box-shadow: none;
      color: $button-color-light;
    }

    &:active {
      border: 2px solid $button-color;
      background-color: color(white);
      box-shadow: none;
      color: $button-color;
    }
  }
}
