button.button-lg.button-alternate Alternate
button.button-lg.button-alternate(disabled) Disabled
button.button-md.button-alternate Medium
button.button-sm.button-alternate Small
button.button-mini.button-alternate Mini

