a.button.button-lg.button-primary(href='#', role='button') Anchor Button
a.button(disabled, href='#', role='button').button-lg.button-primary Disabled
a.button(href='#', role='button') Anchor Button
a.button.button-sm.button-primary(href='#', role='button') Anchor Button
