a.button.button-lg.button-primary(href='#', role='button') Anchor Button
a.button(disabled, href='#', role='button').button-lg.button-primary Disabled
a.button(href='#', role='button') Medium Anchor
a.button.button-sm.button-primary(href='#', role='button') Small Anchor
a.button.button-mini.button-primary(href='#', role='button') Mini Anchor
