%button-static-props {
  text-transform: uppercase;
  font-weight: font-weight(light);
  letter-spacing: 0.1rem;
  border-radius: 2px;
  border: none;
  cursor: default;
  transition: all 100ms ease();

  &:focus {
    outline: 0;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
    filter: grayscale(40%);
  }
}

.button {
  @include button-size(md);
}

.button-primary {
  @include button-style;
  @include button-inset(primary);
}

.button-secondary {
  @include button-style(secondary);
  @include button-inset(secondary);
}

.button-text {
  @include button-style(text);
  cursor: pointer;
}

.button-sm {
  @include button-size(sm);
}

.button-md {
  @include button-size(md);
}

.button-lg {
  @include button-size(lg);
}

.button-block {
  box-shadow: none;
  display: block;
  width: 100%;
}
