%button-static-props {
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: font-weight(demi);
  cursor: default;
  transition: color 100ms ease(),
              border 100ms ease(),
              background 100ms ease();

  @include button-shadow;

  &:focus {
    outline: 0;
  }
}

.button,
.button-primary {
  @include button-size(md);
  @include button-style(primary);
}

.button-secondary {
  @include button-style(secondary);
}

.button-text {
  @include button-style(text);
  cursor: pointer;

  &,
  &:hover,
  &:active {
    background: transparent;
    box-shadow: none;
  }
}

.button-busy {
  @include button-style(busy);
}

.button-sm {
  @include button-size(sm);
}

.button-md {
  @include button-size(md);
}

.button-lg {
  @include button-size(lg);
}

.button-block {
  display: block;
  width: 100%;

  &:active {
    background: rgba(color(gray, plus4), 0.6);
    transition: background 100ms ease();
  }

  &,
  &:active,
  &:hover {
    box-shadow: none;
  }
}

.button,
.button-primary,
.button-secondary,
.button-text,
.button-block {
  &[disabled] {
    box-shadow: none;

    &:active,
    &:hover {
      box-shadow: none;
    }
  }
}

@keyframes spin {
  0%   { transform: rotate(0deg); }
  
  100% { transform: rotate(360deg); }
}
