button.button-lg.button-tertiary Alternate
button.button-lg.button-tertiary(disabled) Disabled
button.button-md.button-tertiary Medium
button.button-sm.button-tertiary Small
button.button-mini.button-tertiary Mini

