a.button-lg.button-primary(href='#', role='button') Anchor Button
a(disabled, href='#', role='button').button-lg.button-primary Disabled
a.button(href='#', role='button') Anchor Button
a.button-sm.button-primary(href='#', role='button') Anchor Button
