button.button-lg.button-link Link Button
button(disabled).button-lg.button-link Disabled
button.button-md.button-link Medium Link
button.button-sm.button-link Small Link
button.button-mini.button-link Mini Link
