button.button-lg.button-primary.button-dynamic(data-busy-text='Adding to Basket') Add to Basket
button.button.button-primary.button-dynamic Medium
button.button-sm.button-primary.button-dynamic Small
button.button-mini.button-primary.button-dynamic Mini
