.tag.tag-primary.rb-badge.rb-badge-a11y
  span.text-with-icon Be an &nbsp;#[code a11y]
    //- svg.icon.icon-left(aria-hidden='true')
    //-   use(xlink:href='/components/icons/rocketbelt.icons.enterprise.svg#rb-icon-a11y')
