.tag.rb-badge.rb-badge-toolbelt
  span.text-with-icon Toolbelt
    //- svg.icon.icon-left(aria-hidden='true')
    //-   use(xlink:href='/components/icons/rocketbelt.icons.enterprise.svg#rb-icon-wrench')
