extends /_layout.jade

block vars
  - var title = 'Sale Sticker'

block content
  article
    :md
      # Sale Sticker

    .grid-fluid
      .row
        .col.xs-6.background
          :md
            # Sans-serif
          +exampleWithCode
            include _sale-sticker-sans
        .col.xs-6.background
          :md
            # Serif
          +exampleWithCode
            include _sale-sticker-serif

block scripts 
  script.
    rb.launchPlayground();



