extends /_layout.pug

block vars
  - var title = 'Forms'

block content
  article
    h1 Forms
    h2 Accessibility
    +exampleWithCode('Javascript Include')
      script(src='./rocketbelt.a11y.forms.js')

    h2 Standard Form Elements
    .grid-fluid
      .row
        .col.xs-8.md-6.lg-4
          include _forms-basic.pug
    .row
      .col.xs
        +exampleCodeOnly
          include _forms-basic.pug

    //- h2 Sized Form Elements
    //- .grid-fluid
    //-   .row
    //-     .col.xs-8.md-6.lg-4
    //-       include _forms-sized.pug
    //-   .row
    //-     .col.xs
    //-       +exampleCodeOnly
    //-         include _forms-sized.pug

    h2 Helper Text
    .grid-fluid
      .row
        .col.xs-8.md-6.lg-4
          include _forms-helper-text.pug
      .row
        .col.xs
          +exampleCodeOnly
            include _forms-helper-text.pug

    h2 Required &amp; Optional Fields
    .grid-fluid
      .row
        .col.xs-8.md-6.lg-4
          include _forms-required-and-optional.pug
      .row
        .col.xs
          +exampleCodeOnly
            include _forms-required-and-optional.pug

    h2 Inline Fields
    .grid-fluid
      .row
        .col.xs-8.md-6.lg-4
          include _forms-inline.pug
      .row
        .col.xs
          +exampleCodeOnly
            include _forms-inline.pug

    h2 Inline With Button
    grid-fluid
      .row
        .col.xs-8.md-6.lg-4
          +exampleWithCode
            .form-group.inline.inline-with-button
              input#inline-with-button
              label.visually-hidden(for='inline-with-button') Search
              button.button Go

    h2 Disabled Styles
    .grid-fluid
      .row
        .col.xs-8.md-6.lg-4
          include _forms-disabled.pug
      .row
        .col.xs
          +exampleCodeOnly
            include _forms-disabled.pug

    h2 Invalid Styles
    .grid-fluid
      .row
        .col.xs-8.md-6.lg-4
          include _forms-invalid.pug
      .row
        .col.xs
          +exampleCodeOnly
            include _forms-invalid.pug

    h2 Read Only Styles
    .grid-fluid
      .row
        .col.xs-8.md-6.lg-4
          include _forms-read-only.pug
      .row
        .col.xs
          +exampleCodeOnly
            include _forms-read-only.pug
