<!DOCTYPE html>
<html>
  <head>
    <title>Buttons | Slipway Pattern Library</title>
    <link rel="stylesheet" href="/slipway/css/site.min.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  </head>
  <body class="grid-fluid">
    <div style="flex-wrap: nowrap;" class="row">
      <nav style="flex-grow: 0;" class="col xs">
        <ul class="list-reset">
          <li><a href="/slipway/base">Base</a>
            <ul class="list-reset">
              <li><a href="/slipway/base/breakpoints">Breakpoints</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/base/color">Color</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/base/grid">Grid</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/base/layout">Layout</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/base/slipsum">Slipsum</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/base/typography">Typography</a>
                <ul class="list-reset">
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="/slipway/components">Components</a>
            <ul class="list-reset">
              <li><a href="/slipway/components/alerts">Alerts</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/components/expanders">Expanders</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/components/busy-indicators">Busy Indicators</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/components/buttons">Buttons</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/components/cards">Cards</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/components/forms">Forms</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/components/images">Images</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/components/modals">Modals</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/components/radio-buttons">Radio Buttons</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/components/tabcordions">Tabcordions</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/components/tooltips">Tooltips</a>
                <ul class="list-reset">
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="/slipway/exposition">Exposition</a>
            <ul class="list-reset">
            </ul>
          </li>
        </ul>
      </nav>
      <div class="col xs">
        <main class="grid-fluid no-margin">
          <div class="row">
            <div class="col xs">
              <article><h1 id="buttons">Buttons</h1>
<h2 id="primary">Primary</h2>

                <div class="grid-fluid">
                  <div class="row">
                    <div class="col xs">
                      <div class="exampleWithCode">
                        <div class="example">
                          <button class="button-lg button-primary">Primary</button>
                          <button class="button-lg button-primary button-inset">Inset</button>
                          <button disabled class="button-lg button-primary">Disabled</button>
                          <button disabled class="button-lg button-primary button-inset">Disabled</button>
                          <button class="button-md button-primary">Primary</button>
                          <button class="button-md button-primary button-inset">Inset</button>
                          <button class="button-sm button-primary">Primary</button>
                          <button class="button-sm button-primary button-inset">Inset</button>
                        </div>
                        <div class="expander">
                          <input type="checkbox" id="r14m2C-yJx" class="expander_checkbox"/>
                          <label for="r14m2C-yJx" data-collapsed-label="Show HTML" data-expanded-label="Hide HTML" class="expander_label"><span class="expander_icon"></span></label>
                          <div class="expander_content">
                            <div class="example-code">
                              <button data-clipboard-target="#rJmQnR-J1e" class="copy-code">Copy</button>
                              <pre><code id="rJmQnR-J1e" class="language-html">
                                  &lt;button class=&quot;button-lg button-primary&quot;&gt;Primary&lt;/button&gt;
                                  &lt;button class=&quot;button-lg button-primary button-inset&quot;&gt;Inset&lt;/button&gt;
                                  &lt;button disabled class=&quot;button-lg button-primary&quot;&gt;Disabled&lt;/button&gt;
                                  &lt;button disabled class=&quot;button-lg button-primary button-inset&quot;&gt;Disabled&lt;/button&gt;
                                  &lt;button class=&quot;button-md button-primary&quot;&gt;Primary&lt;/button&gt;
                                  &lt;button class=&quot;button-md button-primary button-inset&quot;&gt;Inset&lt;/button&gt;
                                  &lt;button class=&quot;button-sm button-primary&quot;&gt;Primary&lt;/button&gt;
                                  &lt;button class=&quot;button-sm button-primary button-inset&quot;&gt;Inset&lt;/button&gt;</code></pre>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><h2 id="secondary">Secondary</h2>

                <div class="grid-fluid">
                  <div class="row">
                    <div class="col xs">
                      <div class="exampleWithCode">
                        <div class="example">
                          <button class="button-lg button-secondary">Secondary</button>
                          <button class="button-lg button-secondary button-inset">Inset</button>
                          <button disabled class="button-lg button-secondary button-disabled">Disabled</button>
                          <button disabled class="button-lg button-secondary button-inset button-disabled">Disabled</button>
                          <button class="button-md button-secondary">Secondary</button>
                          <button class="button-md button-secondary button-inset">Inset</button>
                          <button class="button-sm button-secondary">Secondary</button>
                          <button class="button-sm button-secondary button-inset">Inset</button>
                        </div>
                        <div class="expander">
                          <input type="checkbox" id="B18QhCZyyl" class="expander_checkbox"/>
                          <label for="B18QhCZyyl" data-collapsed-label="Show HTML" data-expanded-label="Hide HTML" class="expander_label"><span class="expander_icon"></span></label>
                          <div class="expander_content">
                            <div class="example-code">
                              <button data-clipboard-target="#SyHXn0byJg" class="copy-code">Copy</button>
                              <pre><code id="SyHXn0byJg" class="language-html">
                                  &lt;button class=&quot;button-lg button-secondary&quot;&gt;Secondary&lt;/button&gt;
                                  &lt;button class=&quot;button-lg button-secondary button-inset&quot;&gt;Inset&lt;/button&gt;
                                  &lt;button disabled class=&quot;button-lg button-secondary button-disabled&quot;&gt;Disabled&lt;/button&gt;
                                  &lt;button disabled class=&quot;button-lg button-secondary button-inset button-disabled&quot;&gt;Disabled&lt;/button&gt;
                                  &lt;button class=&quot;button-md button-secondary&quot;&gt;Secondary&lt;/button&gt;
                                  &lt;button class=&quot;button-md button-secondary button-inset&quot;&gt;Inset&lt;/button&gt;
                                  &lt;button class=&quot;button-sm button-secondary&quot;&gt;Secondary&lt;/button&gt;
                                  &lt;button class=&quot;button-sm button-secondary button-inset&quot;&gt;Inset&lt;/button&gt;</code></pre>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><h2 id="text">Text</h2>

                <div class="grid-fluid">
                  <div class="row">
                    <div class="col xs">
                      <div class="exampleWithCode">
                        <div class="example">
                          <button class="button-lg button-text">Text Button</button>
                          <button disabled class="button-lg button-text">Disabled</button>
                          <button class="button-md button-text">Text Button</button>
                          <button class="button-sm button-text">Text Button</button>
                        </div>
                        <div class="expander">
                          <input type="checkbox" id="SJ_Xn0ZJye" class="expander_checkbox"/>
                          <label for="SJ_Xn0ZJye" data-collapsed-label="Show HTML" data-expanded-label="Hide HTML" class="expander_label"><span class="expander_icon"></span></label>
                          <div class="expander_content">
                            <div class="example-code">
                              <button data-clipboard-target="#HkPQhCbkJg" class="copy-code">Copy</button>
                              <pre><code id="HkPQhCbkJg" class="language-html">
                                  &lt;button class=&quot;button-lg button-text&quot;&gt;Text Button&lt;/button&gt;
                                  &lt;button disabled class=&quot;button-lg button-text&quot;&gt;Disabled&lt;/button&gt;
                                  &lt;button class=&quot;button-md button-text&quot;&gt;Text Button&lt;/button&gt;
                                  &lt;button class=&quot;button-sm button-text&quot;&gt;Text Button&lt;/button&gt;</code></pre>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><h2 id="block">Block</h2>

                <div class="exampleWithCode">
                  <div class="example">
                    <div class="grid-fluid">
                      <div class="row">
                        <div class="col xs-12 md-6">
                          <button class="button-lg button-secondary button-block">Block</button>
                        </div>
                        <div class="col xs-12 md-6">
                          <button class="button-lg button-primary button-block">Block</button>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col xs-12 md-6">
                          <button class="button-md button-secondary button-block">Block</button>
                        </div>
                        <div class="col xs-12 md-6">
                          <button class="button-md button-primary button-block">Block</button>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col xs-12 md-6">
                          <button class="button-sm button-secondary button-block">Block</button>
                        </div>
                        <div class="col xs-12 md-6">
                          <button class="button-sm button-primary button-block">Block</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="expander">
                    <input type="checkbox" id="r15730Z1ye" class="expander_checkbox"/>
                    <label for="r15730Z1ye" data-collapsed-label="Show HTML" data-expanded-label="Hide HTML" class="expander_label"><span class="expander_icon"></span></label>
                    <div class="expander_content">
                      <div class="example-code">
                        <button data-clipboard-target="#r1t720W11x" class="copy-code">Copy</button>
                        <pre><code id="r1t720W11x" class="language-html">
                            &lt;div class=&quot;grid-fluid&quot;&gt;
                              &lt;div class=&quot;row&quot;&gt;
                                &lt;div class=&quot;col xs-12 md-6&quot;&gt;
                                  &lt;button class=&quot;button-lg button-secondary button-block&quot;&gt;Block&lt;/button&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;col xs-12 md-6&quot;&gt;
                                  &lt;button class=&quot;button-lg button-primary button-block&quot;&gt;Block&lt;/button&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                              &lt;div class=&quot;row&quot;&gt;
                                &lt;div class=&quot;col xs-12 md-6&quot;&gt;
                                  &lt;button class=&quot;button-md button-secondary button-block&quot;&gt;Block&lt;/button&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;col xs-12 md-6&quot;&gt;
                                  &lt;button class=&quot;button-md button-primary button-block&quot;&gt;Block&lt;/button&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                              &lt;div class=&quot;row&quot;&gt;
                                &lt;div class=&quot;col xs-12 md-6&quot;&gt;
                                  &lt;button class=&quot;button-sm button-secondary button-block&quot;&gt;Block&lt;/button&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;col xs-12 md-6&quot;&gt;
                                  &lt;button class=&quot;button-sm button-primary button-block&quot;&gt;Block&lt;/button&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                            &lt;/div&gt;</code></pre>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script src="/slipway/js/prism.js"></script>
    <script src="/slipway/js/clipboard.min.js"></script>
    <script src="/slipway/js/site.js"></script>
  </body>
</html>