<!DOCTYPE html>
<html>
  <head>
    <title>Buttons | Rocketbelt Pattern Library</title>
    <link rel="stylesheet" href="../../css/site.min.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  </head>
  <body class="grid-fluid">
    <div style="flex-wrap: nowrap;" class="row">
      <nav style="flex-grow: 0;" class="col xs">
        <ul class="list-reset">
          <li><a href="../../base">Base</a>
            <ul class="list-reset">
              <li><a href="../../base/breakpoints">Breakpoints</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="../../base/color">Color</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="../../base/grid">Grid</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="../../base/layout">Layout</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="../../base/slipsum">Slipsum</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="../../base/typography">Typography</a>
                <ul class="list-reset">
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="../../components">Components</a>
            <ul class="list-reset">
              <li><a href="../../components/forms">Forms</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="../../components/alerts">Alerts</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="../../components/busy-indicators">Busy Indicators</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="../../components/buttons">Buttons</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="../../components/cards">Cards</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="../../components/expanders">Expanders</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="../../components/images">Images</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="../../components/modals">Modals</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="../../components/radio-buttons">Radio Buttons</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="../../components/tabcordions">Tabcordions</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="../../components/tooltips">Tooltips</a>
                <ul class="list-reset">
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="../../exposition">Exposition</a>
            <ul class="list-reset">
            </ul>
          </li>
        </ul>
      </nav>
      <div class="col xs">
        <main class="grid-fluid no-margin">
          <div class="row">
            <div class="col xs">
              <article><h1 id="buttons">Buttons</h1>
<h2 id="primary">Primary</h2>

                <div class="grid-fluid">
                  <div class="row">
                    <div class="col xs">
                      <div class="exampleWithCode">
                        <div class="example">
                          <button class="button-lg button-primary">Primary</button>
                          <button class="button-lg button-primary button-inset">Inset</button>
                          <button disabled class="button-lg button-primary">Disabled</button>
                          <button disabled class="button-lg button-primary button-inset">Disabled</button>
                          <button class="button-md button-primary">Primary</button>
                          <button class="button-md button-primary button-inset">Inset</button>
                          <button class="button-sm button-primary">Primary</button>
                          <button class="button-sm button-primary button-inset">Inset</button>
                        </div>
                        <div class="expander">
                          <input type="checkbox" id="Zi8tuv" class="expander_checkbox"/>
                          <label for="Zi8tuv" data-collapsed-label="Show HTML" data-expanded-label="Hide HTML" class="expander_label"><span class="expander_icon"></span></label>
                          <div class="expander_content">
                            <div class="example-code">
                              <button data-clipboard-target="#Z20Cu0b" class="copy-code">Copy</button>
                              <pre><code id="Z20Cu0b" class="language-html">
                                  &lt;button class=&quot;button-lg button-primary&quot;&gt;Primary&lt;/button&gt;
                                  &lt;button class=&quot;button-lg button-primary button-inset&quot;&gt;Inset&lt;/button&gt;
                                  &lt;button disabled class=&quot;button-lg button-primary&quot;&gt;Disabled&lt;/button&gt;
                                  &lt;button disabled class=&quot;button-lg button-primary button-inset&quot;&gt;Disabled&lt;/button&gt;
                                  &lt;button class=&quot;button-md button-primary&quot;&gt;Primary&lt;/button&gt;
                                  &lt;button class=&quot;button-md button-primary button-inset&quot;&gt;Inset&lt;/button&gt;
                                  &lt;button class=&quot;button-sm button-primary&quot;&gt;Primary&lt;/button&gt;
                                  &lt;button class=&quot;button-sm button-primary button-inset&quot;&gt;Inset&lt;/button&gt;</code></pre>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><h2 id="secondary">Secondary</h2>

                <div class="grid-fluid">
                  <div class="row">
                    <div class="col xs">
                      <div class="exampleWithCode">
                        <div class="example">
                          <button class="button-lg button-secondary">Secondary</button>
                          <button class="button-lg button-secondary button-inset">Inset</button>
                          <button disabled class="button-lg button-secondary button-disabled">Disabled</button>
                          <button disabled class="button-lg button-secondary button-inset button-disabled">Disabled</button>
                          <button class="button-md button-secondary">Secondary</button>
                          <button class="button-md button-secondary button-inset">Inset</button>
                          <button class="button-sm button-secondary">Secondary</button>
                          <button class="button-sm button-secondary button-inset">Inset</button>
                        </div>
                        <div class="expander">
                          <input type="checkbox" id="1LlpCx" class="expander_checkbox"/>
                          <label for="1LlpCx" data-collapsed-label="Show HTML" data-expanded-label="Hide HTML" class="expander_label"><span class="expander_icon"></span></label>
                          <div class="expander_content">
                            <div class="example-code">
                              <button data-clipboard-target="#1fi8jk" class="copy-code">Copy</button>
                              <pre><code id="1fi8jk" class="language-html">
                                  &lt;button class=&quot;button-lg button-secondary&quot;&gt;Secondary&lt;/button&gt;
                                  &lt;button class=&quot;button-lg button-secondary button-inset&quot;&gt;Inset&lt;/button&gt;
                                  &lt;button disabled class=&quot;button-lg button-secondary button-disabled&quot;&gt;Disabled&lt;/button&gt;
                                  &lt;button disabled class=&quot;button-lg button-secondary button-inset button-disabled&quot;&gt;Disabled&lt;/button&gt;
                                  &lt;button class=&quot;button-md button-secondary&quot;&gt;Secondary&lt;/button&gt;
                                  &lt;button class=&quot;button-md button-secondary button-inset&quot;&gt;Inset&lt;/button&gt;
                                  &lt;button class=&quot;button-sm button-secondary&quot;&gt;Secondary&lt;/button&gt;
                                  &lt;button class=&quot;button-sm button-secondary button-inset&quot;&gt;Inset&lt;/button&gt;</code></pre>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><h2 id="text">Text</h2>

                <div class="grid-fluid">
                  <div class="row">
                    <div class="col xs">
                      <div class="exampleWithCode">
                        <div class="example">
                          <button class="button-lg button-text">Text Button</button>
                          <button disabled class="button-lg button-text">Disabled</button>
                          <button class="button-md button-text">Text Button</button>
                          <button class="button-sm button-text">Text Button</button>
                        </div>
                        <div class="expander">
                          <input type="checkbox" id="Zk74Qt" class="expander_checkbox"/>
                          <label for="Zk74Qt" data-collapsed-label="Show HTML" data-expanded-label="Hide HTML" class="expander_label"><span class="expander_icon"></span></label>
                          <div class="expander_content">
                            <div class="example-code">
                              <button data-clipboard-target="#Z11NxrR" class="copy-code">Copy</button>
                              <pre><code id="Z11NxrR" class="language-html">
                                  &lt;button class=&quot;button-lg button-text&quot;&gt;Text Button&lt;/button&gt;
                                  &lt;button disabled class=&quot;button-lg button-text&quot;&gt;Disabled&lt;/button&gt;
                                  &lt;button class=&quot;button-md button-text&quot;&gt;Text Button&lt;/button&gt;
                                  &lt;button class=&quot;button-sm button-text&quot;&gt;Text Button&lt;/button&gt;</code></pre>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><h2 id="block">Block</h2>

                <div class="exampleWithCode">
                  <div class="example">
                    <div class="grid-fluid">
                      <div class="row">
                        <div class="col xs-12 md-6">
                          <button class="button-lg button-secondary button-block">Block</button>
                        </div>
                        <div class="col xs-12 md-6">
                          <button class="button-lg button-primary button-block">Block</button>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col xs-12 md-6">
                          <button class="button-md button-secondary button-block">Block</button>
                        </div>
                        <div class="col xs-12 md-6">
                          <button class="button-md button-primary button-block">Block</button>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col xs-12 md-6">
                          <button class="button-sm button-secondary button-block">Block</button>
                        </div>
                        <div class="col xs-12 md-6">
                          <button class="button-sm button-primary button-block">Block</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="expander">
                    <input type="checkbox" id="6L8lD" class="expander_checkbox"/>
                    <label for="6L8lD" data-collapsed-label="Show HTML" data-expanded-label="Hide HTML" class="expander_label"><span class="expander_icon"></span></label>
                    <div class="expander_content">
                      <div class="example-code">
                        <button data-clipboard-target="#cM3Um" class="copy-code">Copy</button>
                        <pre><code id="cM3Um" class="language-html">
                            &lt;div class=&quot;grid-fluid&quot;&gt;
                              &lt;div class=&quot;row&quot;&gt;
                                &lt;div class=&quot;col xs-12 md-6&quot;&gt;
                                  &lt;button class=&quot;button-lg button-secondary button-block&quot;&gt;Block&lt;/button&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;col xs-12 md-6&quot;&gt;
                                  &lt;button class=&quot;button-lg button-primary button-block&quot;&gt;Block&lt;/button&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                              &lt;div class=&quot;row&quot;&gt;
                                &lt;div class=&quot;col xs-12 md-6&quot;&gt;
                                  &lt;button class=&quot;button-md button-secondary button-block&quot;&gt;Block&lt;/button&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;col xs-12 md-6&quot;&gt;
                                  &lt;button class=&quot;button-md button-primary button-block&quot;&gt;Block&lt;/button&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                              &lt;div class=&quot;row&quot;&gt;
                                &lt;div class=&quot;col xs-12 md-6&quot;&gt;
                                  &lt;button class=&quot;button-sm button-secondary button-block&quot;&gt;Block&lt;/button&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;col xs-12 md-6&quot;&gt;
                                  &lt;button class=&quot;button-sm button-primary button-block&quot;&gt;Block&lt;/button&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                            &lt;/div&gt;</code></pre>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script src="../../js/prism.js"></script>
    <script src="../../js/clipboard.min.js"></script>
    <script src="../../js/site.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-1740251-3', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>