extends /_layout.pug

block vars
  - var title = 'Busy Indicators'

block content
  article
    h1 Busy Indicators
    h2 Component-Level
    h3 "Is Busyable"
    p.
      Whenever possible, add the #[code is-busyable] class to the container that wraps components that may be marked as busy. This will maximize performance by greatly narrowing the scope of DOM elements that will be watched by a #[code MutationObserver]. If no element matches #[code .is-busyable], the observer will be registered against #[code body].
    h3 Custom Sizing
    p.
      If a large component needs to indicate a busy state, supply a custom rule that targets the #[code font-size] of #[code .is-busy_overlay]. (This element is created &amp; managed via Javascript.) Be sure to use Rocketbelt's #[code font-size()] function!
    p For example:
    +exampleCodeOnly('CSS', true, true)
      | #component-wrapper .is-busy_overlay {
      |   font-size: font-size(3);
      | }
    h3 Script Include
    +exampleWithCode('JS', true, true)
      script(src='./rocketbelt.progress-indicators.min.js')
    h3 Examples
    include _busy-indicators-component.pug

    h2 Page-Level
    +exampleWithCode
      .form-group.is-busyable.is-busyable-page(style='width: 100%;')
        textarea#busy-large.is-busy_trigger(placeholder='Blur the textarea to trigger a busy state.', style='height: 50rem;')
        label(for='busy-large') Message
