extends /_layout.pug

block vars
  - var title = 'Busy Indicators'

block content
  article
    h1 Busy Indicators
    h2 Dots
    .grid-fluid
      .row
        .col.xs
          +exampleWithCode
            include _busy-indicators-dots.pug

    h2 Spinner
    .grid-fluid
      .row
        .col.xs
          +exampleWithCode
            include _busy-indicators-spinners.pug
