extends /_layout.pug

block vars
  - var title = 'Animation'

block content
  article.grid-article
    h1 Animation

    h2 Slide & Fade
    +exampleWithCode
      button.toggle.button Toggle rbAnim_slide-and-fade
      .slide-and-fade-example.rbAnim_animatable
        .contents.rbAnim_fadable
          ul
            each i in [1, 2, 3, 4]
              li= `${i}`
      script.
        $('.toggle').on('click', () => {
          $('.slide-and-fade-example').toggleClass('rbAnim_slide-and-fade');
        });