.tag default
.tag.tag-subtle subtle
.tag.tag-success success
.tag.tag-warning warning
.tag.tag-error error
.tag.tag-sale sale
.tag.tag-primary primary
.tag.tag-secondary secondary
.tag.tag-accent accent