ul.radio-group.radio-group-segmented
  li
    input#segment-1(type='radio', name='segmented-control', value='Parsons')
    label(for='segment-1') Parsons
  li
    input#segment-2(type='radio', name='segmented-control', value='Ronan')
    label(for='segment-2') Ronan
  li
    input#segment-3(type='radio', name='segmented-control', value='Marchella')
    label(for='segment-3') Marchella
  li
    input#segment-4(type='radio', name='segmented-control', value='Torrance')
    label(for='segment-4') Torrance
