.radio-group {
  &.radio-group-chunky {
    $color-selected: color(primary);
    $color-unselected: color(gray, plus3);

    li {
      display: flex;
    }

    input {
      &[type='radio'] + label {
        z-index: 0;
        display: flex;
        padding: 0.5rem;
        width: 100%;
        border: 2px solid transparent;
        transition: box-shadow 200ms ease-in;
        @include z-depth(0);

        &:hover {
          z-index: 1;
          transition: box-shadow 200ms ease-in;
          @include z-depth(2);
        }

        &:active {
          transition: box-shadow 200ms ease-in;
          @include z-depth(1);
        }

        &::before {
          position: static;
          margin: 0.25rem 0.5rem 0.25rem 0.25rem;
          width: 2rem;
          height: 2rem;
          border: 2px solid $color-unselected;
          background: transparent;
          background-size: 0;
          transition: background-size 50ms ease-in;
          align-self: center;
          flex-shrink: 0;
        }

        &:hover::before {
          $color-fill: $color-unselected;
          background-image: icon-as-data-uri(check, $color-fill);
          background-position: center center;
          background-size: 24px;
          background-repeat: no-repeat;
          transition: color 200ms ease-in, box-shadow 200ms ease-in, background-image 200ms ease-in;
        }
      }

      &[type='radio']:checked + label {
        border: 2px solid $color-selected;
        transition: box-shadow 200ms ease-in;

        &::before {
          $color-fill: color(white);
          border-color: transparent;
          background-color: $color-selected;
          background-image: icon-as-data-uri(check, $color-fill);
          background-position: center center;
          background-size: 24px;
          background-repeat: no-repeat;
          transition: background-color 200ms ease-in, border 200ms ease-in;
        }
      }
    }
  }

  &.radio-group-chunky.radio-group-chunky-with-header {
    input + label {
      margin-top: 1rem;
      padding: 0;
      border-radius: 4px;
      flex-wrap: wrap;

      &::before {
        margin-left: 0.75rem;
      }
    }

    input[type='radio'] {
      align-self: flex-start;

      &:checked + label .chunky-radio_header {
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
        padding: 0.25rem calc(0.5rem - 2px);
        padding-top: calc(0.25rem - 2px);
        flex-basis: 100%;
      }
    }

    .chunky-radio_header {
      margin-top: -2px;
      margin-right: -2px;
      margin-left: -2px;
      padding: 0.25rem 0.5rem;
      border-bottom: 2px solid color(gray, plus4);
      background: color(gray, plus5);
      flex-basis: calc(100% + 4px);
      order: -1;
    }

    .chunky-radio_body {
      flex: 1;
      padding: 0.5rem 0.5rem 0.5rem 0;
    }
  }
}
