ul.radio-group.radio-group-chunky
  li
    input#chunky-1(type='radio', name='radio-group-chunky')
    label(for='chunky-1')
      | Subtle, simple take flight. Colorful acrylic on the outdoors inside.
      | You're about charming because of harvest-style nostalgia. Featuring a
      | pretty enough for decadent desserts. Our canine companion that enhances
      | its glass tiles.
  li
    input#chunky-2(type='radio', name='radio-group-chunky')
    label(for='chunky-2') 
      | Our mixed-media, hand-painted finish. Plus, it’s filled with other
      | wicked, beautiful display our modular corner or outdoor cushions.
      | Finished with scrolling embroidery and plush chair cushion:
      | Goes-with-anything color.
  li
    input#chunky-3(type='radio', name='radio-group-chunky')
    label(for='chunky-3')
      | Plus, it’s filled with other wicked, beautiful display our modular
      | corner or outdoor cushions. Finished with scrolling embroidery and
      | plush chair cushion: Goes-with-anything color. Turkey’s exotic touch of
      | our Fruitasan.
