.radio-group {
  &.radio-group-chunky {
    $color-selected: color(primary);
    $color-unselected: color(gray, plus3);

    li {
      display: flex;
    }

    input {
      &[type='radio'] + label {
        z-index: 0;
        display: flex;
        padding: 0.5rem;
        width: 100%;
        border: 2px solid transparent;
        transition: box-shadow 200ms ease-in;

        @include z-depth(0);

        &:hover {
          z-index: 1;
          transition: box-shadow 200ms ease-in;

          @include z-depth(2);
        }

        &:active {
          transition: box-shadow 200ms ease-in;

          @include z-depth(1);
        }

        &::before {
          position: static;
          margin: 0.25rem 0.5rem 0.25rem 0.25rem;
          width: 2rem;
          height: 2rem;
          border: 2px solid $color-unselected;
          background: transparent;
          background-size: 0;
          transition: background-size 50ms ease-in;

          align-self: center;
          flex-shrink: 0;
        }

        &:hover::before {
          $color-fill: str-replace(quote($color-unselected), '#', '%23');

          background: url('data:image/svg+xml;utf8,
                        <svg width="24" viewBox="629 458 16 12" xmlns="http://www.w3.org/2000/svg">
                          <path fill="#{$color-fill}" fill-rule="evenodd" d="M641.992 458.395l-6.978 6.978-3.006-3.023-2.25 2.232 5.256 5.273 9.228-9.228z"/>
                        </svg>'
                      ) no-repeat;
          background-position: center center;
          background-size: 24px;
          background-repeat: no-repeat;
          transition: color 200ms ease-in,
          box-shadow 200ms ease-in,
          background-image 200ms ease-in,
          background-size 50ms ease-in;
        }
      }

      &[type='radio']:checked + label {
        border: 2px solid $color-selected;
        transition: box-shadow 200ms ease-in;

        &::before {
          $color-fill: str-replace(quote(color(white)), '#', '%23');
          border-color: transparent;
          background: url('data:image/svg+xml;utf8,
                        <svg width="24" viewBox="629 458 16 12" xmlns="http://www.w3.org/2000/svg">
                          <path fill="#{$color-fill}" fill-rule="evenodd" d="M641.992 458.395l-6.978 6.978-3.006-3.023-2.25 2.232 5.256 5.273 9.228-9.228z"/>
                        </svg>'
                      ) no-repeat,
                      $color-selected;
          background-position: center center;
          background-repeat: no-repeat;
          transition: background-color 200ms ease-in,
          border 200ms ease-in;

        }
      }
    }
  }
}
