.checkbox-group,
.radio-group {
  @include list-reset;
}

input {
  &.rb-checkbox[type='checkbox'] ,
  &[type='radio'] {
    @extend %visuallyhidden;

    & + label {
      position: relative;
      padding-left: 1.25rem;
      font-weight: font-weight(normal);
    }

    &[disabled] + label {
      &::before {
        border: 2px solid color(gray, plus4);
        background: color(gray, plus4);
      }
    }
  }

  &[type='radio'] {
    & + label {
      align-self: flex-start;

      &::before {
        position: absolute;
        top: 0.15rem;
        left: 0;
        width: 1rem;
        height: 1rem;
        border: 2px solid color(gray, plus2);
        border-radius: 100%;
        background: color(white);
        content: '';
        transition: border 200ms ease-in, background 200ms ease-in;
      }

      &:hover::before {
        border: 6px solid rgba(color(gray), 0.2);
        background: color(white);
        transition: color 200ms ease-in, background 200ms ease-in;
      }
    }

    &:checked + label {
      &::before {
        border: 6px solid color(primary);
        background: color(white);
        transition: border 200ms ease-in, background 200ms ease-in;
      }
    }

    &[disabled] {
      & + label:hover::before {
        border: none;
        background: color(gray, plus4);
      }

      &[checked] + label {
        &::before {
          border: 6px solid color(gray, plus4);
          background: color(gray, plus2);
        }
      }
    }
  }

  &.rb-checkbox[type='checkbox'] {
    $color-white: color(white);
    $color-selected: color(primary);
    $color-unselected: color(gray, plus3);

    & + label {
      &::before {
        position: absolute;
        top: 0.1rem;
        left: 0;
        width: 1rem;
        height: 1rem;
        border: 2px solid color(gray, plus2);
        border-radius: 2px;
        background: color(white);
        background-position: center center;
        content: '';
        transition: background-color 200ms ease-in;
      }

      &:hover::before {
        $color-fill: $color-white;
        border-color: transparent;
        background-color: $color-unselected;
        background-image: icon-as-data-uri(check, $color-fill);
        background-position: center center;
        background-repeat: no-repeat;
        transition: background-color 100ms ease-in, border-color 100ms ease-in;
      }
    }

    &:checked + label {
      &::before {
        $color-fill: $color-white;
        border-color: transparent;
        background-color: $color-selected;
        background-image: icon-as-data-uri(check, $color-fill);
        background-position: center center;
        background-repeat: no-repeat;
        transition: background-color 100ms ease-in, border-color 100ms ease-in;
      }
    }

    &[disabled] {
      &[checked] + label {
        &::before {
          $color-fill: color(gray, plus2);
          background-color: color(gray, plus4);
          background-image: icon-as-data-uri(check, $color-fill);
          background-position: center center;
          background-repeat: no-repeat;
        }
      }

      &:not([checked]) + label {
        &::before {
          border-color: transparent;
          background: color(gray, plus4);
        }
      }
    }
  }
}
