.radio-group,
.checkbox-group {
  @include list-reset;
}

input {
  &[type='radio'],
  &[type='checkbox'] {
    @extend %visuallyhidden;

    & + label {
      position: relative;
      padding-left: 1.25rem;
      font-weight: font-weight(normal);
    }

    &[disabled] + label {
      &::before {
        border: 2px solid color(gray, plus4);
        background: color(gray, plus4);
      }
    }
  }

  &[type='radio'] {
    & + label {
      align-self: flex-start;

      &::before {
        position: absolute;
        top: 0.15rem;
        left: 0;
        width: 1rem;
        height: 1rem;
        border: 2px solid color(gray, plus2);
        border-radius: 100%;
        background: color(white);
        content: '';
        transition: border 200ms ease-in, background 200ms ease-in;
      }

      &:hover::before {
        border: 6px solid rgba(color(gray), 0.2);
        background: color(white);
        transition: color 200ms ease-in,
        background 200ms ease-in;
      }
    }

    &:checked + label {
      &::before {
        border: 6px solid color(primary);
        background: color(white);
        transition: border 200ms ease-in,
        background 200ms ease-in;
      }
    }

    &[disabled] {
      & + label:hover::before {
        border: none;
        background: color(gray, plus4);
      }

      &[checked] + label {
        &::before {
          border: 6px solid color(gray, plus4);
          background: color(gray, plus2);
        }
      }
    }
  }

  &[type='checkbox'] {
    $color-white: color(white);
    $color-selected: color(primary);
    $color-unselected: color(gray, plus3);

    & + label {
      &::before {
        position: absolute;
        top: 0.1rem;
        left: 0;
        width: 1rem;
        height: 1rem;
        border: 2px solid color(gray, plus2);
        border-radius: 2px;
        background: color(white);
        background-position: center center;
        content: '';
        transition: background-color 200ms ease-in;
      }

      &:hover::before {
        $color-fill: str-replace(quote($color-white), '#', '%23');
        border-color: transparent;
        background-image: svg-url('<svg viewBox="629 458 16 12" xmlns="http://www.w3.org/2000/svg"><path fill="#{$color-fill}" fill-rule="evenodd" d="M641.992 458.395l-6.978 6.978-3.006-3.023-2.25 2.232 5.256 5.273 9.228-9.228z"/></svg>');
        background-color: $color-unselected;
        background-position: center center;
        background-repeat: no-repeat;
        transition: background-color 100ms ease-in,
                    border-color 100ms ease-in;

      }
    }

    &:checked + label {
      &::before {
        $color-fill: str-replace(quote($color-white), '#', '%23');
        border-color: transparent;
        background-image: svg-url('<svg viewBox="629 458 16 12" xmlns="http://www.w3.org/2000/svg"><path fill="#{$color-fill}" fill-rule="evenodd" d="M641.992 458.395l-6.978 6.978-3.006-3.023-2.25 2.232 5.256 5.273 9.228-9.228z"/></svg>');
        background-color: $color-selected;
        background-position: center center;
        background-repeat: no-repeat;
        transition: background-color 100ms ease-in,
                    border-color 100ms ease-in;
      }
    }

    &[disabled] {
      &[checked] + label {
        &::before {
          $color-fill: str-replace(quote(color(gray, plus2)), '#', '%23');
          background-image: svg-url('<svg viewBox="629 458 16 12" xmlns="http://www.w3.org/2000/svg"><path fill="#{$color-fill}" fill-rule="evenodd" d="M641.992 458.395l-6.978 6.978-3.006-3.023-2.25 2.232 5.256 5.273 9.228-9.228z"/></svg>');
          background-color: color(gray, plus4);
          background-position: center center;
          background-repeat: no-repeat;
        }
      }

      &:not([checked]) + label {
        &::before {
          border-color: transparent;
          background: color(gray, plus4);
        }
      }
    }
  }
}
