@mixin button-style($style: primary) {
  @if $style == primary {
    background-color: color(primary);
    color: color('white');

    &:hover {
      background-color: scale-color(color(primary), $lightness: 10%);
    }

    &:active {
      background-color: scale-color(color(primary), $lightness: -10%);
    }
  }
  @else if $style == secondary {
    background-color: color('white');
    color: color(primary);
    border: 0.1rem solid color(primary);

    &:hover {
      $c: scale-color(color(primary), $lightness: 10%);
      border-color: $c;
      color: $c;
    }

    &:active {
      $c: scale-color(color(primary), $lightness: -10%);
      border-color: $c;
      color: $c;
    }
  }
  @else if $style == text {
    background-color: transparent;
    color: color(primary);

    &:hover {
      $c: scale-color(color(primary), $lightness: 10%);
      border-color: $c;
      color: $c;
    }

    &:active {
      $c: scale-color(color(primary), $lightness: -10%);
      color: $c;
    }
  }
}
