@mixin button-inset($style: primary) {
  $button-base: scale-color(color(primary), $lightness: 10%);
  $button-hover: scale-color(color(primary), $lightness: 20%);
  $button-active: color(primary);

  @if ($style == primary) {
    $button-hover: color(primary);
    $button-base: scale-color(color(primary), $lightness: -30%);
    $button-active: scale-color(color(primary), $lightness: -50%);
  }

  @include inset-box-shadow($button-base);

  &:hover {
    @include inset-box-shadow($button-hover);
  }

  &:active {
    @include inset-box-shadow($button-active);
  }

  &[disabled]:hover {
    @include inset-box-shadow($button-base);
  }
}

@mixin inset-box-shadow($color) {
  $box-shadow-props: inset 0 -2px 0 0;

  box-shadow: unquote($box-shadow-props + ' ' + $color);
}
