.animation_out_fade {
  animation-name: rb-fade;
}

.animation_in_fade {
  animation-name: rb-fade;
  animation-direction: reverse;
}

@keyframes rb-fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
