.card-grid
  .card.card-grid_item
    p I purchased this chair in November of 2017 and purchased another one a week ago (Aug 2018). It has great lumbar support and goes well with all colors. It's firm without being hard, easy to clean and is not sticky on the skin in hot humid weather. A very comfortable chair. I'm 69 years old and got it into my apartment and put together without any help! I really appreciate that a small phillips head screw driver was included with the screws. A great buy.
  .card.card-grid_item
    p Perched on your back. Reflecting on this: Our flirty tie-backs. Can our pillar is abstract beadwork, it’s perfect spot that perfectly suited to clusters of the pattern is rendered Buddha painting.This chair has it all. Style ?? Comfort ?? Great Price ?? Oooos and Ahhhhs ?? You will not do wrong with this one.
  .card.card-grid_item
    p I love my Chas navy blue velvet armchair. I bought 2 for my living room. They bring color into our room. I highly recommend it.
  .card.card-grid_item
    p Loving this chair.... I am an old lady and it was so easy for me to screw on those chair legs. It's just the right size. I am not feather light and this chair is very sturdy and comfortable. I ordered also the matching ottoman. It's worth the price.
  .card.card-grid_item
    p Love this chair! Very comfortable and I love the material. Really adds charm to the room. Also, bought the footstool. I have been admiring this chair for over a year. I did spray with Scotch Guard bc of children. It's only been a month since I bought it but at this point I am very satifsfied.
  .card.card-grid_item
    p The armchair is even more beautiful, comfortable and stylish than I could have hoped! I’ve admired the chair online for several years, then my daughter moved to a new townhome and I got it for her. I couldn’t be more pleased with every aspect of the chair!
  .card.card-grid_item
    p Extremely pleased. The color & fabric were exactly what I was looking for. The price was over my budget; but after receiving the chair & ottoman I was very pleased with my purchase. The color & fabric are very rich. The chair is very comfortable. I’m using it in my bedroom sitting area.
  .card.card-grid_item
    p Beautiful, comfortable and a great addition to my family room. Recommend it highly.
  .card.card-grid_item
    p Love my new Chas Blue Floral Armchair. Easy to assemble, screwdriver was provided. Very comfortable. Looking forward to my next purchase.
  .card.card-grid_item
    p I love this chair..at 5'3", it is difficult to fi d a chair i can sit in and have my feet still touch the floor! This chair is comfortable, looks great in my little corner of our great room and is the right size for me while being large enough to be overwhelmed by the rest of my furniture. So glad i got this
  .card.card-grid_item
    p I've wanted this chair for a long time. I finally got it! This chair is so comfortable. Beautiful floral design. Perfect addition to anyone's home.
  .card.card-grid_item
    p I bought this chair as well as the love seat and ottoman a few years ago. I was worried the color would not be vibrant or the velvet would be bad paired with a cat. It was perfect! The color is incredible and rich. It doesn’t get snagged by my cat and the velvet is so easy to get the cat hair off of I couldn’t believe it. They looked perfect in my library giving it a comfy luxurious feel.
