extends /_layout

block vars
  - var title = 'Radio Buttons'

block content
  article
    h1 Radio Buttons

    h2 Default
    +exampleWithCode
      include _radio-buttons-default

    h2 Chunky
    +exampleWithCode
      include _radio-buttons-chunky
