extends /_layout.pug

block vars
  - var title = 'Radio Buttons'

block content
  article
    h1 Radio Buttons

    h2 Default
    +exampleWithCode
      include _radio-buttons-default.pug

    h2 Chunky
    +exampleWithCode
      include _radio-buttons-chunky.pug

    h2 Chunky with Headers
    +exampleWithCode
      include _radio-buttons-chunky-with-headers.pug
