extends /_layout.jade

block vars
  - var title = 'Creative - Coming Soon'

block content
  article
    :md
      # Creative
      ## Sale Sticker
        _coming soon_
      ## CTA
        _coming soon_
      ## Category Banner
        _coming soon_
      ## Feature Banner
        _coming soon_
      ## Subcategory Banner
        _coming soon_
      ## SEO Banner
        _coming soon_
      ## Tile Overlays
        _coming soon_
      ## PDP Promotions
        _coming soon_
      ## Global Banners
        _coming soon_
        