extends /_layout

block vars
  - var title = 'Coming Soon'

block content
  article
    h1 Creative

    h2 Sale Sticker
    p #[i coming soon]

    h2 CTA
    p #[i coming soon]

    h2 Category Banner
    p #[i coming soon]

    h2 Feature Banner
    p #[i coming soon]

    h2 Subcategory Banner
    p #[i coming soon]

    h2 SEO Banner
    p #[i coming soon]

    h2 Tile Overlays
    p #[i coming soon]

    h2 PDP Promotions
    p #[i coming soon]

    h2 Global Banners
    p #[i coming soon]

    h2 Carditorials
    p #[i coming soon]
