@mixin keyframes-rollOut {
  @include keyframes(rollOut) {
    0% {
      opacity: 1;
      @include transform(translateX(0px) rotate(0deg));
    }
    100% {
      opacity: 0;
      @include transform(translateX(100%) rotate(120deg));
    }
  }
}

@mixin rollOut($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  $name: rollOut;

  @if (index($included-keyframes, $name) == null) {
    @include keyframes-rollOut;
    $included-keyframes: append($included-keyframes, $name) !global;
  }
  @else {
    $included-keyframes: append($included-keyframes, $name) !global;
  }

  @include animation-name($name);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}
