extends /_layout.pug

block vars
  - var title = 'Tabcordions'

block content
  article
    h1 Tabcordions

    .grid-fluid
      .row
        .col.xs
          +exampleWithCode
            include _tabcordion.pug
