include mixins

doctype html
html
  head
    block vars
    block title
     title #{title ? title + ' | ' : ''}Slipway Pattern Library
    block styles
      link(rel='stylesheet', href='/css/site/site.min.css')
    script(src='https://code.jquery.com/jquery-2.2.4.min.js')
  body.grid-fluid
    .row
      nav.col.xs-12.lg-1
        block sidebar
          +buildNav(nav)
      .col.xs-12.lg-11
        block main
          main.grid-fluid.no-margin
            .row
              .col.xs
                block content

    script(src='/js/prism.js')
    script(src='/js/clipboard.min.js')
    script(src='/js/site.js')
