@font-face {
  font-family: 'Brand Monospace';
  font-style: normal;
  font-weight: font-weight(normal);
  src: local('Inconsolata'),
       url(https://fonts.gstatic.com/s/inconsolata/v12/BjAYBlHtW3CJxDcjzrnZCIgp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
}
