@font-face {
  font-weight: font-weight(normal);
  font-style: normal;
  font-family: 'Brand Monospace';
  src: local('Inconsolata'),
       url('//fonts.gstatic.com/s/inconsolata/v12/BjAYBlHtW3CJxDcjzrnZCIgp9Q8gbYrhqGlRav_IXfk.woff2') format('woff2');
}
