@font-face {
  font-weight: font-weight(light);
  font-style: normal;
  font-family: 'Brand Sans';
  src: url('//fonts.gstatic.com/s/rubik/v7/tRvJQnSw4lmceQIbdzOKGPesZW2xOQ-xsNqO47m55DA.woff2') format('woff2'),
       url('//fonts.gstatic.com/s/rubik/v7/lr6Pb3GuskYO6A0ddSEJcvesZW2xOQ-xsNqO47m55DA.woff') format('woff');
}

@font-face {
  font-weight: font-weight(normal);
  font-style: normal;
  font-family: 'Brand Sans';
  src: url('//fonts.gstatic.com/s/rubik/v7/_mlO9_1N7oXYhEnEzC2l-g.woff2') format('woff2'),
       url('//fonts.gstatic.com/s/rubik/v7/KOAvUwfoM3DiLr6_Ac8qkg.woff') format('woff');
}

@font-face {
  font-weight: font-weight(normal);
  font-style: italic;
  font-family: 'Brand Sans';
  src: url('//fonts.gstatic.com/s/rubik/v7/lgXEloT2N61mSYqQZpy1fQ.woff2') format('woff2'),
       url('//fonts.gstatic.com/s/rubik/v7/OPYJOGLS2lfdqoDEaGxyDA.woff') format('woff');
}

@font-face {
  font-weight: font-weight(semibold);
  font-style: normal;
  font-family: 'Brand Sans';
  src: url('//fonts.gstatic.com/s/rubik/v7/IUSlgBbgyuDQpy87mBOAc_esZW2xOQ-xsNqO47m55DA.woff2') format('woff2'),
       url('//fonts.gstatic.com/s/rubik/v7/dr9AO_oRJOJvBo3VnoPe1_esZW2xOQ-xsNqO47m55DA.woff') format('woff');
}
