/* @import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600'; */
@font-face {
  font-family: 'Brand Sans';
  font-style: normal;
  font-weight: font-weight(light);
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
  font-family: 'Brand Sans';
  font-style: normal;
  font-weight: font-weight(normal);
  src: local('Open Sans'), local('OpenSans'),
       url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
  font-family: 'Brand Sans';
  font-style: italic;
  font-weight: font-weight(normal);
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url(https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBogp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff) format('woff');
}

@font-face {
  font-family: 'Brand Sans';
  font-style: normal;
  font-weight: font-weight(semibold);
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
       url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNShampu5_7CjHW5spxoeN3Vs.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
