@font-face {
  font-family: 'Brand Serif';
  font-style: normal;
  font-weight: font-weight(normal);
  src: local('Crimson Text'), local('CrimsonText-Roman'),
       url(https://fonts.gstatic.com/s/crimsontext/v6/3IFMwfRa07i-auYR-B-zNRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/crimsontext/v6/3IFMwfRa07i-auYR-B-zNaRDOzjiPcYnFooOUGCOsRk.woff)  format('woff');
}

@font-face {
  font-family: 'Brand Serif';
  font-style: italic;
  font-weight: font-weight(normal);
  src: local('Crimson Text Italic'), local('CrimsonText-Italic'),
       url(https://fonts.gstatic.com/s/crimsontext/v6/a5QZnvmn5amyNI-t2BMkWGfrnYWAzH6tTbHZfcsRIsM.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/crimsontext/v6/a5QZnvmn5amyNI-t2BMkWL52ooqJRs02xO3mONBoqeI.woff)  format('woff');
}
