@if ($serif-uri != '') {
  @font-face {
    font-weight: 300;
    font-style: normal;
    font-family: 'Brand Serif';
    font-display: swap;
    src: url('#{$serif-uri}/BrandSerifSubset-Light.woff2') format('woff2'),
         url('#{$serif-uri}/BrandSerifSubset-Light.woff')  format('woff');
  }

  @font-face {
    font-weight: 300;
    font-style: italic;
    font-family: 'Brand Serif';
    font-display: swap;
    src: url('#{$serif-uri}/BrandSerifSubset-LightItalic.woff2') format('woff2'),
         url('#{$serif-uri}/BrandSerifSubset-LightItalic.woff')  format('woff');
  }
}
