@mixin keyframes-bounce {
  @include keyframes(bounce) {
		0%, 20%, 50%, 80%, 100% {@include transform(translateY(0));}
		40% {@include transform(translateY(-30px));}
		60% {@include transform(translateY(-15px));}
	}
}

@mixin bounce($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $timingFunction: $timingFunctionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
	$name: bounce;

  @if (index($included-keyframes, $name) == null) {
    @include keyframes-bounce;
    $included-keyframes: append($included-keyframes, $name) !global;
  }
  @else {
    $included-keyframes: append($included-keyframes, $name) !global;
  }

	@include animation-name($name);
  @include animation-properties($count, $duration, $delay, $timingFunction, $fill, $visibility);
}
