@mixin keyframes-flash {
  @include keyframes(flash) {
  	0%, 50%, 100% {opacity: 1;}
  	25%, 75% {opacity: 0;}
  }
}

@mixin flash($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $timingFunction: $timingFunctionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  $name: flash;

  @if (index($included-keyframes, $name) == null) {
    @include keyframes-flash;
    $included-keyframes: append($included-keyframes, $name) !global;
  }
  @else {
    $included-keyframes: append($included-keyframes, $name) !global;
  }

	@include animation-name($name);
  @include animation-properties($count, $duration, $delay, $timingFunction, $fill, $visibility);
}
