@mixin keyframes-rubberBand {
  @include keyframes(rubberBand) {
  	  0% {@include transform(scale3d(1, 1, 1));}
     30% {@include transform(scale3d(1.25, 0.75, 1));}
  	 40% {@include transform(scale3d(0.75, 1.25, 1));}
  	 50% {@include transform(scale3d(1.15, 0.85, 1));}
  	 65% {@include transform(scale3d(.95, 1.05, 1));}
  	 75% {@include transform(scale3d(1.05, .95, 1));}
  	100% {@include transform(scale3d(1, 1, 1));}
  }
}

@mixin rubberBand($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $timingFunction: $timingFunctionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  $name: rubberBand;

  @if (index($included-keyframes, $name) == null) {
    @include keyframes-rubberBand;
    $included-keyframes: append($included-keyframes, $name) !global;
  }
  @else {
    $included-keyframes: append($included-keyframes, $name) !global;
  }

	@include animation-name($name);
  @include animation-properties($count, $duration, $delay, $timingFunction, $fill, $visibility);
}
