extends /_layout.jade

block vars
  - var title = 'Buttons'

block content
  article
    :md
      # Buttons
      ## Primary
    
    .grid-fluid
      .row
        .col.xs
          +exampleWithCode
            include _buttons-primary
      
    :md
      ## Secondary
      
    .grid-fluid
      .row
        .col.xs
          +exampleWithCode
            include _buttons-secondary

    :md
      ## Text
      
    .grid-fluid
      .row
        .col.xs
          +exampleWithCode
            include _buttons-text
      
    :md
      ## Block

    +exampleWithCode
      include _buttons-block

    :md
      ## Dynamic
        ### Busy
    +exampleWithCode
      include _buttons-dynamic

    :md
        ### Success
    +exampleWithCode
      include _buttons-dynamic

    :md
      ## Script Include
    +exampleWithCode('html', true)
      script(src='./rocketbelt.dynamic-button.min.js')

block scripts
  script.
    $('button.button-dynamic').dynamicButton();
    $(window).on('dynamicButton.click',function(e) {
      setTimeout(function() {
        $(e.el).trigger('buttonActionComplete', ['success'])
      }, 3000);
    })

