extends /_layout

block vars
  - var title = 'Buttons'

block content
  article
    h1 Buttons
    h2 Primary

    .grid-fluid
      .row
        .col.xs
          +exampleWithCode
            include _buttons-primary

    h2 Secondary

    .grid-fluid
      .row
        .col.xs
          +exampleWithCode
            include _buttons-secondary

    h2 Text

    .grid-fluid
      .row
        .col.xs
          +exampleWithCode
            include _buttons-text

    h2 Block

    +exampleWithCode
      include _buttons-block

    h2 Interactive

    +exampleWithCode
      include _buttons-busy

    h2 Script Include
    +exampleWithCode('html', true)
      script(src='./rocketbelt.busy-button.min.js')

block scripts
  script.
    $(window).on('busyButton.click',function(e) {
      setTimeout(function() {
        $(e.el).trigger('buttonActionComplete')
      }, 3000);
    })
