// sass-lint:disable url-quotes
@font-face {
  font-weight: font-weight(normal);
  font-style: italic;
  font-family: 'Brand Sans';
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunitosans/v4/pe0oMImSLYBIv1o4X1M8cce4E9lKdn4qX5E.woff2)
      format('woff2'),
    url(https://fonts.gstatic.com/s/nunitosans/v4/pe0oMImSLYBIv1o4X1M8cce4E9lKcA.woff)
      format('woff');
}

@font-face {
  font-weight: font-weight(normal);
  font-style: normal;
  font-family: 'Brand Sans';
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunitosans/v4/pe0qMImSLYBIv1o4X1M8cce9I9tAcVwo.woff2)
      format('woff2'),
    url(https://fonts.gstatic.com/s/nunitosans/v4/pe0qMImSLYBIv1o4X1M8cce9I90.woff)
      format('woff');
}

@font-face {
  font-weight: font-weight(bold);
  font-style: normal;
  font-family: 'Brand Sans';
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunitosans/v4/pe03MImSLYBIv1o4X1M8cc8GBs5tU1ECVZl_.woff2)
      format('woff2'),
    url(https://fonts.gstatic.com/s/nunitosans/v4/pe03MImSLYBIv1o4X1M8cc8GBs5tU1c.woff)
      format('woff');
}

@font-face {
  font-weight: font-weight(extrabold);
  font-style: normal;
  font-family: 'Brand Sans';
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunitosans/v5/pe03MImSLYBIv1o4X1M8cc8aBc5tU1ECVZl_.woff2)
      format('woff2'),
    url(https://fonts.gstatic.com/s/nunitosans/v5/pe03MImSLYBIv1o4X1M8cc8aBc5tU1cCVZl_.woff)
      format('woff');
}
