.example-layout [class*="pad-"] {
  display: inline-block;
  border: 1px solid color(gray, plus2);
  border-radius: 2px;
}

.example .container {
  display: inline-block;
  background: color(gray, lightest);
  border: 1px dashed color(gray);
}

.example-layout [class*="margin-"] {
  background: color(white);
  display: inline-block;
  border: 1px solid color(gray, plus1);
  border-radius: 2px;
}
