.example {
  .col {
    &:before {
      content: '';
      min-height: 1rem;
      background-color: color(primary);
      border-radius: 2px;
      transition: background-color 100ms linear;
    }

    &:hover:before {
      background-color: color(primary, lighter);
      transition: background-color 100ms linear;
    }

    &.slex-tall:before {
      min-height: 10rem;
    }
  }
}
