@import '../slipway/slipway',
        'vendor/vendor',
        'grid';

::selection {
  background: color(secondary, lightest);
}

p code {
  border: 1px solid color(gray, lighter);
  border-radius: 2px;
  background-color: color(gray, lightest);
  padding: 0.125rem 0.25rem;
}

.example + .code {
  display: flex;
  position: relative;

  .copy-code {
    @include button-size(sm);
    @include button-style(secondary);
    @include button-shadow();

    position: absolute;
    top: 1em;
    right: 0.5em;
  }

  pre {
    flex: 1;
  }
}
