@mixin centered($horizontal: false, $vertical: false) {
  position: absolute;
  @if ($horizontal and $vertical) or (not $horizontal and not $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  }
  @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

@mixin centered-horizontally() {
  @include centered($horizontal: true);
}

@mixin centered-vertically() {
  @include centered($vertical: true);
}
