extends /_layout.jade

block vars
  - var title = 'Modals'

block content
  article
    :md
      # Modals
    
      ## Standard Modal
    
    +exampleWithCode
      include _modal-standard

    a(href='#modal-example-standard') Trigger Modal
    
    :md
      ## Bottom Sheet Modal
      
    +exampleWithCode
      include _modal-bottom-sheet
      
    a(href='#modal-example-bottom') Trigger Modal
    
    :md
      ## Max Modal
      
    +exampleWithCode
      include _modal-max
      
    a(href='#modal-example-max') Trigger Modal

    :md
      ## Script Include
    +exampleWithCode('html', true)
      script(src='./modal.min.js')
