.dialog.dialog-max {
  .dialog_header {
    padding: 0;
    background-color: color(black);
    border: 0;

    .dialog_close {
      &:before {
        content: unicode(left-chevron);
        margin-right: margin(-10);
        font-size: font-size(3);
      }

      display: inline-block;
      justify-content: flex-start;
      align-items: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      text-transform: uppercase;
      color: color(white);
      padding: 0 padding(-5);
      min-height: 44px;
      min-width: 44px;
      width: auto;
    }
  }

  .dialog_content {
    position: absolute;
    top: 0;
    right: 5%;
    bottom: 0;
    left: 5%;

    transform: none;
    animation: dialog-max-in 300ms ease-in-out;
    width: 90%;
    max-height: 100%;

    @include media('>=sm') {
      left: 10%;
      right: 10%;
      width: 80%;
    }
  }
}

#docs-wrapper:not(.is-dialog-open),
#main:not(.is-dialog-open) {
  & ~ .dialog.dialog-max {
    .dialog_content {
      animation: dialog-max-out 300ms ease-in-out;
    }
  }
}

@keyframes dialog-max-in {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 1);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes dialog-max-out {
  from {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }

  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 1);
  }
}
