
#docs-wrapper:not(.is-dialog-open),
#main:not(.is-dialog-open) {
  & ~ .dialog {
    .dialog-content {
      animation: dialogOut 300ms ease-in;
    }
  }
}

.dialog {
  &[aria-hidden='true'] {
    visibility: hidden;
    transition: visibility 300ms ease-out;
  }

  &:not([aria-hidden='true']) {
    visibility: visible;
    transition: visibility 300ms ease-out;
  }
}

.is-dialog-open {
  filter: blur(5px);

  & ~ .dialog {
    .dialog-overlay {
      opacity: 1;
      transition: opacity 300ms ease-out;
    }

    .dialog-content {
      animation: dialogIn 500ms ease-out;
    }
  }
}

.dialog-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(color(black), 0.6);
  opacity: 0;
  transition: opacity 300ms ease-out;
}

.dialog-content {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 3;
  padding: 1em;
  max-width: 90%;
  width: 600px;
  border-radius: 2px;
  background-color: color(white);
  transform: translate3d(-50%, -50%, 0);
}

@keyframes dialogIn {
  from {
    opacity: 0;
    transform: translate3d(-50%, -70%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0);
  }
}

@keyframes dialogOut {
  from {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(-50%, 0%, 0);
  }
}

.dialog-close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}
