.tag {
  display: inline-block;
  padding: ms(-16) ms(-8);
  background: color(gray, plus3);
  color: color(black);
  text-transform: uppercase;
  font-weight: font-weight(medium);
  font-size: font-size(-2);
  font-family: font-family(sans);
  cursor: default;

  &.tag-stretch {
    display: block;
    text-align: center;
  }

  &.tag-plus-2 {
    padding: ms(-6);
    font-weight: 600;
    font-size: font-size(4);
  }

  &.tag-plus-1 {
    padding: ms(-14) ms(-8);
    font-size: font-size(1);
  }

  &.tag-subtle {
    border: 1px solid color(gray, plus3);
    background: color(white);
  }

  &.tag-success {
    background: color(success);
    color: contrast(success);
  }

  &.tag-sale {
    background: color(sale);
    color: contrast(sale);
  }

  &.tag-error {
    background: color(error);
    color: contrast(error);
  }

  &.tag-warning {
    background: color(warning);
    color: contrast(warning);
  }

  &.tag-primary {
    background: color(primary);
    color: contrast(primary);
  }

  &.tag-secondary {
    background: color(secondary);
  }

  &.tag-accent {
    background: color(accent);
    color: contrast(accent);
  }

  &.message-dismissable {
    .message-dismissable_close {
      margin: 0;
      padding: 0;
      width: auto;
      height: inherit;
      font-weight: inherit;
      font-size: inherit;
      line-height: inherit;

      justify-content: space-between;

      &::after {
        margin: 0 0 0 0.5rem;
      }
    }
  }
}
