.row
  .col.xs
    .tag.tag-plus-2.tag-stretch.tag-success success
.row
  .col.xs
    .tag.tag-stretch.tag-plus-2 default
  .col.xs
    .tag.tag-plus-2.tag-stretch.tag-success success
.row
  .col.xs
    .tag.tag-stretch.tag-plus-1 default
  .col.xs
    .tag.tag-plus-1.tag-stretch.tag-success success
  .col.xs
    .tag.tag-stretch.tag-plus-1 default
.row
  .col.xs
    .tag.tag.tag-stretch default
  .col.xs
    .tag.tag.tag-stretch.tag-success success
  .col.xs
    .tag.tag.tag-stretch default
  .col.xs
    .tag.tag.tag-stretch.tag-success success
