.row
  .col.xs
    .tag.tag-lg.tag-stretch.tag-success success
.row
  .col.xs
    .tag.tag-stretch.tag-lg default
  .col.xs
    .tag.tag-lg.tag-stretch.tag-success success
.row
  .col.xs
      .tag.tag-stretch.tag-lg default
  .col.xs
    .tag.tag-lg.tag-stretch.tag-success success
  .col.xs
    .tag.tag-stretch.tag-lg default
.row
  .col.xs
    .tag.tag.tag-stretch default
  .col.xs
    .tag.tag.tag-stretch.tag-success success
  .col.xs
    .tag.tag.tag-stretch default
  .col.xs
    .tag.tag.tag-stretch.tag-success success