.tag.tag-lg.message-dismissable
  .message-dismissable_close default
.tag.message-dismissable
  .message-dismissable_close default
.tag.tag-sm.message-dismissable
  .message-dismissable_close default
.tag.tag-xs.message-dismissable
  .message-dismissable_close default  