.tag {
  display: inline-block;
  padding: ms(-12) ms(-8);
  background: color(gray, plus3);
  color: color(black);
  text-transform: uppercase;
  font-family: font-family(sans);
  cursor: default;

  &.tag-stretch {
    display: block;
    text-align: center;
  }

  &.tag-lg {
    padding: ms(-6);
    font-weight: 600;
    font-size: font-size(4);
  }

  &.tag-sm {
    padding: ms(-14) ms(-8);
    font-size: font-size(-2);
  }

  &.tag-xs {
    padding: ms(-16) ms(-8);
    font-size: font-size(-4);
  }

  &.tag-subtle {
    border: 1px solid color(gray, plus3);
    background: color(white);
  }

  &.tag-success {
    background: color(success);
    color: color(white);
  }

  &.tag-sale {
    background: color(error);
    color: color(white);
  }

  &.message-dismissable {
    .message-dismissable_close {
      margin: 0;
      padding: 0;
      width: auto;
      height: inherit;
      font-weight: inherit;
      font-size: inherit;
      line-height: inherit;

      justify-content: space-between;

      &::after {
        margin: 0 0 0 0.5rem;
      }
    }
  }
}
