.tag.tag-plus-2.message-dismissable
  .message-dismissable_close default
.tag.tag-plus-1.message-dismissable
  .message-dismissable_close default
.tag.message-dismissable
  .message-dismissable_close default
