.seo-banner {
  display: flex;
  flex-direction: column;
  padding: ms(-6) ms(-1);
  border: 1px solid color(black);
  font-size: font-size(0);

  @include media('>=sm') {
    flex-direction: row;
  }

  .seo-banner_title {
    padding: 0 0 ms(-8) 0;
    border-bottom: 1px solid color(black);
    text-align: center;
    text-transform: uppercase;
    font-size: font-size(5);
    font-family: font-family(serif);
    line-height: 1.1;

    @include media('>=sm') {
      display: flex;
      flex: 0 0 30%;
      padding: 0 ms(-1) 0 0;
      border-right: 1px solid color(black);
      border-bottom: none;
      align-items: center;
      justify-content: center;
    }
  }

  .seo-banner_copy {
    padding: ms(-4) 0;
    line-height: 1.3;

    @include media('>=sm') {
      padding: 0 0 0 ms(-1);
    }
  }
}
