.seo-banner
  .seo-banner_title Lighting
  .seo-banner_copy We’re lighting things up with new lamp styles. Table lamps, floor lamps, pendants, Glimmer Strings® and other lighting fixtures add high-wattage appeal to any room. Featuring styles from modern to vintage-inspired, our assortment fits any decor style under the sun. Top things off and outfit your lamp with a new lamp shade. Now that’s all pretty illuminating.
