.component-example_preview {
  section {
    position: relative;
    display: flex;
    height: 50vh;
    border-radius: 3px;
    background: color(brand, catskillBlue);

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      color: color(gray, minus1);
      content: 'Toggle busy state above…';
      font-style: font-style(italic);
      justify-content: center;
      align-items: center;
    }
  }
}
