@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: 'RB Monospace';
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/tonsky/FiraCode@2/distr/woff/FiraCode-Light.woff')
    format('woff');
}
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'RB Monospace';
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/tonsky/FiraCode@2/distr/woff/FiraCode-Regular.woff')
    format('woff');
}
@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: 'RB Monospace';
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/tonsky/FiraCode@2/distr/woff/FiraCode-Medium.woff')
    format('woff');
}
@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'RB Monospace';
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/tonsky/FiraCode@2/distr/woff/FiraCode-Bold.woff')
    format('woff');
}
