.icons-descriptor {
  position: absolute;
  top: 0;
  left: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0 0 4px 4px;
  background: color(brand, alabaster);
  box-shadow: 0 2px 8px
    rgba(scale-color(color(brand, alabaster), $lightness: -75%), 0.1);
  font-size: font-size(-1);
}

.icons-standard {
  position: relative;
  display: grid;
  padding: 1.5rem;
  padding-top: 3rem;
  background: color(brand, catskillBlue);
  grid-gap: 2.5rem 1rem;
  grid-template-columns: repeat(auto-fill, 120px);
  justify-content: space-between;

  .icon {
    margin-bottom: 0.5rem;
    width: 36px;
    height: 36px;
  }
}

.icon-wrapper {
  display: inline-flex;
  flex-direction: column;
  margin: 0;
  padding: 1rem;
  background: color(white);
  box-shadow: 0 1px 8px rgba(color(brand, columbiaBlue), 0.6);
  color: color(gray, minus2);
  font-size: font-size(-1);
  font-family: font-family(monospace);
  transition: color 100ms linear, box-shadow 100ms linear;
  align-items: center;

  &:hover {
    box-shadow: 0 4px 12px rgba(color(brand, columbiaBlue), 1);
    color: color(gray, minus1);
  }

  &:active {
    box-shadow: 0 1px 8px rgba(color(brand, columbiaBlue), 0.6);
    color: color(gray, minus2);
  }
}

.icon-wrapper-copied {
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    background: color(brand, alabaster);
    content: 'Copied';
    font-family: font-family(sans);
    justify-content: center;
    align-items: center;
  }
}
