[class*="pad-"] {
  display: inline-block;
  border: 1px solid color(gray, lighter);
  border-radius: 2px;
}

.example .container {
  display: inline-block;
  background: color(gray, lightest);
  border: 1px dashed color(gray);
}

[class*="margin-"] {
  background: color(white);
  display: inline-block;
  border: 1px solid color(gray, light);
  border-radius: 2px;
}
