extends /layout.jade

block vars
  - var title = 'Grid'

block content
  article
    :md
      # Grid
      Here is some short front matter about the grid.

    +exampleWithCode
      .grid
        .row
          .col.xs-1
          .col.xs-1
          .col.xs-1
          .col.xs-1
          .col.xs-1
          .col.xs-1
          .col.xs-1
          .col.xs-1
          .col.xs-1
          .col.xs-1
          .col.xs-1
          .col.xs-1
