$color-names: (
  primary: (
    lightest: 'Sail Blue',
    lighter: 'Curious Blue',
    base: 'Pier 1 Blue',
    darker: 'Venice Blue',
    darkest: 'Astronaut Blue'
  ),
  secondary: (
    lightest: 'Hummingbird',
    lighter: 'Bermuda',
    base: 'Puerto Rico',
    darker: 'Niagara',
    darkest: 'Eden'
  ),
  accent: (
    lightest: 'Fog',
    lighter: 'Purple Heart',
    base: 'Ultramarine',
    darker: 'Deep Koamaru',
    darkest: 'Tolopea'
  ),
  gray: (
    lightest: 'Alabaster',
    lighter: 'Noble Gray',
    light: 'Mountain Gray',
    base: 'Schooner',
    dark: 'Dove Gray',
    darker: 'Fuscous Gray',
    darkest: 'Woodsmoke'
  ),
  success: (
    lightest: 'Snowy Mint',
    lighter: 'Mint Green',
    base: 'Chateau Green',
    darker: 'Salem Green',
    darkest: 'Parsley'
  ),
  warning: (
    lightest: 'Linen',
    lighter: 'Potpourri',
    base: 'Jaffa',
    darker: 'Hot Cinnamon',
    darkest: 'Copper Canyon'
  ),
  info: (
    lightest: 'Sail Blue',
    lighter: 'Curious Blue',
    base: 'Pier 1 Blue',
    darker: 'Venice Blue',
    darkest: 'Astronaut Blue'
  ),
  error: (
    lightest: 'Pastel Pink',
    lighter: 'Brick Red',
    base: 'Carmine',
    darker: 'Venetian Red',
    darkest: 'Maroon Oak'
  ),
  black: (
    base: 'Black'
  ),
  white: (
    base: 'White'
  )
);
