.busy {
  position: absolute;
  top: calc(50% - 2.5em);
  left: calc(50% - 2.5em);
  clip: rect(0, 5em, 5em, 2.5em);
  width: 5em;
  height: 5em;
  font-size: 0.25rem;
  animation: animate 1.5s linear infinite;

  &::after {
    position: absolute;
    clip: rect(0, 5em, 5em, 2.5em);
    width: 5em;
    height: 5em;
    border-radius: 50%;
    box-shadow: 0 0 0 0.5em color(primary) inset;
    content: '';
    animation: animate2 1.5s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
  }
}


@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(190deg);
  }
}

@keyframes animate2 {
  0% {
    transform: rotate(-170deg);
  }

  100% {
    transform: rotate(170deg);
  }
}
