.is-busyable-page {
  &.is-busy {
    .flip-loader {
      $colors: (
        1: color(primary),
        2: rgba(color(primary), 0.8),
        3: rgba(color(primary), 0.6),
        4: rgba(color(primary), 0.4),
        5: rgba(color(primary), 0.2),
      );

      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      flex-direction: column;
      max-width: 300px;
      transform: translateX(-50%) translateY(-50%);
      perspective: 250px;
      perspective-origin: 50% 50%;

      &.is-busy_message-shown {
        &::before {
          animation: messageIn 600ms ease(out-back);
          animation-fill-mode: both;
        }

        @keyframes messageIn {
          0% {
            display: none;
            opacity: 0;
            transform: translateX(-50%) translateY(1.5rem);
          }

          1% {
            display: block;
          }

          100% {
            opacity: 1;
            transform: translateX(-50%);
          }
        }
      }

      &::before {
        position: relative;
        top: 0;
        left: 50%;
        display: block;
        flex: 1;
        margin-bottom: margin(0.5);
        width: 100vw;
        color: color(gray, minus1);
        content: attr(data-rb-is-busy-message);
        text-align: center;
        font-size: font-size(-1);
        opacity: 0;
        transform: translateX(-50%);
      }

      &_segment {
        position: absolute;
        left: 0%;
        width: 20%;
        height: 10px;
        background-color: transparent;
        transform-origin: 0% 50%;
        animation-duration: 3s;
        animation-timing-function: ease(in-cubic);
        animation-iteration-count: infinite;
      }

      $left: 0;
      @for $i from 1 through 5 {
        &_segment:nth-child(#{$i}) {
          left: percentage($left / 100);
          z-index: $i;
          background-color: map-get($colors, $i);
          animation-name: flipLoader + $i;
        }

        $left: $left + 20;
      }

      @keyframes flipLoader1 {
        0% {
          background-color: map-get($colors, 1);
          opacity: 0;
          transform: rotateY(-180deg);
          transform-origin: 0% 50%;
        }
        4% {
          background-color: map-get($colors, 1);
        }
        5% {
          background-color: map-get($colors, 5);
        }
        10% {
          background-color: map-get($colors, 5);
          opacity: 1;
          transform: rotateY(0deg);
          transform-origin: 0% 50%;
        }
        11% {
          background-color: map-get($colors, 1);
          transform-origin: 100% 50%;
        }
        48% { z-index: 1; }
        49% { z-index: 10; }
        50% {
          transform: rotateY(0deg);
        }
        51% {
          transform-origin: 100% 50%;
        }
        60% {
          background-color: map-get($colors, 1);
          opacity: 1;
          transform: rotateY(180deg);
        }
        61% {
          opacity: 0;
        }
        100% {
          z-index: 10;
          background-color: map-get($colors, 1);
          opacity: 0;
          transform: rotateY(180deg);
          transform-origin: 100% 50%;
        }
      }

      @keyframes flipLoader2 {
        0% {
          background-color: map-get($colors, 5);
          opacity: 0;
          transform: rotateY(-180deg);
          transform-origin: 0% 50%;
        }
        9% {
          opacity: 0;
        }
        10% {
          opacity: 1;
          transform: rotateY(-180deg);
        }
        15% {
          background-color: map-get($colors, 5);
        }
        20% {
          background-color: map-get($colors, 5);
          transform: rotateY(0deg);
          transform-origin: 0% 50%;
        }
        21% {
          background-color: map-get($colors, 2);
          transform-origin: 100% 50%;
        }
        48% { z-index: 2; }
        49% { z-index: 9; }
        60% {
          background-color: map-get($colors, 2);
          opacity: 1;
          transform: rotateY(0deg);
        }
        61% {
          background-color: map-get($colors, 1);
          transform-origin: 100% 50%;
        }
        64% {
          background-color: map-get($colors, 1);
        }
        65% {
          background-color: map-get($colors, 2);
        }
        70% {
          opacity: 1;
          transform: rotateY(180deg);
        }
        71% {
          opacity: 0;
        }
        100% {
          z-index: 9;
          background-color: map-get($colors, 2);
          opacity: 0;
          transform: rotateY(180deg);
          transform-origin: 100% 50%;
        }
      }

      @keyframes flipLoader3 {
        0% {
          background-color: map-get($colors, 5);
          opacity: 0;
          transform: rotateY(-180deg);
          transform-origin: 0% 50%;
        }
        19% {
          opacity: 0;
        }
        20% {
          opacity: 1;
          transform: rotateY(-180deg);
        }
        25% {
          background-color: map-get($colors, 5);
        }
        30% {
          background-color: map-get($colors, 5);
          transform: rotateY(0deg);
          transform-origin: 0% 50%;
        }
        31% {
          background-color: map-get($colors, 3);
          transform-origin: 100% 50%;
        }
        48% { z-index: 3; }
        49% { z-index: 8; }
        70% {
          background-color: map-get($colors, 3);
          opacity: 1;
          transform: rotateY(0deg);
        }
        71% {
          background-color: map-get($colors, 2);
          transform-origin: 100% 50%;
        }
        74% {
          background-color: map-get($colors, 2);
        }
        75% {
          background-color: map-get($colors, 3);
        }
        80% {
          transform: rotateY(180deg);
          opacity: 1;
        }
        81% {
          opacity: 0;
        }
        100% {
          z-index: 8;
          background-color: map-get($colors, 3);
          opacity: 0;
          transform: rotateY(180deg);
          transform-origin: 100% 50%;
        }
      }

      @keyframes flipLoader4 {
        0% {
          background-color: map-get($colors, 5);
          opacity: 0;
          transform: rotateY(-180deg);
          transform-origin: 0% 50%;
        }
        29% {
          opacity: 0;
        }
        30% {
          opacity: 1;
          transform: rotateY(-180deg);
        }
        35% {
          background-color: map-get($colors, 5);
        }
        40% {
          background-color: map-get($colors, 5);
          transform: rotateY(0deg);
          transform-origin: 0% 50%;
        }
        41% {
          background-color: map-get($colors, 4);
          transform-origin: 100% 50%;
        }
        48% { z-index: 4; }
        49% { z-index: 7; }
        80% {
          background-color: map-get($colors, 4);
          opacity: 1;
          transform: rotateY(0deg);
        }
        81% {
          background-color: map-get($colors, 3);
          transform-origin: 100% 50%;
        }
        84% {
          background-color: map-get($colors, 3);
        }
        85% {
          background-color: map-get($colors, 4);
        }
        90% {
          opacity: 1;
          transform: rotateY(180deg);
        }
        91% {
          opacity: 0;
        }
        100% {
          z-index: 7;
          background-color: map-get($colors, 4);
          opacity: 0;
          transform: rotateY(180deg);
          transform-origin: 100% 50%;
        }
      }

      @keyframes flipLoader5 {
        0% {
          background-color: map-get($colors, 5);
          opacity: 0;
          transform: rotateY(-180deg);
          transform-origin: 0% 50%;
        }
        39% {
          opacity: 0;
        }
        40% {
          opacity: 1;
          transform: rotateY(-180deg);
        }
        45% {
          background-color: map-get($colors, 5);
        }
        48% { z-index: 5; }
        49% { z-index: 6; }
        50% {
          background-color: map-get($colors, 5);
          transform: rotateY(0deg);
          transform-origin: 0% 50%;
        }
        51% {
          background-color: map-get($colors, 5);
          transform-origin: 100% 50%;
        }
        90% {
          background-color: map-get($colors, 5);
          opacity: 1;
          transform: rotateY(0deg);
        }
        91% {
          background-color: map-get($colors, 4);
          transform-origin: 100% 50%;
        }
        94% {
          background-color: map-get($colors, 4);
        }
        95% {
          background-color: map-get($colors, 5);
        }
        100% {
          z-index: 6;
          background-color: map-get($colors, 5);
          opacity: 0;
          transform: rotateY(180deg);
          transform-origin: 100% 50%;
        }
      }
    }
  }
}
