.busy-dots {
  @include list-reset($horizontal: true);
  font-size: 1rem;
  position: relative;

  li {
    position: relative;
    height: 1em;
    width: 1em;
    background: color(primary);
    border: 2px solid color(primary);
    border-radius: 100%;
    transform: none;
    animation: busy-dots 1.2s infinite ease-in-out;

    &:nth-child(1n) {
      animation-delay: 0s;
    }
    &:nth-child(2n) {
      animation-delay: 0.2s;
    }
    &:nth-child(3n) {
      animation-delay: 0.4s;
    }
  }
}

@keyframes busy-dots {
  0%   {
    opacity: 0.6;
    transform: scale(0.7);
  }
  50%   {

    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.6;
    transform: scale(0.7);
  }
}
