@import 'font-faces/font-faces';

// line-height + margin-top + margin-bottom must be a multiple of 1.5rem to maintain vertical rhythm.
$base-line-height: 1.5;

@import 'modular-scale';
$ms-base: 1rem;
// $ms-ratio: 1.2,1.333;
$ms-ratio: 1.125;

body {
  font-family: font-family(default);
  font-size: ms(0);
  margin: 0;
  line-height: 1.5;
}

h1 {
  font-size: ms(3);
  margin: 0;
}

h2 {
  font-size: ms(2);
  margin: 0;
}

h3 {
  font-size: ms(1);
  margin: 0;
}

h4,
h5,
h6 {
  font-size: ms(0);
  margin: 0;
}

@include media('>=md') {
  h1 {
    font-size: ms(4);
  }

  h2 {
    font-size: ms(3);
  }

  h3 {
    font-size: ms(2);
  }

  h4 {
    font-size: ms(1);
  }

  h5,
  h6 {
    font-size: ms(0);
  }
}

@include media('>=lg') {
  h1 {
    font-size: ms(5);
  }

  h2 {
    font-size: ms(4);
  }

  h3 {
    font-size: ms(3);
  }

  h4 {
    font-size: ms(2);
  }
}

@include media('>=xl') {
  h1 {
    font-size: ms(6);
  }

  h2 {
    font-size: ms(5);
  }

  h3 {
    font-size: ms(4);
  }

  h4 {
    font-size: ms(3);
  }
}

.font-sans {
  font-family: font-family(sans);
}

.font-serif {
  font-family: font-family(serif);
}

h1,
h2,
h3,
h4 {
  small {
    color: color(gray, light);
    font-weight: font-weight(light);

    &:before {
      content: '\a0\a0';
    }
  }
}

.font-minus-3 {
  font-size: ms(-3);
}

.font-minus-2 {
  font-size: ms(-2);
}

.font-minus-1 {
  font-size: ms(-1);
}

.font-plus-1 {
  font-size: ms(1);
}

.font-plus-2 {
  font-size: ms(2);
}

.font-plus-3 {
  font-size: ms(3);
}

.font-plus-4 {
  font-size: ms(4);
}

.font-plus-5 {
  font-size: ms(5);
}

.font-plus-6 {
  font-size: ms(6);
}

.font-plus-7 {
  font-size: ms(7);
}

.font-plus-8 {
  font-size: ms(8);
}

.font-plus-9 {
  font-size: ms(9);
}

.font-weight-light {
  font-weight: font-weight(light);
}

.font-weight-semibold {
  font-weight: font-weight(semibold);
}

.list-reset {
  @include list-reset();
}

.list-inline,
.list-reset-horizontal {
  @include list-reset($horizontal: true);
}

blockquote {
  margin: 0.75rem 0;
  background: color(gray, lightest);
  border-left: 0.75rem solid color(gray, lighter);
  border-radius: 2px;
  padding: 0.375rem 0.75rem;
  font-size: ms(4);

  .source {
    display: block;
    font-size: ms(2);
    color: color(gray, lighter);

    &:before {
      content: '\2015' ' ';
    }
  }
}

pre,
code,
.code {
  white-space: pre-line;
  font-family: font-family(monospace);
  font-weight: font-weight(light);
}

ul.horizontal {
  li {
    display: inline-block;
  }
}
