extends /_layout

block vars
  - var title = 'Grid'

block content
  article.grid-article
    h1 Grid
    | Here is some short front matter about the grid.

    h2 Simple Syntax
    | Get started with as few as four classes.

    +exampleWithCode
      include _grid-basic

    h2 Mobile-First & Responsive
    | Start with #[span.code xs], then mix and match responsive modifiers.

    +exampleWithCode
      include _grid-responsive

    h2 Automatic Widths
    | Leave off a column width if it needs to grow or shrink. The grid will size
    | it automatically.

    +exampleWithCode
      include _grid-auto-column-widths

    h2 Column Offsets
    | Nudge a column to the right with an `-offset` class.

    +exampleWithCode
      include _grid-column-offsets

    h2 Nesting

    +exampleWithCode
      include _grid-nested

    h2 Alignment Classes
    h3 Horizontal
    h4 -start, -center, -end

    +exampleWithCode
      include _grid-alignment-horizontal

    h3 Vertical
    h4 -top, -middle, -bottom

    +exampleWithCode
      include _grid-alignment-vertical

    h2 Column Distribution
    h3 space-between
    | Space columns evenly across the row, with no space at the beginning or end
    | of the row.

    +exampleWithCode
      include _grid-distribution-space-between

    h3 space-around
    | Space columns evenly across the row, including space at the beginning & end
    | of the row.

    +exampleWithCode
      include _grid-distribution-space-around

    h2 Column Order
    h3 first & last

    +exampleWithCode
      include _grid-order-first

    +exampleWithCode
      include _grid-order-last

    h3 reverse

    +exampleWithCode
      include _grid-order-reverse
