extends /_layout.jade

block vars
  - var title = 'Layout'

block content
  article
    :md
      # Layout
      
      ## Padding
    .grid
      .row.xs-between
        +exampleWithCode
          include _padding
    
    :md
      ## Margin
    .grid
      .row.xs-between
        +exampleWithCode
          include _margin
