extends /_layout.jade

block vars
  - var title = 'Layout'

block content
  article
    :md
      # Layout
      
      ## Padding
    .grid-fluid.example-layout
      .row
        .col.xs
          +exampleWithCode
            include _padding
    
    :md
      ## Margin
    .grid-fluid.example-layout
      .row
        .col.xs
          +exampleWithCode
            include _margin
