extends /_layout.pug

block vars
  - var title = 'Layout'

block content
  article
    h1 Layout
    h2 Padding

    .grid-fluid.example-layout
      .row
        .col.xs
          +exampleWithCode
            include _padding.pug

    h2 Margin
    .grid-fluid.example-layout
      .row
        .col.xs
          +exampleWithCode
            include _margin.pug
