extends /_layout.pug

block vars
  - var title = 'Layout'

block content
  article
    h1 Layout
    h2 Media Queries
    p Rocketbelt facilitates mobile-first development via media queries. Rocketbelt's default breakpoints are:
    ul
      li #[code xs]: 0
      li #[code sm]: 34rem
      li #[code md]: 48rem
      li #[code lg]: 62rem
      li #[code xl]: 75rem

    p The #[code include-media] Sass library is provided in #[code _tools.scss] and makes authoring media queries a breeze.

    pre
      code.language-scss.
        .contents {
          // Default value for narrowest viewport width
          flex-direction: column;

          // Alternate property value based on viewport width
          @include media('>=md') {
            flex-direction: row;
          }

          // Query within a range of widths
          @include media('>=md', '&lt;xl') {
            font-size: font-size(3);
          }
        }

    p A simple mobile-first media query pattern can be seen in Rocketbelt's own typography rules:

    pre
      code.language-scss.
        h1 {
          font-size: font-size(3);
        }

        h2 {
          font-size: font-size(2);
        }

        // ...

        @include media('>=md') {
          h1 {
            font-size: font-size(4);
          }

          h2 {
            font-size: font-size(3);
          }
        }
