extends /layout.jade

block vars
  - var title = 'Typography'

block content
  article
    :md
      # Typography
      Here is some short front matter about typography.

    +exampleWithCode
      h1 Pier 1 Imports
    +exampleWithCode
      h2 Pier 1 Imports
    +exampleWithCode
      h3 Pier 1 Imports
    
    ul
      li Weights
      li Faces
      li Sizes (body small, body default, heading sm, heading md, heading lg)
      li Alignment
