nav#main-nav
  ul.nav-menu
    li.nav-item.nav_level-1
      a(href='#') Standard 1
      .sub-nav
        ul.sub-nav-group
          li
            a(href='#') Standard 1.1
          li
            a(href='#') Standard 1.2
          li
            a(href='#') Standard 1.3
          li
            a(href='#') Standard 1.4
    li.nav-item.nav_level-1
      a(href='#') Two Across
      .sub-nav.wide
        .row
          .col.xs-6
            ul.sub-nav-group
              li.nav_level-2
                a(href='#') Two 1.1
              li.nav_level-2
                a(href='#') Two 1.2
              li.nav_level-2
                a(href='#') Two 1.3
              li.nav_level-2
                a(href='#') Two 1.4
          .col.xs-6
            ul.sub-nav-group
              li.nav_level-2
                a(href='#') Two 2.1
              li.nav_level-2
                a(href='#') Two 2.2
              li.nav_level-2
                a(href='#') Two 2.3
              li.nav_level-2
                a(href='#') Two 2.4
    li.nav-item.nav_level-1
      a(href='#') Three Across
      .sub-nav.wide
        .row
          .col.xs-4
            ul.sub-nav-group
              li.nav_level-2
                a(href='#') Three 1.1
              li.nav_level-2
                a(href='#') Three 1.2
              li.nav_level-2
                a(href='#') Three 1.3
              li.nav_level-2
                a(href='#') Three 1.4
          .col.xs-4
            ul.sub-nav-group
              li.nav_level-2
                a(href='#') Three 2.1
              li.nav_level-2
                a(href='#') Three 2.2
              li.nav_level-2
                a(href='#') Three 2.3
              li.nav_level-2
                a(href='#') Three 2.4
          .col.xs-4
            ul.sub-nav-group
              li.nav_level-2
                a(href='#') Three 2.1
              li.nav_level-2
                a(href='#') Three 2.2
              li.nav_level-2
                a(href='#') Three 2.3
              li.nav_level-2
                a(href='#') Three 2.4
    li.nav-item.nav_level-1
      a(href='#') Four Across
      .sub-nav.wide
        .row
          .col.xs-3
            ul.sub-nav-group
              li.nav_level-2
                a(href='#') Four 1.1
              li.nav_level-2
                a(href='#') Four 1.2
              li.nav_level-2
                a(href='#') Four 1.3
              li.nav_level-2
                a(href='#') Four 1.4
          .col.xs-3
            ul.sub-nav-group
              li.nav_level-2
                a(href='#') Four 2.1
              li.nav_level-2
                a(href='#') Four 2.2
              li.nav_level-2
                a(href='#') Four 2.3
              li.nav_level-2
                a(href='#') Four 2.4
          .col.xs-3
            ul.sub-nav-group
              li.nav_level-2
                a(href='#') Four 3.1
              li.nav_level-2
                a(href='#') Four 3.2
              li.nav_level-2
                a(href='#') Four 3.3
              li.nav_level-2
                a(href='#') Four 3.4
          .col.xs-3
            ul.sub-nav-group
              li.nav_level-2
                a(href='#') Four 4.1
              li.nav_level-2
                a(href='#') Four 4.2
              li.nav_level-2
                a(href='#') Four 4.3
              li.nav_level-2
                a(href='#') Four 4.4
    li.nav-item.nav_level-1
      a(href='#') With Endcap
      .sub-nav.wide
        .row
          .col.xs-3
            ul.sub-nav-group
              li.nav_level-2
                a(href='#') Endcap 1.1
              li.nav_level-2
                a(href='#') Endcap 1.2
              li.nav_level-2
                a(href='#') Endcap 1.3
              li.nav_level-2
                a(href='#') Endcap 1.4
          .col.xs-3
            ul.sub-nav-group
              li.nav_level-2
                a(href='#') Endcap 2.1
              li.nav_level-2
                a(href='#') Endcap 2.2
              li.nav_level-2
                a(href='#') Endcap 2.3
              li.nav_level-2
                a(href='#') Endcap 2.4
          .col.xs-3
            ul.sub-nav-group
              li.nav_level-2
                a(href='#') Endcap 3.1
              li.nav_level-2
                a(href='#') Endcap 3.2
              li.nav_level-2
                a(href='#') Endcap 3.3
              li.nav_level-2
                a(href='#') Endcap 3.4
          .col.xs-3.endcap
            h4.font-minus-1 Endcap content
            | Looking for truth behind a decorative touch. Add softness you've
            | ever loved learning. Perfect for everyone what we talking about.
