extends /_layout.pug

block vars
  - var title = 'Accessibility'

block content
  article.grid-article
    h1 Accessibility
    | Rocketbelt strives to be accessible out of the box.

    h2 Accessibility Checklist
    table.a11y-checklist
      thead
        tr
          th Principle
          th Rule
          th Guidance
      tbody
        tr
          td
            span.a11y-principle.text-alternatives Text Alternatives
          td All images have appropriate, equivalent alternative text.
          td.guidance Ensure that #[code.font-monospace alt] text is accurate, succinct, not redundant, and doesn't use phrases like "Image of" or "Graphic of".
        tr
          td
            span.a11y-principle.text-alternatives Text Alternatives
          td Images that do not convey content, are decorative, or contain content that is already conveyed in text are given null alt text (#[code.font-monospace alt=""]) or implemented as CSS backgrounds. All linked images have descriptive alternative text.
          td.guidance Ensure #[code.font-monospace alt] text doesn't just duplicate existing text.
        tr
          td
            span.a11y-principle.text-alternatives Text Alternatives
          td Form buttons have a descriptive value.
          td.guidance A button with no text value should have a #[code.font-monospace title] tag that indicates what it does.
        tr
          td
            span.a11y-principle.text-alternatives Text Alternatives
          td Form inputs have associated text labels.
          td.guidance Ensure that every form label is linked to its input with a #[code.font-monospace for] attribute.
        tr
          td
            span.a11y-principle.text-alternatives Text Alternatives
          td Embedded multimedia is identified via accessible text.
          td.guidance Add a #[code.font-monospace aria-label] or #[code.font-monospace aria-labelledby] attributes that indicate what the content is.
        tr
          td
            span.a11y-principle.text-alternatives Text Alternatives
          td Frames are appropriately titled.
          td.guidance
        tr
          td
            span.a11y-principle.adaptable Adaptable
          td Semantic markup is used appropriately to designate headings, lists, areas of the page (using HTML5 semantic tags such as #[code.font-monospace section], #[code.font-monospace aside], etc.) and emphasized or special text.
          td.guidance Semantic markup eliminates the need to add #[code.font-monospace aria-role] attributes.
        tr
          td
            span.a11y-principle.adaptable Adaptable
          td Tables are used for tabular data. Where necessary, data cells are associated with their headers. Data table captions and summaries are used where appropriate.
          td.guidance
        tr
          td
            span.a11y-principle.adaptable Adaptable
          td Text labels are associated with form input elements. Related form elements are grouped with fieldset/legend.
          td.guidance Ensure that every form label is linked to its input with a #[code.font-monospace for] attribute. Group related elements into a #[code.font-monospace fieldset] when appropriate.
        tr
          td
            span.a11y-principle.adaptable Adaptable
          td The reading and navigation order (determined by code order) is logical and intuitive.
          td.guidance
        tr
          td
            span.a11y-principle.adaptable Adaptable
          td Instructions do not rely upon shape, size, or visual location.
          td.guidance Content may flow differently at various viewport widths—avoid phrases like "on the right," "see the note beneath," etc.
        tr
          td
            span.a11y-principle.distinguishable Distinguishable
          td Color is not used as the sole method of conveying content or distinguishing visual elements.
          td.guidance Use color in addition to another visual indicator such as text or an icon.
        tr
          td
            span.a11y-principle.distinguishable Distinguishable
          td The page is readable and functional when the text size is increased.
          td.guidance Change the browser's zoom level with Ctrl-/Cmd-+. Does the page break? Are its aesthetics maintained?
        tr
          td
            span.a11y-principle.distinguishable Distinguishable
          td If the same visual presentation can be made using text alone, an image is not used to present that text.
          td.guidance Avoid embedding meaningful text in images at all costs. If it cannot be avoided, use #[code.font-monospace alt] text or a #[code.font-monospace visually-hidden] element linked with an #[code.font-monospace aria-describedby] attribute on the image.
        tr
          td
            span.a11y-principle.distinguishable Distinguishable
          td Text is used within an image only for decoration (the image does not convey content) or when the information cannot be presented with text alone.
          td.guidance Avoid embedding meaningful text in images at all costs. If it cannot be avoided, use #[code.font-monospace alt] text or a #[code.font-monospace visually-hidden] element linked with an #[code.font-monospace aria-describedby] attribute on the image.
        tr
          td
            span.a11y-principle.navigable Navigable
          td All page functionality is available using the keyboard.
          td.guidance Use the #[code.font-monospace TAB] key to navigate from element to element. Ensure all elements that can be interacted with via mouse can receive keyboard focus. Ensure all anchor tags have #[href] attributes.
        tr
          td
            span.a11y-principle.navigable Navigable
          td A link is provided to skip navigation and other page elements that are repeated across web pages.
          td.guidance Implement Rocketbelt's #[a(href='#skip-links') Skip Link] pattern as the first focusable element on the page.
        tr
          td
            span.a11y-principle.navigable Navigable
          td The purpose of each link can be determined from the link text alone, or from the link text and the content that surrounds it.
          td.guidance Avoid unclear link text like "click here." Add a #[code.font-monospace title] attribute to any text that may be unclear.
        tr
          td
            span.a11y-principle.navigable Navigable
          td Links (or form image buttons) with the same text that go to different locations are readily distinguishable.
          td.guidance Use descriptive, clear language in link text. Add a #[code.font-monospace title] attribute to any text that may be unclear.
        tr
          td
            span.a11y-principle.navigable Navigable
          td It is visually apparent which page element has the current keyboard focus (i.e., as you tab through the page, you can see where you are).
          td.guidance Never remove CSS #[code.font-monospace outline]s. Favor minimal outlining such as Rocketbelt's default (#[code.font-monospace outline: thin dotted;]).
        tr
          td
            span.a11y-principle.navigable Navigable
          td The purpose of each link (or form image button or image map hotspot) can be determined from the link text alone.
          td.guidance Use descriptive, clear language in link text.
        tr
          td
            span.a11y-principle.navigable Navigable
          td There are no links (or form image buttons) with the same text that go to different locations.
          td.guidance Use descriptive, clear language in link text.
        tr
          td
            span.a11y-principle.predictable Predictable
          td When a page element receives focus, it does not result in a substantial change to the page, the spawning of a pop-up window, an additional change of keyboard focus, or any other change that could confuse or disorient the user.
          td.guidance Allow the user to trigger these states instead. Do not use Javascript to steal keyboard focus.
        tr
          td
            span.a11y-principle.predictable Predictable
          td When a user interacts with the page, it does not result in a substantial change to the page, the spawning of a pop-up window, an additional change of keyboard focus, or any other change that could confuse or disorient the user unless the user is informed of the change ahead of time.
          td.guidance Ensure that any link or button that triggers a dialog indicates this behavior with its text or via a #[code.font-monospace title] tag. Do not use Javascript to steal keyboard focus.
        tr
          td
            span.a11y-principle.predictable Predictable
          td Substantial changes to the page, the spawning of pop-up windows, uncontrolled changes of keyboard focus, or any other change that could confuse or disorient the user must be initiated by the user.
          td.guidance Ensure that any link or button that triggers a dialog indicates this behavior with its text or via a #[code.font-monospace title] tag. Do not use Javascript to steal keyboard focus.
        tr
          td
            span.a11y-principle.compatible Compatible
          td Markup is used in a way that facilitates accessibility. Significant HTML/XHTML validation/parsing errors are avoided.
          td.guidance Use the W3C's #[a(href='https://validator.w3.org/') validation service] or #[a(href='https://validator.w3.org/favelets.html') validation bookmarklet].

    h2 Accessibility User Stories
    ul
      li As a keyboard-only user, I want to be able to reach navigation links with a keyboard so that I can access different areas of the site.
      li As a keyboard-only user, I want the ability to reach all links (text or image), form controls and page functions, so that I can perform an action or navigate to the place I choose.
      li As a keyboard-only user, I want the ability to use the enter key to open the selected link so that every link on a page is accessible using a keyboard as it would be with a mouse click.
      li As a keyboard-only user, I want to know where I am on the screen at all times so that I know what I can do and how to do it.
      li As a screen reader user, I want to hear the text equivalent for each image conveying information so that I don't miss any information on the page.
      li As a screen reader user, I want to understand know what each form label is for each form field so that I can effectively enter the correct information in the form.

    h2#skip-links Skip Links
    | Main content or items in a page's footer may require dozens or hundreds Tab presses to interact with if a user is navigating via keyboard. Skip links make this interaction much less tedious by using an on-page href. The link is visually hidden unless it is focused via keyboard.

    +exampleCodeOnly
      include _a11y-skip-links.pug
