extends /_layout.pug

block vars
  - var title = 'Accessibility'

block content
  article.grid-article
    h1 Accessibility
    | Rocketbelt strives to be accessible out of the box.

    h2 Accessibility Checklist
    table
      thead
        tr
          th Principle
          th Description
      tbody
        tr
          td
            span.a11y-principle.text-alternatives Text Alternatives
          td All images have appropriate, equivalent alternative text.
        tr
          td
            span.a11y-principle.text-alternatives Text Alternatives
          td Images that do not convey content, are decorative, or contain content that is already conveyed in text are given null alt text (#[code alt=""]) or implemented as CSS backgrounds. All linked images have descriptive alternative text.
        tr
          td
            span.a11y-principle.text-alternatives Text Alternatives
          td Equivalent alternatives to complex images are provided in context or on a separate (linked and/or referenced via #[code longdesc]) page.
        tr
          td
            span.a11y-principle.text-alternatives Text Alternatives
          td Form buttons have a descriptive value.
        tr
          td
            span.a11y-principle.text-alternatives Text Alternatives
          td Form inputs have associated text labels.
        tr
          td
            span.a11y-principle.text-alternatives Text Alternatives
          td Embedded multimedia is identified via accessible text.
        tr
          td
            span.a11y-principle.text-alternatives Text Alternatives
          td Frames are appropriately titled.
        tr
          td
            span.a11y-principle.adaptable Adaptable
          td Semantic markup is used appropriately to designate headings, lists, areas of the page (using HTML5 semantic tags such as #[code section], #[code aside], etc.) and emphasized or special text.
        tr
          td
            span.a11y-principle.adaptable Adaptable
          td Tables are used for tabular data. Where necessary, data cells are associated with their headers. Data table captions and summaries are used where appropriate.
        tr
          td
            span.a11y-principle.adaptable Adaptable
          td Text labels are associated with form input elements. Related form elements are grouped with fieldset/legend.
        tr
          td
            span.a11y-principle.adaptable Adaptable
          td The reading and navigation order (determined by code order) is logical and intuitive.
        tr
          td
            span.a11y-principle.adaptable Adaptable
          td Instructions do not rely upon shape, size, or visual location.
        tr
          td
            span.a11y-principle.distinguishable Distinguishable
          td Color is not used as the sole method of conveying content or distinguishing visual elements.
        tr
          td
            span.a11y-principle.distinguishable Distinguishable
          td The page is readable and functional when the text size is increased.
        tr
          td
            span.a11y-principle.distinguishable Distinguishable
          td If the same visual presentation can be made using text alone, an image is not used to present that text.
        tr
          td
            span.a11y-principle.distinguishable Distinguishable
          td Text is used within an image only for decoration (the image does not convey content) or when the information cannot be presented with text alone.
        tr
          td
            span.a11y-principle.navigable Navigable
          td All page functionality is available using the keyboard.
        tr
          td
            span.a11y-principle.navigable Navigable
          td A link is provided to skip navigation and other page elements that are repeated across web pages.
        tr
          td
            span.a11y-principle.navigable Navigable
          td The purpose of each link can be determined from the link text alone, or from the link text and its context (e.g., surrounding paragraph, list item, table cell, or table headers).
        tr
          td
            span.a11y-principle.navigable Navigable
          td Links (or form image buttons) with the same text that go to different locations are readily distinguishable.
        tr
          td
            span.a11y-principle.navigable Navigable
          td It is visually apparent which page element has the current keyboard focus (i.e., as you tab through the page, you can see where you are).
        tr
          td
            span.a11y-principle.navigable Navigable
          td The purpose of each link (or form image button or image map hotspot) can be determined from the link text alone.
        tr
          td
            span.a11y-principle.navigable Navigable
          td There are no links (or form image buttons) with the same text that go to different locations.
        tr
          td
            span.a11y-principle.predictable Predictable
          td When a page element receives focus, it does not result in a substantial change to the page, the spawning of a pop-up window, an additional change of keyboard focus, or any other change that could confuse or disorient the user.
        tr
          td
            span.a11y-principle.predictable Predictable
          td When a user interacts with the page, it does not result in a substantial change to the page, the spawning of a pop-up window, an additional change of keyboard focus, or any other change that could confuse or disorient the user unless the user is informed of the change ahead of time.
        tr
          td
            span.a11y-principle.predictable Predictable
          td Substantial changes to the page, the spawning of pop-up windows, uncontrolled changes of keyboard focus, or any other change that could confuse or disorient the user must be initiated by the user.
        tr
          td
            span.a11y-principle.compatible Compatible
          td Significant HTML/XHTML validation/parsing errors are avoided.
        tr
          td
            span.a11y-principle.compatible Compatible
          td Markup is used in a way that facilitates accessibility. This includes following the HTML/XHTML specifications and using forms, form labels, frame titles, etc. appropriately.

    h2 Accessibility User Stories
    ul
      li As keyboard-only user, I want to be able to reach navigation links with a keyboard so that I can access different areas of the site.
      li As keyboard-only user, I want the ability to reach all links (text or image), form controls and page functions, so that I can perform an action or navigate to the place I choose.
      li As a keyboard-only user, I want the ability to use the enter key to open the selected link so that every link on a page is accessible using a keyboard as it would be with a mouse click.
      li As keyboard-only user, I want to know where I am on the screen at all times so that I know what I can do and how to do it.
      li As a screen reader user, I want to hear the text equivalent for each image conveying information so that I don't miss any information on the page.
      li As a screen reader user, I want to understand know what each form label is for each form field so that I can effectively enter the correct information in the form.

    h2 Skip Links
    | Main content or items in a page's footer may require dozens or hundreds Tab presses to interact with if a user is navigating via keyboard. Skip links make this interaction much less tedious by using an on-page href. The link is visually hidden unless it is focused via keyboard.

    +exampleCodeOnly
      include _a11y-skip-links.pug
