extends /_layout.pug

block vars
  - var title = 'Site Content'

block content
  article
    h1 Site Content

    h2 Overview
    p Content is the most powerful way to attract new customers.  It is also the way we communicate with existing customers.  It is paramount that it has clarity and consistency to build trust.

    h2 Content Guidelines
    img(src='./img/content_guidelines.png' width='620')

    h2 Site Banners

    section
      h3.docs-header SEO Typography
      img(src='./img/seo_typography.png' width='750')
      p These banners provide textual value for search engines.  The copy should be keyword rich, but still structured so that it reads like text meant for a human.

    section
      h3.docs-header Link Banner
      img(src='./img/link_banner.png' width='750')
      p This banner provides one or more links that will provide customers with inspiration and ideas on how to use the products below.  #[strong Remember:] any click that takes a customer further away from the product must provide added value for them to purchase later in their visit.  Should be used sparingly.

    section
      h3.docs-header Headline Banner
      img(src='./img/headline_banner.png' width='750')
      p Standard inspirational image banner.  It should be employed for either new product categories or where we believe our editorial imagery and copy will provide value beyond what the product imagery can provide.

    section
      h3.docs-header Feature Banner
      img(src='./img/feature_banner.png' width='750')
      p Very specific usage.  These banners are for products that we feel are very special, but that the product imagery alone doesn't do justice.  They can also be used where Pier 1 feels additional information needs to be presented to help the customer make a buying decision.

    section
      h3.docs-header SEO Footer (coming soon)
      img(src='./img/seo_footer.png' width='750')
      p These banners provide textual value for search engines.  The copy should be keyword rich, but still structured so that it reads like text meant for a human.  Since they are the final item on the page, these may also provide links to related categories or editorial content.


    h2 Embedded Grid Content
    p These content block should be used thoughfully and deliberately. There is potential to move customers out of the buying path. Also, over use can quickly result in #[+footnoteTerm('banner blindness')].
 
    h3.docs-header Usage Priority
    ol
      li #[b Cross-selling] – Near the bottom of a grid page to provide additional categories that may prevent a site exit. <br />
        i Example: Cushions near furniture
      li #[b Middle of the Funnel Offers] – Helps the customer who may be struggling with making a buying decision <br />
        i Example: Discount with end date
      li #[b Inspirational Content] – Presented with the goal of increasing AOV by showing ways use or accessorize. <br />
        i Example: Glitter Strings near vases
    
    h3.docs-header Three Variations
    img(src='./img/embedded_grid_content.jpg' width='826')

    +footnoteDefine('banner blindness')
        | A phenomenon in web usability where site visitors consciously or subconsciously ignore banner-like information #[a(href="http://www.infolinks.com/blog/infographic/the-banner-blindness-infographic/") The Banner Blindness Infographic ]

    h2 Visual Filters
    p Visual filters are a high-affordance method for customers to quickly narrow a product grid down to just the products they are interested in.

    ul
      li When possible use icons&mdash;images tend to set an expectation in the user's mind
      li Keep the buttons large (48px or 64px)
      li The top banner should #[em only] be added if additional explaination is needed

    section.docs-vis-filters
      a(name='docs-vis-filters')
      br
      div
        ul#docs-vis-filter-controls.list-inline
          li #[span #[strong Visual Filter Layouts: ]]
          li.selected #[a(href='#docs-vis-filters' data-layout='1') Single ]
          li #[a(href='#docs-vis-filters' data-layout='2') Multiple ]
          li #[a(href='#docs-vis-filters' data-layout='3') Multiple + Text]
        #docs-vis-filter-items
          .docs-vis-filter-item.show(data-layout='1')
            img(src='./img/vis_filter_single.png' width='700')
          .docs-vis-filter-item(data-layout='2')
            img(src='./img/vis_filter_multi.png' width='700')
          .docs-vis-filter-item(data-layout='3')
            img(src='./img/vis_filter_multi_text.png' width='700')

      br
      br
      br

  script.
    $('#docs-vis-filter-controls').on('click', 'a', function(e){
      e.preventDefault();
      var $link = $(this), layoutId = $link.data('layout');
      $('#docs-vis-filter-items').find('.show').removeClass('show');
      $('#docs-vis-filter-controls').find('.selected').removeClass('selected');

      $link.parent('li').addClass('selected');
      $('#docs-vis-filter-items').find('[data-layout="' + layoutId + '"]').addClass('show');
    });
