extends /_layout.jade

block vars
  - var title = 'Site Content'

block content
  article
    :md
      # Site Content

      ## Overview
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.

      ## Headers