$system-font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif !important;

$ms-base: (13 / 15) * 1rem 1rem;
$ms-ratio: 1.333333333;

@import 'breakpoints',
        'color',
        'grid',
        'layout';
