$tooltip-background: rgba(color(black), 0.85);
$tooltip-background-light: rgba(color(white), 0.85);

/* New Tooltip Styles */

.tooltip {
  position: relative;
  &::before,
  .tooltip-content {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity 250ms linear, visibility 250ms linear, transform 250ms cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transform: translate3d(0, 0, 0);
    pointer-events: none;
  }
  // Base styles for the tooltip's directional arrow
  &::before {
    z-index: 1001;
    border: 8px solid transparent;
    background: transparent;
    content: '';
  }
  // Base styles for the tooltip's content area
  .tooltip-content {
    @include z-depth(1);
    z-index: 1000;
    padding: padding(-2);
    min-width: 150px;
    border-radius: 2px;
    background-color: $tooltip-background;
    color: color(white);
    content: attr(data-tooltip);
    text-align: left;
    text-transform: none;
    letter-spacing: normal;
    font-size: ms(-2);
    line-height: 1.2;
  }
  &:hover,
  &:focus {
    &::before,
    .tooltip-content {
      visibility: visible;
      opacity: 1;
    }
  }
}

// Top (default)
.tooltip,
.tooltip-top {
  &::before,
  .tooltip-content {
    bottom: 100%;
    left: 50%;
    transform: translate3d(-50%, 6px, 0);
  }
  &::before {
    margin-bottom: -12px;
    border-top-color: $tooltip-background;
  }
  .tooltip-content {
    margin-bottom: 4px;
  }
  &:hover,
  &:focus {
    &::before,
    .tooltip-content {
      transform: translate3d(-50%, -6px, 0);
    }
  }
}

.tooltip-left,
.tooltip-right {
  &::before {
    border: 8px solid transparent;
  }
}

.tooltip-left {
  &::before,
  .tooltip-content {
    right: 100%;
    bottom: 50%;
    left: auto;
    transform: translate3d(6px, 50%, 0);
  }
  &::before {
    margin-right: -12px;
    margin-bottom: 0;
    margin-left: 0;
    border-top-color: transparent;
    border-left-color: $tooltip-background;
  }
  .tooltip-content{
    margin-right: 4px;
    margin-bottom: 0;
  }
  &:hover,
  &:focus {
    &::before,
    .tooltip-content {
      transform: translate3d(-6px, 50%, 0);
    }
  }
}

.tooltip-bottom {
  &::before,
  .tooltip-content {
    top: 100%;
    bottom: auto;
    left: 50%;
    transform: translate3d(-50%, -6px, 0);
  }
  &::before {
    margin-top: -12px;
    margin-bottom: 0;
    border-top-color: transparent;
    border-bottom-color: $tooltip-background;
  }
  .tooltip-content {
    margin-top: 4px;
    margin-bottom: 0;
  }
  &:hover,
  &:focus {
    &::before,
    .tooltip-content {
      transform: translate3d(-50%, 6px, 0);
    }
  }
}

.tooltip-right {
  &::before,
  .tooltip-content {
    bottom: 50%;
    left: 100%;
    transform: translate3d(-6px, 50%, 0);
  }
  &::before {
    margin-bottom: 0;
    margin-left: -12px;
    border-top-color: transparent;
    border-right-color: $tooltip-background;
  }
  .tooltip-content {
    margin-bottom: 0;
    margin-left: 4px;
  }
  &:hover,
  &:focus {
    &::before,
    .tooltip-content {
      transform: translate3d(6px, 50%, 0);
    }
  }
}

.tooltip-md {
  .tooltip-content {
    min-width: 325px;
  }
}

.tooltip-lg {
  .tooltip-content {
    min-width: 400px;
  }
}