.card.card-full-bleed.z-depth-1
  each alt in ['PS73156_1']
    - var base = 'https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/';
    - var short = alt.substring(0, alt.indexOf('_'));
    .lazyload-wrapper(data-src-lg=base + short + '/' + alt + '.jpg?sw=400&sh=400')
      img.lazyload-small(src=base + short + '/' + alt + '.jpg?sw=10&sh=10')
      .lazyload-pad(style='padding-bottom: 100%')
  .card-content
    .card-title Full Bleed Cards
    .card-body
      p Combine an image with card content.
      span And with the answer is one reflected plays well enough for a distinct design. Try it will fly outdoors. We search of course, since it above a cool jewel-like turquoise cushion.
