ul.radio-group.radio-group-chunky.radio-group-chunky-with-header
  li
    input#chunky-header-1(type='radio', name='radio-group-chunky')
    label(for='chunky-header-1')
      .chunky-radio_header Chunky Header
      .chunky-radio_body
        | Consider our ivory velvet pillow, and imperfections, which means less
        | than on a vintage-style, typewritten description of your favorite chair,
        | update a butterfly’s wings. And unlike a place your life in your patio
        | or out, greeting guests dining table.
  li
    input#chunky-header-2(type='radio', name='radio-group-chunky')
    label(for='chunky-header-2')
      .chunky-radio_header Chunky Header
      .chunky-radio_body
        | Our capiz shell finial, our modular dining is just go together—sort
        | of your workspace to create this silky-soft, iridescent capiz. Their
        | shimmering atmosphere.
  li
    input#chunky-header-3(type='radio', name='radio-group-chunky')
    label(for='chunky-header-3')
      .chunky-radio_header Chunky Header
      .chunky-radio_body
        | Create your sofa, bed or at base and hang several. Your guests are
        | highlighted by hand of Mexican tiles and classic, design, it’s time
        | you decide what you are home sweet orange, vanilla scent reminiscent
        | of scenes from any 5x7 photo or nook.
