$message-families: (success, error, warning, info);

%message-static-props {
  display: flex;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid;
  border-radius: 2px;

  justify-content: space-between;
  align-items: center;
}


%message-flash-static-props {
  @extend %message-static-props;

  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid;
  border-radius: 2px;
}


%message-banner-static-props {
  @extend %message-static-props;

  margin: 0;
  border: none;
  border-radius: 0;
}

.message-banner {
  @extend %message-banner-static-props;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
}


.message-flash {
  @extend %message-flash-static-props;
}

@mixin message($family) {
  border-color: color($family, darker);
  background: color($family, lightest);
  color: color($family, darker);
}


@each $family in $message-families {
  .message-#{$family} {
    @include message($family);
    transition: color 200ms ease-in-out;

    & .message-dismissable_close {
      &:hover {
        color: color($family);
        transition: color 200ms ease-in-out;
      }

      &:active {
        color: color($family, darker);
        transition: color 200ms ease-in-out;
      }
    }
  }
}

.message-dismissable {
  .message-dismissable_close {
    display: flex;
    margin: -0.375rem;
    padding: 0.125rem 0.375rem;
    width: 2rem;
    height: 2rem;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1;
    cursor: default;

    user-select: none;
    justify-content: center;
    align-items: center;

    &::after {
      content: '\00d7';
    }
  }
}


.slideOutUp {
  @include fadeOutUp();
}
