.message-flash.message-success Congratulations! This is a success message.
.message-flash.message-warning Caution! This is a warning message.
.message-flash.message-error Look out! This is an error message.
.message-flash.message-info Just FYI. This is an info message.
