@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  @include font-weight(normal);
  src: local('Inconsolata'),
       url(https://fonts.gstatic.com/s/inconsolata/v12/BjAYBlHtW3CJxDcjzrnZCIgp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
}
