.lazyload-wrapper {
  position: relative;
  width: 100%;
  background: linear-gradient(
    -90deg,
    scale-color(color(gray, plus2), $lightness: 50%) 0%,
    color(white) 50%,
    scale-color(color(gray, plus2), $lightness: 50%) 100%
  );
  background-color: color(gray, plus4);
  // background-size: cover;
  background-size: 400% 400%;
  background-repeat: no-repeat;
  animation: pulse 1.2s ease-in-out infinite;

  @keyframes pulse {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: -135% 0;
    }
  }

  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 100ms linear;

    &.loaded {
      opacity: 1;
    }
  }
}

.lazyload {
  display: flex;
  flex: 1;
  margin-top: 10vh;
  margin-bottom: 90vh;
  min-width: 20vw;
  min-height: 20vw;
  border-radius: 2px;
  background-color: color(gray, plus4);

  justify-content: center;
  align-items: center;
}
