section.gallery(aria-label='Images of [your thing here]')
  aside#gallery-main.swiper-container
    .swiper-wrapper
      - skus = ['3174795_1', '3132320_1', '3175445_1', '3123596_1', '3094824_1', '3132318_1']
      each alt in skus
        - var short = alt.substring(0, alt.indexOf('_'));
        .swiper-slide
          img.swiper-lazy(data-src=base + short + '/' + alt + '.jpg?sw=400&sh=400')
    button.swiper-button-prev(aria-label='Previous Image')
      svg.icon
        use(xlink:href='/components/icons/rocketbelt.icons.svg#rb-icon-chevron-left')
    button.swiper-button-next(aria-label='Next Image')
      svg.icon
        use(xlink:href='/components/icons/rocketbelt.icons.svg#rb-icon-chevron-right')
    .swiper-pagination
