section.gallery(aria-label='Images of [your thing here]')
  aside#gallery-with-thumbs.swiper-container
    .swiper-wrapper
      - skus = ['BRS0005_1', '2490759_12', '2490759_13', '2222471_13', 'IDD0003_1', '2983222_10A']
      each alt in skus
        - var short = alt.substring(0, alt.indexOf('_'));
        img.swiper-lazy.swiper-slide(data-src=base + short + '/' + alt + '.jpg?sw=400&sh=400')
    button.swiper-button-prev(aria-label='Previous Image')
      svg.icon
        use(xlink:href='/components/icons/rocketbelt.icons.svg#rb-icon-chevron-left')
    button.swiper-button-next(aria-label='Next Image')
      svg.icon
        use(xlink:href='/components/icons/rocketbelt.icons.svg#rb-icon-chevron-right')

  aside.swiper-container.gallery-thumbs
    .swiper-wrapper
      - skus = ['BRS0005_1', '2490759_12', '2490759_13', '2222471_13', 'IDD0003_1', '2983222_10A']
      each alt in skus
        - var short = alt.substring(0, alt.indexOf('_'));
        img.swiper-slide(src=base + short + '/' + alt + '.jpg?sw=200&sh=200')
