<!DOCTYPE html>
<html>
  <head>
    <title>Busy Indicators | Rocketbelt Pattern Library</title>
    <link rel="stylesheet" href="/rocketbelt/css/site.min.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  </head>
  <body class="grid-fluid">
    <div style="flex-wrap: nowrap;" class="row">
      <nav style="flex-grow: 0;" class="col xs">
        <ul class="list-reset">
          <li><a href="/rocketbelt/base">Base</a>
            <ul class="list-reset">
              <li><a href="/rocketbelt/base/breakpoints">Breakpoints</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/rocketbelt/base/color">Color</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/rocketbelt/base/grid">Grid</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/rocketbelt/base/layout">Layout</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/rocketbelt/base/slipsum">Slipsum</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/rocketbelt/base/typography">Typography</a>
                <ul class="list-reset">
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="/rocketbelt/components">Components</a>
            <ul class="list-reset">
              <li><a href="/rocketbelt/components/expanders">Expanders</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/rocketbelt/components/forms">Forms</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/rocketbelt/components/busy-indicators">Busy Indicators</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/rocketbelt/components/buttons">Buttons</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/rocketbelt/components/cards">Cards</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/rocketbelt/components/alerts">Alerts</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/rocketbelt/components/images">Images</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/rocketbelt/components/modals">Modals</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/rocketbelt/components/radio-buttons">Radio Buttons</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/rocketbelt/components/tabcordions">Tabcordions</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/rocketbelt/components/tooltips">Tooltips</a>
                <ul class="list-reset">
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="/rocketbelt/exposition">Exposition</a>
            <ul class="list-reset">
            </ul>
          </li>
        </ul>
      </nav>
      <div class="col xs">
        <main class="grid-fluid no-margin">
          <div class="row">
            <div class="col xs">
              <article><h1 id="busy-indicators">Busy Indicators</h1>
<h2 id="dots">Dots</h2>

                <div class="grid-fluid">
                  <div class="row">
                    <div class="col xs">
                      <div class="exampleWithCode">
                        <div class="example">
                          <ul class="busy-dots">
                            <li></li>
                            <li></li>
                            <li></li>
                          </ul>
                        </div>
                        <div class="expander">
                          <input type="checkbox" id="Z1VdABx" class="expander_checkbox"/>
                          <label for="Z1VdABx" data-collapsed-label="Show HTML" data-expanded-label="Hide HTML" class="expander_label"><span class="expander_icon"></span></label>
                          <div class="expander_content">
                            <div class="example-code">
                              <button data-clipboard-target="#ZVB9u5" class="copy-code">Copy</button>
                              <pre><code id="ZVB9u5" class="language-html">
                                  &lt;ul class=&quot;busy-dots&quot;&gt;
                                    &lt;li&gt;&lt;/li&gt;
                                    &lt;li&gt;&lt;/li&gt;
                                    &lt;li&gt;&lt;/li&gt;
                                  &lt;/ul&gt;</code></pre>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><h2 id="spinner">Spinner</h2>

                <div class="grid-fluid">
                  <div class="row">
                    <div class="col xs">
                      <div class="exampleWithCode">
                        <div class="example">
                          <div class="busy"></div>
                        </div>
                        <div class="expander">
                          <input type="checkbox" id="1Npl8L" class="expander_checkbox"/>
                          <label for="1Npl8L" data-collapsed-label="Show HTML" data-expanded-label="Hide HTML" class="expander_label"><span class="expander_icon"></span></label>
                          <div class="expander_content">
                            <div class="example-code">
                              <button data-clipboard-target="#2fffGr" class="copy-code">Copy</button>
                              <pre><code id="2fffGr" class="language-html">
                                  &lt;div class=&quot;busy&quot;&gt;&lt;/div&gt;</code></pre>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script src="/rocketbelt/js/prism.js"></script>
    <script src="/rocketbelt/js/clipboard.min.js"></script>
    <script src="/rocketbelt/js/site.js"></script>
  </body>
</html>