extends /_layout.jade

block vars
  - var title = 'Modals'

block content
  article
    h1 Modals
    
    h2 Standard Modal
    .grid-fluid
      .row
        .col.xs-8
          div
            a.button.button-secondary.button-md(href='#modal-example-standard') Trigger Modal
      .row
        .col.xs
          +exampleWithCode
            include _modal-standard
    
    h2 Bottom Sheet Modal
    .grid-fluid
      .row
        .col.xs-8
          div
            a.button.button-secondary.button-md(href='#modal-example-bottom') Trigger Modal
      .row
        .col.xs
          +exampleWithCode
            include _modal-bottom-sheet
      
    h2 Max Modal
    .grid-fluid
      .row
        .col.xs-8
          div
            a.button.button-secondary.button-md(href='#modal-example-max') Trigger Modal
      .row
        .col.xs
          +exampleWithCode
            include _modal-max

      
    h2 Script Include
    +exampleWithCode('html', true)
      script(src='./rocketbelt.modal.min.js')
