extends /_layout.jade

block vars
  - var title = 'Links & Buttons'

block content
    article
        :md
            # Links & Buttons
            <img src="./img/link_button_affordance.png" width="640">

            
