extends /_layout.jade

block vars
  - var title = 'Links & Buttons'

block content
    article
        :md
            # Links & Buttons

            ## Link & Button Affordance Rules
            <img src="./img/link_button_affordance.png" width="640">

            ## Link & Button Guidelines
            <img src="./img/link-button-guidelines.png" width="620">

            ## Call-To-Action Guidelines
            <img src="./img/call-to-action-guidelines.png" width="620">

            
