script.
  if (navigator.userAgent.indexOf('MSIE') !== -1 ||
      navigator.appVersion.indexOf('Trident/') > 0) {
    window.rocketbelt.getScript('/base/layout/rocketbelt.flexibility.min.js', function () {
      window.rocketbelt = window.rocketbelt || {};
      window.rocketbelt.layout = window.rocketbelt.layout || {};
      window.rocketbelt.layout.flexibility = true;
      
      flexibility(document.documentElement);
    });
  }
