@mixin keyframes-shake {
  @include keyframes(shake) {
    0%, 100% {@include transform(translateX(0));}
  	10%, 30%, 50%, 70%, 90% {@include transform(translateX(-10px));}
  	20%, 40%, 60%, 80% {@include transform(translateX(10px));}
  }
}

@mixin shake($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $timingFunction: $timingFunctionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  $name: shake;

  @if (index($included-keyframes, $name) == null) {
    @include keyframes-shake;
    $included-keyframes: append($included-keyframes, $name) !global;
  }
  @else {
    $included-keyframes: append($included-keyframes, $name) !global;
  }

	@include animation-name($name);
  @include animation-properties($count, $duration, $delay, $timingFunction, $fill, $visibility);
}
