@mixin keyframes-tada {
  @include keyframes(tada) {
  	0% {@include transform(scale(1));}
  	10%, 20% {@include transform(scale(0.9) rotate(-3deg));}
  	30%, 50%, 70%, 90% {@include transform(scale(1.1) rotate(3deg));}
  	40%, 60%, 80% {@include transform(scale(1.1) rotate(-3deg));}
  	100% {@include transform(scale(1) rotate(0));}
  }
}

@mixin tada($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $timingFunction: $timingFunctionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  $name: tada;

  @if (index($included-keyframes, $name) == null) {
    @include keyframes-tada;
    $included-keyframes: append($included-keyframes, $name) !global;
  }
  @else {
    $included-keyframes: append($included-keyframes, $name) !global;
  }

	@include animation-name($name);
  @include animation-properties($count, $duration, $delay, $timingFunction, $fill, $visibility);
}
