.tabs {
  $width-border: 1px;
  $color-border: color(gray, plus2);
  $color-bg: color(gray, plus4);
  $border: $width-border solid $color-border;

  font-size: 0;
  background: $color-bg;
  border: $width-border solid $color-border;
  position: relative;

  &:after {
    clear: both;
    content: '';
    display: table;
  }

  .tab {
    display: inline;

    .tab_radio {
      @extend %visuallyhidden;

      &:checked ~ .tab_panel {
        display: inline;
      }

      &:checked + .tab_label {
        color: color(pier1blue);
        transition: all 200ms;
      }

      &:not(:checked) + .tab_label {
        color: rgba(color(pier1blue), 0.4);
        transition: all 200ms;
      }
    }
  }

  .tab_label {
    padding: ms(-10) ms(-4);
    font-size: ms(-1);
    text-transform: uppercase;
    width: 100%;
    display: inline-block;
    transition: all 200ms;

    @include media('>=sm') {
      width: auto;
      border: 0;
      border-right: $width-border solid $color-border;
    }
  }

  .tab_panel {
    font-size: initial;
    display: inline-block;
    overflow: hidden;
    position: relative;
    height: 0;
    width: 0;
  }

  .tab_content {
    padding: ms(-4);
    display: block;
    background: white;
    float: left;
    margin-top: -$width-border;
    width: 100%;

    @include media('>=sm') {
      border-top: $width-border solid $color-border;
    }
  }

  .highlight {
    @include media('>=sm') {
      position: absolute;
      top: 0;
      left: 0;
      height: 3px;
      background: color(primary);
      transition: width 300ms ease-in-out,
                  left  300ms ease-in-out;
    }
  }
}
