extends /_layout.pug

block vars
  - var title = 'Icons'

block content
  article
    h1 Icons

  .grid-fluid
    .row.xs-center
      each icon in icons
        - icon = icon.replace(/\.svg/, '');
        .col.xs-2.sm-1
          svg.icon
            use(xlink:href='./rocketbelt.icons.svg#rb-icon-' + icon)
          .icon-id.font-monospace.font-minus-2 #{'#rb-icon-' + icon}

  +exampleCodeOnly('JS Include')
    script(src='./rocketbelt.icons.svgxuse.min.js', defer)
