extends /_layout

block vars
  - var title = 'Icons'

block content
  article
    h1 Icons

  .grid-fluid
    .row.xs-center
      each icon in icons
        - icon = icon.replace(/\.svg/, '');
        .col.xs-4.sm-3.md-2.lg-1
          svg.icon
            use(xlink:href='./rocketbelt.icons.svg#rb-icon-' + icon)
          .icon-id.font-monospace.font-minus-2 #{'#rb-icon-' + icon}
