extends /_layout.pug

block vars
  - var title = 'Icons'

block content
  article.examples-icons
    h1 Icons

    //- h2 Toggle Icons
    //- include _icon-toggle.pug

    h2 Accessibility
    h3 "Meaningful" Icon
    .icon-meaningful
      +exampleWithCode
        include _icon-meaningful.pug

    h3 Icon With Text
    .icon-with-text
      +exampleWithCode
        include _icon-with-text.pug

    h3 Linked Icon Without Text
    .icon-link-no-text
      +exampleWithCode
        include _icon-link-no-text.pug

    h3 Icon With Indicator
    .icon-link-with-indicator
      +exampleWithCode
        include _icon-link-with-indicator.pug

    h2 Javascript (Javascript? #[em Yes, Javascript.])
    +exampleCodeOnly('JS Include')
      script(src='./rocketbelt.icons.svgxuse.min.js', defer)

    h2 Standard Icons
    .grid-fluid
      .row
        each icon in icons
          - icon = icon.replace(/\.svg/, '');
          if icon !== 'enterprise'
            .col.xs-2.sm-1.icon-container.examples-icons
              button.copy-button(data-clipboard-text=`#rb-icon-${icon}`)
                svg.icon
                  use(xlink:href='./rocketbelt.icons.svg#rb-icon-' + icon)
                .icon-id.font-minus-2 #{'#rb-icon-' + icon}

    h2 Enterprise Icons
    .grid-fluid
      .row
        each icon in iconsEnt
          - icon = icon.replace(/\.svg/, '');
          .col.xs-2.sm-1.icon-container.examples-icons
            button.copy-button(data-clipboard-text=`#rb-icon-${icon}`)
              svg.icon
                use(xlink:href='./rocketbelt.icons.enterprise.svg#rb-icon-' + icon)
              .icon-id.font-minus-2 #{'#rb-icon-' + icon}

    script.
      $(document).ready(function () {
        var clipboard = new Clipboard('.copy-button');

        clipboard.on('success', function(e) {
            e.clearSelection();
        });

        clipboard.on('error', function(e) {
            console.error('Action:', e.action);
            console.error('Trigger:', e.trigger);
        });
      });
