.cta {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: letter-spacing(plus3);
  font-weight: font-weight(bold);
  line-height: initial;
  cursor: pointer;

  &_text {
    box-shadow: 0 4px 0 currentColor;
  }

  .icon {
    width: 1em;
    height: 1em;
    font-size: 1em;

    &.icon-right {
      margin-left: 0.05em;
    }
  }
}