extends /_layout.jade

block vars
  - var title = 'Color'

block content
  article
    :md
      # Color

  each family in colorFamilies
    - var variants = _.orderBy(family.variants, ['lightness'], ['desc'])
    each variant in variants
      .color #{family.familyName}, #{variant.variant}, #{variant.colorName}
