.grid-fluid
  .row
    .col.xs-12.md-2.xl-4
    .col.xs-6.md-2.xl-4
    .col.xs-6.md-2.xl-4
    .col.xs-12.md-2.xl-3
    .col.xs-3.md-2.xl-3
    .col.xs-3.md-2.xl-3
    .col.xs-3.md-4.xl-3
    .col.xs-3.md-4.xl-6
    .col.xs-12.md-4.xl-6
    .col.xs-6.md-6.xl-12
    .col.xs-6.md-6.xl-12
    .col.xs-12.md-12.xl-12
