html.modal-is-locked {
  overflow: hidden;

  -ms-touch-action: none;
  touch-action: none;
}

// Anti FOUC
.modal,
[data-modal-id] {
  display: none;
}

.modal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;

  display: none;
}

.modal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;
  overflow: auto;

  text-align: center;

  -webkit-overflow-scrolling: touch;
}

.modal-wrapper:after {
  display: inline-block;

  height: 100%;
  margin-left: -0.05em;

  content: '';
}

// Fix iOS glitches
.modal-overlay,
.modal-wrapper {
  backface-visibility: hidden;
}

.modal {
  position: relative;
  outline: none;
  text-size-adjust: 100%;
}

.modal-is-initialized {
  // Disable Anti-FOUC
  display: inline-block;
}
