.modal-bg.modal-is-opening,
.modal-bg.modal-is-opened {
  filter: blur(3px);
}

.modal-overlay {
  background: rgba(color(gray, minus2), 0.9);
}

.modal-overlay.modal-is-opening,
.modal-overlay.modal-is-closing {
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.modal-overlay.modal-is-opening {
  animation-name: modal-overlay-opening-keyframes;
}

.modal-overlay.modal-is-closing {
  animation-name: modal-overlay-closing-keyframes;
}

.modal {
  @include media('>=xs') {
    max-width: 95%;
  }

  @include media('>=md') {
    max-width: 65%;
  }

  @include media('>=lg') {
    max-width: 50%;
  }
}

.modal {
  width: 100%;
  text-align: initial;

  transform: translate3d(0, 0, 0);

  color: color(gray, minus2);
  background: color(white);

  @include z-depth(3);
  border-radius: 2px;
}

.modal_header,
.modal_body {
  border-bottom: 1px solid color(gray, plus2);
}

.modal_header,
.modal_body {
  padding: padding(-2);
}

.modal_header .modal_header_text,
.modal_body .modal_body_content {
  padding: 0;
}

.modal_footer {
  padding: padding(4) 0;
  background: color(gray, plus3);
}

.modal_header .col {
  padding-bottom: 0;
}

.modal_header_close.col {
  flex-grow: 0;
}

.modal.modal-is-opening,
.modal.modal-is-closing {
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.modal.modal-is-opening {
  animation-name: modal-opening-keyframes;
}

.modal.modal-is-closing {
  animation-name: modal-closing-keyframes;
}

.modal,
.modal-wrapper:after {
  vertical-align: middle;
}

.modal_header_close {
  display: flex;
  justify-content: center;

  width: 44px;
  height: 44px;
  margin: 0;
  padding: 0;

  cursor: pointer;
  transition: color 0.2s;
  text-decoration: none;

  color: #95979c;
  border: 0;
  outline: 0;
  background: transparent;
}

.modal-close:hover,
.modal-close:focus {
  color: #2b2e38;
}

.modal_header_close:before {
  font-size: ms(6);
  line-height: 1;

  display: block;
  content: "\00d7";
}

@keyframes modal-opening-keyframes {
  from {
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    transform: none;

    opacity: 1;
  }
}

@keyframes modal-closing-keyframes {
  from {
    transform: scale(1);

    opacity: 1;
  }
  to {
    transform: scale(0.95);

    opacity: 0;
  }
}

@keyframes modal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
