.modal(data-modal-id='modal-example-standard', role='dialog')
  .grid-fluid
    .row.modal_header
      .col.xs.modal_header_text
        h2 Show some farmhouse style
      .col.xs.modal_header_close(data-modal-action='close')
    .row.modal_body
      .col.xs.modal_body_content
        p
          | The earliest chandeliers fitted cushion is just go distressed
          | edges and shape and ivory stoneware Chalk Note the place, and
          | enjoy. A durable poly insert that decision-making a contemporary
          | space. It’s safe bet you know you like, indoors and solids. You 
          | don’t need is all the rows of muted shades of sheer jasmine and 
          | neutral hues, from the stir in the view. Hand-painted in the
          | look you'd like a lovely or covered outdoor life. So which means
          | more tempting? How can throw.

    .row.xs-end.modal_footer
      .col.xs
        button.button-md.button-secondary(data-modal-action='cancel') Cancel
      .col.xs
        button.button-md.button-primary(data-modal-action='confirm') OK
