@mixin button-size($size: md) {
  @extend %button-static-props;
  $size: to_lower_case($size);

  @if $size == lg {
    padding: 0.375rem 0.75rem;
    font-size: 1.2rem;
  }
  @else if $size == md {
    padding: 0.2895rem 0.579rem;
    font-size: 1rem;
  }
  @else {
    padding: 0.241rem 0.482rem;
    font-size: 0.833rem;
  }
}
