@mixin button-style($style: primary) {
  $button-base: scale-color(color(primary), $lightness: 10%);
  $button-hover: scale-color(color(primary), $lightness: 20%);
  $button-active: color(primary);

  @if $style == primary {
    background-color: $button-base;
    color: mix(color(white), $button-base, 90%);

    &:hover {
      background-color: $button-hover;
    }

    &:active {
      background-color: $button-active;
    }

    &[disabled] {
      &:hover {
        background-color: $button-base;
      }
    }
  }
  @else if $style == secondary {
    border: 0.1rem solid $button-base;
    background-color: color(white);
    color: mix(color(white), $button-base, 10%);

    &:hover {
      border-color: $button-hover;
      color: $button-hover;
    }

    &:active {
      border-color: $button-active;
      color: $button-active;
    }

    &[disabled] {
      &:hover {
        border-color: $button-base;
        color: $button-base;
      }
    }
  }
  @else if $style == text {
    background-color: transparent;
    color: color(primary);

    &:hover {
      $c: scale-color(color(primary), $lightness: 10%);
      border-color: $c;
      color: $c;
    }

    &:active {
      $c: scale-color(color(primary), $lightness: -10%);
      color: $c;
    }

    &[disabled] {
      &:hover {
        color: color(primary);
      }
    }
  }
}
