@mixin button-size($size: md) {
  @extend %button-static-props;
  $size: to_lower_case($size);
  min-width: 8rem;
  @if $size == lg {
    padding: padding(-6) padding(1);
    font-size: font-size(0);
  }
  @else if $size == md {
    padding: padding(-8) padding(1);
    font-size: font-size(-1);
  }
  @else {
    padding: padding(-10) padding(1);
    font-size: font-size(-2);
  }
}
