@mixin button-style($style: primary) {
  $button-base: scale-color(color(primary), $lightness: 0%);
  $button-hover: scale-color(color(primary), $lightness: 10%);
  $button-active: scale-color(color(primary), $lightness: -10%);

  @if $style == primary {
    background: $button-base;
    background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.08%) 0%, rgba(0, 0, 0, 0.08%) 100%);
    $color: mix(color(white), $button-base, 90%);
    color: $color;
    fill: $color;
    min-width: 8rem;
    &:hover {
      background-color: $button-hover;
    }

    &:active {
      background-color: $button-active;
    }

    &:visited {
      color: $color;
    }

    &[disabled] {
      color: rgba($color, 0.9);
      fill: rgba($color, 0.9);

      &:hover {
        background-color: $button-base;
      }
    }
  }
  @else if $style == secondary {
    background: color(white);
    background-image: none;
    $color: mix(color(white), $button-base, 10%);
    color: $color;
    fill: $color;
    min-width: 8rem;

    &:hover {
      background: color(white);
      color: $button-hover;
      fill: $button-hover;
    }
    &:visited {
      color: $color;
    }

    &:active { 
      border: 0.1rem solid desaturate(color(primary, lightest), 50%);
      color: $button-active;
      fill: $button-active;
      background: color(white);
    }

    &[disabled] {
      border: 0.1rem solid desaturate(color(primary, lightest), 50%);
      color: rgba($color, 0.9);
      fill: rgba($color, 0.9);

      &:hover {  
        color: $button-base;
        fill: $button-base;
      }
    }
  }
  @else if $style == text {
    background: transparent;
    color: color(primary);
    fill: color(primary);
    &:visited {
      color: color(primary);
    }
    
    &:hover {
      $c: scale-color(color(primary), $lightness: 10%);
      color: $c;
      fill: $c;
    }

    &:active {
      $c: scale-color(color(primary), $lightness: -10%);
      color: $c;
      fill: $c;
    }

    &[disabled] {
      $color: rgba(color(primary), 0.9);
      color: $color;
      fill: $color;

      &:hover {
        color: $color;
        fill: $color;
      }
    }
  }
  @else if $style == busy {
    position: relative;
    transition: opacity 0.5s ease;
    .button-busy-text {
      visibility: hidden;
    }
    .button-busy-icon {
      width: 1em;
      height: 1em;
      position: absolute;
      top:31%;
      left:42%;
      transform: translate(-50%,-50%);
      $color-fill: str-replace(quote(color(white)), '#', '%23');
      background: url('data:image/svg+xml;utf8,<svg width="11" height="19" viewBox="190 45 11 19" fill="#{$color-fill}" xmlns="http://www.w3.org/2000/svg"><path d="M201 45v2c-4.962 0-9 4.038-9 9 0 2.48 1.01 4.73 2.64 6.36l-1.415 1.415C191.24 61.795 190 59.04 190 56c0-6.065 4.935-11 11-11z" fill-rule="evenodd"/></svg>');
      background-size:contain;
      background-repeat: no-repeat;
      animation:spin 1s cubic-bezier(.78,.38,.49,.88) infinite;
    }
    &.button-busy-with-text {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      white-space:nowrap;
      .button-busy-text {
        visibility: visible;
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1 0 auto;
      }
      .button-busy-icon {
        position: relative;
        width: auto;
        top: auto;
        left: auto;
        transform: none;
        margin-left:1em;
        flex: 0 0 1em;
      }
    }
  }
}
