.copyable-inner
  .sale-sticker-wrapper
    .sale-sticker-inner
      span.optional-msg
      .promo-msg
        span.promo-detail Sale
      .sale-sticker-tagline
        .tagline-wrapper
          .tagline
          .cta Shop Now

