$sticker-bkg: rgba(color(white), 0.9);

// BASE (VERTICAL)
.sale-sticker-wrapper {
  display: inline-block;
  padding: 0.05em;
  font-size: 7rem;

  .sale-sticker-inner {
    position: relative;
    background: $sticker-bkg;
    font-family: 'Brand Serif';
    text-transform: uppercase;
    text-align: center;
    padding: .2em .1em;

    .promo-msg {
      position: relative;
      line-height: 0.2;
      margin-top: -0.1em;
    }

    .promo-detail {
      font-size: .87em;
      line-height: 1;
      position: relative; 
    }

    .tagline-wrapper {
      font-family: 'Brand Sans'
    }

    .tagline {
      margin: 0.1em 0 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 0.18em;
      line-height: 1.2;
    }

    .cta {
      margin-top: 0.39em;
      text-align: center;
      font-size: 0.18em;
      font-family: 'Brand Sans';
      line-height: 1.2;
    }

    .cta:after {
      line-height: .2;
    }

    // Optional Message 

    .optional-msg {
      display: block;
      font-family: 'Brand Sans';
      font-size: .16em;
      line-height: 1;
      margin-bottom: .2em;
    }

    .optional-msg:empty {
      display: none !important;
    }

    // Up To Msg
    &.up-to-msg .promo-msg:before {
      content: "Up To";
      font-family: 'Brand Sans';
      margin-bottom: -0.6em;
      padding: 0.6em 0 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 0.16em;
      line-height: 0.9;
      display: block;
    }

    // Percentage Amounts
    .promo-msg.promo-percentage {
      margin-bottom: -0.06em;
    }

    .promo-msg.promo-percentage .promo-detail:before {
      content: "%";
      font-size: .65em;
      line-height: 1;
      position: absolute;
      top: .4em;
      right: -.08em;
      letter-spacing: normal;
    }

    &.up-to-msg .promo-msg.promo-percentage:after {
      top: 0.31em;
    }

    .promo-msg.promo-percentage .promo-detail:after {
      content: "off";
      font-size: .2em;
      margin-left: .15em;
      letter-spacing: normal;
    }

    .promo-msg.promo-percentage .promo-detail.kern-minus-1:after {
      margin-left: .6em;
    }
  }
}

// HORIZONTAL VARIANT
.sale-sticker-wrapper.sale-sticker-horizontal {
  
  .sale-sticker-inner {
    overflow-x: auto;
    overflow-y: hidden;
    padding: .09em .2em;

    .sale-sticker-tagline {
      float: left;
      padding: 0 0 0 .11em;
      margin-top: .03em;
      border-left: 2px solid #030001;
    }

    .promo-msg {
      float: left;
      margin: -.147em 0 -.09em;
    }

    .promo-detail {
      margin: 0 .16em 0 0;
      line-height: 1;
    }

    .cta, .tagline  {
      text-align: left;
      margin-top: 0;
      font-size: 0.18em;
    }

    .tagline {
      line-height: 1;
      margin-bottom: .47em;
      margin-top: -.1em;
    }

    .cta {
      line-height: .84;
    }


    // Optional Message 
    .optional-msg {
      display: inline-block;
      margin: .75em .45em 0 0;
      line-height: 1;
      text-align: left;
      float: left;
    }

    // Up To Msg
    &.up-to-msg .promo-msg:before {
      float: left;
      display: inline-block;
      padding: 0;
      margin: 1.2em 0 0;
      width: 2em;
      line-height: 1;
    }

    // Percentage Amounts
    .promo-msg.promo-percentage:after {
      right: .13em;
    }

    &.up-to-msg .promo-msg.promo-percentage:after {
      top:.2em;
    }
  }
}

// FULL WIDTH VARIANT

.sale-sticker-wrapper.sale-sticker-stretch {
  width: 100%;

  .sale-sticker-inner {
    width: 100%;
  }

  .promo-msg {
    margin: 0 auto;
  }

  &.sale-sticker-horizontal .tagline-wrapper {
    width: auto;
  }
}
