.sale-sticker-wrapper
  .sale-sticker-inner
    .up-to-msg up to
    .pct-off-msg
      span.sale-amount 20
      span.percent-amount
        span.sale-percent %
        span.sale-off off
    .tagline All Sofas
    .cta Shop Now

