.copyable-inner
  .sale-sticker-wrapper.serif
    .sale-sticker-inner
      .up-to-msg up to
      .pct-off-msg
        span.sale-amount 20
        span.percent-amount
          span.sale-percent %
          span.sale-off off
      .sale-sticker-tagline
        .tagline-wrapper
          .tagline All Sofas
          .cta Shop Now

