.grid-fluid
  .row
    .col.xs-12.md-6
      button.button-lg.button-secondary.button-block Block
    .col.xs-12.md-6
      button.button-lg.button-primary.button-block Block
  .row
    .col.xs-12.md-6
      button.button-md.button-secondary.button-block Block
    .col.xs-12.md-6
      button.button-md.button-primary.button-block Block
  .row
    .col.xs-12.md-6
      button.button-sm.button-secondary.button-block Block
    .col.xs-12.md-6
      button.button-sm.button-primary.button-block Block
