button.button-lg.button-primary Primary
button.button-lg.button-primary.button-inset Inset
button(disabled).button-lg.button-primary Disabled
button(disabled).button-lg.button-primary.button-inset Disabled
button.button-md.button-primary Primary
button.button-md.button-primary.button-inset Inset
button.button-sm.button-primary Primary
button.button-sm.button-primary.button-inset Inset
