button.button-lg.button-secondary Secondary
button.button-lg.button-secondary.button-inset Inset
button(disabled).button-lg.button-secondary.button-disabled Disabled
button(disabled).button-lg.button-secondary.button-inset.button-disabled Disabled
button.button-md.button-secondary Secondary
button.button-md.button-secondary.button-inset Inset
button.button-sm.button-secondary Secondary
button.button-sm.button-secondary.button-inset Inset
