/// Return a "Brand"-approved font stack
///
/// @group Typography
/// @author Kendrick Arnett
///
/// @param $family - The type of font stack to return
///
/// @example scss - font-family function
///   font-family(serif);
///   // 'Brand Sans', sans-serif;
///   font-family(sans);
///   // 'Brand Serif', Times New Roman, serif;
@function font-family($family: sans) {
  // TODO: Extract into variables map
  $sans: 'Brand Sans', 'Trebuchet MS', sans-serif;
  $serif: 'Brand Serif', Georgia, serif;
  $monospace: 'RB Monospace', Monaco, Consolas, 'Lucida Console', monospace;

  $family: to_lower_case($family);
  $families: (
    // Sans Serif synonyms
    default:      $sans,
    sans:         $sans,
    sans-serif:   $sans,
    'sans serif': $sans,
    brandsans:    $sans,
    brand-sans:   $sans,
    'brand sans': $sans,

    // Serif synonyms
    serif:         $serif,
    brandserif:    $serif,
    brand-serif:   $serif,
    'brand serif': $serif,

    // Monospace synonyms
    mono:              $monospace,
    brandmono:         $monospace,
    brand-mono:        $monospace,
    'brand mono':      $monospace,
    monospace:         $monospace,
    brandmonospace:    $monospace,
    brand-monospace:   $monospace,
    'brand monospace': $monospace
  );

  @return if(map-has-key($families, $family),
                 map-get($families, $family),
                 map-get($families, sans));
}
