extends /_layout.jade

block vars
  - var title = 'Web Typography'

block content
  article
    :md
      # Web Typography

      ## Overview
      Great communication is the basis for a great user experience.  Below are  tried and true typography and type layout rules that flatten obstacles in getting our messages to customers.   

      These guidelines do not exist to stifle creativity.  Rather, they provide a baseline so that we make sure to provide rationale when we choose to deviate. 

      ## Make It Concise &amp; Scannable
      Where you would be flowery; be direct.  Where you would use subjective; be objective.  Bullets and clear vertical spacing improve scannability.  Changing text colors or font faces for important information improves readability.

      ## 2 Words...usually
      Users want to satisfice <sup>[1](#satisfice)</sup>.  Using the "F" pattern, they will read through parts of the site, scanning the first couple of words of each subject line or blurb.  You can get a way with a third word, by using an ultra-powerful number as the first or second word.

      ## The Inverted Pyramid
      Lorem ipsum dolor sit amet.  

      <br />
      <br />

      ### Reference
      <cite><a name="satisfice"></a> <sup>1</sup> **Satisfice** _verb_ to choose or adopt the first satisfactory option that one comes across</cite>