extends /_layout.pug

block vars
  - var title = 'Web Typography'

block content
  article
    h1 Web Typography

    h2 Overview
    p Great communication is the basis for a great user experience.  Below are  tried and true typography and type layout rules that flatten obstacles in getting our messages to customers.

    p These guidelines do not exist to stifle creativity.  Rather, they provide a baseline so that we make sure to provide rationale when we choose to deviate.

    h2 Concise &amp; Scannable
    ul
      li Where you would be flowery; be direct.
      li Where you would be subjective; be objective.
      li Bullets and clear vertical spacing improve scannability.
      li Changing text colors or font faces for important information improves readability.

    h2 2 Words… usually
    .grid-fluid
      .row
        .col.xs
          p Using an F-shaped pattern, users will read through a section of a page.  Most only scan the first couple of words of each subject line or blurb.  Remember, users will opt to #[+footnoteTerm('satisfice')] instead of finding an optimal.

          p Hint: You can get a way with a third word, by using the <i>ultra-powerful</i> number as the first or second word.

          +footnoteDefine('satisfice')
            | #[i verb] Portmanteau of suffice and satisfy. To choose or adopt the first satisfactory option that one comes across.

        .col.xs
          .grid-fluid
            .row
              .col.xs.docs-center
                figure.docs-figure
                  img.gipho(data-play='./img/F_shaped_anim.gif' src='./img/F_shaped_poster.png' width='85')
                  figcaption #[span.lead example] F-Shaped Reading
              .col.xs.docs-center
                figure.docs-figure
                  img.gipho(data-play='./img/two_words_anim.gif?r=1' src='./img/two_words_poster.png' width='181')
                  figcaption #[span.lead example] Scanning a Page

    h2 The Inverted Pyramid
    .grid-fluid
      .row
        .col.xs
          p Using the #[+footnoteTerm('Inverted Pyramid')] approach to web writing means you start with the conclusion, add any supporting information below and then link to relevant information&mdash;products, editorials or promotion info.
          br
          br
        .col.xs
          img(src='./img/inverted_pyramid_graphic.png' width='321')

        +footnoteDefine('Inverted Pyramid')
          | The concept has probably been around since the invention of the telegraph.  #[a(href='http://www.skilledup.com/articles/about-the-inverted-pyramid-writing-style') More Info]
