<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Expanders | Rocketbelt Pattern Library</title>
    <link rel="stylesheet" href="../../css/site.min.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  </head>
  <body class="grid-fluid">
    <div id="docs-wrapper" style="flex-wrap: nowrap;" class="row">
      <nav id="docs-leftnav" style="flex-grow: 0;" class="col xs-2">
        <ul class="list-reset">
          <li ref="base"><a href="../../base">Base</a>
            <ul class="list-reset">
              <li ref="breakpoints"><a href="../../base/breakpoints">Breakpoints</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li ref="color"><a href="../../base/color">Color</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li ref="grid"><a href="../../base/grid">Grid</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li ref="layout"><a href="../../base/layout">Layout</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li ref="slipsum"><a href="../../base/slipsum">Slipsum</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li ref="typography"><a href="../../base/typography">Typography</a>
                <ul class="list-reset">
                </ul>
              </li>
            </ul>
          </li>
          <li ref="components"><a href="../../components">Components</a>
            <ul class="list-reset">
              <li ref="expanders"><a href="../../components/expanders">Expanders</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li ref="forms"><a href="../../components/forms">Forms</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li ref="busy-indicators"><a href="../../components/busy-indicators">Busy Indicators</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li ref="buttons"><a href="../../components/buttons">Buttons</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li ref="cards"><a href="../../components/cards">Cards</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li ref="alerts"><a href="../../components/alerts">Alerts</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li ref="images"><a href="../../components/images">Images</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li ref="modals"><a href="../../components/modals">Modals</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li ref="radio-buttons"><a href="../../components/radio-buttons">Radio Buttons</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li ref="tabcordions"><a href="../../components/tabcordions">Tabcordions</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li ref="tooltips"><a href="../../components/tooltips">Tooltips</a>
                <ul class="list-reset">
                </ul>
              </li>
            </ul>
          </li>
          <li ref="exposition"><a href="../../exposition">Exposition</a>
            <ul class="list-reset">
              <li ref="Links &amp; Buttons"><a href="../../exposition/Links &amp; Buttons">Links &amp; Buttons</a>
                <ul class="list-reset">
                  <li ref="img">
                    <ul class="list-reset">
                      <li ref="link_button_affordance.png">
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <div id="docs-content" class="pad-5 col xs">
        <main class="grid-fluid no-margin">
          <div class="row">
            <div class="col xs">
              <article><h1 id="expanders">Expanders</h1>

                <div class="exampleWithCode">
                  <div class="example">
                    <div class="expander">
                      <input type="checkbox" id="expander_example" class="expander_checkbox">
                      <label for="expander_example" data-collapsed-label="Show Contents" data-expanded-label="Hide Contents" class="expander_label"><span class="expander_icon"></span></label>
                      <div class="expander_content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum
                      </div>
                    </div>
                  </div>
                  <div class="expander">
                    <input type="checkbox" id="Zi4wbl" class="expander_checkbox"/>
                    <label for="Zi4wbl" data-collapsed-label="Show HTML" data-expanded-label="Hide HTML" class="expander_label"><span class="expander_icon"></span></label>
                    <div class="expander_content">
                      <div class="example-code">
                        <button data-clipboard-target="#Z20c9zR" class="copy-code">Copy</button>
                        <pre><code id="Z20c9zR" class="language-html">
                            &lt;div class=&quot;expander&quot;&gt;
                              &lt;input type=&quot;checkbox&quot; id=&quot;expander_example&quot; class=&quot;expander_checkbox&quot;&gt;
                              &lt;label for=&quot;expander_example&quot; data-collapsed-label=&quot;Show Contents&quot; data-expanded-label=&quot;Hide Contents&quot; class=&quot;expander_label&quot;&gt;&lt;span class=&quot;expander_icon&quot;&gt;&lt;/span&gt;&lt;/label&gt;
                              &lt;div class=&quot;expander_content&quot;&gt;
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                                ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                culpa qui officia deserunt mollit anim id est laborum
                              &lt;/div&gt;
                            &lt;/div&gt;</code></pre>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script src="../../js/prism.js"></script>
    <script src="../../js/clipboard.min.js"></script>
    <script src="../../js/site.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-1740251-3', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>