extends /_layout.pug

block vars
  - var title = 'Page Layout'

block content
  article
      h1 Web Page Layout

      h2 Overview
      p Website page layout is all about guiding the user down a path.  Through the imagery and text, a designer operates as a virtual tour guide making sure the customer sees all of the "sights" that are most important.

      h2 The "Fold"
      div.grid-fluid
        div.row
          div.col.xs
            p Yes, it #[i still]#[+footnoteTerm('page fold', true)] matters. Remember, only &frac12; of 1% of our customers have the high-resolution desktop displays that designers use. The most beautiful design in the world won't matter if the customer can't see the entirety of it on their screen without scrolling.

            p Keep in mind that the "fold" varies based on screen height and the size itself isn't as important as the information scent it provides.  If those first items are valuable to a user, then that can be just the impetus necessary to encourage continued scrolling.

            //- p Here are the folds for Pier 1's customers on different devices:

          div.col.xs.docs-center
            figure.docs-figure
              img(src="./img/folds.png" width="500")
              figcaption #[span.lead Visualization] Pier 1 fold by device

      +footnoteDefine('page fold')
        | The Fold Manifesto: Why the Page Fold Still Matters #[a(href="https://www.nngroup.com/articles/page-fold-manifesto/") Nielsen Norman Group Essay ]
        | &bull; The Importance of Being Seen #[a(href="http://think.storage.googleapis.com/docs/the-importance-of-being-seen_study.pdf") Google Study PDF]

      h2 User Focus
      div.grid-fluid
        div.row
          div.col.xs
            p Pay attention to how images will steer focus.  In the example animation, the table's angle and the picture perspective will likely cause the user to look at it from top left to bottom right.

            p If the image does it's job and piques a user's interest, then you can insert your content at the exact location to be most effective.
          div.col.xs.docs-center
            figure.docs-figure
              img.gipho(data-play="./img/user_focus_anim.gif" src="./img/user_focus_poster.png" width="176")
              figcaption #[span.lead example] User Focus

      h2 First &amp; Last Items
      div.grid-fluid
        div.row
          div.col.xs
            p First items are always considered highest priority by users.  This is defined as the #[+footnoteTerm('primacy effect')]. For mission-minded, non-scrollers it may be the one piece of content they see.

            +footnoteDefine('primacy effect')
              | Primacy and Recency Effects in Learning #[a(href="https://rapidbi.com/primacy-and-recency-effects-in-learning/") RapidBI study ]

            p Items at the bottom of a page full of items will often get an extra boost of attention.  This is called the #[+footnoteTerm('recency effect')] and can be used to your advantage.

            +footnoteDefine('recency effect')
              | Primacy and Recency Effects in Learning #[a(href="https://rapidbi.com/primacy-and-recency-effects-in-learning/") RapidBI study ]

          div.col.xs.docs-center
            figure.docs-figure
              <img class="gipho" data-play="./img/first_and_last_anim.gif" src="./img/first_and_last_poster.png" width="200">
              figcaption #[span.lead example] First &amp; Last Items
