.boxes {
  display: flex;
  justify-content: center;
  align-items: center;

  .box-wrap {
    position: relative;
    display: flex;
    margin: 0 2.5vw;
    background: color(gray, plus5);
    justify-content: center;

    .icon {
      position: absolute;
      width: 2rem;
      height: 100%;
      color: color(gray, plus2);
    }
  }

  .box {
    @include z-depth(1);

    position: relative;
    z-index: 1;
    display: flex;
    padding: 1rem;
    min-width: 8rem;
    min-height: 6rem;
    border: 4px solid color(accent);
    background: color(white);
    color: color(accent);
    text-transform: uppercase;
    font-size: font-size(-2);
    transition: box-shadow 100ms ease-in-out;
    justify-content: center;
    align-items: center;
    user-select: none;

    &:hover {
      @include z-depth(4);
    }

    &:active {
      @include z-depth(2);
    }
  }
}

.example-expand {
  overflow: auto;
  height: 10rem;
  border: 4px solid color(accent);
  background: color(white);

  &[data-rb-is-collapsed='true'] {
    padding: 0;
  }
}

.example-expand_toggle {
  margin-bottom: 1rem;
}
