.rb-badge {
  border-radius: 2px;
  color: color(white);
  text-transform: none;
  font-weight: font-weight(semibold);
  font-size: font-size(-4);
  flex-shrink: 0;

  code,
  .code {
    padding: 0;
    border: 0;
    background: transparent;
  }

  &.tag {
    font-family: $system-font-stack;
  }
}

.rb-badge-toolbelt {
  background: color(accent, darker);
}

.rb-badge-ux {
  background: color(secondary, darker);
}

$pct: 20%;
.rb-badge-labs {
  position: relative;
  overflow: hidden;
  background: transparent;

  &::before {
    position: absolute;
    top: -75%;
    right: -50%;
    bottom: -75%;
    left: -50%;
    z-index: -1;
    background-image: radial-gradient(circle at top right, #d914cf 0%, rgba(154, 105, 241, 0.00) 65%);
    content: '';
    opacity: 1;
    animation: before 16s infinite cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation-direction: alternate;
  }

  &::after {
    position: absolute;
    top: -60%;
    right: -60%;
    bottom: -60%;
    left: -60%;
    z-index: -2;
    background-image: linear-gradient(-225deg, color(accent, darker) 15%, color(primary) 50%, color(secondary, lighter) 85%);
    content: '';
    opacity: 1;
    transform: translateY(-1 * $pct) translateX(-1 * $pct) rotateX(10rem);
    animation: after 35s infinite linear;
  }

  @keyframes before {
    0% {
      opacity: 0;
      transform: rotate(-30deg);
    }

    25% {
      opacity: 1;
      transform: rotate(30deg);
    }

    50% {
      opacity: 0.75;
      transform: rotate(-90deg);
    }

    75% {
      opacity: 0.5;
      transform: rotate(-120deg);
    }

    100% {
      opacity: 0;
      transform: rotate(60deg);
    }
  }

  @keyframes after {
    0% {
      transform: translateY(-20%) translateX(-20%) rotate(-5deg);
    }

    25% {
      transform: translateY(20%) translateX(20%) rotate(0deg);
    }

    50% {
      transform: translateY(-20%) translateX(20%) rotate(5deg);
    }

    75% {
      transform: translateY(20%) translateX(-20%) rotate(0deg);
    }

    100% {
      transform: translateY(-20%) translateX(-20%) rotate(-5deg);
    }
  }
}

.rb-note {
  display: flex;
  font-size: font-size(-1);
  align-items: center;

  .rb-note-text::before {
    content: unicode(nbsp);
  }
}
