.swatch-cards {
  .card {
    margin: 1rem;

    .card-title {
      text-transform: none;
    }

    .color-name {
      font-weight: font-weight(normal);
    }

    .color-map {
      white-space: nowrap;
      font-size: font-size(-1);
    }
  }

  .swatch {
    position: relative;
    min-height: 10rem;
    transition: background 100ms linear;
  }

  .variants {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 3rem;
    align-self: flex-end;

    .variant {
      display: inline-flex;
      flex-direction: column;
      flex: 1;
      height: 100%;
      transition: transform 300ms ease-out;
      align-items: center;
      justify-content: center;

      .copy-button {
        display: none;
        margin: 0;
        padding: 0;
        min-width: 44px;
        height: 100%;
        border: none;
        background: transparent;
        font-size: font-size(-4);
        cursor: pointer;
        align-items: center;
        justify-content: center;

        &:hover {
          @include z-depth(3);
          transition: box-shadow 100ms ease-out;
        }

        &:active {
          @include z-depth(1);
          transition: box-shadow 100ms ease-out;
        }

        .icon {
          width: 50%;
          height: 50%;
          color: color(white);

          &.icon_fill-for {
            &-primary-lightest,
            &-primary-lighter {
              color: color(primary, darkest);
            }

            &-secondary-lightest,
            &-secondary-lighter {
              color: color(secondary, darkest);
            }

            &-accent-lightest,
            &-accent-lighter {
              color: color(accent, darkest);
            }

            &-gray-plus5,
            &-gray-plus4,
            &-gray-plus3 {
              color: color(gray, minus2);
            }

            &-white {
              color: color(black);
            }

            &-success-lighter {
              color: scale-color(color(success, darker), $lightness: -20%);
            }

            &-warning-lighter {
              color: scale-color(color(warning, darker), $lightness: -20%);
            }

            &-error-lighter {
              color: scale-color(color(error, darker), $lightness: -20%);
            }
          }
        }
      }

      &:hover {
        position: relative;
        z-index: 1;
        transition: transform 100ms ease-out, z-index 100ms ease-out;
        transform: scale(1.2);

        .copy-button {
          display: flex;
        }
      }
    }
  }

  .card-header {
    display: flex;
  }

  .card-title {
    display: inline;
  }

  .card-buttons {
    display: inline-flex;
    flex: 1;
    justify-content: flex-end;

    .copy-button {
      @extend %visually-hidden;
      @extend %focusable;

      padding: 0;
      min-width: auto;
      border: 0;
      background: transparent;
      text-transform: uppercase;
      font-weight: font-weight(normal);
      opacity: 0;
      transition: opacity 200ms linear;
      transition-delay: 100ms;
    }
  }
}

.card:hover {
  .card-buttons {
    .copy-button {
      position: static;
      display: block;
      overflow: visible;
      clip: auto;
      margin: 0 0.5rem;
      width: auto;
      height: auto;
      white-space: inherit;
      opacity: 1;
      transition: opacity 200ms linear;
      transition-delay: 100ms;
      clip-path: none;
    }
  }
}

.branded-colors {
  display: grid;
  line-height: 1.25;
  grid-auto-flow: dense;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);

  @include media('>sm') {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  @include media('>md') {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .branded-color {
    margin: margin(0.5);
    padding: padding(0.5);
    min-height: 4rem;
    border-radius: 2px;

    @include z-depth(0);

    &:hover {
      @include z-depth(2);

      .copy-button {
        margin: 0 0.25rem;
      }
    }

    .copy-button {
      color: currentColor;
      text-decoration: underline;

      &:first-of-type {
        margin-left: 0;
      }
    }

    &-brand-blue {
      background: color(brand);
      color: color(brand, deepBrown);
      grid-column: span 3;
      grid-row: span 4;
    }

    &-mint {
      background: color(brand, mint);
      color: color(contrast, deepBlue);
      grid-column: span 2;
    }

    &-deep-blue {
      background: color(brand, deepBlue);
      color: color(brand, mint);
      grid-column: span 2;
      grid-row: span 3;
    }

    &-sand {
      background: color(brand, sand);
      color: color(brand, deepBrown);
      grid-row: span 4;
    }

    &-sun-yellow {
      background: color(brand, sunYellow);
      color: color(brand, deepBlue);
      grid-row: span 3;
    }

    &-deep-brown {
      background: color(brand, deepBrown);
      color: color(brand);
      grid-column: span 1;
      grid-row: span 2;
    }

    &-pale-red {
      background: color(brand, paleRed);
      grid-row: span 2;
    }

    &-warm-red {
      background: color(brand, warmRed);
      color: color(contrast, deepBlue);
      grid-column: span 2;
    }


  }
}
