.swatch-cards {
  .card {
    margin: 1rem;

    .card-title {
      text-transform: none;
    }

    .color-name {
      font-weight: font-weight(normal);
    }
  }

  .swatch {
    position: relative;
    min-height: 10rem;
    transition: background 100ms linear;
  }

  .variants {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 3rem;
    align-self: flex-end;

    .variant {
      display: inline-block;
      flex: 1;
      height: 100%;
      transition: transform 300ms ease-out;

      &:hover {
        position: relative;
        z-index: 1;
        transition: transform 100ms ease-out, z-index 100ms ease-out;
        transform: scale(1.2);

        @include z-depth(2);
      }
    }
  }
}
