/* PLAYGROUND ********/

// checkbox color
input[type=checkbox].playground-item:checked+label:before {
  background: url('data:image/svg+xml;utf8,\a<svg viewBox="629 458 16 12" xmlns="http://www.w3.org/2000/svg">\a<path fill="%23fefdfd" fill-rule="evenodd" d="M641.992 458.395l-6.978 6.978-3.006-3.023-2.25 2.232 5.256 5.273 9.228-9.228z"/>\a</svg>') no-repeat, #084F77;
  background-position: 50%;
}


/* HELPER CLASSES FOR TEMPLATE LAYOUT ********/

// sale sticker
.ss_util_background  {
  text-align: center;

  & .example {
    background: color(success, darker);
    padding:1em;
    text-align: center;
    min-width: 260px;
  }
}