article {
  &.grid-article {
    .example {
      .col {
        &::before {
          min-height: 2rem;
          border-radius: 2px;
          background-color: color(primary);
          content: '';
          transition: background-color 100ms linear;
        }

        &:hover::before {
          background-color: color(primary, lighter);
          transition: background-color 100ms linear;
        }

        &[class$='first'],
        &[class$='last'] {
          &::before {
            background-color: color(primary, lighter);
          }

          &:hover::before {
            background-color: color(primary, lightest);
          }
        }
      }

      .example-col-tall::before {
        min-height: 10rem;
      }

      .row {
        &[class$='reverse'] {
          .col {
            text-align: center;

            &::before,
            &:hover::before {
              background-color: inherit;
            }
          }
        }
      }
    }
  }
}
