.examples-icons {
  .icon-container {
    margin: 0.4rem;
    padding: 0;
    max-width: 160px;
    min-width: 160px;
    transition: box-shadow 100ms ease-out;
    color: color(gray, minus2);

    .icon {
      width: 50%;
      height: 50%;
    }

    .icon-id {
      margin: 0.5rem;
      color: color(black);
      user-select: text;
      text-align: left;
      font-family: font-family(monospace);
    }
  }

  .copy-button {
    @include z-depth(0);

    padding: 0;
    height: 100%;
    border: 0;
    background: transparent;

    &:hover {
      @include z-depth(2);
      transition: box-shadow 100ms ease-out;
    }

    &:active {
      @include z-depth(1);
      transition: box-shadow 100ms ease-out;
    }
  }

  .icon-meaningful,
  .icon-link-no-text {
    .icon {
      width: font-size(5);
      height: font-size(5);
    }
  }

  .icon-with-text {
    font-size: font-size(0);
  }

  .icon-link-no-text {
    font-size: font-size(5);
  }

  .icon-link-with-indicator {
    font-size: font-size(10);

    .text-with-icon {
      position: relative;
      color: color(brand);

      .indicator {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        display: inline-flex;
        width: font-size(3);
        height: font-size(3);
        border-radius: 50%;
        background: color(sale);
        color: color(white);
        text-decoration: none;
        font-size: font-size(0);
        justify-content: center;
        align-content: center;
      }
    }
  }
}
