.rb-header {
  display: block;
  padding: 0 ms(-5);
  text-decoration: none;

  .row {
    @include media('>=md') {
      flex-wrap: wrap-reverse;
    }
  }

  .rb-logo {
    margin-bottom: margin(-8);
    padding: padding(-2) padding(-2) 0 padding(0);
    user-select: none;
    align-items: center;

    &.rb-logo-belt {
      padding-right: 0;
    }

    .rb-logo-uri {
      padding-left: 0;
    }

    @include media('>=md') {
      &.rb-logo-belt {
        margin: auto;
        padding: 0;
      }
    }

    #uri {
      display: none;
    }
  }
}

.example {
  .container {
    display: inline-block;
    border: 1px dashed color(gray);
    background: color(gray, plus4);
  }
}

html,
body { height: 100%; }

body { min-height: 100%; }

#docs-content {
  margin-top: calc(#{ms(4)} + 20%);
  margin-left: auto;
  padding: $gutter-width * 2;

  @include media('>=sm') {
    margin-top: calc(#{ms(4)} + 10%);
  }

  @include media('>=md') {
    margin-top: 0;
    margin-left: 180px;
  }
}

#docs-wrapper {
  height: 100%;
}

#docs-leftnav {
  @include media('>=md') {
    flex: 0 0 220px;
  }

  overflow-y: auto;
  padding: 0;
  border-width: 2px;
  border-color: color(gray, plus3);
  border-right-style: none;
  background-color: color(gray, plus4);

  @include media('>=md') {
    border-right-style: solid;
  }

  a {
    display: block;
    text-decoration: none;
  }

  .is-active {
    background: color(white);
    font-weight: font-weight(semibold);
  }
}

.docs-center {
    align-items: center;
    align-self: center;
}

.docs-definition-list {
  @include clearfix;

  dt {
    display: block;
    float: left;
    clear: left;
    width: 100px;
    font-weight: bold;
  }

  dd {
    display: block;
    float: left;
    margin: 0;
  }
}

.nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  box-shadow: 0 0 8px 0 rgba(color(black), 0.3);

  @include media('>=md') {
    width: 180px;
    height: 100%;
    box-shadow: none;
  }

  & > .category-contents {
    position: relative;
    display: flex;
    min-height: ms(4);

    .category {
      flex: 1;

      .category-contents {
        position: absolute;
        left: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        width: 100vw;
        background: color(gray, plus4);
        box-shadow: 0 0 8px 0 rgba(color(black), 0.3);
        flex-wrap: wrap;

        .category {
          display: inline-block;
          padding: ms(-4) ms(-3);

          a {
            padding: 0;
          }
        }
      }

      .category-label {
        display: flex;
        height: ms(8);
        text-align: center;
        align-items: center;
        justify-content: center;

        @include media('>=md') {
          display: block;
          height: auto;
          text-align: left;
        }
      }
    }

    @include media('>=md') {
      display: block;

      .category {
        flex: none;

        .category-contents {
          position: static;
          display: block;
          width: auto;
          background: transparent;
          box-shadow: none;

          .category {
            display: block;
            padding: 0;

            a {
              padding-top: ms(-2);
              padding-bottom: ms(-4);
              padding-left: ms(2) + ms(-2);
            }
          }
        }
      }
    }
  }

  .category:nth-child(1n) {
    .category-label {
      border-color: color(primary);
    }
  }

  .category:nth-child(2n) {
    .category-label {
      border-color: color(secondary, darker);
    }
  }

  .category:nth-child(3n) {
    .category-label {
      border-color: color(accent);
    }
  }

  .category:nth-child(4n) {
    .category-label {
      border-color: color(secondary, lighter);
    }
  }

  .category-toggle {
    & + .category-label {
      display: block;
      padding-left: 0;
      border-width: 4px;
      border-bottom-style: solid;
      border-left-style: none;
      text-transform: uppercase;
      font-size: font-size(-1);
      cursor: pointer;

      @include media('>=md') {
        margin: 0;
        padding: padding(-4);
        border-bottom-style: none;
        border-left-style: solid;
        font-size: font-size(0);
        transition: border-width 200ms ease;

        &:hover {
          border-width: ms(2);
          transition: border-width 200ms ease;
        }
      }

      &::before {
        width: 0;
        height: 0;
        border: 0;
      }
    }

    &:not(:checked) + .category-label {
      border-width: 4px;
      transition: border-width 200ms ease;

      @include media('>=md') {
        &:hover {
          border-width: ms(2);
          transition: border-width 200ms ease;
        }
      }

      & + .category-contents {
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition-timing-function: ease;
        transition-duration: 400ms;
        transition-property: opacity;

        @include media('>=md') {
          transition-property: opacity, max-height;
        }
      }
    }

    &:checked + .category-label {
      @include media('>=md') {
        border-width: ms(2);
        transition: border-width 200ms ease;
      }

      & + .category-contents {
        overflow: auto;
        max-height: 33vh;
        opacity: 1;
        transition: opacity 400ms ease;

        @include media('>=md') {
          max-height: 100vh;
          transition: max-height 400ms ease;
        }
      }
    }
  }

  .category-contents {
    .category-contents {
      .category {
        a {
          color: color(gray);
          font-size: font-size(-1);
          transition: background 200ms ease;

          &:hover {
            background: color(white);
            color: inherit;
            transition: background 200ms ease;
          }

          &:active {
            background: color(gray, plus3);
            color: inherit;
            transition: background 200ms ease;
          }

          &:visited {
            color: inherit;
          }
        }

        &.is-active {
          a { background: color(white); }
        }
      }
    }
  }
}

article > h1,
h1.docs-header {
  margin-bottom: $half-gutter-width;
  border-bottom: 1px solid color(gray, plus2);
}

article > h2,
h2.docs-header  {
  margin-top: $gutter-width * 2;
  margin-bottom: $half-gutter-width;
  border-bottom: 1px solid color(gray, plus2);
  text-transform: uppercase;
  font-size: ms(3);
}

article > h3,
h3.docs-header  {
  margin-top: $gutter-width * 2;
  margin-bottom: $half-gutter-width;
  color: color(gray, plus1);
  text-transform: uppercase;
  font-size: ms(0);
}

#docs-vis-filter-controls, #docs-hp-layouts-controls {
  margin-bottom: $gutter-width;
  li { margin-right: $gutter-width; padding: padding(-4) padding(0); }
  li.selected {
    background-color: color(gray, plus2);
    border-radius: 3px;
    a { text-decoration: none; color: color(black); }
  }
}

.docs-vis-filter-item, .docs-hp-layouts-item {
  display: none;
  clear: both;
  &.show {
    display: block;
  }
}

$mc-initial-width: 320px;
$mc-dims-width: 676px;

#mobile-components {
  align-items: center;
  .initial {
    width: 0.6 * $mc-initial-width;
    transition: all 450ms ease-out;
  }
  .dims {
    max-width: 0.6 * $mc-dims-width;
  }
  .dims { position: absolute; }
  .hidden { display: none; }
  .initial:hover  {
    @include z-depth(2);
  }
}


// Homepage Components
.i-hp-grid {
    width: 495px;
    margin: 0 auto;
    .col {
      padding-bottom: 0.5rem !important;
    }
}

.i-header {
    background: url("/exposition/homepage-components/img/c-site-header.png") no-repeat 8px;
    background-size: 97%;
    height: 93px;
    .col {
      text-align: center;
      align-items: center;
    }

    .i-hp-item {
      display: inline-block;
      width: 25%;
      margin-top: 6%;
    }
}

.i-hp-item{
  position: relative;
  img {
    max-width:100%;
    max-height:100%;
    transition: all 450ms ease-out;
  }
}
.i-hp-expanded,
.i-hp-initial {
  transition: all 450ms ease-out;
}
.i-hp-expanded {
  opacity: 0;
  min-width: 50%;
  z-index: 50;
  overflow: hidden;
}

.i-hp-item {
  opacity: 1;
  &:hover .i-hp-initial img {
    @include z-depth(2);
  }
  &.i-hp-static {
    opacity: .3;
    &:hover .i-hp-initial img {
      box-shadow: none;
    }
  }
}

.i-hp-item.active {
  .i-hp-initial { opacity: 0; }
  .i-hp-expanded {
    opacity: 1;

    background: transparent;
    width: 150%;
    img {
      display: block;
      opacity: 1;
      width: 150%;
    }
  }
  .i-hp-info {
    opacity: 1;
    left: 10px;
    z-index: 100;
  }
}

.i-hp-expanded {
  opacity: 0;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 51;
    background: rgba(0,0,0,.5);
  }
}
