.rb-header {
  display: block;
  text-decoration: none;

  .row {
    @include media('>=md') {
      flex-wrap: wrap-reverse;
    }
  }
}

.rb-header .rb-logo {
  user-select: none;
  align-items: center;
  padding: padding(-2) padding(-2) 0 padding(0);
  margin-bottom: margin(-8);

  &.rb-logo-belt {
    padding-right: 0;
  }

  .rb-logo-uri {
    padding-left: 0;
  }

  @include media('>=md') {
    &.rb-logo-belt {
      padding: 0;
      margin: auto;
    }
  }

  #uri {
    display: none;
  }
}

.example-layout [class*="pad-"] {
  display: inline-block;
  border: 1px solid color(gray, plus2);
  border-radius: 2px;
}

.example .container {
  display: inline-block;
  background: color(gray, plus4);
  border: 1px dashed color(gray);
}

.example-layout [class*="margin-"] {
  background: color(white);
  display: inline-block;
  border: 1px solid color(gray, plus1);
  border-radius: 2px;
}

html, body { height: 100%; }
body { min-height: 100%; }

#docs-content {
  padding: $gutter-width * 2;
}

#docs-wrapper {
  height: 100%;
}

#docs-leftnav {
  @include media('>=md') {
    flex: 0 0 220px;
  }
}

#docs-leftnav {
  overflow-y: auto;
  padding: 0;
  background-color: color(gray, plus4);

  border-width: 2px;
  border-color: color(gray, plus3);
  border-right-style: none;

  @include media('>=md') {
    border-right-style: solid;
  }

  a { display: block; }

  a {
    text-decoration: none;
  }

  .isActive {
    background: color(white);
    font-weight: font-weight(semibold);
  }
}

#docs-content {
  margin-top: calc(#{ms(4)} + 20%);
  margin-left: auto;

  @include media('>=sm') {
    margin-top: calc(#{ms(4)} + 10%);
  }

  @include media('>=md') {
    margin-top: 0;
    margin-left: 180px;
  }
}

.nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  box-shadow: 0 0 8px 0 rgba(color(black), 0.3);

  @include media('>=md') {
    box-shadow: none;
    width: 180px;
    height: 100%;
  }

  & > .category-contents {
    display: flex;
    position: relative;
    min-height: ms(4);

    .category {
      flex: 1;

      .category-contents {
        background: color(gray, plus4);
        box-shadow: 0 0 8px 0 rgba(color(black), 0.3);
        position: absolute;
        z-index: 1;
        left: 0;
        width: 100vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .category {
          display: inline-block;
          padding: ms(-4) ms(-3);

          a {
            padding: 0;
          }
        }
      }
    }

    @include media('>=md') {
      display: block;

      .category {
        flex: none;

        .category-contents {
          background: transparent;
          box-shadow: none;
          position: static;
          width: auto;
          display: block;

          .category {
            display: block;
            padding: 0;

            a {
              padding-left: ms(2) + ms(-2);
              padding-top: ms(-2);
              padding-bottom: ms(-4);
            }
          }
        }
      }
    }
  }

  & > .category-contents .category {
    .category-label {
      text-align: center;
      height: ms(8);
      display: flex;
      align-items: center;
      justify-content: center;

      @include media('>=md') {
        text-align: left;
        height: auto;
        display: block;
      }
    }
  }

  .category:nth-child(1n) .category-label {
    border-color: color(primary);
  }

  .category:nth-child(2n) .category-label {
    border-color: color(secondary, darker);
  }

  .category:nth-child(3n) .category-label {
    border-color: color(accent);
  }

  .category:nth-child(4n) .category-label {
    border-color: color(secondary, lighter);
  }

  .category-toggle {
    & + .category-label {
      padding-left: 0;
      display: block;
      cursor: pointer;

      text-transform: uppercase;
      border-width: 4px;
      border-left-style: none;
      border-bottom-style: solid;

      @include media('>=md') {
        border-left-style: solid;
        border-bottom-style: none;

        padding: padding(-4);

        margin: 0;
        transition: border-width 200ms ease;

        &:hover {
          border-width: ms(2);
          transition: border-width 200ms ease;
        }
      }

      &:before {
        height: 0;
        width: 0;
        border: 0;
      }
    }

    &:not(:checked) + .category-label {
      border-width: 4px;
      transition: border-width 200ms ease;

      @include media('>=md') {
        &:hover {
          border-width: ms(2);
          transition: border-width 200ms ease;
        }
      }

      & + .category-contents {
        overflow: hidden;
        opacity: 0;
        max-height: 0;
        transition-property: opacity;
        transition-duration: 400ms;
        transition-timing-function: ease;

        @include media('>=md') {
          transition-property: opacity, max-height;
        }
      }
    }

    &:checked + .category-label {
      @include media('>=md') {
        border-width: ms(2);
        transition: border-width 200ms ease;
      }

      & + .category-contents {
        opacity: 1;
        overflow: auto;
        max-height: 33vh;
        transition: opacity 400ms ease;

        @include media('>=md') {
          max-height: 100vh;
          transition: all 400ms ease;
        }
      }
    }
  }

  .category-contents .category-contents .category {
    a {
      font-size: font-size(-1);
      color: color(gray);
      transition: background 200ms ease;

      &:hover {
        color: inherit;
        background: color(white);
        transition: background 200ms ease;
      }

      &:active {
        color: inherit;
        background: color(gray, plus3);
        transition: background 200ms ease;
      }

      &:visited {
        color: inherit;
      }
    }
  }
}

article > h1 {
  border-bottom: 1px solid color(gray, plus2);
  margin-bottom: $half-gutter-width;
}

article > h2  {
  border-bottom: 1px solid color(gray, plus2);
  text-transform: uppercase;
  margin-top: $gutter-width;
  margin-bottom: $half-gutter-width;
  font-size: ms(3)
}
