$header-height: 70px;
$system-font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif !important;

.rb-header {
  display: inline-flex;
  padding-right: 1rem;
  color: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;

  picture {
    display: flex;
    align-items: center;
  }

  picture,
  img {
    max-height: 44px;
  }
}

.links {
  .link {
    display: inline-flex;
    fill: color(white);
  }
}

@include media('>=sm') {
  .site-nav {
    .links {
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.exampleWithCode,
.exampleWithoutCode {
  font-family: font-family(sans);

  .expander {
    font-family: $system-font-stack;
  }
}

.example {
  .container {
    display: inline-block;
    border: 1px dashed color(gray);
    background: color(gray, plus4);
  }
}

html,
body { height: 100%; }

body {
  // overflow: hidden;
  min-height: 100%;
}

.rb-title {
  display: none;
  margin-left: 1rem;
  color: color(white);
  text-transform: uppercase;
  letter-spacing: 0.425rem;
  font-weight: font-weight(extralight);
  font-size: font-size(3);
  line-height: 1;

  .rb-subtitle {
    display: block;
    text-transform: none;
    letter-spacing: 0;
    font-style: italic;
    font-size: font-size(-2);
  }

  @include media('>=md') {
    display: block;
  }
}

.category-contents {
  display: flex;
  height: $header-height;
  cursor: default;
}

.site-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  background: radial-gradient(ellipse farthest-corner at right top, #14d9be 15%, #5b14d9 120%);
}

%horizontal-scrollable {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch; // sass-lint:disable-line no-vendor-prefixes, no-misspelled-properties
  white-space: nowrap;
  -ms-overflow-style: -ms-autohiding-scrollbar; // sass-lint:disable-line no-vendor-prefixes
}

%nav-shadowed {
  box-shadow: 0 4px 6px 0 rgba(mix(color(black), color(accent), 80%), 0.2);
}

.site-nav {
  @extend %horizontal-scrollable;

  display: flex;
  min-height: $header-height;
  color: color(white);
  align-items: center;
  justify-content: space-between;

  &.nav-shadowed {
    @extend %nav-shadowed;
  }
}

.nav_on-site {
  display: flex;
  padding-right: 1rem;
  padding-left: 1rem;
  align-items: center;
}

.nav_off-site {
  padding-right: 1rem;
}

.nav_category {
  display: inline-flex;
  margin: auto 0.2rem;
  height: 100%;

  .category-label {
    border: 0;
    background: transparent;
    color: color(white);
    cursor: pointer;
  }

  &.active {
    background: rgba(color(white), 0.2);

    .category-label {
      text-shadow: 0 0 8px rgba(color(white), 0.8);
      font-weight: 400;
    }
  }
}

.site-main {
  margin-top: $header-height;
}

%heading-link-visible {
  position: relative;
  display: flex;
  overflow: visible;
  clip: auto;
  margin: 0;
  white-space: inherit;
  opacity: 1;
  transition: opacity 200ms linear;
  transition-delay: 200ms;
  align-items: center;
  justify-content: center;
  clip-path: none;
}

.heading-with-link {
  display: flex;
  align-items: center;

  &:hover {
    .heading_link {
      @extend %heading-link-visible;
    }
  }
}

.heading_link {
  @extend %visually-hidden;
  @extend %focusable;

  width: 30px;
  height: 1rem;
  color: color(gray, plus1);
  text-decoration: none;
  opacity: 0;
  transition: opacity 200ms linear;

  &:focus {
    @extend %heading-link-visible;
  }

  &:visited {
    color: color(gray);
  }

  &:hover {
    color: color(error);
  }

  &:active {
    color: color(error, darker);
  }

  .icon {
    width: 1.6rem;
    height: 1em;
  }
}

.submenus {
  .nav_items {
    @extend %horizontal-scrollable;
    @extend %nav-shadowed;
    @include list-reset($horizontal: true);

    display: flex;
    min-height: 44px;
    background: rgba(color(white), 0.2);
    align-items: center;

    &:not(.active) {
      display: none;
    }

    @include media('>=md') {
      position: absolute;
      flex-direction: column;
      background: color(white);
      align-items: flex-start;

      .nav_item {
        display: block;
      }
    }
  }

  .nav_item {
    display: inline-block;
    flex: 1;
    margin: 0.4rem;
    border-radius: 1rem;
    background: rgba(color(white), 0.9);
    flex-grow: 0;

    a {
      $color-behind-background: #576dd1;
      display: block;
      padding: 0.1rem 1rem;
      color: $color-behind-background;
      text-decoration: none;

      &:active {
        color: darken($color-behind-background, 20%);
      }
    }
  }

  @include media('>=sm') {
    flex-direction: column;
    background: color(white);
    align-items: flex-start;

    .nav_item {
      margin: 0;
      padding: 0.4rem;
      width: 100%;
      border-radius: 0;

      &:hover {
        background: color(gray, plus5);
      }

      a {
        padding: 0;
      }

      a,
      a:visited {
        color: color(primary, darker);
      }

      a:hover {
        color: color(primary);
      }
    }
  }
}

.footer_wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem 0;
  min-height: 2rem;
  border-top: 2px solid color(gray, plus4);
  background: color(gray, plus5);
  align-items: center;
  justify-content: center;

  .footer_row {
    flex: 1;
  }

  .footer_content {
    padding: 0;
    padding-left: 1rem;
    color: color(gray);
    font-size: font-size(-1);
    justify-content: space-between;
    align-items: center;

    a {
      color: color(gray);

      &:hover {
        color: color(gray, plus1);
      }

      &:active,
      &:visited {
        color: color(gray, minus1);
      }
    }
  }

  .links_off-site {
    padding-right: 1rem;

    .p1-logo {
      width: 5rem;
    }

    .link {
      margin-left: 0.5rem;
    }

    .icon,
    svg {
      height: 2rem;
      fill: color(gray, plus1);
    }
  }
}

body {
  font-family: $system-font-stack;
}

.docs-center {
    align-items: center;
    align-self: center;
}

.docs-wrapper {
  flex-direction: column;
  min-height: 100%;

  .docs-wrapper_main {
    flex: 1;
  }
}

// .docs-definition-list {
//   @include clearfix;

//   dt {
//     display: block;
//     float: left;
//     clear: left;
//     width: 100px;
//     font-weight: bold;
//   }

//   dd {
//     display: block;
//     float: left;
//     margin: 0;
//   }
// }



article > h1,
h1 {
  &.docs-header {
    margin-bottom: $half-gutter-width;
    border-bottom: 1px solid color(gray);
  }
}

article > h2,
h2 {
  &.docs-header  {
    margin-top: $gutter-width * 2;
    margin-bottom: $half-gutter-width;
    border-bottom: 1px solid color(gray);
    text-transform: uppercase;
    font-size: ms(3);
  }
}

article > h3,
h3.docs-header,
article h4 {
  margin-top: $gutter-width * 2;
  margin-bottom: $half-gutter-width;
  color: color(gray);
  text-transform: uppercase;
  font-size: ms(0);
}

article h4 {
  margin-top: 0.5rem;
  text-transform: none;
}

#docs-vis-filter-controls,
#docs-hp-layouts-controls {
  margin-bottom: $gutter-width;
  li {
    margin-right: $gutter-width;
    padding: ms(-4) ms(0);

    &.selected {
      border-radius: 3px;
      background-color: color(gray, plus2);

      a {
        color: color(black);
        text-decoration: none;
      }
    }
  }
}

.docs-vis-filter-item,
.docs-hp-layouts-item {
  display: none;
  clear: both;
  &.show {
    display: block;
  }
}

$mc-initial-width: 320px;
$mc-dims-width: 676px;

#mobile-components {
  align-items: center;
  .initial {
    width: 0.6 * $mc-initial-width;
    transition: all 450ms ease-out;
  }

  .dims {
    position: absolute;
    max-width: 0.6 * $mc-dims-width;
  }

  .hidden { display: none; }
  .initial:hover  {
    @include z-depth(2);
  }
}


// Homepage Components
.i-hp-grid {
  margin: 0 auto;
  width: 495px;

  .col {
    padding-bottom: 0.5rem !important; // sass-lint:disable-line no-important
  }
}

.i-header {
  height: 93px;
  background: url('/exposition/homepage-components/img/c-site-header.png') no-repeat 8px;
  background-size: 97%;

  .col {
    text-align: center;
    align-items: center;
  }

  .i-hp-item {
    display: inline-block;
    margin-top: 6%;
    width: 25%;
  }
}

.i-hp-item {
  position: relative;
  opacity: 1;

  &:hover .i-hp-initial img {
    @include z-depth(2);
  }
  &.i-hp-static {
    opacity: .3;
    &:hover .i-hp-initial img {
      box-shadow: none;
    }
  }

  img {
    max-width: 100%;
    max-height: 100%;
    transition: all 450ms ease-out;
  }
}

.i-hp-expanded,
.i-hp-initial {
  transition: all 450ms ease-out;
}

.i-hp-expanded {
  z-index: 50;
  overflow: hidden;
  min-width: 50%;
  opacity: 0;
}

.i-hp-item.active {
  .i-hp-initial {
    opacity: 0;
  }

  .i-hp-expanded {
    width: 150%;
    background: transparent;
    opacity: 1;

    img {
      display: block;
      width: 150%;
      opacity: 1;
    }
  }

  .i-hp-info {
    left: 10px;
    z-index: 100;
    opacity: 1;
  }
}

.i-hp-expanded {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  opacity: 0;
  transform: translate(-50%, -50%);

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 51;
    background: rgba(0, 0, 0, .5);
  }
}
