// Base Colors
$playground-color-primary: color(primary, darkest) !default;
$playground-color-gray: color(gray, plus3) !default;
$playground-color-light: color(white) !default;

// Range Slider
$range-width: 150px !default;
$text-width: 200px !default;

$range-handle-color: $playground-color-primary !default;
$range-handle-color-hover: $playground-color-primary !default;
$range-handle-size: 20px !default;

$range-track-color: $playground-color-gray !default;
$range-track-height: 10px !default;

$range-label-color: $playground-color-primary !default;
$range-label-width: 60px !default;

.playground-control {
  margin: 0 0 1.61803em 0;
}

input[type="text"].playground-item {
  background: $playground-color-light;
  border-color: $playground-color-primary;
  border-width: 2px;
  width: $text-width;
  display: inline-block;
}

input[type="range"].playground-item {
  -webkit-appearance: none;
  display: inline-block;
  width: $range-width;
  height: $range-track-height;
  border-radius: 5px;
  background: $range-track-color;
  outline: none;
  padding: 0;
  margin: 0;

  // Range Handle
  &::-webkit-slider-thumb {
    appearance: none;
    width: $range-handle-size;
    height: $range-handle-size;
    border-radius: 50%;
    background: $range-handle-color;
    cursor: pointer;
    transition: background .15s ease-in-out;

    &:hover {
      background: $range-handle-color-hover;
    }
  }

  &:active::-webkit-slider-thumb {
    background: $range-handle-color-hover;
  }

  &:focus { overflow: visible; }

  &::-moz-range-thumb {
    width: $range-handle-size;
    height: $range-handle-size;
    border: 0;
    border-radius: 50%;
    background: $range-handle-color;
    cursor: pointer;
    transition: background .15s ease-in-out;

    &:hover {
      background: $range-handle-color-hover;
    }
  }

  &:active::-moz-range-thumb {
    background: $range-handle-color-hover;
  }

  // Firefox Overrides
  &::-moz-focus-inner,
  &::-moz-focus-outer { 
    border: 0; 
  }
  &::-moz-range-track {
    background: $range-track-color;
    border: 0;
  }
}


// Range Label
.playground-range-value {
  display: inline-block;
  position: relative;
  color: $playground-color-light;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: $range-label-color;
  padding: 5px 10px;
  margin-left: 8px;

  &:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid $range-label-color;
    border-bottom: 7px solid transparent;
    content: '';
  }

  &.playground-range-value-under {
    display: block;
    margin: 0;
    width: $range-width;
    &:after {
      display: none;
    }
  }
}
