.ellipsis [class*="font-"] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footnote-term {
	a, a:link {
		text-decoration: none;
	}
}

.docs-figure {
	font-size: font-size(-2);
	text-align: center;
	figcaption {
		text-align: left;
		border-top: 1px solid color(gray, plus2);
	}
	.lead {
		font-size: font-size(-4);
		display: block;
		font-weight: bold;
		text-transform: uppercase;
		color: color(gray, plus2);
	}
	
}