@font-face {
  font-weight: font-weight(normal);
  font-style: normal;
  font-family: 'RB Monospace';
  src: local('Fira Code'),
       url('https://cdn.rawgit.com/tonsky/FiraCode/e68b88dc/distr/woff/FiraCode-Regular.woff') format('woff');
}


.font-monospace {
  padding: 0.125rem 0.25rem;
  border: 1px solid color(gray, plus2);
  border-radius: 2px;
  background-color: color(gray, plus4);
  font-family: 'RB Monospace';
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ellipsis-mid {
  &::before,
  &::after {
    display: inline-block;
    overflow: hidden;
    max-width: 50%;
    white-space: pre;
  }

  &::before {
    content: attr(data-rb-ellipsis-start);
    text-overflow: ellipsis;
  }

  &::after {
    content: attr(data-rb-ellipsis-end);
    text-overflow: clip;
  }
}

.footnote-term {
  a,
  a:link {
    text-decoration: none;
  }
}

.docs-figure {
  text-align: center;
  font-size: font-size(-2);

  figcaption {
    border-top: 1px solid color(gray, plus2);
    text-align: left;
  }

  .lead {
    display: block;
    color: color(gray, plus2);
    text-transform: uppercase;
    font-weight: bold;
    font-size: font-size(-4);
  }
}
