@import 'vendor/vendor',
        '../../slipway/slipway',
        'color',
        'grid',
        'layout',
        'typography';

::selection {
  background: color(secondary, lightest);
  color: color(secondary);
}

p code,
.code {
  border: 1px solid color(gray, plus2);
  border-radius: 2px;
  background-color: color(gray, lightest);
  padding: 0.125rem 0.25rem;
}

.example-code {
  display: flex;
  position: relative;

  &:hover .copy-code {
    opacity: 1;
    transition: opacity 100ms linear;
  }

  .copy-code {
    opacity: 0.66;
    transition: opacity 100ms linear;

    @include button-size(sm);
    @include button-style(secondary);
    @include button-shadow();

    position: absolute;
    top: 1em;
    right: 0.5em;
    border: none;
  }

  pre {
    flex: 1;
  }
}
