$system-font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif !important;

@import 'vendor/vendor',
        '../../rocketbelt/tools/tools',
        'a11y',
        'animation',
        'badges',
        'color',
        'card-grids',
        'grid',
        'icons',
        'images',
        'layout',
        'tabcordions',
        'typography',
        'creative',
        'playground';

::selection {
  background: color(accent);
  color: color(accent, lightest);
}

html {
  background: color(white);
}

cite {
  font-style: normal;
  font-size: font-size(-2);

  b {
    .footnote-term {
      text-transform: capitalize;
    }
    .footnote-returner {
      text-decoration: none;
    }
  }
}

code,
.code {
  padding: 0.125rem;
  border: 1px solid color(gray, plus4);
  border-radius: 2px;
  background-color: color(gray, plus5);
  font-family: 'RB Monospace', Monaco, Consolas, 'Lucida Console', monospace;
}

.example-code {
  position: relative;
  display: inline-flex;
  padding: 16px;
  padding-top: 48px;
  border: 1px solid color(gray, plus5);
  border-radius: 4px;
  background: mix(color(white), color(black), 99%);

  @include z-depth(0);

  .dots {
    $color: #fdbc40;
    $left-base: 32px;
    top: 1rem;
    left: $left-base;
    background: #fdbc40;

    &::before {
      $color: #fc625d;
      left: -20px;
      background: $color;
    }

    &::after {
      $color: #34c84a;
      left: 20px;
      background: $color;
    }

    &,
    &::before,
    &::after {
      $size: 12px;
      position: absolute;
      width: $size;
      height: $size;
      border-radius: 50%;
      content: '';
    }
  }

  &:hover {
    .copy-code {
      opacity: 1;
      transition: opacity 100ms linear;
    }
  }

  code,
  .code {
    padding: 0;
    border: none;
  }

  .copy-code {
    @include button-size(sm);
    @include button-style(secondary);
    @include button-shadow();

    position: absolute;
    top: 1em;
    right: 0.5em;
    border: none;
    opacity: 0;
    transition: opacity 100ms linear;
  }

  pre {
    flex: 1;
    margin: 0;
  }
}
