@mixin keyframes-zoomOutUp {
  @include keyframes(zoomOutUp) {
    40% {
      animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
      opacity: 1;
      @include transform(scale3d(.475, .475, .475) translate3d(0, 60px, 0));
    }
    100% {
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
      opacity: 0;
      @include transform(scale3d(.1, .1, .1) translate3d(0, -2000px, 0));
      @include transform-origin(center bottom);
    }
  }
}

@mixin zoomOutUp($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $timingFunction: $timingFunctionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  $name: zoomOutUp;

  @if (index($included-keyframes, $name) == null) {
    @include keyframes-zoomOutUp;
    $included-keyframes: append($included-keyframes, $name) !global;
  }
  @else {
    $included-keyframes: append($included-keyframes, $name) !global;
  }

  @include animation-name($name);
  @include animation-properties($count, $duration, $delay, $timingFunction, $fill, $visibility);
}
