.skip {
  a {
    @extend %visually-hidden;
    @extend %focusable;

    min-width: 0;
    text-transform: none;
    opacity: 0;
    transition: opacity 100ms;

    &:focus,
    &:active {
      // Don't forget to add top/left positioning properties for your use case!
      position: absolute;
      padding: 0.125rem;
      opacity: 1;
    }
  }
}

body {
  &[class*='show-focus'] {
    :focus {
      outline: 2px dotted rgba(color(ui, focus), .8) !important; // sass-lint:disable-line no-important
      outline-offset: 1px;
    }

  }

  :focus {
    outline: none;
  }
}
