extends /_layout.pug

block vars
  - var title = 'Typography'

block content
  article
    h1 Typography
    p Rocketbelt's typography is built on a modular scale. The scale makes it easy to use type to visually reinforce the hierarchy of content. Rocketbelt also includes plenty of helper classes to support icons, call-to-action links, lists, and pull quotes.

    h2 Headings
    p Headings are responsive and use a modular scale—this means that a giant heading on desktop isn't quite so dominant on a smaller viewport. See #[em #[a(href='https://typecast.com/blog/a-more-modern-scale-for-web-typography') A More Modern Scale for Web Typography]] for background information on this design decision.
    +exampleWithCode
      h1 h1. Pier 1 Imports
      h2 h2. Pier 1 Imports
      h3 h3. Pier 1 Imports
      h4 h4. Pier 1 Imports

    h2 Headings With Secondary Text
      h3 Consideration: Semantics
      .bg_secondary-lighter(style='padding: 40px; width: 250px;')
        header.heading-group.display
          span.preheading This is a
          h1.heading Headline
          h2.subheading Subheadline

      h3 Consideration: SEO
      h1.heading-group
        span.preheading Preheadline #[span.heading Headline]


    h2 Font Specimens
    .grid-fluid
      .row
        .col.sm-12.md
          h3.docs-header Sans Serif
          +exampleWithCode
            .font-sans
              h4 Rubik
              p.
                Let it a sleek, hand-painted in a little sunshine and proud
                heritage dating back and hang. We’d say white stoneware mug with
                bold and a beaded number. You’ll love a nostalgic, weathered
                sign is either way, our elegant simplicity. Collect a
                windowsill, but this unit in and it's a naked niche? Nothing
                spices up the deer pillar of warm colors and plum—all in our
                classic lines with flashy fringe. This little pillow features
                applique and intricate piecework and fest.

    h2 Text Sizes
    p Always use the #[code font-size] helper function (found in the #[code tools] Sass partial) or a corresponding helper class to render different text sizes. #[em Never] use pixels to size text.
    .grid.margin-0
      .row
        .col.xs.ellipsis
          +exampleWithCode
            .font-minus-2 #[code.font-minus-1 font-size(-2):] We concur with zesty orange, vanilla musk—all in shades of life, but plays well with perfectly suited for you.
            .font-minus-1 #[code.font-minus-1 font-size(-1):] We concur with zesty orange, vanilla musk—all in shades of life, but plays well with perfectly suited for you.
            div #[code.font-minus-1 font-size(0):] We concur with zesty orange, vanilla musk—all in shades of life, but plays well with perfectly suited for you.
            .font-plus-1 #[code.font-minus-1 font-size(1):] We concur with zesty orange, vanilla musk—all in shades of life, but plays well with perfectly suited for you.
            .font-plus-2 #[code.font-minus-1 font-size(2):] We concur with zesty orange, vanilla musk—all in shades of life, but plays well with perfectly suited for you.
            .font-plus-3 #[code.font-minus-1 font-size(3):] We concur with zesty orange, vanilla musk—all in shades of life, but plays well with perfectly suited for you.
            .font-plus-4 #[code.font-minus-1 font-size(4):] We concur with zesty orange, vanilla musk—all in shades of life, but plays well with perfectly suited for you.

    h2 Ellipsis
    h3 Standard
    p Narrow &amp; widen your viewport to see the effect.
    .grid-fluid
      .row
        .col.xs-6
          +exampleWithCode
            .ellipsis The fabric that’s as it were salvaged from polyester fabric, our framed piece enhances the hidden zipper.
    h3 Custom Ellipsis
    +exampleWithCode
      .ellipsis-mid(data-rb-ellipsis-start='this_is_a_really_long_email_address', data-rb-ellipsis-end='@pier1.com', title='this_is_a_really_long_email_address@pier1.com')
    .rb-note
      include /partials/a11y.pug
      .rb-note-text Never use the Custom Ellipsis pattern without a #[code title] attribute that combines the two #[code data-rb-ellipsis-] attributes.

    h2 Text with Icon
    p This pattern automatically renders an icon that is the same height as the accompanying text. Add an #[code icon-left] or #[code icon-right] class to indicate where the icon should be placed.
    +exampleWithCode
      span.text-with-icon Store Locator
        svg.icon.icon-left(aria-hidden='true')
          use(xlink:href='/components/icons/rocketbelt.icons.svg#rb-icon-pin')
      br

      a.text-with-icon(href='#') Chat Now
        svg.icon.icon-right(aria-hidden='true')
          use(xlink:href='/components/icons/rocketbelt.icons.svg#rb-icon-chat-single')
      br

      span.text-with-icon.font-plus-4 Email Us
        svg.icon.icon-left(aria-hidden='true')
          use(xlink:href='/components/icons/rocketbelt.icons.svg#rb-icon-envelope')

    h2 CTA
    +exampleWithCode
      a.cta.text-with-icon(href='#') #[span.cta_text Shop Now]
        svg.icon.icon-right(aria-hidden='true')
          use(xlink:href='/components/icons/rocketbelt.icons.svg#rb-icon-cta-arrow')

    h2 Text with Rule
    +exampleWithCode
      .text-with-rule text with rule

    h2 Lists
    h3 Reset
    +exampleWithCode
      ul.list-reset
        li One
        li Two
          ul
            li A
            li B
        li Three

    h3 Horizontal Reset
    +exampleWithCode
      ul.list-inline
        li One
        li Two
        li Three

    // Does title need modifier, or use first-of-type/first-child?
    h2 Link Lists
    h3 With + Without Title
    +exampleWithCode
      ul.link-list
        li.title Customer Relations
        li
          a(href='#') FAQ
        li
          a(href='#') Assembly Instructions
        li
          a(href='#') Shipping Info
        li
          a(href='#') Returns & Exchanges
        li
          a(href='#') Pier 1 for Business
      ul.link-list
        li Quick Links
        li
          a.text-with-icon(href='#') Store Locator
            svg.icon.icon-left(aria-hidden='true')
              use(xlink:href='/components/icons/rocketbelt.icons.svg#rb-icon-pin')
        li
          a(href='#') Check Order Status
        li
          a(href='#') Gift Cards
        li
          a(href='#') Gift Card Balance
        li
          a(href='#') Wishlist
        li
          a(href='#') Designer Perks
      ul.link-list
        li
          a(href='#') Contact Us
        li
          a(href='#') Send a Note
        li
          a.text-with-icon(href='#') Email Us
            svg.icon.icon-left(aria-hidden='true')
              use(xlink:href='/components/icons/rocketbelt.icons.svg#rb-icon-envelope')
        li
          a.text-with-icon(href='#') (817) 252-6300
            svg.icon.icon-left(aria-hidden='true')
              use(xlink:href='/components/icons/rocketbelt.icons.svg#rb-icon-phone')

    h3 Title + Link
    +exampleWithCode
      ul.link-list
        li.title
          a.cta.text-with-icon(href='#') Living Room
            svg.icon.icon-right(aria-hidden='true')
              use(xlink:href='/components/icons/rocketbelt.icons.svg#rb-icon-cta-arrow')
          li
            a(href='#') Chairs
          li
            a(href='#') Ottomans
          li
            a(href='#') Sectionals
          li
            a(href='#') Sofas &amp; Loveseats
          li
            a(href='#') Accent &amp; Coffee Tables
          li
            a(href='#') TV &amp; Media Stands
          li
            a(href='#') Cabinets
          li
            a(href='#') Shelves and Bookcases
          li
            a(href='#') Living Room Collections

    h3 Font Weights
    .font-plus-3
      +exampleWithCode
        .font-weight-light For a stunning mosaic design will add a carefree pattern really impressive.
        div For a stunning mosaic design will add a carefree pattern really impressive.
        .font-weight-semibold For a stunning mosaic design will add a carefree pattern really impressive.

    .font-plus-3
      +exampleWithCode
        .font-style-italic
          div For a stunning mosaic design will add a carefree pattern really impressive.

    h3 Block Quotes
    .grid-fluid
      .row
        .col.xs-12.md-6
          +exampleWithCode
            .group
              blockquote.pull.float-right
                p.quote Simply because we were licked a hundred years before we
                  | started is no reason for us not to try to win.
                  .source Harper Lee, #[span.font-style-italic To Kill A Mockingbird]

    h3 Lead Copy
    .grid-fluid
      .row.xs-center
        .col.md-6.xs-12
          +exampleWithCode
            .lead-first-line.
              Gerbera daisies bloom at a skilled artisan, with Mother Nature's
              showing off at home which features a luxe in so good. Our ornate
              Chinese theme, use as the timeless frame. Crafted of texture and
              plush texture. Plus, it’s stood the sun, too. Weave them to line
              brought that touch of these two taper candle for you. Maybe using
              never-forgetting elephant and “home” sculpture.
        .col.md-6.xs-12
          +exampleWithCode
            .lead-copy Traditional yet graceful cast iron and his lumpy complexion or entryway table
