.card.card-action,
.card.card-image {
  padding: 0;
}

.card-content {
  padding: 0.5rem;
}

.card-title {
  font-size: ms(1);
  text-transform: uppercase;
}

.card-actions {
  border-top: 1px solid rgba(color(gray, lighter), 0.4);
  padding: 0.5rem;
  text-align: right;
}
