@function font-style($style: normal) {
  $style: to_lower_case($style);
  $styles: (
    italic: italic,
    normal: normal
  );

  @return if(map-has-key($styles, $style),
            map-get($styles, $style),
            map-get($styles, normal));
}
