.is-busy_overlay {
  .spin {
    display: inline-block;
    font-size: 1em;
    animation: rbAnim_spin 3s linear infinite;

    &::after {
      display: block;
      width: 1em;
      height: 1em;
      border-width: 0.1em;
      border-style: solid;
      border-color: rgba(color(gray, plus1), 0.5);
      border-top-color: color(primary);
      border-radius: 50%;
      content: '';
      animation: rbAnim_spin 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
      pointer-events: none;
    }

    @keyframes rbAnim_spin {
      100% {
          transform: rotate(720deg);
      }
    }
  }
}