<!DOCTYPE html>
<html>
  <head>
    <title>Radio Buttons | Slipway Pattern Library</title>
    <link rel="stylesheet" href="/slipway/css/site.min.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  </head>
  <body class="grid-fluid">
    <div style="flex-wrap: nowrap;" class="row">
      <nav style="flex-grow: 0;" class="col xs">
        <ul class="list-reset">
          <li><a href="/slipway/base">Base</a>
            <ul class="list-reset">
              <li><a href="/slipway/base/breakpoints">Breakpoints</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/base/color">Color</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/base/grid">Grid</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/base/layout">Layout</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/base/slipsum">Slipsum</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/base/typography">Typography</a>
                <ul class="list-reset">
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="/slipway/components">Components</a>
            <ul class="list-reset">
              <li><a href="/slipway/components/alerts">Alerts</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/components/expanders">Expanders</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/components/busy-indicators">Busy Indicators</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/components/buttons">Buttons</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/components/cards">Cards</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/components/forms">Forms</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/components/images">Images</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/components/modals">Modals</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/components/radio-buttons">Radio Buttons</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/components/tabcordions">Tabcordions</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/components/tooltips">Tooltips</a>
                <ul class="list-reset">
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="/slipway/exposition">Exposition</a>
            <ul class="list-reset">
            </ul>
          </li>
        </ul>
      </nav>
      <div class="col xs">
        <main class="grid-fluid no-margin">
          <div class="row">
            <div class="col xs">
              <article><h1 id="radio-buttons">Radio Buttons</h1>
<h2 id="default">Default</h2>

                <div class="exampleWithCode">
                  <div class="example">
                    <ul class="radio-group">
                      <li>
                        <input id="default-1" type="radio" name="radio-group-default">
                        <label for="default-1">Our stately deer have some fine art</label>
                      </li>
                      <li>
                        <input id="default-2" type="radio" name="radio-group-default">
                        <label for="default-2">Edged in multiples on our floor coverings</label>
                      </li>
                      <li>
                        <input id="default-3" type="radio" name="radio-group-default">
                        <label for="default-3">Named after a home to your interior designer's dream</label>
                      </li>
                    </ul>
                  </div>
                  <div class="expander">
                    <input type="checkbox" id="Z1U0JiS" class="expander_checkbox"/>
                    <label for="Z1U0JiS" data-collapsed-label="Show HTML" data-expanded-label="Hide HTML" class="expander_label"><span class="expander_icon"></span></label>
                    <div class="expander_content">
                      <div class="example-code">
                        <button data-clipboard-target="#ZgeQHU" class="copy-code">Copy</button>
                        <pre><code id="ZgeQHU" class="language-html">
                            &lt;ul class=&quot;radio-group&quot;&gt;
                              &lt;li&gt;
                                &lt;input id=&quot;default-1&quot; type=&quot;radio&quot; name=&quot;radio-group-default&quot;&gt;
                                &lt;label for=&quot;default-1&quot;&gt;Our stately deer have some fine art&lt;/label&gt;
                              &lt;/li&gt;
                              &lt;li&gt;
                                &lt;input id=&quot;default-2&quot; type=&quot;radio&quot; name=&quot;radio-group-default&quot;&gt;
                                &lt;label for=&quot;default-2&quot;&gt;Edged in multiples on our floor coverings&lt;/label&gt;
                              &lt;/li&gt;
                              &lt;li&gt;
                                &lt;input id=&quot;default-3&quot; type=&quot;radio&quot; name=&quot;radio-group-default&quot;&gt;
                                &lt;label for=&quot;default-3&quot;&gt;Named after a home to your interior designer's dream&lt;/label&gt;
                              &lt;/li&gt;
                            &lt;/ul&gt;</code></pre>
                      </div>
                    </div>
                  </div>
                </div><h2 id="chunky">Chunky</h2>

                <div class="exampleWithCode">
                  <div class="example">
                    <ul class="radio-group radio-group-chunky">
                      <li>
                        <input id="chunky-1" type="radio" name="radio-group-chunky">
                        <label for="chunky-1">
                          Subtle, simple take flight. Colorful acrylic on the outdoors inside.
                          You're about charming because of harvest-style nostalgia. Featuring a
                          pretty enough for decadent desserts. Our canine companion that enhances
                          its glass tiles.
                        </label>
                      </li>
                      <li>
                        <input id="chunky-2" type="radio" name="radio-group-chunky">
                        <label for="chunky-2">
                           
                          Our mixed-media, hand-painted finish. Plus, it’s filled with other
                          wicked, beautiful display our modular corner or outdoor cushions.
                          Finished with scrolling embroidery and plush chair cushion:
                          Goes-with-anything color.
                        </label>
                      </li>
                      <li>
                        <input id="chunky-3" type="radio" name="radio-group-chunky">
                        <label for="chunky-3">
                          Plus, it’s filled with other wicked, beautiful display our modular
                          corner or outdoor cushions. Finished with scrolling embroidery and
                          plush chair cushion: Goes-with-anything color. Turkey’s exotic touch of
                          our Fruitasan.
                        </label>
                      </li>
                    </ul>
                  </div>
                  <div class="expander">
                    <input type="checkbox" id="1M6yXS" class="expander_checkbox"/>
                    <label for="1M6yXS" data-collapsed-label="Show HTML" data-expanded-label="Hide HTML" class="expander_label"><span class="expander_icon"></span></label>
                    <div class="expander_content">
                      <div class="example-code">
                        <button data-clipboard-target="#1qrkmF" class="copy-code">Copy</button>
                        <pre><code id="1qrkmF" class="language-html">
                            &lt;ul class=&quot;radio-group radio-group-chunky&quot;&gt;
                              &lt;li&gt;
                                &lt;input id=&quot;chunky-1&quot; type=&quot;radio&quot; name=&quot;radio-group-chunky&quot;&gt;
                                &lt;label for=&quot;chunky-1&quot;&gt;
                                  Subtle, simple take flight. Colorful acrylic on the outdoors inside.
                                  You're about charming because of harvest-style nostalgia. Featuring a
                                  pretty enough for decadent desserts. Our canine companion that enhances
                                  its glass tiles.
                                &lt;/label&gt;
                              &lt;/li&gt;
                              &lt;li&gt;
                                &lt;input id=&quot;chunky-2&quot; type=&quot;radio&quot; name=&quot;radio-group-chunky&quot;&gt;
                                &lt;label for=&quot;chunky-2&quot;&gt;
                                   
                                  Our mixed-media, hand-painted finish. Plus, it’s filled with other
                                  wicked, beautiful display our modular corner or outdoor cushions.
                                  Finished with scrolling embroidery and plush chair cushion:
                                  Goes-with-anything color.
                                &lt;/label&gt;
                              &lt;/li&gt;
                              &lt;li&gt;
                                &lt;input id=&quot;chunky-3&quot; type=&quot;radio&quot; name=&quot;radio-group-chunky&quot;&gt;
                                &lt;label for=&quot;chunky-3&quot;&gt;
                                  Plus, it’s filled with other wicked, beautiful display our modular
                                  corner or outdoor cushions. Finished with scrolling embroidery and
                                  plush chair cushion: Goes-with-anything color. Turkey’s exotic touch of
                                  our Fruitasan.
                                &lt;/label&gt;
                              &lt;/li&gt;
                            &lt;/ul&gt;</code></pre>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script src="/slipway/js/prism.js"></script>
    <script src="/slipway/js/clipboard.min.js"></script>
    <script src="/slipway/js/site.js"></script>
  </body>
</html>