<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/base/typography/rocketbelt.typography.font-loader.min.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png?v=gAapeRjXG7">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png?v=gAapeRjXG7">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png?v=gAapeRjXG7">
    <link rel="manifest" href="/assets/favicons/site.webmanifest?v=gAapeRjXG7">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg?v=gAapeRjXG7" color="#5b14d9">
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico?v=gAapeRjXG7">
    <meta name="msapplication-TileColor" content="#5b14d9">
    <meta name="msapplication-config" content="/assets/favicons/browserconfig.xml?v=gAapeRjXG7">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <title>Radio Buttons | Rocketbelt</title>
    <link rel="stylesheet" href="../../css/rocketbelt.creative.min.css">
    <link rel="stylesheet" href="../../css/rocketbelt.min.css">
    <link rel="stylesheet" href="../../css/site.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="/base/rocketbelt.js"></script>
  </body>
  <body class="grid-fluid">
    <ul class="skip list-reset">
      <li><a class="button-sm button-secondary" href="#content">Skip to Main Content</a></li>
      <li><a class="button-sm button-secondary" href="#footer">Skip to Footer</a></li>
    </ul>
    <div class="docs-wrapper row">
      <header class="site-header">
        <div class="site-nav nav-shadowed">
          <div class="nav_on-site"><a class="rb-header" href="/"><span class="visually-hidden">Return to rocketbelt.io</span>
              <picture><img srcset="/assets/rocketbelt.svg" alt=""></picture><span class="rb-title">Rocketbelt</span></a>
            <nav id="main-nav">
              <ul class="nav-menu">
                <li class="nav-item nav_level-1" ref="base">
                  <button class="category-label">Base</button>
                  <div class="sub-nav">
                    <ul class="sub-nav-group">
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/base/a11y">Accessibility</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/base/animation">Animation</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/base/color">Color</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/base/feature-detection">Feature Detection</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/base/grid">Grid</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/base/layout">Layout</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/base/slipsum">Slipsum</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/base/typography">Typography</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/base/vendor">Vendor</a></li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item nav_level-1" ref="components">
                  <button class="category-label">Components</button>
                  <div class="sub-nav">
                    <ul class="sub-nav-group">
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/icons">Icons</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/images">Images</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/alerts">Alerts</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/busy-indicators">Busy Indicators</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/buttons">Buttons</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/card-grids">Card Grids</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/cards">Cards</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/dialogs">Dialogs</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/expanders">Expanders</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/forms">Forms</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/navigation">Navigation</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/panels">Panels</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/progress">Progress</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/radio-buttons">Radio Buttons</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/tabcordions">Tabcordions</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/tables">Tables</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/tags">Tags</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/tooltips">Tooltips</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/components/uploaders">Uploaders</a></li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item nav_level-1" ref="creative">
                  <button class="category-label">Creative</button>
                  <div class="sub-nav">
                    <ul class="sub-nav-group">
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/creative/playground">Playground</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/creative/product-tag">Product Tag</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/creative/sale-sticker">Sale Sticker</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/creative/seo-banner">Seo Banner</a></li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item nav_level-1" ref="exposition">
                  <button class="category-label">Exposition</button>
                  <div class="sub-nav">
                    <ul class="sub-nav-group">
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/exposition/homepage-components">Homepage Components</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/exposition/links-and-buttons">Links And Buttons</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/exposition/logo-usage">Logo Usage</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/exposition/page-layout">Page Layout</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/exposition/site-content">Site Content</a></li>
                      <li class="sub-nav-item"><a class="sub-nav-link" href="/exposition/web-typography">Web Typography</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </nav>
          </div>
          <div class="nav_off-site links">
            <div class="link link-npm"></div><a class="link link-github" href="https://github.com/pier1/rocketbelt"><span class="visually-hidden">Rocketbelt on GitHub</span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg></a>
          </div>
        </div>
        <script src="../../components/navigation/rocketbelt.navigation-xl.js"></script>
        <script>
          $(document).ready(function () {
            $('#main-nav').accessibleMegaMenu({
              uuidPrefix: 'rb-navigation',
              menuClass: 'nav-menu',
              topNavItemClass: 'nav-item',
              panelClass: 'sub-nav',
              panelGroupClass: 'sub-nav-group',
              hoverClass: 'hover',
              focusClass: 'focus',
              openClass: 'open'
            })
          });
          
        </script>
      </header>
      <div class="pad-5 col xs docs-wrapper_main">
        <main class="site-main grid-fluid no-margin">
          <div class="row">
            <div class="col xs">
              <div class="grid">
                <article>
                  <h1 id="radio-buttons" class="heading-with-link"><span class="heading_text">Radio Buttons</span><button data-clipboard-text="#radio-buttons" class="heading-copy-button heading_link">
                  <svg class="icon" aria-label="Link to this section" role="img">
                    <use xlink:href="/components/icons/rocketbelt.icons.svg#rb-icon-bookmark"/>
                  </svg>
                </button></h1>
                  <h2 id="default" class="heading-with-link"><span class="heading_text">Default</span><button data-clipboard-text="#default" class="heading-copy-button heading_link">
                  <svg class="icon" aria-label="Link to this section" role="img">
                    <use xlink:href="/components/icons/rocketbelt.icons.svg#rb-icon-bookmark"/>
                  </svg>
                </button></h2>
                  <div class="exampleWithCode">
                    <div class="example">
                      <ul class="radio-group">
                        <li>
                          <input id="default-1" type="radio" name="radio-group-default">
                          <label for="default-1">Our stately deer have some fine art</label>
                        </li>
                        <li>
                          <input id="default-2" type="radio" name="radio-group-default">
                          <label for="default-2">Edged in multiples on our floor coverings</label>
                        </li>
                        <li>
                          <input id="default-3" type="radio" name="radio-group-default">
                          <label for="default-3">Named after a home to your interior designer&apos;s dream</label>
                        </li>
                      </ul>
                    </div>
                    <div class="expander">
                      <input class="expander_checkbox" type="checkbox" id="rb-Z1t8NhV">
                      <label class="expander_label" for="rb-Z1t8NhV" data-collapsed-label="Show HTML" data-expanded-label="Hide HTML"><span class="expander_icon"></span></label>
                      <div class="expander_content">
                        <div class="example-code">
                          <div class="dots"></div>
                          <button class="copy-code" data-clipboard-target="#rb-ZUpPr9">Copy</button>
                          <pre><code class="language-html" id="rb-ZUpPr9">
                              &lt;ul class=&quot;radio-group&quot;&gt;
                                &lt;li&gt;
                                  &lt;input id=&quot;default-1&quot; type=&quot;radio&quot; name=&quot;radio-group-default&quot;&gt;
                                  &lt;label for=&quot;default-1&quot;&gt;Our stately deer have some fine art&lt;/label&gt;
                                &lt;/li&gt;
                                &lt;li&gt;
                                  &lt;input id=&quot;default-2&quot; type=&quot;radio&quot; name=&quot;radio-group-default&quot;&gt;
                                  &lt;label for=&quot;default-2&quot;&gt;Edged in multiples on our floor coverings&lt;/label&gt;
                                &lt;/li&gt;
                                &lt;li&gt;
                                  &lt;input id=&quot;default-3&quot; type=&quot;radio&quot; name=&quot;radio-group-default&quot;&gt;
                                  &lt;label for=&quot;default-3&quot;&gt;Named after a home to your interior designer&apos;s dream&lt;/label&gt;
                                &lt;/li&gt;
                              &lt;/ul&gt;</code></pre>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h2 id="chunky" class="heading-with-link"><span class="heading_text">Chunky</span><button data-clipboard-text="#chunky" class="heading-copy-button heading_link">
                  <svg class="icon" aria-label="Link to this section" role="img">
                    <use xlink:href="/components/icons/rocketbelt.icons.svg#rb-icon-bookmark"/>
                  </svg>
                </button></h2>
                  <div class="exampleWithCode">
                    <div class="example">
                      <ul class="radio-group radio-group-chunky">
                        <li>
                          <input id="chunky-1" type="radio" name="radio-group-chunky">
                          <label for="chunky-1">
                            Subtle, simple take flight. Colorful acrylic on the outdoors inside.
                            You&apos;re about charming because of harvest-style nostalgia. Featuring a
                            pretty enough for decadent desserts. Our canine companion that enhances
                            its glass tiles.
                          </label>
                        </li>
                        <li>
                          <input id="chunky-2" type="radio" name="radio-group-chunky">
                          <label for="chunky-2">
                            Our mixed-media, hand-painted finish. Plus, it&#x2019;s filled with other
                            wicked, beautiful display our modular corner or outdoor cushions.
                            Finished with scrolling embroidery and plush chair cushion:
                            Goes-with-anything color.
                          </label>
                        </li>
                        <li>
                          <input id="chunky-3" type="radio" name="radio-group-chunky">
                          <label for="chunky-3">
                            Plus, it&#x2019;s filled with other wicked, beautiful display our modular
                            corner or outdoor cushions. Finished with scrolling embroidery and
                            plush chair cushion: Goes-with-anything color. Turkey&#x2019;s exotic touch of
                            our Fruitasan.
                          </label>
                        </li>
                      </ul>
                    </div>
                    <div class="expander">
                      <input class="expander_checkbox" type="checkbox" id="rb-ZQ07vH">
                      <label class="expander_label" for="rb-ZQ07vH" data-collapsed-label="Show HTML" data-expanded-label="Hide HTML"><span class="expander_icon"></span></label>
                      <div class="expander_content">
                        <div class="example-code">
                          <div class="dots"></div>
                          <button class="copy-code" data-clipboard-target="#rb-gwOU2">Copy</button>
                          <pre><code class="language-html" id="rb-gwOU2">
                              &lt;ul class=&quot;radio-group radio-group-chunky&quot;&gt;
                                &lt;li&gt;
                                  &lt;input id=&quot;chunky-1&quot; type=&quot;radio&quot; name=&quot;radio-group-chunky&quot;&gt;
                                  &lt;label for=&quot;chunky-1&quot;&gt;
                                    Subtle, simple take flight. Colorful acrylic on the outdoors inside.
                                    You&apos;re about charming because of harvest-style nostalgia. Featuring a
                                    pretty enough for decadent desserts. Our canine companion that enhances
                                    its glass tiles.
                                  &lt;/label&gt;
                                &lt;/li&gt;
                                &lt;li&gt;
                                  &lt;input id=&quot;chunky-2&quot; type=&quot;radio&quot; name=&quot;radio-group-chunky&quot;&gt;
                                  &lt;label for=&quot;chunky-2&quot;&gt;
                                    Our mixed-media, hand-painted finish. Plus, it&#x2019;s filled with other
                                    wicked, beautiful display our modular corner or outdoor cushions.
                                    Finished with scrolling embroidery and plush chair cushion:
                                    Goes-with-anything color.
                                  &lt;/label&gt;
                                &lt;/li&gt;
                                &lt;li&gt;
                                  &lt;input id=&quot;chunky-3&quot; type=&quot;radio&quot; name=&quot;radio-group-chunky&quot;&gt;
                                  &lt;label for=&quot;chunky-3&quot;&gt;
                                    Plus, it&#x2019;s filled with other wicked, beautiful display our modular
                                    corner or outdoor cushions. Finished with scrolling embroidery and
                                    plush chair cushion: Goes-with-anything color. Turkey&#x2019;s exotic touch of
                                    our Fruitasan.
                                  &lt;/label&gt;
                                &lt;/li&gt;
                              &lt;/ul&gt;</code></pre>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h2 id="chunky-with-headers" class="heading-with-link"><span class="heading_text">Chunky with Headers</span><button data-clipboard-text="#chunky-with-headers" class="heading-copy-button heading_link">
                  <svg class="icon" aria-label="Link to this section" role="img">
                    <use xlink:href="/components/icons/rocketbelt.icons.svg#rb-icon-bookmark"/>
                  </svg>
                </button></h2>
                  <div class="exampleWithCode">
                    <div class="example">
                      <ul class="radio-group radio-group-chunky radio-group-chunky-with-header">
                        <li>
                          <input id="chunky-header-1" type="radio" name="radio-group-chunky">
                          <label for="chunky-header-1">
                            <div class="chunky-radio_header">Chunky Header</div>
                            <div class="chunky-radio_body">
                              Consider our ivory velvet pillow, and imperfections, which means less
                              than on a vintage-style, typewritten description of your favorite chair,
                              update a butterfly&#x2019;s wings. And unlike a place your life in your patio
                              or out, greeting guests dining table.
                            </div>
                          </label>
                        </li>
                        <li>
                          <input id="chunky-header-2" type="radio" name="radio-group-chunky">
                          <label for="chunky-header-2">
                            <div class="chunky-radio_header">Chunky Header</div>
                            <div class="chunky-radio_body">
                              Our capiz shell finial, our modular dining is just go together&#x2014;sort
                              of your workspace to create this silky-soft, iridescent capiz. Their
                              shimmering atmosphere.
                            </div>
                          </label>
                        </li>
                        <li>
                          <input id="chunky-header-3" type="radio" name="radio-group-chunky">
                          <label for="chunky-header-3">
                            <div class="chunky-radio_header">Chunky Header</div>
                            <div class="chunky-radio_body">
                              Create your sofa, bed or at base and hang several. Your guests are
                              highlighted by hand of Mexican tiles and classic, design, it&#x2019;s time
                              you decide what you are home sweet orange, vanilla scent reminiscent
                              of scenes from any 5x7 photo or nook.
                            </div>
                          </label>
                        </li>
                      </ul>
                    </div>
                    <div class="expander">
                      <input class="expander_checkbox" type="checkbox" id="rb-2h9hxk">
                      <label class="expander_label" for="rb-2h9hxk" data-collapsed-label="Show HTML" data-expanded-label="Hide HTML"><span class="expander_icon"></span></label>
                      <div class="expander_content">
                        <div class="example-code">
                          <div class="dots"></div>
                          <button class="copy-code" data-clipboard-target="#rb-2qRya0">Copy</button>
                          <pre><code class="language-html" id="rb-2qRya0">
                              &lt;ul class=&quot;radio-group radio-group-chunky radio-group-chunky-with-header&quot;&gt;
                                &lt;li&gt;
                                  &lt;input id=&quot;chunky-header-1&quot; type=&quot;radio&quot; name=&quot;radio-group-chunky&quot;&gt;
                                  &lt;label for=&quot;chunky-header-1&quot;&gt;
                                    &lt;div class=&quot;chunky-radio_header&quot;&gt;Chunky Header&lt;/div&gt;
                                    &lt;div class=&quot;chunky-radio_body&quot;&gt;
                                      Consider our ivory velvet pillow, and imperfections, which means less
                                      than on a vintage-style, typewritten description of your favorite chair,
                                      update a butterfly&#x2019;s wings. And unlike a place your life in your patio
                                      or out, greeting guests dining table.
                                    &lt;/div&gt;
                                  &lt;/label&gt;
                                &lt;/li&gt;
                                &lt;li&gt;
                                  &lt;input id=&quot;chunky-header-2&quot; type=&quot;radio&quot; name=&quot;radio-group-chunky&quot;&gt;
                                  &lt;label for=&quot;chunky-header-2&quot;&gt;
                                    &lt;div class=&quot;chunky-radio_header&quot;&gt;Chunky Header&lt;/div&gt;
                                    &lt;div class=&quot;chunky-radio_body&quot;&gt;
                                      Our capiz shell finial, our modular dining is just go together&#x2014;sort
                                      of your workspace to create this silky-soft, iridescent capiz. Their
                                      shimmering atmosphere.
                                    &lt;/div&gt;
                                  &lt;/label&gt;
                                &lt;/li&gt;
                                &lt;li&gt;
                                  &lt;input id=&quot;chunky-header-3&quot; type=&quot;radio&quot; name=&quot;radio-group-chunky&quot;&gt;
                                  &lt;label for=&quot;chunky-header-3&quot;&gt;
                                    &lt;div class=&quot;chunky-radio_header&quot;&gt;Chunky Header&lt;/div&gt;
                                    &lt;div class=&quot;chunky-radio_body&quot;&gt;
                                      Create your sofa, bed or at base and hang several. Your guests are
                                      highlighted by hand of Mexican tiles and classic, design, it&#x2019;s time
                                      you decide what you are home sweet orange, vanilla scent reminiscent
                                      of scenes from any 5x7 photo or nook.
                                    &lt;/div&gt;
                                  &lt;/label&gt;
                                &lt;/li&gt;
                              &lt;/ul&gt;</code></pre>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </main>
      </div>
      <footer class="site-footer">
        <div class="grid-fluid footer_wrapper">
          <div class="row xs-center xs-middle footer_row">
            <div class="col xs-12 footer_content">
              <div class="links_off-site"><a class="link" href="https://www.pier1.com">
                  <svg class="icon p1-logo">
                    <use xlink:href="/components/icons/rocketbelt.icons.svg#rb-icon-p1logo-alt-1"/>
                  </svg></a><a class="link" href="https://github.com/pier1/rocketbelt"><span class="visually-hidden">Rocketbelt on GitHub</span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg></a></div>
            </div>
          </div>
          <div class="row xs-center xs-middle footer_row">
            <div class="col xs-12 footer_content">
              <div class="copyright">&#xA9; 2018 Pier 1 Imports. Rocketbelt is distributed under an <a href="https://github.com/Pier1/rocketbelt/blob/develop/LICENSE">MIT license</a>.</div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <article class="dialog" tabindex="0" aria-hidden="true">
      <div class="dialog_overlay" tabindex="-1" data-rb-dialog-hide=""></div>
      <section class="dialog_content grid-fluid" aria-labelledby="dialog_title" aria-describedby="dialog_description" role="dialog">
        <header class="dialog_header">
          <h2 class="dialog_title" id="dialog_title"></h2>
          <div class="dialog_close_container">
            <button class="dialog_close" data-rb-dialog-hide="" aria-label="Close dialog">
              <svg class="icon">
                <use xlink:href="/components/icons/rocketbelt.icons.svg#rb-icon-close"/>
              </svg>
            </button>
          </div>
        </header>
        <div class="dialog_body"></div>
      </section>
    </article>
    <script src="../../js/playground.jquery.js"></script>
    <script src="../../js/site.js"></script>
    <script src="/base/feature-detection/rocketbelt.feature-detection.min.js" async></script>
    <script src="/components/icons/rocketbelt.icons.svgxuse.min.js" defer></script>
    <script src="../../js/preCode.js"></script>
    <script src="../../js/prism.js"></script>
    <script src="../../js/clipboard.min.js"></script>
    <script>
      var clipboard = new Clipboard('.heading-copy-button', {
          text: function(trigger) {
              return window.location.href.split(/[?#]/)[0] + trigger.getAttribute('data-clipboard-text');
          }
      });
      
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-1740251-3', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>