<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Radio Buttons | Rocketbelt Pattern Library</title>
    <link rel="stylesheet" href="../../css/site.min.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  </head>
  <body class="grid-fluid">
    <div id="docs-wrapper" style="flex-wrap: nowrap;" class="row">
      <nav id="docs-leftnav" style="flex-grow: 0;" class="col xs-2">
        <ul class="list-reset">
          <li ref="base"><a href="../../base">Base</a>
            <ul class="list-reset">
              <li ref="breakpoints"><a href="../../base/breakpoints">Breakpoints</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li ref="color"><a href="../../base/color">Color</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li ref="grid"><a href="../../base/grid">Grid</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li ref="layout"><a href="../../base/layout">Layout</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li ref="slipsum"><a href="../../base/slipsum">Slipsum</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li ref="typography"><a href="../../base/typography">Typography</a>
                <ul class="list-reset">
                </ul>
              </li>
            </ul>
          </li>
          <li ref="components"><a href="../../components">Components</a>
            <ul class="list-reset">
              <li ref="forms"><a href="../../components/forms">Forms</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li ref="busy-indicators"><a href="../../components/busy-indicators">Busy Indicators</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li ref="alerts"><a href="../../components/alerts">Alerts</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li ref="buttons"><a href="../../components/buttons">Buttons</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li ref="cards"><a href="../../components/cards">Cards</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li ref="expanders"><a href="../../components/expanders">Expanders</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li ref="images"><a href="../../components/images">Images</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li ref="modals"><a href="../../components/modals">Modals</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li ref="radio-buttons"><a href="../../components/radio-buttons">Radio Buttons</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li ref="tabcordions"><a href="../../components/tabcordions">Tabcordions</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li ref="tooltips"><a href="../../components/tooltips">Tooltips</a>
                <ul class="list-reset">
                </ul>
              </li>
            </ul>
          </li>
          <li ref="exposition"><a href="../../exposition">Exposition</a>
            <ul class="list-reset">
              <li ref="Links &amp; Buttons"><a href="../../exposition/Links &amp; Buttons">Links &amp; Buttons</a>
                <ul class="list-reset">
                  <li ref="img">
                    <ul class="list-reset">
                      <li ref="link_button_affordance.png">
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <div id="docs-content" class="pad-5 col xs">
        <main class="grid-fluid no-margin">
          <div class="row">
            <div class="col xs">
              <article><h1 id="radio-buttons">Radio Buttons</h1>
<h2 id="default">Default</h2>

                <div class="exampleWithCode">
                  <div class="example">
                    <ul class="radio-group">
                      <li>
                        <input id="default-1" type="radio" name="radio-group-default">
                        <label for="default-1">Our stately deer have some fine art</label>
                      </li>
                      <li>
                        <input id="default-2" type="radio" name="radio-group-default">
                        <label for="default-2">Edged in multiples on our floor coverings</label>
                      </li>
                      <li>
                        <input id="default-3" type="radio" name="radio-group-default">
                        <label for="default-3">Named after a home to your interior designer's dream</label>
                      </li>
                    </ul>
                  </div>
                  <div class="expander">
                    <input type="checkbox" id="Z1TAhQz" class="expander_checkbox"/>
                    <label for="Z1TAhQz" data-collapsed-label="Show HTML" data-expanded-label="Hide HTML" class="expander_label"><span class="expander_icon"></span></label>
                    <div class="expander_content">
                      <div class="example-code">
                        <button data-clipboard-target="#ZnMlin" class="copy-code">Copy</button>
                        <pre><code id="ZnMlin" class="language-html">
                            &lt;ul class=&quot;radio-group&quot;&gt;
                              &lt;li&gt;
                                &lt;input id=&quot;default-1&quot; type=&quot;radio&quot; name=&quot;radio-group-default&quot;&gt;
                                &lt;label for=&quot;default-1&quot;&gt;Our stately deer have some fine art&lt;/label&gt;
                              &lt;/li&gt;
                              &lt;li&gt;
                                &lt;input id=&quot;default-2&quot; type=&quot;radio&quot; name=&quot;radio-group-default&quot;&gt;
                                &lt;label for=&quot;default-2&quot;&gt;Edged in multiples on our floor coverings&lt;/label&gt;
                              &lt;/li&gt;
                              &lt;li&gt;
                                &lt;input id=&quot;default-3&quot; type=&quot;radio&quot; name=&quot;radio-group-default&quot;&gt;
                                &lt;label for=&quot;default-3&quot;&gt;Named after a home to your interior designer's dream&lt;/label&gt;
                              &lt;/li&gt;
                            &lt;/ul&gt;</code></pre>
                      </div>
                    </div>
                  </div>
                </div><h2 id="chunky">Chunky</h2>

                <div class="exampleWithCode">
                  <div class="example">
                    <ul class="radio-group radio-group-chunky">
                      <li>
                        <input id="chunky-1" type="radio" name="radio-group-chunky">
                        <label for="chunky-1">
                          Subtle, simple take flight. Colorful acrylic on the outdoors inside.
                          You're about charming because of harvest-style nostalgia. Featuring a
                          pretty enough for decadent desserts. Our canine companion that enhances
                          its glass tiles.
                        </label>
                      </li>
                      <li>
                        <input id="chunky-2" type="radio" name="radio-group-chunky">
                        <label for="chunky-2">
                           
                          Our mixed-media, hand-painted finish. Plus, it’s filled with other
                          wicked, beautiful display our modular corner or outdoor cushions.
                          Finished with scrolling embroidery and plush chair cushion:
                          Goes-with-anything color.
                        </label>
                      </li>
                      <li>
                        <input id="chunky-3" type="radio" name="radio-group-chunky">
                        <label for="chunky-3">
                          Plus, it’s filled with other wicked, beautiful display our modular
                          corner or outdoor cushions. Finished with scrolling embroidery and
                          plush chair cushion: Goes-with-anything color. Turkey’s exotic touch of
                          our Fruitasan.
                        </label>
                      </li>
                    </ul>
                  </div>
                  <div class="expander">
                    <input type="checkbox" id="1MmWXc" class="expander_checkbox"/>
                    <label for="1MmWXc" data-collapsed-label="Show HTML" data-expanded-label="Hide HTML" class="expander_label"><span class="expander_icon"></span></label>
                    <div class="expander_content">
                      <div class="example-code">
                        <button data-clipboard-target="#1vTiMC" class="copy-code">Copy</button>
                        <pre><code id="1vTiMC" class="language-html">
                            &lt;ul class=&quot;radio-group radio-group-chunky&quot;&gt;
                              &lt;li&gt;
                                &lt;input id=&quot;chunky-1&quot; type=&quot;radio&quot; name=&quot;radio-group-chunky&quot;&gt;
                                &lt;label for=&quot;chunky-1&quot;&gt;
                                  Subtle, simple take flight. Colorful acrylic on the outdoors inside.
                                  You're about charming because of harvest-style nostalgia. Featuring a
                                  pretty enough for decadent desserts. Our canine companion that enhances
                                  its glass tiles.
                                &lt;/label&gt;
                              &lt;/li&gt;
                              &lt;li&gt;
                                &lt;input id=&quot;chunky-2&quot; type=&quot;radio&quot; name=&quot;radio-group-chunky&quot;&gt;
                                &lt;label for=&quot;chunky-2&quot;&gt;
                                   
                                  Our mixed-media, hand-painted finish. Plus, it’s filled with other
                                  wicked, beautiful display our modular corner or outdoor cushions.
                                  Finished with scrolling embroidery and plush chair cushion:
                                  Goes-with-anything color.
                                &lt;/label&gt;
                              &lt;/li&gt;
                              &lt;li&gt;
                                &lt;input id=&quot;chunky-3&quot; type=&quot;radio&quot; name=&quot;radio-group-chunky&quot;&gt;
                                &lt;label for=&quot;chunky-3&quot;&gt;
                                  Plus, it’s filled with other wicked, beautiful display our modular
                                  corner or outdoor cushions. Finished with scrolling embroidery and
                                  plush chair cushion: Goes-with-anything color. Turkey’s exotic touch of
                                  our Fruitasan.
                                &lt;/label&gt;
                              &lt;/li&gt;
                            &lt;/ul&gt;</code></pre>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script src="../../js/prism.js"></script>
    <script src="../../js/clipboard.min.js"></script>
    <script src="../../js/site.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-1740251-3', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>