@mixin keyframes-lightSpeedIn {
  @include keyframes(lightSpeedIn) {
  	0% {
    	opacity: 0;
    	@include transform(translateX(100%) skewX(-30deg));
    }
  	60% {
    	opacity: 1;
    	@include transform(translateX(-20%) skewX(30deg));
    }
  	80% {
    	opacity: 1;
    	@include transform(translateX(0%) skewX(-15deg));
    }
  	100% {
    	opacity: 1;
    	@include transform(translateX(0%) skewX(0deg));
    }
  }
}

@mixin lightSpeedIn($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $timingFunction: $timingFunctionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  $name: lightSpeedIn;

  @if (index($included-keyframes, $name) == null) {
    @include keyframes-lightSpeedIn;
    $included-keyframes: append($included-keyframes, $name) !global;
  }
  @else {
    $included-keyframes: append($included-keyframes, $name) !global;
  }

  @include animation-name($name);
	@include timing-function(ease-out);
  @include animation-properties($count, $duration, $delay, $timingFunction, $fill, $visibility);
}
