caption Abbreviated List of NASA Missions
thead
  tr
    th(scope='col') Program
    th(scope='col') Start Date
    th(scope='col') End Date
    th(scope='col') # Missions
    th(scope='col') Notes
tbody
  tr
    td Mercury
    td 1959
    td 1963
    td 6
    td First U.S. crewed program

  tr
    td Gemini
    td 1963
    td 1966
    td 10
    td Program used to practice space rendezvous and EVAs
  tr
    td Apollo
    td 1961
    td 1972
    td 11
    td Brought first human to the Moon
  tr
    td Space Shuttle
    td 1981
    td 2011
    td 135
    td First missions in which a spacecraft was reused
  tr
    td International Space Station
    td 1998
    td Ongoing
    td 44
    td Joint with Russia, Canada, ESA, and JAXA along with co-operators ASI and AEB
