table
  caption US Spaceflight
  thead
    tr
      th(scope='col') Program
      th(scope='col') Start Date
      th(scope='col') End Date
      th(scope='col') # Crewed Missions
      th(scope='col') Notes
  tbody
    tr
      td Mercury
      td 1959
      td 1963
      td 6
      td First U.S. crewed program
    tr
      td Gemini
      td 1963
      td 1966
      td 10
      td Program used to practice space rendezvous and EVAs
    tr
      td Apollo
      td 1961
      td 1972
      td 11
      td Brought first human to the Moon
