extends /_layout.jade

block vars
  - var title = 'Radio Buttons'

block content
  article
    :md
      # Radio Buttons
      
    :md
      ## Default
    +exampleWithCode
      include _radio-buttons-default

    :md
      ## Chunky
    +exampleWithCode
      include _radio-buttons-chunky
