
extends /_layout.pug

block vars
  - var title = 'Card Grids'

block content
  article
    h1 Card Grids
    include _card-grids.pug

  // rb.typography.clamp(
  //   '.card-grid_item p', 6,
  //   {
  //     clampedMarkup: '<button>More</button>',
  //     onUnclamp: (e) => { rb.cardGrids.resizeGridItem($(e.target).closest('.card-grid_item')[0]) },
  //     onClamp: function (el) { rb.cardGrids.resizeGridItem($(el).closest('.card-grid_item')[0]) }
  //   }
  // )
  +exampleWithCode('Javascript Include', true)
    script(src='../../base/typography/rocketbelt.typography.js')
    script(src='./rocketbelt.card-grids.js')
