form
  .form-group
    input#required-email(type='email', required=true, value='help@pier1.com')
    label(for='required-email') Email Address
    small.validation-message Please enter a valid email address.
  .form-group
    input#required-mobile(value='(555) 555-1212')
    label(for='required-mobile') Mobile Phone
    small.validation-message Please enter a valid Mobile Phone.
