<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png?v=gAapeRjXG7">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png?v=gAapeRjXG7">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png?v=gAapeRjXG7">
    <link rel="manifest" href="/assets/favicons/site.webmanifest?v=gAapeRjXG7">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg?v=gAapeRjXG7" color="#5b14d9">
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico?v=gAapeRjXG7">
    <meta name="msapplication-TileColor" content="#5b14d9">
    <meta name="msapplication-config" content="/assets/favicons/browserconfig.xml?v=gAapeRjXG7">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <title>Alerts | Rocketbelt</title>
    <link rel="stylesheet" href="../../css/rocketbelt.creative.min.css">
    <link rel="stylesheet" href="../../css/rocketbelt.min.css">
    <link rel="stylesheet" href="../../css/site.min.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="/base/rocketbelt.js"></script>
  </body>
  <body class="grid-fluid">
    <ul class="skip list-reset">
      <li><a class="button-sm button-secondary" href="#content">Skip to Main Content</a></li>
      <li><a class="button-sm button-secondary" href="#footer">Skip to Footer</a></li>
    </ul>
    <div class="docs-wrapper row">
      <header class="site-header">
        <nav class="site-nav nav-shadowed">
          <div class="nav_on-site"><a class="rb-header" href="/"><span class="visually-hidden">Return to rocketbelt.io</span>
              <picture><img srcset="/assets/rocketbelt.svg" alt=""></picture><span class="rb-title">Rocketbelt</span></a>
            <ul class="list-reset category-contents">
              <li class="category nav_category" ref="base" data-nav-id="base" aria-controls="nav_cat-base">
                <button class="category-label" for="Base">Base</button>
              </li>
              <li class="category nav_category" ref="creative" data-nav-id="creative" aria-controls="nav_cat-creative">
                <button class="category-label" for="Creative">Creative</button>
              </li>
              <li class="category nav_category" ref="components" data-nav-id="components" aria-controls="nav_cat-components">
                <button class="category-label" for="Components">Components</button>
              </li>
              <li class="category nav_category" ref="exposition" data-nav-id="exposition" aria-controls="nav_cat-exposition">
                <button class="category-label" for="Exposition">Exposition</button>
              </li>
            </ul>
          </div>
          <div class="nav_off-site links">
            <div class="link link-npm"></div><a class="link link-github" href="https://github.com/pier1/rocketbelt"><span class="visually-hidden">Rocketbelt on GitHub</span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg></a>
          </div>
        </nav>
        <div class="submenus">
          <ul class="nav_items" id="nav_cat-base">
            <li class="nav_item"><a href="/base/a11y">Accessibility</a></li>
            <li class="nav_item"><a href="/base/color">Color</a></li>
            <li class="nav_item"><a href="/base/feature-detection">Feature Detection</a></li>
            <li class="nav_item"><a href="/base/grid">Grid</a></li>
            <li class="nav_item"><a href="/base/layout">Layout</a></li>
            <li class="nav_item"><a href="/base/slipsum">Slipsum</a></li>
            <li class="nav_item"><a href="/base/typography">Typography</a></li>
          </ul>
          <ul class="nav_items" id="nav_cat-creative">
            <li class="nav_item"><a href="/creative/playground">Playground</a></li>
            <li class="nav_item"><a href="/creative/product-tag">Product Tag</a></li>
            <li class="nav_item"><a href="/creative/sale-sticker">Sale Sticker</a></li>
            <li class="nav_item"><a href="/creative/seo-banner">Seo Banner</a></li>
          </ul>
          <ul class="nav_items" id="nav_cat-components">
            <li class="nav_item"><a href="/components/alerts">Alerts</a></li>
            <li class="nav_item"><a href="/components/busy-indicators">Busy Indicators</a></li>
            <li class="nav_item"><a href="/components/buttons">Buttons</a></li>
            <li class="nav_item"><a href="/components/cards">Cards</a></li>
            <li class="nav_item"><a href="/components/dialogs">Dialogs</a></li>
            <li class="nav_item"><a href="/components/expanders">Expanders</a></li>
            <li class="nav_item"><a href="/components/forms">Forms</a></li>
            <li class="nav_item"><a href="/components/icons">Icons</a></li>
            <li class="nav_item"><a href="/components/images">Images</a></li>
            <li class="nav_item"><a href="/components/navigation">Navigation</a></li>
            <li class="nav_item"><a href="/components/panels">Panels</a></li>
            <li class="nav_item"><a href="/components/progress">Progress</a></li>
            <li class="nav_item"><a href="/components/radio-buttons">Radio Buttons</a></li>
            <li class="nav_item"><a href="/components/tabcordions">Tabcordions</a></li>
            <li class="nav_item"><a href="/components/tables">Tables</a></li>
            <li class="nav_item"><a href="/components/tags">Tags</a></li>
            <li class="nav_item"><a href="/components/tooltips">Tooltips</a></li>
          </ul>
          <ul class="nav_items" id="nav_cat-exposition">
            <li class="nav_item"><a href="/exposition/homepage-components">Homepage Components</a></li>
            <li class="nav_item"><a href="/exposition/links-and-buttons">Links And Buttons</a></li>
            <li class="nav_item"><a href="/exposition/logo-usage">Logo Usage</a></li>
            <li class="nav_item"><a href="/exposition/page-layout">Page Layout</a></li>
            <li class="nav_item"><a href="/exposition/site-content">Site Content</a></li>
            <li class="nav_item"><a href="/exposition/web-typography">Web Typography</a></li>
          </ul>
        </div>
      </header>
      <div class="pad-5 col xs docs-wrapper_main">
        <main class="site-main grid-fluid no-margin">
          <div class="row">
            <div class="col xs">
              <div class="grid">
                <article>
                  <h1 id="alerts" class="heading-with-link"><span class="heading_text">Alerts</span><a href="#alerts" class="heading_link">
                  <svg class="icon" aria-label="Link to this section" role="img">
                    <use xlink:href="/components/icons/rocketbelt.icons.svg#rb-icon-bookmark"/>
                  </svg>
                </a></h1>
                  <h2 id="flash-messages" class="heading-with-link"><span class="heading_text">Flash Messages</span><a href="#flash-messages" class="heading_link">
                  <svg class="icon" aria-label="Link to this section" role="img">
                    <use xlink:href="/components/icons/rocketbelt.icons.svg#rb-icon-bookmark"/>
                  </svg>
                </a></h2>
                  <div class="exampleWithCode">
                    <div class="example">
                      <div class="message-flash message-success">Congratulations! This is a success message.</div>
                      <div class="message-flash message-warning">Caution! This is a warning message.</div>
                      <div class="message-flash message-error">Look out! This is an error message.</div>
                      <div class="message-flash message-info">Just FYI. This is an info message.</div>
                    </div>
                    <div class="expander">
                      <input class="expander_checkbox" type="checkbox" id="rb-ZRPqgY">
                      <label class="expander_label" for="rb-ZRPqgY" data-collapsed-label="Show HTML" data-expanded-label="Hide HTML"><span class="expander_icon"></span></label>
                      <div class="expander_content">
                        <div class="example-code">
                          <div class="dots"></div>
                          <button class="copy-code" data-clipboard-target="#rb-LdXn1">Copy</button>
                          <pre><code class="language-html" id="rb-LdXn1">
                              &lt;div class=&quot;message-flash message-success&quot;&gt;Congratulations! This is a success message.&lt;/div&gt;
                              &lt;div class=&quot;message-flash message-warning&quot;&gt;Caution! This is a warning message.&lt;/div&gt;
                              &lt;div class=&quot;message-flash message-error&quot;&gt;Look out! This is an error message.&lt;/div&gt;
                              &lt;div class=&quot;message-flash message-info&quot;&gt;Just FYI. This is an info message.&lt;/div&gt;</code></pre>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h2 id="dismissable-flash-message" class="heading-with-link"><span class="heading_text">Dismissable Flash Message</span><a href="#dismissable-flash-message" class="heading_link">
                  <svg class="icon" aria-label="Link to this section" role="img">
                    <use xlink:href="/components/icons/rocketbelt.icons.svg#rb-icon-bookmark"/>
                  </svg>
                </a></h2>
                  <div class="exampleWithCode">
                    <div class="example">
                      <div class="message-flash message-success message-dismissable">The action completed successfully.
                        <button class="message-dismissable_close"></button>
                      </div>
                    </div>
                    <div class="expander">
                      <input class="expander_checkbox" type="checkbox" id="rb-ZP1psh">
                      <label class="expander_label" for="rb-ZP1psh" data-collapsed-label="Show HTML" data-expanded-label="Hide HTML"><span class="expander_icon"></span></label>
                      <div class="expander_content">
                        <div class="example-code">
                          <div class="dots"></div>
                          <button class="copy-code" data-clipboard-target="#rb-wNLVX">Copy</button>
                          <pre><code class="language-html" id="rb-wNLVX">
                              &lt;div class=&quot;message-flash message-success message-dismissable&quot;&gt;The action completed successfully.
                                &lt;button class=&quot;message-dismissable_close&quot;&gt;&lt;/button&gt;
                              &lt;/div&gt;</code></pre>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="exampleWithCode">
                    <div class="example">
                      <script src="./rocketbelt.alerts-dismissable.min.js"></script>
                    </div>
                    <div class="expander">
                      <input class="expander_checkbox" type="checkbox" id="rb-Z1fBcsN">
                      <label class="expander_label" for="rb-Z1fBcsN" data-collapsed-label="Show javascript" data-expanded-label="Hide javascript"><span class="expander_icon"></span></label>
                      <div class="expander_content">
                        <div class="example-code">
                          <div class="dots"></div>
                          <button class="copy-code" data-clipboard-target="#rb-Z1wfQJN">Copy</button>
                          <pre><code class="language-javascript" id="rb-Z1wfQJN">
                              &lt;script src=&quot;./rocketbelt.alerts-dismissable.min.js&quot;&gt;&lt;/script&gt;</code></pre>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h2 id="fixed-banner-message" class="heading-with-link"><span class="heading_text">Fixed Banner Message</span><a href="#fixed-banner-message" class="heading_link">
                  <svg class="icon" aria-label="Link to this section" role="img">
                    <use xlink:href="/components/icons/rocketbelt.icons.svg#rb-icon-bookmark"/>
                  </svg>
                </a></h2>
                  <script>
                    $(document).ready(function () {
                      $('.show-fixed-banner').click(function () {
                        if ($(this).next('.fixed-banner').find('.message-banner').length > 0) {
                          $(this).next('.visuallyhidden.fixed-banner').toggleClass('visuallyhidden');
                          $('.message-banner.message-warning.message-dismissable').css('z-index', '99');
                        }
                        else {
                          $(this).next('.fixed-banner').find('.example').prepend('<div class="message-banner message-warning message-dismissable">Caution! This is a fixed banner message.<div class="message-dismissable_close"></div></div>');
                        }
                      })
                    });
                  </script>
                  <button class="show-fixed-banner button-secondary button-md">Show Fixed Banner</button>
                  <div class="visuallyhidden fixed-banner">
                    <div class="exampleWithCode">
                      <div class="example">
                        <div class="message-banner message-warning message-dismissable">Caution! This is a fixed banner message.
                          <button class="message-dismissable_close"></button>
                        </div>
                      </div>
                      <div class="expander">
                        <input class="expander_checkbox" type="checkbox" id="rb-2fwDmO">
                        <label class="expander_label" for="rb-2fwDmO" data-collapsed-label="Show HTML" data-expanded-label="Hide HTML"><span class="expander_icon"></span></label>
                        <div class="expander_content">
                          <div class="example-code">
                            <div class="dots"></div>
                            <button class="copy-code" data-clipboard-target="#rb-1xKgmu">Copy</button>
                            <pre><code class="language-html" id="rb-1xKgmu">
                                &lt;div class=&quot;message-banner message-warning message-dismissable&quot;&gt;Caution! This is a fixed banner message.
                                  &lt;button class=&quot;message-dismissable_close&quot;&gt;&lt;/button&gt;
                                &lt;/div&gt;</code></pre>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </main>
      </div>
      <footer class="site-footer">
        <div class="grid-fluid footer_wrapper">
          <div class="row xs-center xs-middle footer_row">
            <div class="col xs-12 footer_content">
              <div class="links_off-site"><a class="link" href="https://www.pier1.com">
                  <svg class="icon p1-logo">
                    <use xlink:href="/components/icons/rocketbelt.icons.svg#rb-icon-p1logo-alt-1"/>
                  </svg></a><a class="link" href="https://github.com/pier1/rocketbelt"><span class="visually-hidden">Rocketbelt on GitHub</span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg></a></div>
            </div>
          </div>
          <div class="row xs-center xs-middle footer_row">
            <div class="col xs-12 footer_content">
              <div class="copyright">&#xA9; 2018 Pier 1 Imports. Rocketbelt is distributed under an <a href="https://github.com/Pier1/rocketbelt/blob/develop/LICENSE">MIT license</a>.</div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <article class="dialog" tabindex="0" aria-hidden="true">
      <div class="dialog_overlay" tabindex="-1" data-rb-dialog-hide=""></div>
      <section class="dialog_content grid-fluid" aria-labelledby="dialog_title" aria-describedby="dialog_description" role="dialog">
        <header class="dialog_header">
          <h2 class="dialog_title" id="dialog_title"></h2>
          <div class="dialog_close_container">
            <button class="dialog_close" data-rb-dialog-hide="" aria-label="Close dialog">
              <svg class="icon">
                <use xlink:href="/components/icons/rocketbelt.icons.svg#rb-icon-close"/>
              </svg>
            </button>
          </div>
        </header>
        <div class="dialog_body"></div>
      </section>
    </article>
    <script src="../../js/nav.js"></script>
    <script src="../../js/playground.jquery.js"></script>
    <script src="../../js/site.js"></script>
    <script src="/base/feature-detection/rocketbelt.feature-detection.min.js" async></script>
    <script src="/components/icons/rocketbelt.icons.svgxuse.min.js" defer></script>
    <script src="../../js/preCode.js"></script>
    <script src="../../js/prism.js"></script>
    <script src="../../js/clipboard.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-1740251-3', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>