.card.card-image.z-depth-1
  each alt in ['ODR09_1']
    - var base = 'https://images.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/images/';
    - var short = alt.substring(0, alt.indexOf('_'));
    .lazyload-wrapper(data-src-lg=base + short + '/' + alt + '.jpg?sw=400&sh=400')
      img.lazyload-small(src=base + short + '/' + alt + '.jpg?sw=10&sh=10')
      .lazyload-pad(style='padding-bottom: 100%')
  .card-content
    .card-title Panel Cards
    .card-body Combine an image with card content.
  .card-actions
    button.button.button-text Button 1
    button.button.button-text Button 2
