.grid-fluid
  .row.xs-center.font-weight-light
    .col.xs-3
      .card Cards are building blocks that lead to more detailed information.
        | Their use, size, and composition can vary greatly.
    .col.xs-3
      .card Cards should be organized using #[span.font-monospace grid] 
        | classes, and can contain many types of content.
