extends /_layout.pug

block vars
  - var title = 'Homepage Components'

block content
  article
    h1 Homepage Components
    
    a(name="docs-hp-layouts")
    h2 Homepage Components
    <br/>
    div.docs-hp-layouts-controls-wrapper
      ul#docs-hp-layouts-controls.list-inline
        li #[span #[strong Components: ]]
        li.selected #[a(href="#docs-hp-layouts" data-layout="1") Basic ]
        li #[a(href="#docs-hp-layouts" data-layout="2") Extended ]
        li #[a(href="#docs-hp-layouts" data-layout="3") Mobile ]
      
    div#docs-hp-layouts-items
      div.i-hp-grid.grid-fluid.docs-hp-layouts-item.show(data-layout="1")
        div.row.i-header
          div.col.xs
            div.i-header-promo.i-hp-item
              div.i-hp-initial
                img(src="./img/c-header-promo.png")
              div.i-hp-expanded
                img(src="./img/c-header-promo-dims.png") 
        div.row
          div.i-hp-item.col.xs
            div.i-hp-initial
              img(src="./img/c-global-banner.png")
            div.i-hp-expanded
              img(src="./img/c-global-banner-dims.png")
        div.row
          div.i-hp-item.col.xs
            div.i-hp-initial
              img(src="./img/c-main.png")
            div.i-hp-expanded
              img(src="./img/c-main-dims.png")  
        div.row
          div.i-hp-item.col.xs-4
            div.i-hp-initial
              img(src="./img/c-basic.png")
            div.i-hp-expanded
              img(src="./img/c-basic-dims.png")    
          div.i-hp-item.col.xs-4
            div.i-hp-initial
              img(src="./img/c-basic.png")
            div.i-hp-expanded
              img(src="./img/c-basic-dims.png")    
          div.i-hp-item.col.xs-4
            div.i-hp-initial
              img(src="./img/c-basic.png")
            div.i-hp-expanded
              img(src="./img/c-basic-dims.png")    
        div.row
          div.i-hp-item.col.xs-8
            div.i-hp-initial
              img(src="./img/c-double.png")
            div.i-hp-expanded
              img(src="./img/c-double-dims.png")    
          div.i-hp-item.col.xs-4
            div.i-hp-initial
              img(src="./img/c-basic.png")
            div.i-hp-expanded
              img(src="./img/c-basic-dims.png")    
        div.row
          div.i-hp-item.col.xs
            div.i-hp-initial
              img(src="./img/c-standard-banner.png")
            div.i-hp-expanded
              img(src="./img/c-standard-banner-dims.png")    
        div.row
          div.i-hp-item.col.xs-6
            div.i-hp-initial
              img(src="./img/c-half.png")
            div.i-hp-expanded
              img(src="./img/c-half-dims.png")    
          div.i-hp-item.col.xs-6
            div.i-hp-initial
              img(src="./img/c-half.png")
            div.i-hp-expanded
              img(src="./img/c-half-dims.png")    
        div.row
          div.i-hp-item.col.xs
            div.i-hp-initial
              img(src="./img/c-text-banner.png")
            div.i-hp-expanded
              img(src="./img/c-text-banner-dims.png")
        div.row
          div.i-hp-item.col.xs
            div.i-hp-initial
              img(src="./img/c-tall-banner.png")
            div.i-hp-expanded
              img(src="./img/c-tall-banner-dims.png")
        div.row
          div.i-hp-item.col.xs-6
            div.i-hp-initial
              img(src="./img/c-tall-half.png")
            div.i-hp-expanded
              img(src="./img/c-tall-half-dims.png")
          div.i-hp-item.col.xs-6
            div.i-hp-initial
              img(src="./img/c-tall-half.png")
            div.i-hp-expanded
              img(src="./img/c-tall-half-dims.png")   

      div.i-hp-grid.grid-fluid.docs-hp-layouts-item(data-layout="2")
        div.row
          div.col.xs 
            div.i-hp-item
              div.i-hp-initial
                img(src="./img/c-header-tablet.png")
              div.i-hp-expanded
                img(src="./img/c-header-tablet-dims.png")
        div.row.i-header
          div.col.xs 
            div.i-header-promo.i-hp-item
        div.row
          div.col.xs.i-hp-item.i-hp-static
            img(src="./img/c-global-banner.png")
        div.row
          div.col.xs-10
            div.i-hp-item
              div.i-hp-initial
                img(src="./img/c-main-capped.png")
              div.i-hp-expanded
                img(src="./img/c-main-capped-dims.png")
          div.col.xs
            div.i-hp-item
              div.i-hp-initial
                img(src="./img/c-end-cap.png")
              div.i-hp-expanded
                img(src="./img/c-end-cap-dims.png")
        div.row
          div.col.xs-8
            div.grid-fluid
              div.row
                div.col.xs-6.i-hp-item.i-hp-static
                  div.i-hp-initial
                    img(src="./img/c-basic.png")
                div.col.xs-6.i-hp-item.i-hp-static
                  div.i-hp-initial
                    img(src="./img/c-basic.png")
              div.row
                div.col.xs.i-hp-item.i-hp-static
                  div.i-hp-initial
                    img(src="./img/c-double.png")
          div.col.xs.i-hp-item
              div.i-hp-initial
                img(src="./img/c-tower.png")
              div.i-hp-expanded
                img(src="./img/c-tower-dims.png")
      
      div.grid-fluid.grid-fluid.docs-hp-layouts-item(data-layout="3")
        div.row
          div.col.xs#mobile-components
            img.initial(src="./img/c-mobile.png?r1")
            img.dims.hidden(src="./img/c-mobile-dims.png?r1")

block scripts
  script.        
    $('.i-hp-grid').on('click', '.i-hp-item', function(){
      var $this = $(this);
      if ( !$this.find('.i-hp-expanded').length ) return;
      if ( $this.hasClass('active')) {
        $this.removeClass('active');
      } else {
        $('.i-hp-grid .active').removeClass('active')
        $this.addClass('active');
      }
    });

    $('#docs-hp-layouts-controls').on('click', 'a', function(e){
      e.preventDefault();
      var $link = $(this), layoutId = $link.data('layout');
      $('#docs-hp-layouts-items').find('.show').removeClass('show');
      $('#docs-hp-layouts-controls').find('.selected').removeClass('selected');
      
      $link.parent('li').addClass('selected');
      $('#docs-hp-layouts-items').find('[data-layout="' + layoutId + '"]').addClass('show');
    });

    $('#mobile-components').on('click', function(){
      $('#mobile-components img').each(function(){
        $(this).toggleClass('hidden');
      });
    })
