extends /_layout.pug

block vars
  - var title = 'Homepage Components'

block content
    article
        h1 Homepage Components

        h2 Anatomy of a Component
        p Coming soon...

        h2 Components
        div.grid-fluid
          div.row
            div.col.xs
              h3.docs-header Standard Homepage Components
              img(src="./img/homepage_components.png" width="400")

            div.col.xs
              h3.docs-header Extended Homepage Components
              img(src="./img/homepage_components_addl.png" width="400")

            div.col.xs
              h3.docs-header Mobile Homepage Components
              img(src="./img/homepage_components_mobile.png" width="160")
        
        
