<!DOCTYPE html>
<html>
  <head>
    <title>Tooltips | Slipway Pattern Library</title>
    <link rel="stylesheet" href="/slipway/css/site.min.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  </head>
  <body class="grid-fluid">
    <div style="flex-wrap: nowrap;" class="row">
      <nav style="flex-grow: 0;" class="col xs">
        <ul class="list-reset">
          <li><a href="/slipway/base">Base</a>
            <ul class="list-reset">
              <li><a href="/slipway/base/breakpoints">Breakpoints</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/base/color">Color</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/base/grid">Grid</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/base/layout">Layout</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/base/slipsum">Slipsum</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/base/typography">Typography</a>
                <ul class="list-reset">
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="/slipway/components">Components</a>
            <ul class="list-reset">
              <li><a href="/slipway/components/expanders">Expanders</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/components/forms">Forms</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/components/busy-indicators">Busy Indicators</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/components/buttons">Buttons</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/components/cards">Cards</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/components/alerts">Alerts</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/components/images">Images</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/components/modals">Modals</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/components/radio-buttons">Radio Buttons</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/components/tabcordions">Tabcordions</a>
                <ul class="list-reset">
                </ul>
              </li>
              <li><a href="/slipway/components/tooltips">Tooltips</a>
                <ul class="list-reset">
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="/slipway/exposition">Exposition</a>
            <ul class="list-reset">
            </ul>
          </li>
        </ul>
      </nav>
      <div class="col xs">
        <main class="grid-fluid no-margin">
          <div class="row">
            <div class="col xs">
              <article><h1 id="tooltips">Tooltips</h1>
<h2 id="default">Default</h2>

                <div class="exampleWithCode">
                  <div class="example">
                    <button data-tooltip="You'd be the help of open-air luxury." class="button-md button-secondary">Default</button>
                  </div>
                  <div class="expander">
                    <input type="checkbox" id="BJuG7n0WJkx" class="expander_checkbox"/>
                    <label for="BJuG7n0WJkx" data-collapsed-label="Show HTML" data-expanded-label="Hide HTML" class="expander_label"><span class="expander_icon"></span></label>
                    <div class="expander_content">
                      <div class="example-code">
                        <button data-clipboard-target="#BkPzXhCZy1x" class="copy-code">Copy</button>
                        <pre><code id="BkPzXhCZy1x" class="language-html">
                            &lt;button data-tooltip=&quot;You'd be the help of open-air luxury.&quot; class=&quot;button-md button-secondary&quot;&gt;Default&lt;/button&gt;</code></pre>
                      </div>
                    </div>
                  </div>
                </div><h2 id="directional">Directional</h2>
<h3 id="left">Left</h3>

                <div class="exampleWithCode">
                  <div class="example">
                    <button data-tooltip="Weave a sofa or outdoor seat on display." class="tooltip-left button-md button-secondary">Left</button>
                  </div>
                  <div class="expander">
                    <input type="checkbox" id="SJcG7hR-1kx" class="expander_checkbox"/>
                    <label for="SJcG7hR-1kx" data-collapsed-label="Show HTML" data-expanded-label="Hide HTML" class="expander_label"><span class="expander_icon"></span></label>
                    <div class="expander_content">
                      <div class="example-code">
                        <button data-clipboard-target="#H1KGmhA-1kg" class="copy-code">Copy</button>
                        <pre><code id="H1KGmhA-1kg" class="language-html">
                            &lt;button data-tooltip=&quot;Weave a sofa or outdoor seat on display.&quot; class=&quot;tooltip-left button-md button-secondary&quot;&gt;Left&lt;/button&gt;</code></pre>
                      </div>
                    </div>
                  </div>
                </div><h3 id="right">Right</h3>

                <div class="exampleWithCode">
                  <div class="example">
                    <button data-tooltip="Case in covered with nailhead trim is even more of flowers?" class="tooltip-right button-md button-secondary">Right</button>
                  </div>
                  <div class="expander">
                    <input type="checkbox" id="ry3GQh0WJkx" class="expander_checkbox"/>
                    <label for="ry3GQh0WJkx" data-collapsed-label="Show HTML" data-expanded-label="Hide HTML" class="expander_label"><span class="expander_icon"></span></label>
                    <div class="expander_content">
                      <div class="example-code">
                        <button data-clipboard-target="#SJsGXnA-kye" class="copy-code">Copy</button>
                        <pre><code id="SJsGXnA-kye" class="language-html">
                            &lt;button data-tooltip=&quot;Case in covered with nailhead trim is even more of flowers?&quot; class=&quot;tooltip-right button-md button-secondary&quot;&gt;Right&lt;/button&gt;</code></pre>
                      </div>
                    </div>
                  </div>
                </div><h3 id="bottom">Bottom</h3>

                <div class="exampleWithCode">
                  <div class="example">
                    <button data-tooltip="Decorated with an almost weightless, firefly-like effect." class="tooltip-bottom button-md button-secondary">Bottom</button>
                  </div>
                  <div class="expander">
                    <input type="checkbox" id="ry0Mm3RZkkl" class="expander_checkbox"/>
                    <label for="ry0Mm3RZkkl" data-collapsed-label="Show HTML" data-expanded-label="Hide HTML" class="expander_label"><span class="expander_icon"></span></label>
                    <div class="expander_content">
                      <div class="example-code">
                        <button data-clipboard-target="#Sy6Mm3RbkJl" class="copy-code">Copy</button>
                        <pre><code id="Sy6Mm3RbkJl" class="language-html">
                            &lt;button data-tooltip=&quot;Decorated with an almost weightless, firefly-like effect.&quot; class=&quot;tooltip-bottom button-md button-secondary&quot;&gt;Bottom&lt;/button&gt;</code></pre>
                      </div>
                    </div>
                  </div>
                </div><h2 id="widths">Widths</h2>
<h3 id="small-default-">Small (Default)</h3>
<h3 id="medium">Medium</h3>

                <div class="exampleWithCode">
                  <div class="example">
                    <button data-tooltip="Especially when you’re snuggled up your family and beyond. Did you with a cabinet or to kick back." class="tooltip-md tooltip-right button-md button-secondary">Medium</button>
                  </div>
                  <div class="expander">
                    <input type="checkbox" id="HkxXX3CWkke" class="expander_checkbox"/>
                    <label for="HkxXX3CWkke" data-collapsed-label="Show HTML" data-expanded-label="Hide HTML" class="expander_label"><span class="expander_icon"></span></label>
                    <div class="expander_content">
                      <div class="example-code">
                        <button data-clipboard-target="#Byym72Ab11e" class="copy-code">Copy</button>
                        <pre><code id="Byym72Ab11e" class="language-html">
                            &lt;button data-tooltip=&quot;Especially when you’re snuggled up your family and beyond. Did you with a cabinet or to kick back.&quot; class=&quot;tooltip-md tooltip-right button-md button-secondary&quot;&gt;Medium&lt;/button&gt;</code></pre>
                      </div>
                    </div>
                  </div>
                </div><h3 id="large">Large</h3>

                <div class="exampleWithCode">
                  <div class="example">
                    <button data-tooltip="Our 10-foot battery-powered Pearl Strand Glimmer Strings® use your decor that nostalgic feeling of sweet orange. Refill your indoor/outdoor settee cushion." class="tooltip-lg tooltip-right button-md button-secondary">Large</button>
                  </div>
                  <div class="expander">
                    <input type="checkbox" id="SkGQ7nCZJkl" class="expander_checkbox"/>
                    <label for="SkGQ7nCZJkl" data-collapsed-label="Show HTML" data-expanded-label="Hide HTML" class="expander_label"><span class="expander_icon"></span></label>
                    <div class="expander_content">
                      <div class="example-code">
                        <button data-clipboard-target="#rkbQQnRbkkg" class="copy-code">Copy</button>
                        <pre><code id="rkbQQnRbkkg" class="language-html">
                            &lt;button data-tooltip=&quot;Our 10-foot battery-powered Pearl Strand Glimmer Strings® use your decor that nostalgic feeling of sweet orange. Refill your indoor/outdoor settee cushion.&quot; class=&quot;tooltip-lg tooltip-right button-md button-secondary&quot;&gt;Large&lt;/button&gt;</code></pre>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script src="/slipway/js/prism.js"></script>
    <script src="/slipway/js/clipboard.min.js"></script>
    <script src="/slipway/js/site.js"></script>
  </body>
</html>