extends /_layout.jade

block vars
  - var title = 'Typography'

block content
  article
    :md
      # Typography
      Here is some short front matter about typography.

      ## Headings
    +exampleWithCode
      h1 h1. Pier 1 Imports
      h2 h2. Pier 1 Imports
      h3 h3. Pier 1 Imports
      h4 h4. Pier 1 Imports
      
    :md
      ## Headings With Secondary Text
      
    +exampleWithCode
      h1 h1. Pier 1 Imports
        small Secondary
      h2 h2. Pier 1 Imports
        small Secondary
      h3 h3. Pier 1 Imports
        small Secondary
      h4 h4. Pier 1 Imports
        small Secondary
    
    :md
      ## Font Faces
    
    .grid-fluid
      .row
        .col.sm-12.md #[h3 Sans Serif]
          +exampleWithCode
            div.font-sans
              p.
                Let it a sleek, hand-painted in a little sunshine and proud 
                heritage dating back and hang. We’d say white stoneware mug with
                bold and a beaded number. You’ll love a nostalgic, weathered 
                sign is either way, our elegant simplicity. Collect a 
                windowsill, but this unit in and it's a naked niche? Nothing 
                spices up the deer pillar of warm colors and plum—all in our 
                classic lines with flashy fringe. This little pillow features 
                applique and intricate piecework and fest.
            
    .grid-fluid
      .row
        .col.sm-12.md #[h3 Serif]
          +exampleWithCode
            .font-serif
              p.
                Self-welting and just a favorite chair, sofa something good to 
                smell the holiday entertaining with built-in timers for extra 
                limber draft stopper makes it instantly brighten your affinity 
                for exceptional comfort, our embroidered in every bird) is crafted
                with oversized pillow has a soft, polyester construction ensures 
                long-lasting comfort. Whether you just the wood and kitchen or a 
                touch to hang anything but you at a braided wire, and stops. Buy 
                one bouquet of a hint of textures to be the right rhythm. 
                Flaunting iron and sharing, rich hues of sophistication?

    :md
      ## Text Sizes
    
    .ellipsis
      +exampleWithCode
        .font-minus-3 We concur with zesty orange, vanilla musk—all in shades of life, but plays well with perfectly suited for you. 
        .font-minus-2 We concur with zesty orange, vanilla musk—all in shades of life, but plays well with perfectly suited for you. 
        .font-minus-1 We concur with zesty orange, vanilla musk—all in shades of life, but plays well with perfectly suited for you. 
        div We concur with zesty orange, vanilla musk—all in shades of life, but plays well with perfectly suited for you. 
        .font-plus-1 We concur with zesty orange, vanilla musk—all in shades of life, but plays well with perfectly suited for you. 
        .font-plus-2 We concur with zesty orange, vanilla musk—all in shades of life, but plays well with perfectly suited for you. 
        .font-plus-3 We concur with zesty orange, vanilla musk—all in shades of life, but plays well with perfectly suited for you. 
        .font-plus-4 We concur with zesty orange, vanilla musk—all in shades of life, but plays well with perfectly suited for you. 
        .font-plus-5 We concur with zesty orange, vanilla musk—all in shades of life, but plays well with perfectly suited for you. 
        .font-plus-6 We concur with zesty orange, vanilla musk—all in shades of life, but plays well with perfectly suited for you. 
        .font-plus-7 We concur with zesty orange, vanilla musk—all in shades of life, but plays well with perfectly suited for you. 
        .font-plus-8 We concur with zesty orange, vanilla musk—all in shades of life, but plays well with perfectly suited for you. 
        .font-plus-9 We concur with zesty orange, vanilla musk—all in shades of life, but plays well with perfectly suited for you. 

    .ellipsis
      +exampleWithCode
        .font-serif
          .font-minus-3 We concur with zesty orange, vanilla musk—all in shades of life, but plays well with perfectly suited for you. 
          .font-minus-2 We concur with zesty orange, vanilla musk—all in shades of life, but plays well with perfectly suited for you. 
          .font-minus-1 We concur with zesty orange, vanilla musk—all in shades of life, but plays well with perfectly suited for you. 
          div We concur with zesty orange, vanilla musk—all in shades of life, but plays well with perfectly suited for you. 
          .font-plus-1 We concur with zesty orange, vanilla musk—all in shades of life, but plays well with perfectly suited for you. 
          .font-plus-2 We concur with zesty orange, vanilla musk—all in shades of life, but plays well with perfectly suited for you. 
          .font-plus-3 We concur with zesty orange, vanilla musk—all in shades of life, but plays well with perfectly suited for you. 
          .font-plus-4 We concur with zesty orange, vanilla musk—all in shades of life, but plays well with perfectly suited for you. 
          .font-plus-5 We concur with zesty orange, vanilla musk—all in shades of life, but plays well with perfectly suited for you. 
          .font-plus-6 We concur with zesty orange, vanilla musk—all in shades of life, but plays well with perfectly suited for you. 
          .font-plus-7 We concur with zesty orange, vanilla musk—all in shades of life, but plays well with perfectly suited for you. 
          .font-plus-8 We concur with zesty orange, vanilla musk—all in shades of life, but plays well with perfectly suited for you. 
          .font-plus-9 We concur with zesty orange, vanilla musk—all in shades of life, but plays well with perfectly suited for you. 
    
    :md
      ## Lists
      ### Reset      
    +exampleWithCode
      ul.list-reset
        li One
        li Two
          ul
            li A
            li B
        li Three
    
    :md
      ### Horizontal Reset
    +exampleWithCode
      ul.list-inline
        li One
        li Two
        li Three
        
    :md
      ### Font Weights
      
    +exampleWithCode
      .font-plus-5
        .font-weight-light Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qu Rr Ss Tt Uu Vv Ww Xx Yy Zz 1234567890
        div Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qu Rr Ss Tt Uu Vv Ww Xx Yy Zz 1234567890
        .font-weight-semibold Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qu Rr Ss Tt Uu Vv Ww Xx Yy Zz 1234567890
        
    +exampleWithCode
      .font-style-italic.font-plus-5
        .font-weight-light Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qu Rr Ss Tt Uu Vv Ww Xx Yy Zz 1234567890
        div Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qu Rr Ss Tt Uu Vv Ww Xx Yy Zz 1234567890
        .font-weight-semibold Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qu Rr Ss Tt Uu Vv Ww Xx Yy Zz 1234567890
      
    +exampleWithCode
      .font-serif.font-plus-5
        div Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qu Rr Ss Tt Uu Vv Ww Xx Yy Zz 1234567890
        .font-weight-semibold Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qu Rr Ss Tt Uu Vv Ww Xx Yy Zz 1234567890
        
    +exampleWithCode
      .font-serif.font-style-italic.font-plus-5
        div Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qu Rr Ss Tt Uu Vv Ww Xx Yy Zz 1234567890
    
    :md
      ### Block Quotes

    .grid-fluid
      .row
        .col.xs-12.md-6
          +exampleWithCode
            blockquote.font-serif Simply because we were licked a hundred years before we started is no reason for us not to try to win.
              .source Harper Lee, #[span.font-style-italic To Kill A Mockingbird]
        .col.xs-12.md-6
          +exampleWithCode
            .group
              blockquote.pull.float-right
                p.quote Simply because we were licked a hundred years before we 
                  | started is no reason for us not to try to win.
                  .source Harper Lee, #[span.font-style-italic To Kill A Mockingbird]

    :md
      ### Lead Copy
    
    .grid-fluid
      .row.xs-center
        .col.md-6.xs-12
          +exampleWithCode
            .lead-first-line.
              Gerbera daisies bloom at a skilled artisan, with Mother Nature's 
              showing off at home which features a luxe in so good. Our ornate 
              Chinese theme, use as the timeless frame. Crafted of texture and 
              plush texture. Plus, it’s stood the sun, too. Weave them to line 
              brought that touch of these two taper candle for you. Maybe using 
              never-forgetting elephant and “home” sculpture.
        .col.md-6.xs-12
          +exampleWithCode
            .lead-copy Traditional yet graceful cast iron and his lumpy complexion or entryway table
