extends /_layout.pug

block vars
  - var title = 'Uploaders'

block content
  article
    h1 File Upload

    +exampleWithCode
      .uploader
        span.uploader_cta.text-with-icon Add a Photo
          svg.icon.icon-left(aria-hidden='true')
            use(xlink:href='/components/icons/rocketbelt.icons.svg#rb-icon-upload')
        form.uploader_form
          p.uploader_text
            | Drag &amp; drop images into this area
            | or #[label.uploader_file-label.button-lg.button-link(for='uploader_file-input', aria-role='button', tabindex=0) browse your computer] for them.
          input#uploader_file-input(type='file', multiple='', accept='*')
        progress(max='100', value='0')
        .uploader_thumbs_wrapper
          .uploader_thumbs
          label.uploader_file-label.button-lg.button-alternate(for='uploader_file-input', aria-role='button', tabindex=0)
            span.text-with-icon Add another photo
              svg.icon(aria-hidden='true')
                use(xlink:href='/components/icons/rocketbelt.icons.svg#rb-icon-upload')

  script(src='./rocketbelt.uploaders.js')
