.card.card-action.z-depth-2
  .card-content
    .card-title Action Cards
    .card-body More structured, with a title and one or more 
      | actions a user can take.
  .card-actions
    button.button.button-text Button 1
    button.button.button-text Button 2
