@mixin keyframes-rotateOutDownLeft {
  @include keyframes(rotateOutDownLeft) {
  	0% {
    	opacity: 1;
    	@include transform(rotate(0));
    	@include transform-origin(left bottom);
    }
  	100% {
    	opacity: 0;
    	@include transform(rotate(90deg));
    	@include transform-origin(left bottom);
    }
  }
}

@mixin rotateOutDownLeft($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $timingFunction: $timingFunctionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  $name: rotateOutDownLeft;

  @if (index($included-keyframes, $name) == null) {
    @include keyframes-rotateOutDownLeft;
    $included-keyframes: append($included-keyframes, $name) !global;
  }
  @else {
    $included-keyframes: append($included-keyframes, $name) !global;
  }

  @include animation-name($name);
  @include animation-properties($count, $duration, $delay, $timingFunction, $fill, $visibility);
}
