// Color is going to change.
.cta {
  color: color(black);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: font-weight(semibold);
  line-height: 1.5;
  .icon {
    width: .75rem;
    height: .75rem;
  }
  &:hover {
    color: lighten(black, 15%) !important;
  }
  &:active,
  &:focus {
    color: lighten(black, 30%) !important;
  }
  &:visited {
    color: color(black);
  }
}
