.grid-fluid
  .row
    .col.xs
      .card
        span.clampable The scent reminiscent of styles—including yours—whether hanging from rich light, giving thanks. Here’s what we sense of vitamin ahhh. This lustrous amber hint of patio seating with your appreciation for a concealed zipper and is that special pieces juxtapose hand-shaped and musk—all in a generous offering an eye-catching sculpture adds luxury upholstery and comforting color?
    .col.xs
      .card
        span.clampable The scent reminiscent of styles—including yours—whether hanging from rich light, giving thanks. Here’s what we sense of vitamin ahhh. This lustrous amber hint of patio seating with your appreciation for a concealed zipper and is that special pieces juxtapose hand-shaped and musk—all in a generous offering an eye-catching sculpture adds luxury upholstery and comforting color?
    .col.xs
      .card
        span.clampable The scent reminiscent of styles—including yours—whether hanging from rich light, giving thanks. Here’s what we sense of vitamin ahhh. This lustrous amber hint of patio seating with your appreciation for a concealed zipper and is that special pieces juxtapose hand-shaped and musk—all in a generous offering an eye-catching sculpture adds luxury upholstery and comforting color?

+exampleCodeOnly('Javascript', true)
  | rb.typography.clamp('.clampable', 2, { clampedMarkup: '… <button>Read More</button>' })


script(src='./rocketbelt.typography.js')
