.link-list {
  @include list-reset();

  display: inline-block;
  color: color(black);
  vertical-align: top;
  font-size: font-size(-1);

  &:first-child:not(:last-child) {
    padding-right: 1em;
  }
  &:not(:first-child):not(:last-child) {
    padding: 0 1em;
  }
  &:last-child:not(:first-child) {
    padding-left: 1em;
  }

  li {
    display: flex;
    min-height: 1.75rem;
    text-transform: capitalize;
    align-items: center;

    a:not(.cta) {
      display: flex;
      flex: 0 1 auto;
      color: inherit;
      transition: color 100ms linear;
      align-items: center;

      &:hover {
        color: color(gray, minus2);
      }

      &:active {
        color: inherit;
      }
    }
  }

  .title {
    display: flex;
    text-transform: uppercase;
    font-weight: font-weight(bold);
    align-items: stretch;

    .cta {
      display: flex;
      flex: 0 1 auto;
      font-weight: normal;
      align-self: stretch;

      .icon {
        width: .8em;
        height: .8em;
      }
    }
  }
}

// Mobile style
.touchevents {
  .link-list {
    &:first-child:not(:last-child),
    &:not(:first-child):not(:last-child),
    &:last-child:not(:first-child) {
      padding: 0;
    }

    li {
      min-height: 3.125rem;
      align-items: stretch;
      a:not(.cta) {
        display: flex;
        flex: 1;
        align-items: center;
        align-self: stretch;
      }
    }

    .title,
    li:first-child {
      display: flex;
      align-items: center;
    }

    .title {
      .cta {
        flex: 1;
      }
    }
  }
}
