@import 'emphasis/emphasis',
        'entrances-and-exits/entrances-and-exits',
        'state-change/state-change';

@import 'properties';
@import
  'fading-entrances/fading-entrances',
  'fading-exits/fading-exits';

.animatable {
  animation-duration: animation-duration(md);
  animation-fill-mode: both;

  &.animatable-infinite {
    animation-iteration-count: infinite;
  }

  &.animatable-reset {
    animation-fill-mode: backwards;
  }

  &.animating {
    animation-play-state: running;
  }

  &.animation_duration_xs {
    animation-duration: animation-duration(xs);
  }

  &.animation_duration_sm {
    animation-duration: animation-duration(sm);
  }

  &.animation_duration_lg {
    animation-duration: animation-duration(lg);
  }

  &.animation_duration_xl {
    animation-duration: animation-duration(xl);
  }

  &.animation_easing_motion {
    animation-timing-function: ease(in-out-quad);
  }
}

// State
// opacity, color, size

// Emphasis
// pulse
