extends /_layout

block vars
  - var title = 'Logo Usage'

block content
    article
        :markdown-it
            # Logos

            ## Logo Guidelines
            Protecting Pier 1 Imports' identity is important. Communicating with a consistent brand message is important.

            We have outlined some simple guidelines for the proper usage of our beloved Pier 1 Imports logo:

            * Do not change the logo.
            * Do not use just a part of the logo.  Don't exclude the the &reg; or the &#8482; symbol.
            * Do not alter the logo by stretching or cropping it.
            * Do not add additional type or art to the logo.
            * Acceptable colors: Pier 1 Imports blue, black, or white.  No others.
            * Acceptable angles: none or 90&deg; (when space is at a premium.)
            * Do not use the logo in a sentence.  Use the words, "Pier 1 Imports."

            ## Regular-Use Logo
            <img src="./img/normal_logo.png" height="90">

            ## Limited-Use Logo
            <img src="./img/limited_use_logo.png" height="90">

            ## Box Logo
            <img src="./img/box_logo.png" height="148">
