extends /_layout.jade

block vars
  - var title = 'Logo Usage'

block content
    article
        :md
            # Logos

            ## Regular-Use Logo
            <img src="./img/normal_logo.png" height="90">

            ## Limited-Use Logo
            <img src="./img/limited_use_logo.png" height="90">

            ## Box Logo
            <img src="./img/box_logo.png" height="148">
        
        
        
