*:not(.is-dialog-open) {
  .dialog {
    &.dialog-max {
      .dialog_content {
        animation: dialog-max-out 300ms ease-in-out;
      }
    }
  }
}

.is-dialog-open {
  .dialog {
    &.dialog-max {
      .dialog_content {
        animation: dialog-max-in 300ms ease-in-out;
      }
    }
  }
}

.dialog {
  &.dialog-max {
    .dialog_header {
      padding: 0;
      border: 0;

      .dialog_title {
        margin: 2rem 0;
      }
    }

    &.dialog_headerless {
      .dialog_footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        min-height: 40px;
        background: color(gray, plus4);
      }
    }

    .dialog_content {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 2rem;
      min-width: 100%;
      max-width: 100%;
      max-height: 100%;
      transform: none;
      @include media('>=md') {
        right: 10%;
        left: 10%;
        min-width: 80%;
      }
    }

    .dialog_body {
      padding: 0;
    }
  }
}
@keyframes dialog-max-in {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 1);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
@keyframes dialog-max-out {
  from {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }

  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 1);
  }
}
