p Choose your favorite transuranic element (actinide or transactinide).
.listbox
  span.listbox_label Choose an element:
  .listbox_contents
    button.listbox_button(aria-haspopup='listbox' aria-labelledby='exp_elem exp_button') Neptunium
    ul.listbox_items.hidden(tabindex='-1' role='listbox' aria-labelledby='exp_elem')
      li#exp_elem_Np(role='option') Neptunium
      li#exp_elem_Pu(role='option') Plutonium
      li#exp_elem_Am(role='option') Americium
      li#exp_elem_Cm(role='option') Curium
      li#exp_elem_Bk(role='option') Berkelium
      li#exp_elem_Cf(role='option') Californium
      li#exp_elem_Es(role='option') Einsteinium
      li#exp_elem_Fm(role='option') Fermium
      li#exp_elem_Md(role='option') Mendelevium
      li#exp_elem_No(role='option') Nobelium
      li#exp_elem_Lr(role='option') Lawrencium
      li#exp_elem_Rf(role='option') Rutherfordium
      li#exp_elem_Db(role='option') Dubnium
      li#exp_elem_Sg(role='option') Seaborgium
      li#exp_elem_Bh(role='option') Bohrium
      li#exp_elem_Hs(role='option') Hassium
      li#exp_elem_Mt(role='option') Meitnerium
      li#exp_elem_Ds(role='option') Darmstadtium
      li#exp_elem_Rg(role='option') Roentgenium
      li#exp_elem_Cn(role='option') Copernicium
      li#exp_elem_Nh(role='option') Nihonium
      li#exp_elem_Fl(role='option') Flerovium
      li#exp_elem_Mc(role='option') Moscovium
      li#exp_elem_Lv(role='option') Livermorium
      li#exp_elem_Ts(role='option') Tennessine
      li#exp_elem_Og(role='option') Oganesson
