extends /_layout.pug

block vars
  - var title = 'Tooltips'

block content
  article
    h1 Tooltips
    h2 Default
    +exampleWithCode
      span.tooltip.button-md.button-secondary Default
        span.tooltip-content You'd be the help of open-air luxury.

    h2 Directional
    h3 Left
    +exampleWithCode
      span.tooltip.tooltip-left.button-md.button-secondary Left
        span.tooltip-content Weave a sofa or outdoor seat on display.
    h3 Right
    +exampleWithCode
      span.tooltip.tooltip-right.button-md.button-secondary Right
        span.tooltip-content Case in covered with nailhead trim is even more of flowers?
    h3 Bottom
    +exampleWithCode
      span.tooltip.tooltip-bottom.button-md.button-secondary Bottom
        span.tooltip-content Decorated with an almost weightless, firefly-like effect.

    h2 Variations
    h3 Small (Default)
    h3 Medium
    +exampleWithCode
      span.tooltip.tooltip-md.tooltip-right.button-md.button-secondary Medium
        span.tooltip-content Especially when you’re snuggled up your family and beyond. Did you with a cabinet or to kick back.
    h3 Large
    +exampleWithCode
      span.tooltip.tooltip-lg.tooltip-right.button-md.button-secondary Large
        span.tooltip-content Our 10-foot battery-powered Pearl Strand Glimmer Strings® use your decor that nostalgic feeling of sweet orange. Refill your indoor/outdoor settee cushion.
