extends /_layout.pug

block vars
  - var title = 'Tooltips'

block content
  article
    h1 Tooltips
    h2 Accessibility
    +exampleWithCode('JS Include')
      script(src='./rocketbelt.a11y.tooltips.min.js')
    h2 Variations
    .row
      .col.xs-12.md-6
        +exampleWithCode
          form
            .form-group.tooltip.tooltip-focus-only.tooltip-inverted
              input.tooltip_trigger
              label(for='input-with-tooltip') Input with Tooltip
              .tooltip-content You'd be the help of open-air luxury.
    .row
      .col.xs-12.md-6
        +exampleWithCode
          span.tooltip(tabindex='0')
            h3.tooltip_trigger.docs-header Default
            .tooltip-content You'd be the help of open-air luxury.
      .col.xs-12.md-6
        +exampleWithCode
          span.tooltip.tooltip-inverted(tabindex='0')
            h3.tooltip_trigger.docs-header Inverted
            .tooltip-content You'd be the help of open-air luxury.

    h2 Directional
    .row
      .col.xs-12.md-6
        +exampleWithCode
          span.tooltip.tooltip-left(tabindex='0')
            h3.tooltip_trigger.docs-header Left
            .tooltip-content Weave a sofa or outdoor seat on display.
        +exampleWithCode
          span.tooltip.tooltip-right(tabindex='0')
            h3.tooltip_trigger.docs-header Right
            .tooltip-content Case in covered with nailhead trim is even more of flowers?
        +exampleWithCode
          span.tooltip.tooltip-bottom(tabindex='0')
            h3.tooltip_trigger.docs-header Bottom
            .tooltip-content Decorated with an almost weightless, firefly-like effect.
      .col.xs-12.md-6
        +exampleWithCode
          span.tooltip.tooltip-left.tooltip-inverted(tabindex='0')
            h3.tooltip_trigger.docs-header Inverted Left
            .tooltip-content Weave a sofa or outdoor seat on display.
        +exampleWithCode
          span.tooltip.tooltip-right.tooltip-inverted(tabindex='0')
            h3.tooltip_trigger.docs-header Inverted Right
            .tooltip-content Case in covered with nailhead trim is even more of flowers?
        +exampleWithCode
          span.tooltip.tooltip-bottom.tooltip-inverted(tabindex='0')
            h3.tooltip_trigger.docs-header Inverted Bottom
            .tooltip-content Decorated with an almost weightless, firefly-like effect.

    h2 Sizes
    +exampleWithCode
      span.tooltip(tabindex='0')
        h3.tooltip_trigger.docs-header Small (Default)
        .tooltip-content You'd be the help of open-air luxury.
    +exampleWithCode
      span.tooltip.tooltip-md.tooltip-right(tabindex='0')
        h3.tooltip_trigger.docs-header Medium
        .tooltip-content Especially when you’re snuggled up your family and beyond. Did you with a cabinet or to kick back.
    +exampleWithCode
      span.tooltip.tooltip-lg.tooltip-right(tabindex='0')
        h3.tooltip_trigger.docs-header Large
        .tooltip-content Our 10-foot battery-powered Pearl Strand Glimmer Strings® use your decor that nostalgic feeling of sweet orange. Refill your indoor/outdoor settee cushion.

    h2 Features
    .row
      .col.xs-8.md-6.lg-4
        +exampleWithCode
          span.tooltip.tooltip-right.tooltip-md.tooltip-inverted(tabindex='0')
            h3.tooltip_trigger.docs-header Rich Content
            span.tooltip-content
              img(src='/exposition/logo-usage/img/normal_logo.png' style='width:85%;display:block')
              p Let it a sleek, hand-painted in a little sunshine and proud heritage dating back and hang. We’d say white stoneware mug with bold and a beaded number. You’ll love a nostalgic, weathered sign is either way, our elegant simplicity. Collect a windowsill, but this unit in and it's a naked niche? Nothing spices up the deer pillar of warm colors and plum—all in our classic lines with flashy fringe. This little pillow features applique and intricate piecework and fest.
        h3.docs-header Accessibility
        +exampleWithCode
          .form-group
            label(for='fname') Email Address
            input#fname(type='text', aria-describedby='input-tooltip')
            span#input-tooltip.tooltip(tabindex='0', role='tooltip')
              svg.icon
                use(xlink:href='../icons/rocketbelt.icons.svg#rb-icon-question')
              .tooltip-content Please enter a valid email address. We will never release this information without explicit consent.


  style(type='text/css').
    .tooltip {
      display: inline-block;
      margin: 2rem 0 .5rem;
    }
    .tooltip h3.docs-header {
      margin:0
    }
    .form-group {
      flex-direction: row;
      flex-wrap: wrap;
      position: relative;
    }
    #input-tooltip {
      margin: 0;
      line-height: 1;
      position: absolute;
      right: -1.5rem;
      top: 55%;
    }
    svg.icon {
      width: 15px;
      height: 15px;
    }
