extends /_layout

block vars
  - var title = 'Links & Buttons'

block content
  article
    h1 Links & Buttons
    | Links are a promise.  What happens after the click should be reflected in the link text.

    h2 Link & Button Affordance Rules
    img(src='./img/link_button_affordance.png', width=640)

    h2 Link & Button Guidelines
    img(src='./img/link-button-guidelines.png', width=620)

    h2 Call-To-Action Guidelines
    img(src='./img/call-to-action-guidelines.png', width=620)
