extends /_layout.jade

block vars
  - var title = 'Buttons'

block content
  article
    :md
      # Buttons
      
    .row
      button.button-sm.button-primary Small Primary
      button.button-sm.button-primary.button-inset Primary Inset
      button.button-sm.button-secondary Small Secondary
      button.button-sm.button-secondary.button-inset Secondary Inset
      button.button-sm.button-text Small Text
      
    .row
      button.button-md.button-primary Medium Primary
      button.button-md.button-primary.button-inset Primary Inset
      button.button-md.button-secondary Medium Secondary
      button.button-md.button-secondary.button-inset Secondary Inset
      button.button-md.button-text Medium Text
      
    .row
      button.button-lg.button-primary Large Primary
      button.button-lg.button-primary.button-inset Primary Inset
      button.button-lg.button-secondary Large Secondary
      button.button-lg.button-secondary.button-inset Secondary Inset
      button.button-lg.button-text Large Text
      
    .row
      button.button-lg.button-primary.button-block Block Button
