extends /_layout.jade

block vars
  - var title = 'Buttons'

block content
  article
    :md
      # Buttons
      ## Primary
    
    .grid-fluid
      .row
        .col.xs
          +exampleWithCode
            include _buttons-primary
      
    :md
      ## Secondary
      
    .grid-fluid
      .row
        .col.xs
          +exampleWithCode
            include _buttons-secondary

    :md
      ## Text
      
    .grid-fluid
      .row
        .col.xs
          +exampleWithCode
            include _buttons-text
      
    :md
      ## Block

    +exampleWithCode
      include _buttons-block
            
