.grid-fluid
  .row
    .col.xs-offset-2.xs-4.md-offset-3.md-6.xl-offset-8.xl-4
  .row
    .col.xs-offset-3.xs-4.md-offset-3.md-6.xl-offset-6.xl-4
  .row
    .col.xs-offset-4.xs-4.md-offset-3.md-6.xl-offset-4.xl-4
  .row
    .col.xs-offset-5.xs-4.md-offset-3.md-6.xl-offset-2.xl-4
