.form-group.inline.inline-with-button
  input#inline-with-button
  label.visually-hidden(for='inline-with-button') Search
  button.button Go

.form-group.inline.inline-with-button
  input#inline-w-button-and-label
  label(for='inline-w-button-and-label') Search
  button.button Go

.form-group.inline.inline-with-button
  input#inline-w-button-and-label-stacked
  label(for='inline-w-button-and-label-stacked') Search
  button.button Go
