.form-group
  input#affixed1.affixed(type='password')
  label(for='affixed1') Password
  svg.icon.affixment(role='img')
    use(xlink:href='/components/icons/rocketbelt.icons.svg#rb-icon-show')
  .messages
    small.helper-text At least 8 characters

.form-group
  input#affixed2.affixed(type='password')
  label(for='affixed2') Password
  button.button.button-minimal.affixment
    svg.icon(role='img')
      use(xlink:href='/components/icons/rocketbelt.icons.svg#rb-icon-show')
