form
  .form-group
    input#invalid-email(type='email', value='not|a=valid!email')
    label(for='invalid-email') Email Address
    small.validation-message Please enter a valid email address.
  .form-group
    input.invalid#invalid-phone(type='tel', value='(not) a-phone-number')
    label(for='invalid-phone') Phone Number
    small.validation-message Please enter a valid phone number.
  .form-group
    input.invalid#invalid-password(type='password', value="doesn't-meet-regex")
    label(for='invalid-password') Password
    small.validation-message Please enter a valid password.
  .form-group
    input.invalid#invalid-fname(type='text')
    label(for='invalid-fname') First Name
    small.validation-message Please enter a first name.
  .form-group
    select.invalid#invalid-select
      option(value='', disabled=true, selected=true, hidden=true) Select a collection
      option Biblioteca
      option Marcel
      option Pierce
    label(for='invalid-select') Collection
    small.validation-message Please select a collection.
