form
  .form-group.inline.required-suppressed
    input.invalid#inline-password(type='password')
    label(for='inline-password') Password
    .messages
      small.validation-message Please enter a valid password
      small.helper-text At least 8 characters
  .form-group.inline.required-suppressed
    select#inline-select
      option(value='', disabled=true, selected=true, hidden=true) Select a collection
      option Biblioteca
      option Marcel
      option Pierce
    label(for='inline-select') Collection
  .form-group.inline.required-suppressed
    textarea#inline-message
    label(for='inline-message') Message
