.modal.modal-bottom-sheet {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 80vh;
  border-radius: 0;

  & .modal_body {
    overflow-y: auto;
    max-height: 60vh;
  }

  &.modal-is-closing {
    @include slideOutDown();
  }

  &.modal-is-opening {
    @include slideInUp($duration: 600ms);
  }
}
