.modal.modal-max {
  height: 100vh;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 0;

  @include media('>=md') {
    left: 10%;
    right: 10%;
  }

  $header-height: ms(8);
  & .modal_header {
    align-items: flex-start;
    position: fixed;
    left: 0;
    right: 0;
    border: none;
    color: color(white);
    background-image: linear-gradient(#{rgba(color(black), 0.85)} 75%, transparent);
    height: $header-height;

    & .modal_header_text {
      font-size: ms(1);
      line-height: 1;
    }

    & .modal_header_close {
      align-self: flex-end;
      padding-right: 0;
      width: auto;
      height: auto;
    }
  }

  & .modal_body {
    overflow-y: auto;
    height: 100vh;
    padding-top: $header-height;
  }

  &.modal-is-opening {
    @include zoomInSmall($duration: 600ms);
  }

  &.modal-is-closing {
    @include zoomOutSmall();
  }
}
