$modal-header-height: ms(12);

.modal.modal-max {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  max-width: 100%;
  border-radius: 0;
  padding: $modal-header-height 0 0 0;

  @include media('>=md') {
    right: 10%;
    left: 10%;
  }

  & .modal_header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $z-modal-max-header;
    height: $modal-header-height;
    border: none;
    background-image: linear-gradient(#{rgba(color(black), 0.85)} 65%, transparent);
    color: color(white);
    fill: color(white);
    align-items: flex-start;
    & h2 {
      font-weight: normal;
      line-height: 1;
    }
  }
  & .modal_header_close {
    fill: color(white);
    padding-right: 0;
  }

  & .modal_body {
    box-shadow: none;
    max-height: 100%;
    overflow-y: auto;
  }

  &.modal-is-opening {
    @include zoomInSmall($duration: 600ms);
  }

  &.modal-is-closing {
    @include zoomOutSmall();
  }
}
