.modal-bg {
  .modal-is-opening,
  .modal-is-opened {
    filter: blur(3px);
  }
}

.modal-overlay {
  background: rgba(color(gray, plus3), 0.8);

  &.modal-is-opening,
  &.modal-is-closing {
    animation-duration: 0.3s;

    animation-fill-mode: forwards;
  }

  &.modal-is-opening {
    animation-name: modal-overlay-opening-keyframes;
  }

  &.modal-is-closing {
    animation-name: modal-overlay-closing-keyframes;
  }
}

.modal {
  max-width: 95%;
  border-radius: 2px;
  background: color(white);
  color: color(gray, minus2);
  text-align: initial;
  transform: translate3d(0, 0, 0);

  @include z-depth(2);
  @include media('>=md') {
    max-width: 65%;
  }
  @include media('>=lg') {
    max-width: 50%;
  }

  &.modal-is-opening,
  &.modal-is-closing {
    animation-duration: 0.3s;

    animation-fill-mode: forwards;
  }

  &.modal-is-opening {
    animation-name: modal-opening-keyframes;
  }

  &.modal-is-closing {
    animation-name: modal-closing-keyframes;
  }
}

.modal_header {
  border-bottom: 1px solid color(gray, plus2);
}

.modal_header,
.modal_body {
  padding: padding(-2);
}

.modal_header .modal_header_text,
.modal_body .modal_body_content {
  padding: 0;
}

.modal_footer {
  padding: padding(4) padding(0);
  border-top: 1px solid color(gray, plus2);
  background: color(gray, plus3);
}


.modal_header {
  .col {
    padding-bottom: 0;
  }
}

.modal_header_close {
  &.col {
    flex-grow: 0;
  }
}

.modal,
.modal-wrapper::after {
  vertical-align: middle;
}

.modal_header_text {
  display: flex;

  justify-content: center;
}

.modal_header_close {
  display: flex;
  width: 44px;
  height: 44px;
  background: transparent;
  cursor: pointer;
  transition: color 0.2s;

  justify-content: center;
}


.modal_header_close {
  &:hover,
  &:focus {
    color: color(gray, plus2);
  }
}

.modal_header_close::before {
  display: block;
  content: '\00d7';
  font-size: ms(6);
  line-height: 1;
}

@keyframes modal-opening-keyframes {
  from {
    opacity: 0;
    transform: scale(1.05);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes modal-closing-keyframes {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

@keyframes modal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
