// These belong in a settings file with overrides at the component level
$z-modal: 10000 !default;
$z-modal-overlay: $z-modal - 1 !default;
$z-modal-max-header: $z-modal + 10 !default;
$z-modal-close-button: $z-modal + 20 !default;

html {
  &.modal-is-locked {
    body {
      overflow: hidden;
    }
    overflow: hidden;
    touch-action: none;
  }

}

// Anti FOUC
.modal,
[data-modal-id] {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;
  z-index: $z-modal-overlay;
  display: none;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-modal;
  display: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  text-align: center;
}

.modal-wrapper::after {
  display: inline-block;
  margin-left: -0.05em;
  height: 100%;
  content: '';
}

// Fix iOS glitches
.modal-overlay,
.modal-wrapper {
  backface-visibility: hidden;
}

.modal {
  position: relative;
  outline: none;
  text-size-adjust: 100%;
}

.modal-is-initialized {
  // Disable Anti-FOUC
  display: inline-block;
}
