.modal-bg {
  .modal-is-opening,
  .modal-is-opened {
    filter: blur(3px);
  }
}

.modal-overlay {
  background: rgba(color(gray, plus3), 0.8);

  &.modal-is-opening,
  &.modal-is-closing {
    animation-duration: 0.3s;

    animation-fill-mode: forwards;
  }

  &.modal-is-opening {
    animation-name: modal-overlay-opening-keyframes;
  }

  &.modal-is-closing {
    animation-name: modal-overlay-closing-keyframes;
  }
}

.modal {
  max-width: 95%;
  border-radius: 2px;
  background: color(white);
  color: color(gray, minus2);
  text-align: initial;
  transform: translate3d(0, 0, 0);
  overflow: hidden;

  @include z-depth(2);
  @include media('>=md') {
    max-width: 65%;
  }
  @include media('>=lg') {
    max-width: 50%;
  }

  &.modal-is-opening,
  &.modal-is-closing {
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }

  &.modal-is-opening {
    animation-name: modal-opening-keyframes;
  }

  &.modal-is-closing {
    animation-name: modal-closing-keyframes;
  }
}

.modal_header {
  border-bottom: 1px solid color(gray, plus3);
  padding: padding(-8) padding(2);
  & .modal_header_text.col {
    padding: 0;
  }
}

.modal_body {
  padding: padding(4) padding(2) padding(-1) padding(2);
  position: relative;
  box-shadow: 0px 2px 2px rgba(0,0,0,.25);
  & .modal_body_content.col {
    padding: 0;
  }
}

.modal_footer {
  padding: padding(2) padding(0);
  background: color(gray, plus4);
  .modal_footer_buttons.col {
    padding-bottom: 0;
  }
}

.modal,
.modal-wrapper::after {
  vertical-align: middle;
}

.modal_header_text {
  display: flex;
  justify-content: center;
  h2 {
    font-weight: font-weight(normal);
  }
}

.modal_header_close {
  text-align: center;
  fill: color(black);
  position: absolute;
  z-index: $z-modal-close-button;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  background: transparent;
  font-weight: bold;
  cursor: pointer;
  transition: fill 0.2s;
  justify-content: center;
  vertical-align: middle;
  &:hover,
  &:focus {
    fill: color(gray, plus2);
  }
  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  &.col {
    flex-grow: 0;
  }
  & .icon {
    display: inline-block;
    vertical-align: middle;
    margin: -10px -10px 0 0;
    width: 16px;
    height: 16px;
  }
}

@keyframes modal-opening-keyframes {
  from {
    opacity: 0;
    transform: scale(1.05);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes modal-closing-keyframes {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

@keyframes modal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
