.lazyload-wrapper {
  width: 100%;
  background-color: color(gray, lightest);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  background: linear-gradient(
                -90deg,
                scale-color(color(gray, lighter), $lightness: 50%) 0%,
                color(white) 50%,
                scale-color(color(gray, lighter), $lightness: 50%) 100%
              );
  background-size: 400% 400%;
  animation: pulse 1.2s ease-in-out infinite;

  @keyframes pulse {
    0% {
      background-position: 0% 0%
    }
    100% {
      background-position: -135% 0%
    }
  }

  & img {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 100ms linear;

    &.loaded {
      opacity: 1;
    }
  }
}

.lazyload {
  background-color: gray(lightest);
  margin-top: 10vh;
  margin-bottom: 90vh;
  flex: 1;
  min-height: 20vw;
  min-width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}
