@mixin keyframes-fadeInLeft {
  @include keyframes(fadeInLeft) {
    0% {
      opacity: 0;
      @include transform(translateX(-20px));
    }
    100% {
      opacity: 1;
      @include transform(translateX(0));
    }
  }
}

@mixin fadeInLeft($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $timingFunction: $timingFunctionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  $name: fadeInLeft;

  @if (index($included-keyframes, $name) == null) {
    @include keyframes-fadeInLeft;
    $included-keyframes: append($included-keyframes, $name) !global;
  }
  @else {
    $included-keyframes: append($included-keyframes, $name) !global;
  }

  @include animation-name($name);
  @include animation-properties($count, $duration, $delay, $timingFunction, $fill, $visibility);
}
