@mixin keyframes-slideInUp {
  @include keyframes(slideInUp) {
    0% {
      opacity: 0;
      @include transform(translateY(2000px));
    }
    100% {
      opacity: 1;
      @include transform(translateY(0));
    }
  }
}

@mixin slideInUp($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $timingFunction: $timingFunctionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  $name: slideInUp;

  @if (index($included-keyframes, $name) == null) {
    @include keyframes-slideInUp;
    $included-keyframes: append($included-keyframes, $name) !global;
  }
  @else {
    $included-keyframes: append($included-keyframes, $name) !global;
  }

  @include animation-name($name);
  @include animation-properties($count, $duration, $delay, $timingFunction, $fill, $visibility);
}
