$breakpoints: (
  xs: 0rem,
  sm: 34rem,
  md: 48rem,
  lg: 62rem,
  xl: 75rem
);

$gte: '>=';
$above: ();

@each $width, $rems in $breakpoints {
  $above: map-merge($above, ($width: $gte + $width));
}
